.button {
  padding: 8px 24px;
  border-radius: var(--md-comp-button-shape, 20px);
  outline: none;
  border: none;
  height: var(--button-height, 40px);
  position: relative;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  background-color: var(--md-sys-color-surface);
  color: var(--md-sys-color-primary);
  -webkit-text-decoration: var(--md-sys-typescale-label-large-text-decoration);
          text-decoration: var(--md-sys-typescale-label-large-text-decoration);
  text-transform: var(--md-sys-typescale-label-large-text-transform);
  line-height: var(--md-sys-typescale-label-large-height);
  letter-spacing: var(--md-sys-typescale-label-large-tracking);
  font-size: var(--md-sys-typescale-label-large-font-size);
  font-weight: var(--md-sys-typescale-label-large-font-weight);
  font-style: var(--md-sys-typescale-label-large-font-family-style);
  font-family: var(--md-sys-typescale-label-large-font-family-name);
  box-shadow: var(--md-sys-elevation-1);
}

  .button i {
    margin-right: 8px;
  }

  .button i:only-child {
    margin-right: 0px;
  }

  .button a {
    text-decoration: none;
  }

  .button a:hover {
    text-decoration: none;
  }

  .button a:focus {
    text-decoration: none;
  }

  .button:hover,
  .button.hover {
    box-shadow: var(--md-sys-elevation-2);
  }

  .button:focus,
  .button.focus {
    box-shadow: var(--md-sys-elevation-1);
  }

  .button:active,
  .button.active {
    box-shadow: var(--md-sys-elevation-1);
  }

  .button[disabled] {
    cursor: not-allowed;
    background-color: rgba(var(--md-sys-color-on-surface-rgb), 0.12);
    color: rgba(var(--md-sys-color-on-surface-rgb), 0.38);
    box-shadow: var(--md-sys-elevation-0);
  }

.button.text {
  background-color: transparent;
  color: var(--md-sys-color-primary);
  box-shadow: var(--md-sys-elevation-0);
  outline: rgba(var(--md-sys-color-primary-rgb), var(--md-sys-state-hover-state-layer-opacity));
}

.button.text:hover,
  .button.text .hover {
    box-shadow: var(--md-sys-elevation-`);
    background-color: rgba(var(--md-sys-color-primary-rgb), var(--md-sys-state-hover-state-layer-opacity));
  }

.button.text:focus,
  .button.text .focus {
    box-shadow: var(--md-sys-elevation-1);
    background-color: rgba(var(--md-sys-color-primary-rgb), var(--md-sys-state-focus-state-layer-opacity));
  }

.button.text:active,
  .button.text .active {
    box-shadow: var(--md-sys-elevation-0);
    background-color: rgba(var(--md-sys-color-primary-rgb), var(--md-sys-state-pressed-state-layer-opacity));
  }

.button.text[disabled] {
    box-shadow: none;
    color: rgba(var(--md-sys-color-on-surface-rgb), 0.38);
  }

.button.filled {
  background-color: var(--md-sys-color-primary);
  color: var(--md-sys-color-on-primary);
  box-shadow: var(--md-sys-elevation-0);
}

.button.filled:hover,
  .button.filled.hover {
    box-shadow: var(--md-sys-elevation-1);
    background-color: rgba(var(--md-sys-color-primary-rgb), var(--md-sys-state-hover-state-layer-opacity));
  }

.button.filled:focus,
  .button.filled.focus {
    box-shadow: var(--md-sys-elevation-0);
    background-color: rgba(var(--md-sys-color-primary-rgb), var(--md-sys-state-focus-state-layer-opacity));
  }

.button.filled:active,
  .button.filled.active {
    box-shadow: var(--md-sys-elevation-0);
    background-color: rgba(var(--md-sys-color-primary-rgb), var(--md-sys-state-pressed-state-layer-opacity));
  }

.button.filled[disabled] {
    box-shadow: var(--md-sys-elevation-0);
    background-color: rgba(var(--md-sys-color-on-surface-rgb), 0.12);
    color: rgba(var(--md-sys-color-on-surface-rgb), 0.38);
  }

.button.filled.ripple {
  --ripple-bg: rgba(var(--md-sys-color-primary-rgb), 0.4);
  --ripple-fg: rgba(var(--md-sys-color-on-primary-rgb), 0.6);
}

.button.filled-tonal {
  background-color: var(--md-sys-color-secondary-container);
  color: var(--md-sys-color-on-secondary-container);
  box-shadow: var(--md-sys-elevation-0);
}

.button.filled-tonal:hover,
  .button.filled-tonal.hover {
    box-shadow: var(--md-sys-elevation-1);
    background-color: rgba(var(--md-sys-color-on-secondary-container-rgb), var(--md-sys-state-hover-state-layer-opacity));
  }

.button.filled-tonal:focus,
  .button.filled-tonal.focus {
    box-shadow: var(--md-sys-elevation-0);
    background-color: rgba(var(--md-sys-color-on-secondary-container-rgb), var(--md-sys-state-focus-state-layer-opacity));
  }

.button.filled-tonal:active,
  .button.filled-tonal.active {
    box-shadow: var(--md-sys-elevation-0);
    background-color: rgba(var(--md-sys-color-on-secondary-container-rgb), var(--md-sys-state-pressed-state-layer-opacity));
  }

.button.filled-tonal[disabled] {
    box-shadow: var(--md-sys-elevation-0);
    background-color: rgba(var(--md-sys-color-on-surface-rgb), 0.12);
    color: rgba(var(--md-sys-color-on-surface-rgb), 0.38);
  }

.button.outlined {
  background-color: transparent;
  color: var(--md-sys-color-primary);
  border: 1px solid var(--md-sys-color-outline);
  box-shadow: var(--md-sys-elevation-0);
}

.button.outlined:hover,
  .button.outlined.hover {
    box-shadow: var(--md-sys-elevation-1);
    background-color: rgba(var(--md-sys-color-primary-rgb), var(--md-sys-state-hover-state-layer-opacity));
  }

.button.outlined:focus,
  .button.outlined.focus {
    border: 1px solid var(--md-sys-color-primary);
    box-shadow: var(--md-sys-elevation-0);
    background-color: rgba(var(--md-sys-color-primary-rgb), var(--md-sys-state-focus-state-layer-opacity));
  }

.button.outlined:active,
  .button.outlined.active {
    border: 1px solid var(--md-sys-color-primary);
    box-shadow: var(--md-sys-elevation-0);
    background-color: rgba(var(--md-sys-color-primary-rgb), var(--md-sys-state-pressed-state-layer-opacity));
  }

.button.outlined[disabled] {
    box-shadow: var(--md-sys-elevation-0);
    border: 1px solid rgba(var(--md-sys-color-on-surface-rgb), 0.12);
    color: rgba(var(--md-sys-color-on-surface-rgb), 0.38);
  }

.button.elevated {
  box-shadow: var(--md-sys-elevation-1);
  background-color: var(--md-sys-color-surface);
  color: var(--md-sys-color-primary);
}

.button.elevated:hover,
  .button.elevated .hover {
    box-shadow: var(--md-sys-elevation-2);
    background-color: rgba(var(--md-sys-color-primary-rgb), var(--md-sys-state-hover-state-layer-opacity));
  }

.button.elevated:focus,
  .button.elevated .focus {
    box-shadow: var(--md-sys-elevation-1);
    background-color: rgba(var(--md-sys-color-primary-rgb), var(--md-sys-state-focus-state-layer-opacity));
  }

.button.elevated:active,
  .button.elevated .active {
    box-shadow: var(--md-sys-elevation-1);
    background-color: rgba(var(--md-sys-color-primary-rgb), var(--md-sys-state-pressed-state-layer-opacity));
  }

.button.elevated[disabled] {
    background-color: rgba(var(--md-sys-color-on-surface-rgb), 0.12);
    color: rgba(var(--md-sys-color-on-surface-rgb), 0.38);
  }

.icon {
  outline: none;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  -webkit-text-decoration: var(--md-sys-typescale-label-large-text-decoration);
          text-decoration: var(--md-sys-typescale-label-large-text-decoration);
  text-transform: var(--md-sys-typescale-label-large-text-transform);
  line-height: var(--md-sys-typescale-label-large-height);
  letter-spacing: var(--md-sys-typescale-label-large-tracking);
  font-size: var(--md-sys-typescale-label-large-font-size);
  font-weight: var(--md-sys-typescale-label-large-font-weight);
  font-style: var(--md-sys-typescale-label-large-font-family-style);
  font-family: var(--md-sys-typescale-label-large-font-family-name);
  background-color: var(--md-sys-color-surface);
  color: var(--md-sys-color-primary);
  box-shadow: var(--md-sys-elevation-1);
  padding: 4px;
  margin: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: transparent;
  color: var(--md-sys-color-on-surface-variant);
  box-shadow: none;
}

.icon[selected] {
    color: var(--md-sys-color-primary);
  }

.icon:hover,
  .icon .hover {
    box-shadow: var(--md-sys-elevation-2);
  }

.icon:focus,
  .icon .focus {
    box-shadow: var(--md-sys-elevation-1);
  }

.icon:active,
  .icon .active {
    box-shadow: var(--md-sys-elevation-1);
  }

.icon[disabled] {
    cursor: not-allowed;
    color: rgba(var(--md-sys-color-on-surface-rgb), 0.38);
    box-shadow: var(--md-sys-elevation-0);
  }

.icon i {
    font-size: 24px;
    vertical-align: middle;
  }

.icon.contained.filled {
  background-color: var(--md-sys-color-primary);
  color: var(--md-sys-color-on-primary);
  box-shadow: var(--md-sys-elevation-0);
}

.icon.contained.filled:hover,
  .icon.contained.filled .hover {
    box-shadow: var(--md-sys-elevation-1);
    background-color: rgba(var(--md-sys-color-primary-rgb), var(--md-sys-state-hover-state-layer-opacity));
  }

.icon.contained.filled:focus,
  .icon.contained.filled .focus {
    box-shadow: var(--md-sys-elevation-0);
    background-color: rgba(var(--md-sys-color-primary-rgb), var(--md-sys-state-focus-state-layer-opacity));
  }

.icon.contained.filled:active,
  .icon.contained.filled .active {
    box-shadow: var(--md-sys-elevation-0);
    background-color: rgba(var(--md-sys-color-primary-rgb), var(--md-sys-state-pressed-state-layer-opacity));
  }

.icon.contained.filled[disabled] {
    box-shadow: var(--md-sys-elevation-0);
    background-color: rgba(var(--md-sys-color-on-surface-rgb), 0.12);
    color: rgba(var(--md-sys-color-on-surface-rgb), 0.38);
  }

.icon.contained.filled-tonal {
  background-color: var(--md-sys-color-secondary-container);
  color: var(--md-sys-color-on-secondary-container);
  box-shadow: var(--md-sys-elevation-0);
}

.icon.contained.filled-tonal:hover,
  .icon.contained.filled-tonal .hover {
    box-shadow: var(--md-sys-elevation-1);
    background-color: rgba(var(--md-sys-color-on-secondary-container-rgb), var(--md-sys-state-hover-state-layer-opacity));
  }

.icon.contained.filled-tonal:focus,
  .icon.contained.filled-tonal .focus {
    box-shadow: var(--md-sys-elevation-0);
    background-color: rgba(var(--md-sys-color-on-secondary-container-rgb), var(--md-sys-state-focus-state-layer-opacity));
  }

.icon.contained.filled-tonal:active,
  .icon.contained.filled-tonal .active {
    box-shadow: var(--md-sys-elevation-0);
    background-color: rgba(var(--md-sys-color-on-secondary-container-rgb), var(--md-sys-state-pressed-state-layer-opacity));
  }

.icon.contained.filled-tonal[disabled] {
    box-shadow: var(--md-sys-elevation-0);
    background-color: rgba(var(--md-sys-color-on-surface-rgb), 0.12);
    color: rgba(var(--md-sys-color-on-surface-rgb), 0.38);
  }

.icon.contained.outlined {
  background-color: transparent;
  color: var(--md-sys-color-primary);
  border: 1px solid var(--md-sys-color-outline);
  box-shadow: var(--md-sys-elevation-0);
}

.icon.contained.outlined:hover,
  .icon.contained.outlined .hover {
    box-shadow: var(--md-sys-elevation-1);
    background-color: rgba(var(--md-sys-color-primary-rgb), var(--md-sys-state-hover-state-layer-opacity));
  }

.icon.contained.outlined:focus,
  .icon.contained.outlined .focus {
    border: 1px solid var(--md-sys-color-primary);
    box-shadow: var(--md-sys-elevation-0);
    background-color: rgba(var(--md-sys-color-primary-rgb), var(--md-sys-state-focus-state-layer-opacity));
  }

.icon.contained.outlined:active,
  .icon.contained.outlined .active {
    border: 1px solid var(--md-sys-color-primary);
    box-shadow: var(--md-sys-elevation-0);
    background-color: rgba(var(--md-sys-color-primary-rgb), var(--md-sys-state-pressed-state-layer-opacity));
  }

.icon.contained.outlined[disabled] {
    box-shadow: var(--md-sys-elevation-0);
    border: 1px solid rgba(var(--md-sys-color-on-surface-rgb), 0.12);
    color: rgba(var(--md-sys-color-on-surface-rgb), 0.38);
  }

.icon.toggle {
  background-color: var(--md-sys-color-surface-variant);
  color: var(--md-sys-color-primary);
}

.icon.toggle[selected] {
    background-color: var(--md-sys-color-primary);
    color: var(--md-sys-color-on-primary);
  }

.icon.toggle[disabled] {
    box-shadow: var(--md-sys-elevation-0);
    background-color: rgba(var(--md-sys-color-on-surface-rgb), 0.12);
    color: rgba(var(--md-sys-color-on-surface-rgb), 0.38);
  }

.fab {
  padding: 16px;
  font-size: 24px;
  border-radius: var(--md-sys-shape-medium);
  width: 56px;
  height: 56px;
  background-color: var(--md-sys-color-primary-container);
  color: var(--md-sys-color-on-primary-container);
  box-shadow: var(--md-sys-elevation-1);
}

.fab > i {
    font-size: 24px;
  }

.fab:hover,
  .fab .hover {
    box-shadow: var(--md-sys-elevation-4);
    background-color: rgba(var(--md-sys-color-on-primary-container-rgb), var(--md-sys-state-hover-state-layer-opacity));
  }

.fab:focus,
  .fab .focus {
    box-shadow: var(--md-sys-elevation-2);
    background-color: rgba(var(--md-sys-color-on-primary-container-rgb), var(--md-sys-state-focus-state-layer-opacity));
  }

.fab:active,
  .fab .active {
    box-shadow: var(--md-sys-elevation-2);
    background-color: rgba(var(--md-sys-color-on-primary-container-rgb), var(--md-sys-state-pressed-state-layer-opacity));
  }

.fab[disabled] {
    box-shadow: var(--md-sys-elevation-0);
    background-color: rgba(var(--md-sys-color-on-surface-rgb), 0.12);
    color: rgba(var(--md-sys-color-on-surface-rgb), 0.38);
  }

.fab.small {
  padding: 16px;
  font-size: 24px;
  border-radius: 12px;
  width: 40px;
  height: 40px;
}

.fab.small > i {
    font-size: 24px;
  }

.fab.large {
  padding: 16px;
  font-size: 36px;
  border-radius: var(--md-sys-shape-medium);
  width: 96px;
  height: 96px;
}

.fab.large > i {
    font-size: 36px;
  }

.fab.extended {
  border-radius: var(--md-sys-shape-medium);
  height: 56px;
  font-size: 16px;
  width: unset;
}

.fab.extended > i {
    font-size: 24px;
    margin-right: 8px;
  }

.fab.surface {
  background-color: var(--md-sys-color-surface);
  color: var(--md-sys-color-on-surface);
}

.fab.surface:hover,
  .fab.surface .hover {
    box-shadow: var(--md-sys-elevation-4);
    background-color: rgba(var(--md-sys-color-on-surface-rgb), var(--md-sys-state-hover-state-layer-opacity));
  }

.fab.surface:focus,
  .fab.surface .focus {
    box-shadow: var(--md-sys-elevation-2);
    background-color: rgba(var(--md-sys-color-on-surface-rgb), var(--md-sys-state-focus-state-layer-opacity));
  }

.fab.surface:active,
  .fab.surface .active {
    box-shadow: var(--md-sys-elevation-2);
    background-color: rgba(var(--md-sys-color-on-surface-rgb), var(--md-sys-state-pressed-state-layer-opacity));
  }

.fab.secondary {
  background-color: var(--md-sys-color-secondary);
  color: var(--md-sys-color-on-secondary);
}

.fab.secondary:hover,
  .fab.secondary .hover {
    box-shadow: var(--md-sys-elevation-4);
    background-color: rgba(var(--md-sys-color-secondary-rgb), var(--md-sys-state-hover-state-layer-opacity));
  }

.fab.secondary:focus,
  .fab.secondary .focus {
    box-shadow: var(--md-sys-elevation-2);
    background-color: rgba(var(--md-sys-color-secondary-rgb), var(--md-sys-state-focus-state-layer-opacity));
  }

.fab.secondary:active,
  .fab.secondary .active {
    box-shadow: var(--md-sys-elevation-2);
    background-color: rgba(var(--md-sys-color-secondary-rgb), var(--md-sys-state-pressed-state-layer-opacity));
  }

.fab.tertiary {
  background-color: var(--md-sys-color-tertiary);
  color: var(--md-sys-color-on-tertiary);
}

.fab.tertiary:hover,
  .fab.tertiary .hover {
    box-shadow: var(--md-sys-elevation-4);
    background-color: rgba(var(--md-sys-color-tertiary-rgb), var(--md-sys-state-hover-state-layer-opacity));
  }

.fab.tertiary:focus,
  .fab.tertiary .focus {
    box-shadow: var(--md-sys-elevation-2);
    background-color: rgba(var(--md-sys-color-tertiary-rgb), var(--md-sys-state-focus-state-layer-opacity));
  }

.fab.tertiary:active,
  .fab.tertiary .active {
    box-shadow: var(--md-sys-elevation-2);
    background-color: rgba(var(--md-sys-color-tertiary-rgb), var(--md-sys-state-pressed-state-layer-opacity));
  }

.card {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  border-radius: var(--md-sys-shape-medium);
  background-color: var(--md-sys-color-surface);
  color: var(--md-sys-color-on-surface);
  box-shadow: var(--md-sys-elevation-1);
  text-align: start;
}

.card img {
    padding: 0;
    border-radius: var(--md-sys-shape-medium);
  }

.card .title {
    padding: 8px 16px;
    -webkit-text-decoration: var(--md-sys-typescale-title-large-text-decoration);
            text-decoration: var(--md-sys-typescale-title-large-text-decoration);
    text-transform: var(--md-sys-typescale-title-large-text-transform);
    line-height: var(--md-sys-typescale-title-large-height);
    letter-spacing: var(--md-sys-typescale-title-large-tracking);
    font-size: var(--md-sys-typescale-title-large-font-size);
    font-weight: var(--md-sys-typescale-title-large-font-weight);
    font-style: var(--md-sys-typescale-title-large-font-family-style);
    font-family: var(--md-sys-typescale-title-large-font-family-name);
  }

.card .subtitle {
    padding: 8px 16px;
    -webkit-text-decoration: var(--md-sys-typescale-body-large-text-decoration);
            text-decoration: var(--md-sys-typescale-body-large-text-decoration);
    text-transform: var(--md-sys-typescale-body-large-text-transform);
    line-height: var(--md-sys-typescale-body-large-height);
    letter-spacing: var(--md-sys-typescale-body-large-tracking);
    font-size: var(--md-sys-typescale-body-large-font-size);
    font-weight: var(--md-sys-typescale-body-large-font-weight);
    font-style: var(--md-sys-typescale-body-large-font-family-style);
    font-family: var(--md-sys-typescale-body-large-font-family-name);
  }

.card .actions {
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

.card.filled {
  background-color: var(--md-sys-color-surface-variant);
  color: var(--md-sys-color-on-surface-variant);
}

.card.elevated {
  background-color: var(--md-sys-color-surface);
  color: var(--md-sys-color-on-surface);
  box-shadow: var(--md-sys-elevation-1);
}

.card.outlined {
  background-color: var(--md-sys-color-surface);
  color: var(--md-sys-color-on-surface);
  border: 1px solid var(--md-sys-color-outline);
  box-shadow: none;
}

.chip {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: var(--md-sys-shape-large);
  outline: none;
  padding: 8px 16px;
  cursor: pointer;
  -webkit-text-decoration: var(--md-sys-typescale-label-large-text-decoration);
          text-decoration: var(--md-sys-typescale-label-large-text-decoration);
  text-transform: var(--md-sys-typescale-label-large-text-transform);
  line-height: var(--md-sys-typescale-label-large-height);
  letter-spacing: var(--md-sys-typescale-label-large-tracking);
  font-size: var(--md-sys-typescale-label-large-font-size);
  font-weight: var(--md-sys-typescale-label-large-font-weight);
  font-style: var(--md-sys-typescale-label-large-font-family-style);
  font-family: var(--md-sys-typescale-label-large-font-family-name);
}

.chip > i {
    color: var(--md-sys-color-primary);
  }

.chip > i:first-child {
    margin-right: 8px;
  }

.chip > i:last-child {
    margin-left: 8px;
  }

.chip > i:only-child {
    margin-right: 0px;
    margin-left: 0px;
  }

.chip.assist {
  background-color: var(--md-sys-color-surface);
  color: var(--md-sys-color-on-surface);
  border: 1px solid var(--md-sys-color-outline);
}

.chip.filter {
  background-color: var(--md-sys-color-surface-variant);
  color: var(--md-sys-color-on-surface-variant);
  border: 1px solid var(--md-sys-color-outline);
}

.chip.input {
  background-color: var(--md-sys-color-surface);
  color: var(--md-sys-color-on-surface-variant);
  border: 1px solid var(--md-sys-color-outline);
}

.chip.suggestion {
  background-color: var(--md-sys-color-surface);
  color: var(--md-sys-color-on-surface-variant);
  border: 1px solid var(--md-sys-color-outline);
}

:where(.top-app-bar) {
  --top-app-bar-padding: 16px;
  padding: var(--top-app-bar-padding);
  /* width: calc(100% - var(--top-app-bar-padding) * 2); */
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto;
  grid-template-areas: "leading title actions";
  background-color: var(--md-sys-color-surface);
  color: var(--md-sys-color-on-surface);
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto;
  grid-template-areas: "leading title actions";
  transition: background 0.8s;
}

:where(.top-app-bar) .actions {
    grid-area: actions;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 8px;
  }

:where(.top-app-bar) .icon {
    background-color: unset;
    color: unset;
    padding: unset;
  }

:where(.top-app-bar) .title {
    grid-area: title;
    flex: 1;
    -webkit-text-decoration: var(--md-sys-typescale-title-large-text-decoration);
            text-decoration: var(--md-sys-typescale-title-large-text-decoration);
    text-transform: var(--md-sys-typescale-title-large-text-transform);
    line-height: var(--md-sys-typescale-title-large-height);
    letter-spacing: var(--md-sys-typescale-title-large-tracking);
    font-size: var(--md-sys-typescale-title-large-font-size);
    font-weight: var(--md-sys-typescale-title-large-font-weight);
    font-style: var(--md-sys-typescale-title-large-font-family-style);
    font-family: var(--md-sys-typescale-title-large-font-family-name);
  }

:where(.top-app-bar) .leading {
    grid-area: leading;
    padding: unset;
  }

:where(.top-app-bar).scrolled {
    --tint-opacity: 0.09;
    --tint-color-rgb: var(--md-sys-color-primary-rgb);
    --tint-color: rgba(var(--md-sys-color-primary-rgb), var(--tint-opacity));
    z-index: 1000;
    box-shadow: var(--md-sys-elevation-2);
    background: linear-gradient(var(--tint-color), var(--tint-color)) no-repeat, linear-gradient(var(--md-sys-color-surface), var(--md-sys-color-surface)) no-repeat;
  }

:where(.top-app-bar.small) {
  display: flex;
  align-items: center;
}

:where(.top-app-bar.small) .title {
    text-align: start;
    padding-left: 16px;
  }

:where(.top-app-bar.medium) {
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto;
  grid-template-areas: "leading actions" "title title";
}

:where(.top-app-bar.medium) .title {
    padding-top: 16px;
    margin-left: 8px;
    -webkit-text-decoration: var(--md-sys-typescale-headline-small-text-decoration);
            text-decoration: var(--md-sys-typescale-headline-small-text-decoration);
    text-transform: var(--md-sys-typescale-headline-small-text-transform);
    line-height: var(--md-sys-typescale-headline-small-height);
    letter-spacing: var(--md-sys-typescale-headline-small-tracking);
    font-size: var(--md-sys-typescale-headline-small-font-size);
    font-weight: var(--md-sys-typescale-headline-small-font-weight);
    font-style: var(--md-sys-typescale-headline-small-font-family-style);
    font-family: var(--md-sys-typescale-headline-small-font-family-name);
  }

:where(.top-app-bar.large) {
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto;
  grid-template-areas: "leading actions" "title title";
}

:where(.top-app-bar.large) .title {
    padding-top: 20px;
    margin-left: 8px;
    -webkit-text-decoration: var(--md-sys-typescale-headline-medium-text-decoration);
            text-decoration: var(--md-sys-typescale-headline-medium-text-decoration);
    text-transform: var(--md-sys-typescale-headline-medium-text-transform);
    line-height: var(--md-sys-typescale-headline-medium-height);
    letter-spacing: var(--md-sys-typescale-headline-medium-tracking);
    font-size: var(--md-sys-typescale-headline-medium-font-size);
    font-weight: var(--md-sys-typescale-headline-medium-font-weight);
    font-style: var(--md-sys-typescale-headline-medium-font-family-style);
    font-family: var(--md-sys-typescale-headline-medium-font-family-name);
  }

:where(.top-app-bar.center-aligned) .title {
    text-align: center;
  }

.text-field {
  -webkit-text-decoration: var(--md-sys-typescale-body-large-text-decoration);
          text-decoration: var(--md-sys-typescale-body-large-text-decoration);
  text-transform: var(--md-sys-typescale-body-large-text-transform);
  line-height: var(--md-sys-typescale-body-large-height);
  letter-spacing: var(--md-sys-typescale-body-large-tracking);
  font-size: var(--md-sys-typescale-body-large-font-size);
  font-weight: var(--md-sys-typescale-body-large-font-weight);
  font-style: var(--md-sys-typescale-body-large-font-family-style);
  font-family: var(--md-sys-typescale-body-large-font-family-name);
  position: relative;
  display: inline-block;
  overflow: hidden;
}
/* Codepen: https://codepen.io/finnhvman/pen/xyOORQ */
.text-field.outlined {
  padding-top: 6px;
}
/* Input, Textarea */
.text-field.outlined > input,
  .text-field.outlined > textarea {
    box-sizing: border-box;
    margin: 0;
    border: solid 1px; /* Safari */
    border-color: rgba(var(--md-sys-color-on-surface-rgb), 0.6);
    border-top-color: transparent;
    border-radius: 4px;
    padding: 15px 13px 15px;
    width: 100%;
    height: inherit;
    color: rgba(var(--md-sys-color-on-surface-rgb), 0.87);
    background-color: transparent;
    box-shadow: none; /* Firefox */
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    caret-color: var(--md-sys-color-primary);
    transition: border 0.2s, box-shadow 0.2s;
  }
/* Span */
.text-field.outlined > input + span,
  .text-field.outlined > textarea + span {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    border-color: rgba(var(--md-sys-color-on-surface-rgb), 0.6);
    width: 100%;
    max-height: 100%;
    color: rgba(var(--md-sys-color-on-surface-rgb), 0.6);
    font-size: 75%;
    line-height: 15px;
    cursor: text;
    transition: color 0.2s, font-size 0.2s, line-height 0.2s;
  }
/* Corners */
.text-field.outlined > input + span::before,
  .text-field.outlined > input + span::after,
  .text-field.outlined > textarea + span::before,
  .text-field.outlined > textarea + span::after {
    content: "";
    display: block;
    box-sizing: border-box;
    margin-top: 6px;
    border-top: solid 1px;
    border-top-color: rgba(var(--md-sys-color-on-surface-rgb), 0.6);
    min-width: 10px;
    height: 8px;
    pointer-events: none;
    box-shadow: inset 0 1px transparent;
    transition: border-color 0.2s, box-shadow 0.2s;
  }
.text-field.outlined > input + span::before,
  .text-field.outlined > textarea + span::before {
    margin-right: 4px;
    border-left: solid 1px transparent;
    border-radius: 4px 0;
  }
.text-field.outlined > input + span::after,
  .text-field.outlined > textarea + span::after {
    flex-grow: 1;
    margin-left: 4px;
    border-right: solid 1px transparent;
    border-radius: 0 4px;
  }
/* Hover */
.text-field.outlined:hover > input,
  .text-field.outlined:hover > textarea {
    border-color: rgba(var(--md-sys-color-on-surface-rgb), 0.87);
    border-top-color: transparent;
  }
.text-field.outlined:hover > input + span::before,
  .text-field.outlined:hover > textarea + span::before,
  .text-field.outlined:hover > input + span::after,
  .text-field.outlined:hover > textarea + span::after {
    border-top-color: rgba(var(--md-sys-color-on-surface-rgb), 0.87);
  }
.text-field.outlined:hover > input:not(:focus):-moz-placeholder-shown, .text-field.outlined:hover > textarea:not(:focus):-moz-placeholder-shown {
    border-color: rgba(var(--md-sys-color-on-surface-rgb), 0.87);
  }
.text-field.outlined:hover > input:not(:focus):placeholder-shown,
  .text-field.outlined:hover > textarea:not(:focus):placeholder-shown {
    border-color: rgba(var(--md-sys-color-on-surface-rgb), 0.87);
  }
/* Placeholder-shown */
.text-field.outlined > input:not(:focus):-moz-placeholder-shown, .text-field.outlined > textarea:not(:focus):-moz-placeholder-shown {
    border-top-color: rgba(var(--md-sys-color-on-surface-rgb), 0.6);
  }
.text-field.outlined > input:not(:focus):placeholder-shown,
  .text-field.outlined > textarea:not(:focus):placeholder-shown {
    border-top-color: rgba(var(--md-sys-color-on-surface-rgb), 0.6);
  }
.text-field.outlined > input:not(:focus):-moz-placeholder-shown + span, .text-field.outlined > textarea:not(:focus):-moz-placeholder-shown + span {
    font-size: inherit;
    line-height: 68px;
  }
.text-field.outlined > input:not(:focus):placeholder-shown + span,
  .text-field.outlined > textarea:not(:focus):placeholder-shown + span {
    font-size: inherit;
    line-height: 68px;
  }
.text-field.outlined > input:not(:focus):-moz-placeholder-shown + span::before, .text-field.outlined > textarea:not(:focus):-moz-placeholder-shown + span::before, .text-field.outlined > input:not(:focus):-moz-placeholder-shown + span::after, .text-field.outlined > textarea:not(:focus):-moz-placeholder-shown + span::after {
    border-top-color: transparent;
  }
.text-field.outlined > input:not(:focus):placeholder-shown + span::before,
  .text-field.outlined > textarea:not(:focus):placeholder-shown + span::before,
  .text-field.outlined > input:not(:focus):placeholder-shown + span::after,
  .text-field.outlined > textarea:not(:focus):placeholder-shown + span::after {
    border-top-color: transparent;
  }
/* Focus */
.text-field.outlined > input:focus,
  .text-field.outlined > textarea:focus {
    border-color: var(--md-sys-color-primary);
    border-top-color: transparent;
    box-shadow: inset 1px 0 var(--md-sys-color-primary), inset -1px 0 var(--md-sys-color-primary), inset 0 -1px var(--md-sys-color-primary);
    outline: none;
  }
.text-field.outlined > input:focus + span,
  .text-field.outlined > textarea:focus + span {
    color: var(--md-sys-color-primary);
  }
.text-field.outlined > input:focus + span::before,
  .text-field.outlined > input:focus + span::after,
  .text-field.outlined > textarea:focus + span::before,
  .text-field.outlined > textarea:focus + span::after {
    border-top-color: var(--md-sys-color-primary) !important;
    box-shadow: inset 0 1px var(--md-sys-color-primary);
  }
/* Disabled */
.text-field.outlined > input:disabled,
  .text-field.outlined > input:disabled + span,
  .text-field.outlined > textarea:disabled,
  .text-field.outlined > textarea:disabled + span {
    border-color: rgba(var(--md-sys-color-on-surface-rgb), 0.38) !important;
    border-top-color: transparent !important;
    color: rgba(var(--md-sys-color-on-surface-rgb), 0.38);
    pointer-events: none;
  }
.text-field.outlined > input:disabled + span::before,
  .text-field.outlined > input:disabled + span::after,
  .text-field.outlined > textarea:disabled + span::before,
  .text-field.outlined > textarea:disabled + span::after {
    border-top-color: rgba(var(--md-sys-color-on-surface-rgb), 0.38) !important;
  }
.text-field.outlined > input:disabled:-moz-placeholder-shown, .text-field.outlined > input:disabled:-moz-placeholder-shown + span, .text-field.outlined > textarea:disabled:-moz-placeholder-shown, .text-field.outlined > textarea:disabled:-moz-placeholder-shown + span {
    border-top-color: rgba(var(--md-sys-color-on-surface-rgb), 0.38) !important;
  }
.text-field.outlined > input:disabled:placeholder-shown,
  .text-field.outlined > input:disabled:placeholder-shown + span,
  .text-field.outlined > textarea:disabled:placeholder-shown,
  .text-field.outlined > textarea:disabled:placeholder-shown + span {
    border-top-color: rgba(var(--md-sys-color-on-surface-rgb), 0.38) !important;
  }
.text-field.outlined > input:disabled:-moz-placeholder-shown + span::before, .text-field.outlined > input:disabled:-moz-placeholder-shown + span::after, .text-field.outlined > textarea:disabled:-moz-placeholder-shown + span::before, .text-field.outlined > textarea:disabled:-moz-placeholder-shown + span::after {
    border-top-color: transparent !important;
  }
.text-field.outlined > input:disabled:placeholder-shown + span::before,
  .text-field.outlined > input:disabled:placeholder-shown + span::after,
  .text-field.outlined > textarea:disabled:placeholder-shown + span::before,
  .text-field.outlined > textarea:disabled:placeholder-shown + span::after {
    border-top-color: transparent !important;
  }
/* Faster transition in Safari for less noticable fractional font-size issue */
@media not all and (-webkit-min-device-pixel-ratio: 0), not all and (min-resolution: 0.001dpcm) {
    @supports (-webkit-appearance: none) {
      .text-field.outlined > input,
      .text-field.outlined > input + span,
      .text-field.outlined > textarea,
      .text-field.outlined > textarea + span,
      .text-field.outlined > input + span::before,
      .text-field.outlined > input + span::after,
      .text-field.outlined > textarea + span::before,
      .text-field.outlined > textarea + span::after {
        transition-duration: 0.1s;
      }
    }
  }
/* Codepen: https://codepen.io/finnhvman/pen/bxXPqN */
/* Input, Textarea */
.text-field.filled > input,
  .text-field.filled > textarea {
    display: block;
    box-sizing: border-box;
    margin: 0;
    border: none;
    border-top: solid 27px transparent;
    border-bottom: solid 1px rgba(var(--md-sys-color-on-surface-rgb), 0.6);
    border-radius: 4px 4px 0 0;
    padding: 0 12px 10px;
    width: 100%;
    height: inherit;
    color: rgba(var(--md-sys-color-on-surface-rgb), 0.87);
    background-color: rgba(var(--md-sys-color-on-surface-rgb), 0.04);
    box-shadow: none; /* Firefox */
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    caret-color: var(--md-sys-color-primary);
    transition: border-bottom 0.2s, background-color 0.2s;
  }
/* Span */
.text-field.filled > input + span,
  .text-field.filled > textarea + span {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    box-sizing: border-box;
    padding: 7px 12px 0;
    color: rgba(var(--md-sys-color-on-surface-rgb), 0.6);
    font-size: 75%;
    line-height: 18px;
    pointer-events: none;
    transition: color 0.2s, font-size 0.2s, line-height 0.2s;
  }
/* Underline */
.text-field.filled > input + span::after,
  .text-field.filled > textarea + span::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    width: 100%;
    height: 2px;
    background-color: var(--md-sys-color-primary);
    transform-origin: bottom center;
    transform: scaleX(0);
    transition: transform 0.3s;
  }
/* Hover */
.text-field.filled > input:hover,
  .text-field.filled > textarea:hover {
    border-bottom-color: rgba(var(--md-sys-color-on-surface-rgb), 0.87);
    background-color: rgba(var(--md-sys-color-on-surface-rgb), 0.08);
  }
/* Placeholder-shown */
.text-field.filled > input:not(:focus):-moz-placeholder-shown + span, .text-field.filled > textarea:not(:focus):-moz-placeholder-shown + span {
    font-size: inherit;
    line-height: 48px;
  }
.text-field.filled > input:not(:focus):placeholder-shown + span,
  .text-field.filled > textarea:not(:focus):placeholder-shown + span {
    font-size: inherit;
    line-height: 48px;
  }
/* Focus */
.text-field.filled > input:focus,
  .text-field.filled > textarea:focus {
    outline: none;
  }
.text-field.filled > input:focus + span,
  .text-field.filled > textarea:focus + span {
    color: var(--md-sys-color-primary);
  }
.text-field.filled > input:focus + span::before,
  .text-field.filled > textarea:focus + span::before {
    opacity: 0.12;
  }
.text-field.filled > input:focus + span::after,
  .text-field.filled > textarea:focus + span::after {
    transform: scale(1);
  }
/* Disabled */
.text-field.filled > input:disabled,
  .text-field.filled > textarea:disabled {
    border-bottom-color: rgba(var(--md-sys-color-on-surface-rgb), 0.38);
    color: rgba(var(--md-sys-color-on-surface-rgb), 0.38);
    background-color: rgba(var(--md-sys-color-on-surface-rgb), 0.24);
  }
.text-field.filled > input:disabled + span,
  .text-field.filled > textarea:disabled + span {
    color: rgba(var(--md-sys-color-on-surface-rgb), 0.38);
  }
/* Faster transition in Safari for less noticable fractional font-size issue */
@media not all and (-webkit-min-device-pixel-ratio: 0), not all and (min-resolution: 0.001dpcm) {
    @supports (-webkit-appearance: none) {
      .text-field.filled > input,
      .text-field.filled > input + span,
      .text-field.filled > input + span::after,
      .text-field.filled > textarea,
      .text-field.filled > textarea + span,
      .text-field.filled > textarea + span::after {
        transition-duration: 0.1s;
      }
    }
  }

datalist {
  display: none;
}

.ripple {
  --ripple-bg: rgba(var(--md-sys-color-surface-rgb), 0.4);
  --ripple-fg: rgba(var(--md-sys-color-on-surface-rgb), 0.6);
}

.ripple:not([disabled]) {
    background-position: center;
    transition: background 0.8s;
  }

.ripple:not([disabled]):hover {
    background: var(--ripple-bg) radial-gradient(circle, transparent 1%, var(--ripple-bg) 1%) center/15000%;
  }

.ripple:not([disabled]):active {
    background-color: var(--ripple-fg);
    background-size: 100%;
    transition: background 0s;
  }
