:where(.light-theme, .dark-theme) {
--md-source: #F0F8FF;
  /* primary */
  --md-ref-palette-primary0-rgb: 0, 0, 0;
  --md-ref-palette-primary5-rgb: 0, 19, 29;
  --md-ref-palette-primary10-rgb: 0, 30, 44;
  --md-ref-palette-primary20-rgb: 0, 53, 73;
  --md-ref-palette-primary25-rgb: 0, 64, 89;
  --md-ref-palette-primary30-rgb: 0, 76, 105;
  --md-ref-palette-primary35-rgb: 0, 89, 121;
  --md-ref-palette-primary40-rgb: 0, 102, 138;
  --md-ref-palette-primary50-rgb: 0, 128, 172;
  --md-ref-palette-primary60-rgb: 35, 155, 204;
  --md-ref-palette-primary70-rgb: 75, 182, 233;
  --md-ref-palette-primary80-rgb: 122, 208, 255;
  --md-ref-palette-primary90-rgb: 195, 232, 255;
  --md-ref-palette-primary95-rgb: 227, 243, 255;
  --md-ref-palette-primary98-rgb: 245, 250, 255;
  --md-ref-palette-primary99-rgb: 251, 252, 255;
  --md-ref-palette-primary100-rgb: 255, 255, 255;
  /* secondary */
  --md-ref-palette-secondary0-rgb: 0, 0, 0;
  --md-ref-palette-secondary5-rgb: 1, 19, 29;
  --md-ref-palette-secondary10-rgb: 10, 30, 40;
  --md-ref-palette-secondary20-rgb: 32, 51, 62;
  --md-ref-palette-secondary25-rgb: 43, 62, 73;
  --md-ref-palette-secondary30-rgb: 54, 73, 85;
  --md-ref-palette-secondary35-rgb: 66, 85, 97;
  --md-ref-palette-secondary40-rgb: 78, 97, 109;
  --md-ref-palette-secondary50-rgb: 102, 122, 134;
  --md-ref-palette-secondary60-rgb: 128, 147, 160;
  --md-ref-palette-secondary70-rgb: 154, 174, 187;
  --md-ref-palette-secondary80-rgb: 181, 201, 215;
  --md-ref-palette-secondary90-rgb: 209, 229, 244;
  --md-ref-palette-secondary95-rgb: 227, 243, 255;
  --md-ref-palette-secondary98-rgb: 245, 250, 255;
  --md-ref-palette-secondary99-rgb: 251, 252, 255;
  --md-ref-palette-secondary100-rgb: 255, 255, 255;
  /* tertiary */
  --md-ref-palette-tertiary0-rgb: 0, 0, 0;
  --md-ref-palette-tertiary5-rgb: 18, 12, 43;
  --md-ref-palette-tertiary10-rgb: 28, 23, 54;
  --md-ref-palette-tertiary20-rgb: 50, 44, 76;
  --md-ref-palette-tertiary25-rgb: 61, 55, 88;
  --md-ref-palette-tertiary30-rgb: 72, 66, 100;
  --md-ref-palette-tertiary35-rgb: 84, 78, 112;
  --md-ref-palette-tertiary40-rgb: 96, 90, 125;
  --md-ref-palette-tertiary50-rgb: 121, 114, 151;
  --md-ref-palette-tertiary60-rgb: 147, 140, 178;
  --md-ref-palette-tertiary70-rgb: 174, 166, 205;
  --md-ref-palette-tertiary80-rgb: 202, 193, 234;
  --md-ref-palette-tertiary90-rgb: 230, 222, 255;
  --md-ref-palette-tertiary95-rgb: 244, 238, 255;
  --md-ref-palette-tertiary98-rgb: 253, 248, 255;
  --md-ref-palette-tertiary99-rgb: 255, 251, 255;
  --md-ref-palette-tertiary100-rgb: 255, 255, 255;
  /* neutral */
  --md-ref-palette-neutral0-rgb: 0, 0, 0;
  --md-ref-palette-neutral5-rgb: 15, 17, 19;
  --md-ref-palette-neutral10-rgb: 25, 28, 30;
  --md-ref-palette-neutral20-rgb: 46, 49, 51;
  --md-ref-palette-neutral25-rgb: 57, 60, 62;
  --md-ref-palette-neutral30-rgb: 69, 71, 73;
  --md-ref-palette-neutral35-rgb: 80, 83, 85;
  --md-ref-palette-neutral40-rgb: 92, 95, 97;
  --md-ref-palette-neutral50-rgb: 117, 119, 121;
  --md-ref-palette-neutral60-rgb: 143, 145, 147;
  --md-ref-palette-neutral70-rgb: 170, 171, 174;
  --md-ref-palette-neutral80-rgb: 197, 198, 201;
  --md-ref-palette-neutral90-rgb: 225, 226, 229;
  --md-ref-palette-neutral95-rgb: 240, 241, 243;
  --md-ref-palette-neutral98-rgb: 248, 249, 252;
  --md-ref-palette-neutral99-rgb: 251, 252, 255;
  --md-ref-palette-neutral100-rgb: 255, 255, 255;
  /* neutralVariant */
  --md-ref-palette-neutral-variant0-rgb: 0, 0, 0;
  --md-ref-palette-neutral-variant5-rgb: 11, 18, 22;
  --md-ref-palette-neutral-variant10-rgb: 22, 28, 33;
  --md-ref-palette-neutral-variant20-rgb: 42, 49, 54;
  --md-ref-palette-neutral-variant25-rgb: 53, 60, 65;
  --md-ref-palette-neutral-variant30-rgb: 65, 72, 77;
  --md-ref-palette-neutral-variant35-rgb: 76, 83, 88;
  --md-ref-palette-neutral-variant40-rgb: 88, 95, 101;
  --md-ref-palette-neutral-variant50-rgb: 113, 120, 125;
  --md-ref-palette-neutral-variant60-rgb: 138, 146, 151;
  --md-ref-palette-neutral-variant70-rgb: 165, 172, 178;
  --md-ref-palette-neutral-variant80-rgb: 192, 199, 205;
  --md-ref-palette-neutral-variant90-rgb: 220, 227, 233;
  --md-ref-palette-neutral-variant95-rgb: 235, 242, 248;
  --md-ref-palette-neutral-variant98-rgb: 245, 250, 255;
  --md-ref-palette-neutral-variant99-rgb: 251, 252, 255;
  --md-ref-palette-neutral-variant100-rgb: 255, 255, 255;
  /* error */
  --md-ref-palette-error0-rgb: 0, 0, 0;
  --md-ref-palette-error5-rgb: 45, 0, 1;
  --md-ref-palette-error10-rgb: 65, 0, 2;
  --md-ref-palette-error20-rgb: 105, 0, 5;
  --md-ref-palette-error25-rgb: 126, 0, 7;
  --md-ref-palette-error30-rgb: 147, 0, 10;
  --md-ref-palette-error35-rgb: 168, 7, 16;
  --md-ref-palette-error40-rgb: 186, 26, 26;
  --md-ref-palette-error50-rgb: 222, 55, 48;
  --md-ref-palette-error60-rgb: 255, 84, 73;
  --md-ref-palette-error70-rgb: 255, 137, 125;
  --md-ref-palette-error80-rgb: 255, 180, 171;
  --md-ref-palette-error90-rgb: 255, 218, 214;
  --md-ref-palette-error95-rgb: 255, 237, 234;
  --md-ref-palette-error98-rgb: 255, 248, 247;
  --md-ref-palette-error99-rgb: 255, 251, 255;
  --md-ref-palette-error100-rgb: 255, 255, 255;
}