body, .tokens {
--md-source: #FFE4C4;
  /* primary */
  --md-ref-palette-primary0-rgb: 0, 0, 0;
  --md-ref-palette-primary5-rgb: 27, 14, 0;
  --md-ref-palette-primary10-rgb: 41, 24, 0;
  --md-ref-palette-primary20-rgb: 69, 43, 0;
  --md-ref-palette-primary25-rgb: 84, 53, 0;
  --md-ref-palette-primary30-rgb: 99, 63, 0;
  --md-ref-palette-primary35-rgb: 114, 74, 0;
  --md-ref-palette-primary40-rgb: 130, 85, 0;
  --md-ref-palette-primary50-rgb: 163, 108, 0;
  --md-ref-palette-primary60-rgb: 195, 132, 23;
  --md-ref-palette-primary70-rgb: 225, 158, 51;
  --md-ref-palette-primary80-rgb: 255, 185, 81;
  --md-ref-palette-primary90-rgb: 255, 221, 179;
  --md-ref-palette-primary95-rgb: 255, 238, 220;
  --md-ref-palette-primary98-rgb: 255, 248, 244;
  --md-ref-palette-primary99-rgb: 255, 251, 255;
  --md-ref-palette-primary100-rgb: 255, 255, 255;
  /* secondary */
  --md-ref-palette-secondary0-rgb: 0, 0, 0;
  --md-ref-palette-secondary5-rgb: 27, 14, 0;
  --md-ref-palette-secondary10-rgb: 39, 25, 4;
  --md-ref-palette-secondary20-rgb: 62, 45, 22;
  --md-ref-palette-secondary25-rgb: 74, 56, 32;
  --md-ref-palette-secondary30-rgb: 86, 68, 42;
  --md-ref-palette-secondary35-rgb: 99, 79, 53;
  --md-ref-palette-secondary40-rgb: 111, 91, 64;
  --md-ref-palette-secondary50-rgb: 138, 115, 87;
  --md-ref-palette-secondary60-rgb: 165, 141, 111;
  --md-ref-palette-secondary70-rgb: 193, 167, 136;
  --md-ref-palette-secondary80-rgb: 221, 194, 161;
  --md-ref-palette-secondary90-rgb: 251, 222, 188;
  --md-ref-palette-secondary95-rgb: 255, 238, 220;
  --md-ref-palette-secondary98-rgb: 255, 248, 244;
  --md-ref-palette-secondary99-rgb: 255, 251, 255;
  --md-ref-palette-secondary100-rgb: 255, 255, 255;
  /* tertiary */
  --md-ref-palette-tertiary0-rgb: 0, 0, 0;
  --md-ref-palette-tertiary5-rgb: 6, 20, 0;
  --md-ref-palette-tertiary10-rgb: 16, 32, 4;
  --md-ref-palette-tertiary20-rgb: 36, 53, 21;
  --md-ref-palette-tertiary25-rgb: 47, 64, 31;
  --md-ref-palette-tertiary30-rgb: 58, 76, 42;
  --md-ref-palette-tertiary35-rgb: 70, 88, 52;
  --md-ref-palette-tertiary40-rgb: 81, 100, 63;
  --md-ref-palette-tertiary50-rgb: 106, 125, 86;
  --md-ref-palette-tertiary60-rgb: 131, 151, 110;
  --md-ref-palette-tertiary70-rgb: 157, 178, 135;
  --md-ref-palette-tertiary80-rgb: 184, 206, 161;
  --md-ref-palette-tertiary90-rgb: 212, 234, 187;
  --md-ref-palette-tertiary95-rgb: 226, 248, 201;
  --md-ref-palette-tertiary98-rgb: 239, 255, 218;
  --md-ref-palette-tertiary99-rgb: 248, 255, 234;
  --md-ref-palette-tertiary100-rgb: 255, 255, 255;
  /* neutral */
  --md-ref-palette-neutral0-rgb: 0, 0, 0;
  --md-ref-palette-neutral5-rgb: 20, 16, 12;
  --md-ref-palette-neutral10-rgb: 31, 27, 22;
  --md-ref-palette-neutral20-rgb: 52, 48, 42;
  --md-ref-palette-neutral25-rgb: 64, 59, 53;
  --md-ref-palette-neutral30-rgb: 75, 70, 64;
  --md-ref-palette-neutral35-rgb: 87, 81, 75;
  --md-ref-palette-neutral40-rgb: 100, 93, 87;
  --md-ref-palette-neutral50-rgb: 125, 118, 111;
  --md-ref-palette-neutral60-rgb: 151, 143, 136;
  --md-ref-palette-neutral70-rgb: 178, 170, 162;
  --md-ref-palette-neutral80-rgb: 206, 197, 189;
  --md-ref-palette-neutral90-rgb: 234, 225, 217;
  --md-ref-palette-neutral95-rgb: 249, 239, 231;
  --md-ref-palette-neutral98-rgb: 255, 248, 244;
  --md-ref-palette-neutral99-rgb: 255, 251, 255;
  --md-ref-palette-neutral100-rgb: 255, 255, 255;
  /* neutralVariant */
  --md-ref-palette-neutral-variant0-rgb: 0, 0, 0;
  --md-ref-palette-neutral-variant5-rgb: 23, 16, 7;
  --md-ref-palette-neutral-variant10-rgb: 34, 26, 16;
  --md-ref-palette-neutral-variant20-rgb: 56, 47, 36;
  --md-ref-palette-neutral-variant25-rgb: 67, 58, 46;
  --md-ref-palette-neutral-variant30-rgb: 79, 69, 57;
  --md-ref-palette-neutral-variant35-rgb: 91, 81, 68;
  --md-ref-palette-neutral-variant40-rgb: 104, 93, 80;
  --md-ref-palette-neutral-variant50-rgb: 129, 117, 103;
  --md-ref-palette-neutral-variant60-rgb: 156, 143, 128;
  --md-ref-palette-neutral-variant70-rgb: 183, 169, 154;
  --md-ref-palette-neutral-variant80-rgb: 211, 196, 180;
  --md-ref-palette-neutral-variant90-rgb: 240, 224, 207;
  --md-ref-palette-neutral-variant95-rgb: 254, 238, 221;
  --md-ref-palette-neutral-variant98-rgb: 255, 248, 244;
  --md-ref-palette-neutral-variant99-rgb: 255, 251, 255;
  --md-ref-palette-neutral-variant100-rgb: 255, 255, 255;
  /* error */
  --md-ref-palette-error0-rgb: 0, 0, 0;
  --md-ref-palette-error5-rgb: 45, 0, 1;
  --md-ref-palette-error10-rgb: 65, 0, 2;
  --md-ref-palette-error20-rgb: 105, 0, 5;
  --md-ref-palette-error25-rgb: 126, 0, 7;
  --md-ref-palette-error30-rgb: 147, 0, 10;
  --md-ref-palette-error35-rgb: 168, 7, 16;
  --md-ref-palette-error40-rgb: 186, 26, 26;
  --md-ref-palette-error50-rgb: 222, 55, 48;
  --md-ref-palette-error60-rgb: 255, 84, 73;
  --md-ref-palette-error70-rgb: 255, 137, 125;
  --md-ref-palette-error80-rgb: 255, 180, 171;
  --md-ref-palette-error90-rgb: 255, 218, 214;
  --md-ref-palette-error95-rgb: 255, 237, 234;
  --md-ref-palette-error98-rgb: 255, 248, 247;
  --md-ref-palette-error99-rgb: 255, 251, 255;
  --md-ref-palette-error100-rgb: 255, 255, 255;
}