body, .tokens {
--md-source: #FFF8DC;
  /* light */
  --md-sys-color-primary-rgb-light: 105, 95, 0;
  --md-sys-color-on-primary-rgb-light: 255, 255, 255;
  --md-sys-color-primary-container-rgb-light: 245, 229, 104;
  --md-sys-color-on-primary-container-rgb-light: 32, 28, 0;
  --md-sys-color-secondary-rgb-light: 100, 95, 65;
  --md-sys-color-on-secondary-rgb-light: 255, 255, 255;
  --md-sys-color-secondary-container-rgb-light: 235, 227, 189;
  --md-sys-color-on-secondary-container-rgb-light: 31, 28, 5;
  --md-sys-color-tertiary-rgb-light: 65, 102, 82;
  --md-sys-color-on-tertiary-rgb-light: 255, 255, 255;
  --md-sys-color-tertiary-container-rgb-light: 194, 236, 210;
  --md-sys-color-on-tertiary-container-rgb-light: 0, 33, 19;
  --md-sys-color-error-rgb-light: 186, 26, 26;
  --md-sys-color-on-error-rgb-light: 255, 255, 255;
  --md-sys-color-error-container-rgb-light: 255, 218, 214;
  --md-sys-color-on-error-container-rgb-light: 65, 0, 2;
  --md-sys-color-background-rgb-light: 255, 251, 255;
  --md-sys-color-on-background-rgb-light: 29, 28, 22;
  --md-sys-color-surface-rgb-light: 255, 251, 255;
  --md-sys-color-on-surface-rgb-light: 29, 28, 22;
  --md-sys-color-surface-variant-rgb-light: 232, 226, 208;
  --md-sys-color-on-surface-variant-rgb-light: 74, 71, 58;
  --md-sys-color-outline-rgb-light: 123, 119, 104;
  --md-sys-color-shadow-rgb-light: 0, 0, 0;
  --md-sys-color-inverse-surface-rgb-light: 50, 48, 42;
  --md-sys-color-inverse-on-surface-rgb-light: 245, 240, 231;
  --md-sys-color-inverse-primary-rgb-light: 216, 200, 79;
  /* dark */
  --md-sys-color-primary-rgb-dark: 216, 200, 79;
  --md-sys-color-on-primary-rgb-dark: 55, 49, 0;
  --md-sys-color-primary-container-rgb-dark: 79, 71, 0;
  --md-sys-color-on-primary-container-rgb-dark: 245, 229, 104;
  --md-sys-color-secondary-rgb-dark: 206, 199, 162;
  --md-sys-color-on-secondary-rgb-dark: 53, 49, 23;
  --md-sys-color-secondary-container-rgb-dark: 76, 71, 43;
  --md-sys-color-on-secondary-container-rgb-dark: 235, 227, 189;
  --md-sys-color-tertiary-rgb-dark: 167, 208, 183;
  --md-sys-color-on-tertiary-rgb-dark: 17, 55, 38;
  --md-sys-color-tertiary-container-rgb-dark: 41, 78, 59;
  --md-sys-color-on-tertiary-container-rgb-dark: 194, 236, 210;
  --md-sys-color-error-rgb-dark: 255, 180, 171;
  --md-sys-color-on-error-rgb-dark: 105, 0, 5;
  --md-sys-color-error-container-rgb-dark: 147, 0, 10;
  --md-sys-color-on-error-container-rgb-dark: 255, 180, 171;
  --md-sys-color-background-rgb-dark: 29, 28, 22;
  --md-sys-color-on-background-rgb-dark: 231, 226, 217;
  --md-sys-color-surface-rgb-dark: 29, 28, 22;
  --md-sys-color-on-surface-rgb-dark: 231, 226, 217;
  --md-sys-color-surface-variant-rgb-dark: 74, 71, 58;
  --md-sys-color-on-surface-variant-rgb-dark: 204, 198, 181;
  --md-sys-color-outline-rgb-dark: 149, 145, 129;
  --md-sys-color-shadow-rgb-dark: 0, 0, 0;
  --md-sys-color-inverse-surface-rgb-dark: 231, 226, 217;
  --md-sys-color-inverse-on-surface-rgb-dark: 50, 48, 42;
  --md-sys-color-inverse-primary-rgb-dark: 105, 95, 0;
  /* primary */
  --md-ref-palette-primary0: #000000;
  --md-ref-palette-primary5: #141100;
  --md-ref-palette-primary10: #201c00;
  --md-ref-palette-primary20: #373100;
  --md-ref-palette-primary25: #433c00;
  --md-ref-palette-primary30: #4f4700;
  --md-ref-palette-primary35: #5c5300;
  --md-ref-palette-primary40: #695f00;
  --md-ref-palette-primary50: #857800;
  --md-ref-palette-primary60: #a0921b;
  --md-ref-palette-primary70: #bcad36;
  --md-ref-palette-primary80: #d8c84f;
  --md-ref-palette-primary90: #f5e568;
  --md-ref-palette-primary95: #fff2a1;
  --md-ref-palette-primary98: #fff9e8;
  --md-ref-palette-primary99: #fffbff;
  --md-ref-palette-primary100: #ffffff;
  /* secondary */
  --md-ref-palette-secondary0: #000000;
  --md-ref-palette-secondary5: #141100;
  --md-ref-palette-secondary10: #1f1c05;
  --md-ref-palette-secondary20: #353117;
  --md-ref-palette-secondary25: #403c21;
  --md-ref-palette-secondary30: #4c472b;
  --md-ref-palette-secondary35: #585336;
  --md-ref-palette-secondary40: #645f41;
  --md-ref-palette-secondary50: #7d7858;
  --md-ref-palette-secondary60: #979170;
  --md-ref-palette-secondary70: #b2ac89;
  --md-ref-palette-secondary80: #cec7a2;
  --md-ref-palette-secondary90: #ebe3bd;
  --md-ref-palette-secondary95: #f9f1cb;
  --md-ref-palette-secondary98: #fff9e8;
  --md-ref-palette-secondary99: #fffbff;
  --md-ref-palette-secondary100: #ffffff;
  /* tertiary */
  --md-ref-palette-tertiary0: #000000;
  --md-ref-palette-tertiary5: #00150a;
  --md-ref-palette-tertiary10: #002113;
  --md-ref-palette-tertiary20: #113726;
  --md-ref-palette-tertiary25: #1d4230;
  --md-ref-palette-tertiary30: #294e3b;
  --md-ref-palette-tertiary35: #355a46;
  --md-ref-palette-tertiary40: #416652;
  --md-ref-palette-tertiary50: #597f6a;
  --md-ref-palette-tertiary60: #729983;
  --md-ref-palette-tertiary70: #8cb49c;
  --md-ref-palette-tertiary80: #a7d0b7;
  --md-ref-palette-tertiary90: #c2ecd2;
  --md-ref-palette-tertiary95: #d0fbe0;
  --md-ref-palette-tertiary98: #e8ffef;
  --md-ref-palette-tertiary99: #f4fff6;
  --md-ref-palette-tertiary100: #ffffff;
  /* neutral */
  --md-ref-palette-neutral0: #000000;
  --md-ref-palette-neutral5: #12110c;
  --md-ref-palette-neutral10: #1d1c16;
  --md-ref-palette-neutral20: #32302a;
  --md-ref-palette-neutral25: #3d3b35;
  --md-ref-palette-neutral30: #494740;
  --md-ref-palette-neutral35: #54524c;
  --md-ref-palette-neutral40: #615e57;
  --md-ref-palette-neutral50: #7a776f;
  --md-ref-palette-neutral60: #949089;
  --md-ref-palette-neutral70: #afaba3;
  --md-ref-palette-neutral80: #cac6bd;
  --md-ref-palette-neutral90: #e7e2d9;
  --md-ref-palette-neutral95: #f5f0e7;
  --md-ref-palette-neutral98: #fef9f0;
  --md-ref-palette-neutral99: #fffbff;
  --md-ref-palette-neutral100: #ffffff;
  /* neutralVariant */
  --md-ref-palette-neutral-variant0: #000000;
  --md-ref-palette-neutral-variant5: #131107;
  --md-ref-palette-neutral-variant10: #1e1c11;
  --md-ref-palette-neutral-variant20: #333124;
  --md-ref-palette-neutral-variant25: #3e3c2f;
  --md-ref-palette-neutral-variant30: #4a473a;
  --md-ref-palette-neutral-variant35: #555345;
  --md-ref-palette-neutral-variant40: #625e50;
  --md-ref-palette-neutral-variant50: #7b7768;
  --md-ref-palette-neutral-variant60: #959181;
  --md-ref-palette-neutral-variant70: #b0ab9a;
  --md-ref-palette-neutral-variant80: #ccc6b5;
  --md-ref-palette-neutral-variant90: #e8e2d0;
  --md-ref-palette-neutral-variant95: #f7f1de;
  --md-ref-palette-neutral-variant98: #fff9e8;
  --md-ref-palette-neutral-variant99: #fffbff;
  --md-ref-palette-neutral-variant100: #ffffff;
  /* error */
  --md-ref-palette-error0: #000000;
  --md-ref-palette-error5: #2d0001;
  --md-ref-palette-error10: #410002;
  --md-ref-palette-error20: #690005;
  --md-ref-palette-error25: #7e0007;
  --md-ref-palette-error30: #93000a;
  --md-ref-palette-error35: #a80710;
  --md-ref-palette-error40: #ba1a1a;
  --md-ref-palette-error50: #de3730;
  --md-ref-palette-error60: #ff5449;
  --md-ref-palette-error70: #ff897d;
  --md-ref-palette-error80: #ffb4ab;
  --md-ref-palette-error90: #ffdad6;
  --md-ref-palette-error95: #ffedea;
  --md-ref-palette-error98: #fff8f7;
  --md-ref-palette-error99: #fffbff;
  --md-ref-palette-error100: #ffffff;
}