:where(html, .tokens) {
--md-source: #6495ED;
  /* primary */
  --md-ref-palette-primary0-rgb: 0, 0, 0;
  --md-ref-palette-primary5-rgb: 0, 16, 44;
  --md-ref-palette-primary10-rgb: 0, 26, 64;
  --md-ref-palette-primary20-rgb: 0, 47, 103;
  --md-ref-palette-primary25-rgb: 0, 57, 124;
  --md-ref-palette-primary30-rgb: 0, 68, 146;
  --md-ref-palette-primary35-rgb: 13, 80, 164;
  --md-ref-palette-primary40-rgb: 35, 92, 177;
  --md-ref-palette-primary50-rgb: 66, 118, 204;
  --md-ref-palette-primary60-rgb: 95, 144, 232;
  --md-ref-palette-primary70-rgb: 126, 171, 255;
  --md-ref-palette-primary80-rgb: 172, 199, 255;
  --md-ref-palette-primary90-rgb: 215, 226, 255;
  --md-ref-palette-primary95-rgb: 237, 240, 255;
  --md-ref-palette-primary98-rgb: 249, 249, 255;
  --md-ref-palette-primary99-rgb: 254, 251, 255;
  --md-ref-palette-primary100-rgb: 255, 255, 255;
  /* secondary */
  --md-ref-palette-secondary0-rgb: 0, 0, 0;
  --md-ref-palette-secondary5-rgb: 8, 17, 32;
  --md-ref-palette-secondary10-rgb: 19, 28, 44;
  --md-ref-palette-secondary20-rgb: 40, 48, 65;
  --md-ref-palette-secondary25-rgb: 51, 59, 77;
  --md-ref-palette-secondary30-rgb: 63, 71, 89;
  --md-ref-palette-secondary35-rgb: 74, 82, 101;
  --md-ref-palette-secondary40-rgb: 86, 94, 113;
  --md-ref-palette-secondary50-rgb: 111, 119, 139;
  --md-ref-palette-secondary60-rgb: 137, 145, 165;
  --md-ref-palette-secondary70-rgb: 163, 171, 192;
  --md-ref-palette-secondary80-rgb: 190, 198, 220;
  --md-ref-palette-secondary90-rgb: 218, 226, 249;
  --md-ref-palette-secondary95-rgb: 237, 240, 255;
  --md-ref-palette-secondary98-rgb: 249, 249, 255;
  --md-ref-palette-secondary99-rgb: 254, 251, 255;
  --md-ref-palette-secondary100-rgb: 255, 255, 255;
  /* tertiary */
  --md-ref-palette-tertiary0-rgb: 0, 0, 0;
  --md-ref-palette-tertiary5-rgb: 29, 8, 34;
  --md-ref-palette-tertiary10-rgb: 41, 19, 46;
  --md-ref-palette-tertiary20-rgb: 64, 40, 68;
  --md-ref-palette-tertiary25-rgb: 75, 51, 79;
  --md-ref-palette-tertiary30-rgb: 87, 62, 91;
  --md-ref-palette-tertiary35-rgb: 100, 73, 103;
  --md-ref-palette-tertiary40-rgb: 112, 85, 116;
  --md-ref-palette-tertiary50-rgb: 138, 109, 141;
  --md-ref-palette-tertiary60-rgb: 165, 135, 168;
  --md-ref-palette-tertiary70-rgb: 193, 161, 195;
  --md-ref-palette-tertiary80-rgb: 222, 188, 223;
  --md-ref-palette-tertiary90-rgb: 251, 215, 252;
  --md-ref-palette-tertiary95-rgb: 255, 235, 253;
  --md-ref-palette-tertiary98-rgb: 255, 247, 250;
  --md-ref-palette-tertiary99-rgb: 255, 251, 255;
  --md-ref-palette-tertiary100-rgb: 255, 255, 255;
  /* neutral */
  --md-ref-palette-neutral0-rgb: 0, 0, 0;
  --md-ref-palette-neutral5-rgb: 16, 17, 20;
  --md-ref-palette-neutral10-rgb: 27, 27, 31;
  --md-ref-palette-neutral20-rgb: 47, 48, 51;
  --md-ref-palette-neutral25-rgb: 59, 59, 63;
  --md-ref-palette-neutral30-rgb: 70, 70, 74;
  --md-ref-palette-neutral35-rgb: 82, 82, 86;
  --md-ref-palette-neutral40-rgb: 94, 94, 98;
  --md-ref-palette-neutral50-rgb: 119, 119, 122;
  --md-ref-palette-neutral60-rgb: 145, 144, 148;
  --md-ref-palette-neutral70-rgb: 171, 171, 175;
  --md-ref-palette-neutral80-rgb: 199, 198, 202;
  --md-ref-palette-neutral90-rgb: 227, 226, 230;
  --md-ref-palette-neutral95-rgb: 242, 240, 244;
  --md-ref-palette-neutral98-rgb: 250, 249, 253;
  --md-ref-palette-neutral99-rgb: 254, 251, 255;
  --md-ref-palette-neutral100-rgb: 255, 255, 255;
  /* neutralVariant */
  --md-ref-palette-neutral-variant0-rgb: 0, 0, 0;
  --md-ref-palette-neutral-variant5-rgb: 14, 17, 24;
  --md-ref-palette-neutral-variant10-rgb: 25, 28, 34;
  --md-ref-palette-neutral-variant20-rgb: 45, 48, 56;
  --md-ref-palette-neutral-variant25-rgb: 56, 59, 67;
  --md-ref-palette-neutral-variant30-rgb: 68, 71, 78;
  --md-ref-palette-neutral-variant35-rgb: 80, 82, 90;
  --md-ref-palette-neutral-variant40-rgb: 92, 94, 102;
  --md-ref-palette-neutral-variant50-rgb: 116, 119, 127;
  --md-ref-palette-neutral-variant60-rgb: 142, 144, 153;
  --md-ref-palette-neutral-variant70-rgb: 169, 171, 180;
  --md-ref-palette-neutral-variant80-rgb: 196, 198, 208;
  --md-ref-palette-neutral-variant90-rgb: 225, 226, 236;
  --md-ref-palette-neutral-variant95-rgb: 239, 240, 250;
  --md-ref-palette-neutral-variant98-rgb: 249, 249, 255;
  --md-ref-palette-neutral-variant99-rgb: 254, 251, 255;
  --md-ref-palette-neutral-variant100-rgb: 255, 255, 255;
  /* error */
  --md-ref-palette-error0-rgb: 0, 0, 0;
  --md-ref-palette-error5-rgb: 45, 0, 1;
  --md-ref-palette-error10-rgb: 65, 0, 2;
  --md-ref-palette-error20-rgb: 105, 0, 5;
  --md-ref-palette-error25-rgb: 126, 0, 7;
  --md-ref-palette-error30-rgb: 147, 0, 10;
  --md-ref-palette-error35-rgb: 168, 7, 16;
  --md-ref-palette-error40-rgb: 186, 26, 26;
  --md-ref-palette-error50-rgb: 222, 55, 48;
  --md-ref-palette-error60-rgb: 255, 84, 73;
  --md-ref-palette-error70-rgb: 255, 137, 125;
  --md-ref-palette-error80-rgb: 255, 180, 171;
  --md-ref-palette-error90-rgb: 255, 218, 214;
  --md-ref-palette-error95-rgb: 255, 237, 234;
  --md-ref-palette-error98-rgb: 255, 248, 247;
  --md-ref-palette-error99-rgb: 255, 251, 255;
  --md-ref-palette-error100-rgb: 255, 255, 255;
}