body, .tokens {
--md-source: #8B0000;
  /* light */
  --md-sys-color-primary-rgb-light: 181, 38, 25;
  --md-sys-color-on-primary-rgb-light: 255, 255, 255;
  --md-sys-color-primary-container-rgb-light: 255, 218, 212;
  --md-sys-color-on-primary-container-rgb-light: 65, 0, 0;
  --md-sys-color-secondary-rgb-light: 119, 86, 81;
  --md-sys-color-on-secondary-rgb-light: 255, 255, 255;
  --md-sys-color-secondary-container-rgb-light: 255, 218, 212;
  --md-sys-color-on-secondary-container-rgb-light: 44, 21, 18;
  --md-sys-color-tertiary-rgb-light: 112, 92, 46;
  --md-sys-color-on-tertiary-rgb-light: 255, 255, 255;
  --md-sys-color-tertiary-container-rgb-light: 251, 223, 166;
  --md-sys-color-on-tertiary-container-rgb-light: 37, 26, 0;
  --md-sys-color-error-rgb-light: 186, 26, 26;
  --md-sys-color-on-error-rgb-light: 255, 255, 255;
  --md-sys-color-error-container-rgb-light: 255, 218, 214;
  --md-sys-color-on-error-container-rgb-light: 65, 0, 2;
  --md-sys-color-background-rgb-light: 255, 251, 255;
  --md-sys-color-on-background-rgb-light: 32, 26, 25;
  --md-sys-color-surface-rgb-light: 255, 251, 255;
  --md-sys-color-on-surface-rgb-light: 32, 26, 25;
  --md-sys-color-surface-variant-rgb-light: 245, 221, 218;
  --md-sys-color-on-surface-variant-rgb-light: 83, 67, 65;
  --md-sys-color-outline-rgb-light: 133, 115, 112;
  --md-sys-color-shadow-rgb-light: 0, 0, 0;
  --md-sys-color-inverse-surface-rgb-light: 54, 47, 46;
  --md-sys-color-inverse-on-surface-rgb-light: 251, 238, 236;
  --md-sys-color-inverse-primary-rgb-light: 255, 180, 168;
  /* dark */
  --md-sys-color-primary-rgb-dark: 255, 180, 168;
  --md-sys-color-on-primary-rgb-dark: 105, 0, 0;
  --md-sys-color-primary-container-rgb-dark: 146, 7, 3;
  --md-sys-color-on-primary-container-rgb-dark: 255, 218, 212;
  --md-sys-color-secondary-rgb-dark: 231, 189, 182;
  --md-sys-color-on-secondary-rgb-dark: 68, 41, 37;
  --md-sys-color-secondary-container-rgb-dark: 93, 63, 59;
  --md-sys-color-on-secondary-container-rgb-dark: 255, 218, 212;
  --md-sys-color-tertiary-rgb-dark: 222, 196, 140;
  --md-sys-color-on-tertiary-rgb-dark: 62, 46, 4;
  --md-sys-color-tertiary-container-rgb-dark: 86, 68, 25;
  --md-sys-color-on-tertiary-container-rgb-dark: 251, 223, 166;
  --md-sys-color-error-rgb-dark: 255, 180, 171;
  --md-sys-color-on-error-rgb-dark: 105, 0, 5;
  --md-sys-color-error-container-rgb-dark: 147, 0, 10;
  --md-sys-color-on-error-container-rgb-dark: 255, 180, 171;
  --md-sys-color-background-rgb-dark: 32, 26, 25;
  --md-sys-color-on-background-rgb-dark: 237, 224, 221;
  --md-sys-color-surface-rgb-dark: 32, 26, 25;
  --md-sys-color-on-surface-rgb-dark: 237, 224, 221;
  --md-sys-color-surface-variant-rgb-dark: 83, 67, 65;
  --md-sys-color-on-surface-variant-rgb-dark: 216, 194, 190;
  --md-sys-color-outline-rgb-dark: 160, 140, 137;
  --md-sys-color-shadow-rgb-dark: 0, 0, 0;
  --md-sys-color-inverse-surface-rgb-dark: 237, 224, 221;
  --md-sys-color-inverse-on-surface-rgb-dark: 54, 47, 46;
  --md-sys-color-inverse-primary-rgb-dark: 181, 38, 25;
  /* primary */
  --md-ref-palette-primary0: #000000;
  --md-ref-palette-primary5: #2d0000;
  --md-ref-palette-primary10: #410000;
  --md-ref-palette-primary20: #690000;
  --md-ref-palette-primary25: #7e0000;
  --md-ref-palette-primary30: #920703;
  --md-ref-palette-primary35: #a3180e;
  --md-ref-palette-primary40: #b52619;
  --md-ref-palette-primary50: #d8402f;
  --md-ref-palette-primary60: #fb5945;
  --md-ref-palette-primary70: #ff8a78;
  --md-ref-palette-primary80: #ffb4a8;
  --md-ref-palette-primary90: #ffdad4;
  --md-ref-palette-primary95: #ffedea;
  --md-ref-palette-primary98: #fff8f6;
  --md-ref-palette-primary99: #fffbff;
  --md-ref-palette-primary100: #ffffff;
  /* secondary */
  --md-ref-palette-secondary0: #000000;
  --md-ref-palette-secondary5: #200b08;
  --md-ref-palette-secondary10: #2c1512;
  --md-ref-palette-secondary20: #442925;
  --md-ref-palette-secondary25: #513430;
  --md-ref-palette-secondary30: #5d3f3b;
  --md-ref-palette-secondary35: #6a4b46;
  --md-ref-palette-secondary40: #775651;
  --md-ref-palette-secondary50: #926f69;
  --md-ref-palette-secondary60: #ae8882;
  --md-ref-palette-secondary70: #caa29c;
  --md-ref-palette-secondary80: #e7bdb6;
  --md-ref-palette-secondary90: #ffdad4;
  --md-ref-palette-secondary95: #ffedea;
  --md-ref-palette-secondary98: #fff8f6;
  --md-ref-palette-secondary99: #fffbff;
  --md-ref-palette-secondary100: #ffffff;
  /* tertiary */
  --md-ref-palette-tertiary0: #000000;
  --md-ref-palette-tertiary5: #181000;
  --md-ref-palette-tertiary10: #251a00;
  --md-ref-palette-tertiary20: #3e2e04;
  --md-ref-palette-tertiary25: #4a390e;
  --md-ref-palette-tertiary30: #564419;
  --md-ref-palette-tertiary35: #635023;
  --md-ref-palette-tertiary40: #705c2e;
  --md-ref-palette-tertiary50: #8a7444;
  --md-ref-palette-tertiary60: #a58e5b;
  --md-ref-palette-tertiary70: #c1a873;
  --md-ref-palette-tertiary80: #dec48c;
  --md-ref-palette-tertiary90: #fbdfa6;
  --md-ref-palette-tertiary95: #ffefd3;
  --md-ref-palette-tertiary98: #fff8f2;
  --md-ref-palette-tertiary99: #fffbff;
  --md-ref-palette-tertiary100: #ffffff;
  /* neutral */
  --md-ref-palette-neutral0: #000000;
  --md-ref-palette-neutral5: #15100f;
  --md-ref-palette-neutral10: #201a19;
  --md-ref-palette-neutral20: #362f2e;
  --md-ref-palette-neutral25: #413a38;
  --md-ref-palette-neutral30: #4d4544;
  --md-ref-palette-neutral35: #59504f;
  --md-ref-palette-neutral40: #655c5b;
  --md-ref-palette-neutral50: #7f7573;
  --md-ref-palette-neutral60: #998e8d;
  --md-ref-palette-neutral70: #b4a9a7;
  --md-ref-palette-neutral80: #d0c4c2;
  --md-ref-palette-neutral90: #ede0dd;
  --md-ref-palette-neutral95: #fbeeec;
  --md-ref-palette-neutral98: #fff8f6;
  --md-ref-palette-neutral99: #fffbff;
  --md-ref-palette-neutral100: #ffffff;
  /* neutralVariant */
  --md-ref-palette-neutral-variant0: #000000;
  --md-ref-palette-neutral-variant5: #190e0c;
  --md-ref-palette-neutral-variant10: #251917;
  --md-ref-palette-neutral-variant20: #3b2d2b;
  --md-ref-palette-neutral-variant25: #473836;
  --md-ref-palette-neutral-variant30: #534341;
  --md-ref-palette-neutral-variant35: #5f4f4c;
  --md-ref-palette-neutral-variant40: #6b5a58;
  --md-ref-palette-neutral-variant50: #857370;
  --md-ref-palette-neutral-variant60: #a08c89;
  --md-ref-palette-neutral-variant70: #bca7a3;
  --md-ref-palette-neutral-variant80: #d8c2be;
  --md-ref-palette-neutral-variant90: #f5ddda;
  --md-ref-palette-neutral-variant95: #ffedea;
  --md-ref-palette-neutral-variant98: #fff8f6;
  --md-ref-palette-neutral-variant99: #fffbff;
  --md-ref-palette-neutral-variant100: #ffffff;
  /* error */
  --md-ref-palette-error0: #000000;
  --md-ref-palette-error5: #2d0001;
  --md-ref-palette-error10: #410002;
  --md-ref-palette-error20: #690005;
  --md-ref-palette-error25: #7e0007;
  --md-ref-palette-error30: #93000a;
  --md-ref-palette-error35: #a80710;
  --md-ref-palette-error40: #ba1a1a;
  --md-ref-palette-error50: #de3730;
  --md-ref-palette-error60: #ff5449;
  --md-ref-palette-error70: #ff897d;
  --md-ref-palette-error80: #ffb4ab;
  --md-ref-palette-error90: #ffdad6;
  --md-ref-palette-error95: #ffedea;
  --md-ref-palette-error98: #fff8f7;
  --md-ref-palette-error99: #fffbff;
  --md-ref-palette-error100: #ffffff;
}