:where(.light-theme, .dark-theme) {
--md-source: #9932CC;
  /* primary */
  --md-ref-palette-primary0-rgb: 0, 0, 0;
  --md-ref-palette-primary5-rgb: 33, 0, 50;
  --md-ref-palette-primary10-rgb: 49, 0, 72;
  --md-ref-palette-primary20-rgb: 81, 0, 116;
  --md-ref-palette-primary25-rgb: 97, 0, 139;
  --md-ref-palette-primary30-rgb: 114, 0, 162;
  --md-ref-palette-primary35-rgb: 130, 16, 182;
  --md-ref-palette-primary40-rgb: 144, 38, 195;
  --md-ref-palette-primary50-rgb: 171, 70, 222;
  --md-ref-palette-primary60-rgb: 200, 99, 251;
  --md-ref-palette-primary70-rgb: 218, 140, 255;
  --md-ref-palette-primary80-rgb: 233, 179, 255;
  --md-ref-palette-primary90-rgb: 246, 217, 255;
  --md-ref-palette-primary95-rgb: 253, 235, 255;
  --md-ref-palette-primary98-rgb: 255, 247, 252;
  --md-ref-palette-primary99-rgb: 255, 251, 255;
  --md-ref-palette-primary100-rgb: 255, 255, 255;
  /* secondary */
  --md-ref-palette-secondary0-rgb: 0, 0, 0;
  --md-ref-palette-secondary5-rgb: 24, 13, 29;
  --md-ref-palette-secondary10-rgb: 35, 23, 40;
  --md-ref-palette-secondary20-rgb: 57, 44, 62;
  --md-ref-palette-secondary25-rgb: 68, 55, 73;
  --md-ref-palette-secondary30-rgb: 80, 66, 85;
  --md-ref-palette-secondary35-rgb: 92, 77, 97;
  --md-ref-palette-secondary40-rgb: 104, 89, 109;
  --md-ref-palette-secondary50-rgb: 130, 114, 135;
  --md-ref-palette-secondary60-rgb: 156, 139, 161;
  --md-ref-palette-secondary70-rgb: 184, 165, 188;
  --md-ref-palette-secondary80-rgb: 212, 192, 216;
  --md-ref-palette-secondary90-rgb: 240, 220, 244;
  --md-ref-palette-secondary95-rgb: 253, 235, 255;
  --md-ref-palette-secondary98-rgb: 255, 247, 252;
  --md-ref-palette-secondary99-rgb: 255, 251, 255;
  --md-ref-palette-secondary100-rgb: 255, 255, 255;
  /* tertiary */
  --md-ref-palette-tertiary0-rgb: 0, 0, 0;
  --md-ref-palette-tertiary5-rgb: 37, 6, 8;
  --md-ref-palette-tertiary10-rgb: 51, 17, 18;
  --md-ref-palette-tertiary20-rgb: 76, 37, 37;
  --md-ref-palette-tertiary25-rgb: 89, 48, 48;
  --md-ref-palette-tertiary30-rgb: 102, 59, 59;
  --md-ref-palette-tertiary35-rgb: 116, 70, 70;
  --md-ref-palette-tertiary40-rgb: 129, 82, 81;
  --md-ref-palette-tertiary50-rgb: 157, 106, 105;
  --md-ref-palette-tertiary60-rgb: 186, 131, 130;
  --md-ref-palette-tertiary70-rgb: 215, 157, 155;
  --md-ref-palette-tertiary80-rgb: 245, 183, 182;
  --md-ref-palette-tertiary90-rgb: 255, 218, 217;
  --md-ref-palette-tertiary95-rgb: 255, 237, 236;
  --md-ref-palette-tertiary98-rgb: 255, 248, 247;
  --md-ref-palette-tertiary99-rgb: 255, 251, 255;
  --md-ref-palette-tertiary100-rgb: 255, 255, 255;
  /* neutral */
  --md-ref-palette-neutral0-rgb: 0, 0, 0;
  --md-ref-palette-neutral5-rgb: 19, 16, 19;
  --md-ref-palette-neutral10-rgb: 30, 27, 30;
  --md-ref-palette-neutral20-rgb: 51, 47, 51;
  --md-ref-palette-neutral25-rgb: 62, 58, 62;
  --md-ref-palette-neutral30-rgb: 74, 69, 73;
  --md-ref-palette-neutral35-rgb: 85, 81, 85;
  --md-ref-palette-neutral40-rgb: 98, 93, 97;
  --md-ref-palette-neutral50-rgb: 123, 118, 122;
  --md-ref-palette-neutral60-rgb: 149, 143, 147;
  --md-ref-palette-neutral70-rgb: 176, 169, 174;
  --md-ref-palette-neutral80-rgb: 203, 197, 201;
  --md-ref-palette-neutral90-rgb: 232, 224, 229;
  --md-ref-palette-neutral95-rgb: 246, 239, 243;
  --md-ref-palette-neutral98-rgb: 255, 247, 252;
  --md-ref-palette-neutral99-rgb: 255, 251, 255;
  --md-ref-palette-neutral100-rgb: 255, 255, 255;
  /* neutralVariant */
  --md-ref-palette-neutral-variant0-rgb: 0, 0, 0;
  --md-ref-palette-neutral-variant5-rgb: 20, 15, 22;
  --md-ref-palette-neutral-variant10-rgb: 31, 26, 33;
  --md-ref-palette-neutral-variant20-rgb: 53, 46, 54;
  --md-ref-palette-neutral-variant25-rgb: 64, 57, 65;
  --md-ref-palette-neutral-variant30-rgb: 76, 68, 77;
  --md-ref-palette-neutral-variant35-rgb: 88, 80, 89;
  --md-ref-palette-neutral-variant40-rgb: 100, 92, 101;
  --md-ref-palette-neutral-variant50-rgb: 125, 116, 126;
  --md-ref-palette-neutral-variant60-rgb: 151, 142, 151;
  --md-ref-palette-neutral-variant70-rgb: 178, 168, 178;
  --md-ref-palette-neutral-variant80-rgb: 206, 195, 206;
  --md-ref-palette-neutral-variant90-rgb: 235, 223, 234;
  --md-ref-palette-neutral-variant95-rgb: 249, 237, 248;
  --md-ref-palette-neutral-variant98-rgb: 255, 247, 252;
  --md-ref-palette-neutral-variant99-rgb: 255, 251, 255;
  --md-ref-palette-neutral-variant100-rgb: 255, 255, 255;
  /* error */
  --md-ref-palette-error0-rgb: 0, 0, 0;
  --md-ref-palette-error5-rgb: 45, 0, 1;
  --md-ref-palette-error10-rgb: 65, 0, 2;
  --md-ref-palette-error20-rgb: 105, 0, 5;
  --md-ref-palette-error25-rgb: 126, 0, 7;
  --md-ref-palette-error30-rgb: 147, 0, 10;
  --md-ref-palette-error35-rgb: 168, 7, 16;
  --md-ref-palette-error40-rgb: 186, 26, 26;
  --md-ref-palette-error50-rgb: 222, 55, 48;
  --md-ref-palette-error60-rgb: 255, 84, 73;
  --md-ref-palette-error70-rgb: 255, 137, 125;
  --md-ref-palette-error80-rgb: 255, 180, 171;
  --md-ref-palette-error90-rgb: 255, 218, 214;
  --md-ref-palette-error95-rgb: 255, 237, 234;
  --md-ref-palette-error98-rgb: 255, 248, 247;
  --md-ref-palette-error99-rgb: 255, 251, 255;
  --md-ref-palette-error100-rgb: 255, 255, 255;
}