:where(.light-theme, .dark-theme) {
--md-source: #556B2F;
  /* primary */
  --md-ref-palette-primary0-rgb: 0, 0, 0;
  --md-ref-palette-primary5-rgb: 10, 20, 0;
  --md-ref-palette-primary10-rgb: 19, 31, 0;
  --md-ref-palette-primary20-rgb: 35, 54, 0;
  --md-ref-palette-primary25-rgb: 44, 66, 0;
  --md-ref-palette-primary30-rgb: 53, 78, 0;
  --md-ref-palette-primary35-rgb: 62, 91, 0;
  --md-ref-palette-primary40-rgb: 73, 104, 13;
  --md-ref-palette-primary50-rgb: 97, 129, 39;
  --md-ref-palette-primary60-rgb: 122, 156, 62;
  --md-ref-palette-primary70-rgb: 147, 183, 86;
  --md-ref-palette-primary80-rgb: 174, 211, 110;
  --md-ref-palette-primary90-rgb: 201, 240, 135;
  --md-ref-palette-primary95-rgb: 215, 254, 148;
  --md-ref-palette-primary98-rgb: 241, 255, 211;
  --md-ref-palette-primary99-rgb: 249, 255, 230;
  --md-ref-palette-primary100-rgb: 255, 255, 255;
  /* secondary */
  --md-ref-palette-secondary0-rgb: 0, 0, 0;
  --md-ref-palette-secondary5-rgb: 12, 19, 3;
  --md-ref-palette-secondary10-rgb: 23, 30, 10;
  --md-ref-palette-secondary20-rgb: 43, 51, 29;
  --md-ref-palette-secondary25-rgb: 54, 62, 39;
  --md-ref-palette-secondary30-rgb: 65, 74, 50;
  --md-ref-palette-secondary35-rgb: 77, 86, 61;
  --md-ref-palette-secondary40-rgb: 89, 98, 72;
  --md-ref-palette-secondary50-rgb: 114, 122, 95;
  --md-ref-palette-secondary60-rgb: 139, 148, 120;
  --md-ref-palette-secondary70-rgb: 166, 175, 145;
  --md-ref-palette-secondary80-rgb: 193, 202, 171;
  --md-ref-palette-secondary90-rgb: 221, 230, 198;
  --md-ref-palette-secondary95-rgb: 235, 245, 212;
  --md-ref-palette-secondary98-rgb: 244, 253, 220;
  --md-ref-palette-secondary99-rgb: 249, 255, 230;
  --md-ref-palette-secondary100-rgb: 255, 255, 255;
  /* tertiary */
  --md-ref-palette-tertiary0-rgb: 0, 0, 0;
  --md-ref-palette-tertiary5-rgb: 0, 20, 18;
  --md-ref-palette-tertiary10-rgb: 0, 32, 29;
  --md-ref-palette-tertiary20-rgb: 1, 55, 51;
  --md-ref-palette-tertiary25-rgb: 17, 66, 62;
  --md-ref-palette-tertiary30-rgb: 31, 78, 73;
  --md-ref-palette-tertiary35-rgb: 44, 90, 85;
  --md-ref-palette-tertiary40-rgb: 57, 102, 97;
  --md-ref-palette-tertiary50-rgb: 82, 127, 122;
  --md-ref-palette-tertiary60-rgb: 107, 153, 147;
  --md-ref-palette-tertiary70-rgb: 133, 180, 174;
  --md-ref-palette-tertiary80-rgb: 160, 208, 201;
  --md-ref-palette-tertiary90-rgb: 188, 236, 229;
  --md-ref-palette-tertiary95-rgb: 202, 250, 243;
  --md-ref-palette-tertiary98-rgb: 228, 255, 250;
  --md-ref-palette-tertiary99-rgb: 242, 255, 252;
  --md-ref-palette-tertiary100-rgb: 255, 255, 255;
  /* neutral */
  --md-ref-palette-neutral0-rgb: 0, 0, 0;
  --md-ref-palette-neutral5-rgb: 16, 17, 13;
  --md-ref-palette-neutral10-rgb: 27, 28, 24;
  --md-ref-palette-neutral20-rgb: 48, 49, 44;
  --md-ref-palette-neutral25-rgb: 59, 60, 55;
  --md-ref-palette-neutral30-rgb: 70, 71, 66;
  --md-ref-palette-neutral35-rgb: 82, 83, 77;
  --md-ref-palette-neutral40-rgb: 94, 95, 89;
  --md-ref-palette-neutral50-rgb: 119, 119, 113;
  --md-ref-palette-neutral60-rgb: 145, 145, 138;
  --md-ref-palette-neutral70-rgb: 172, 171, 165;
  --md-ref-palette-neutral80-rgb: 199, 199, 191;
  --md-ref-palette-neutral90-rgb: 228, 227, 219;
  --md-ref-palette-neutral95-rgb: 242, 241, 233;
  --md-ref-palette-neutral98-rgb: 251, 249, 242;
  --md-ref-palette-neutral99-rgb: 254, 252, 244;
  --md-ref-palette-neutral100-rgb: 255, 255, 255;
  /* neutralVariant */
  --md-ref-palette-neutral-variant0-rgb: 0, 0, 0;
  --md-ref-palette-neutral-variant5-rgb: 15, 18, 9;
  --md-ref-palette-neutral-variant10-rgb: 26, 29, 19;
  --md-ref-palette-neutral-variant20-rgb: 46, 50, 39;
  --md-ref-palette-neutral-variant25-rgb: 57, 61, 50;
  --md-ref-palette-neutral-variant30-rgb: 69, 72, 61;
  --md-ref-palette-neutral-variant35-rgb: 81, 84, 72;
  --md-ref-palette-neutral-variant40-rgb: 93, 96, 84;
  --md-ref-palette-neutral-variant50-rgb: 117, 120, 108;
  --md-ref-palette-neutral-variant60-rgb: 143, 146, 132;
  --md-ref-palette-neutral-variant70-rgb: 170, 173, 158;
  --md-ref-palette-neutral-variant80-rgb: 197, 200, 185;
  --md-ref-palette-neutral-variant90-rgb: 226, 228, 212;
  --md-ref-palette-neutral-variant95-rgb: 240, 242, 226;
  --md-ref-palette-neutral-variant98-rgb: 249, 251, 235;
  --md-ref-palette-neutral-variant99-rgb: 252, 254, 238;
  --md-ref-palette-neutral-variant100-rgb: 255, 255, 255;
  /* error */
  --md-ref-palette-error0-rgb: 0, 0, 0;
  --md-ref-palette-error5-rgb: 45, 0, 1;
  --md-ref-palette-error10-rgb: 65, 0, 2;
  --md-ref-palette-error20-rgb: 105, 0, 5;
  --md-ref-palette-error25-rgb: 126, 0, 7;
  --md-ref-palette-error30-rgb: 147, 0, 10;
  --md-ref-palette-error35-rgb: 168, 7, 16;
  --md-ref-palette-error40-rgb: 186, 26, 26;
  --md-ref-palette-error50-rgb: 222, 55, 48;
  --md-ref-palette-error60-rgb: 255, 84, 73;
  --md-ref-palette-error70-rgb: 255, 137, 125;
  --md-ref-palette-error80-rgb: 255, 180, 171;
  --md-ref-palette-error90-rgb: 255, 218, 214;
  --md-ref-palette-error95-rgb: 255, 237, 234;
  --md-ref-palette-error98-rgb: 255, 248, 247;
  --md-ref-palette-error99-rgb: 255, 251, 255;
  --md-ref-palette-error100-rgb: 255, 255, 255;
}