:root, .tokens {
--md-source: #008B8B;
  /* light */
  --md-sys-color-primary-rgb-light: 0, 106, 106;
  --md-sys-color-on-primary-rgb-light: 255, 255, 255;
  --md-sys-color-primary-container-rgb-light: 111, 247, 246;
  --md-sys-color-on-primary-container-rgb-light: 0, 32, 32;
  --md-sys-color-secondary-rgb-light: 74, 99, 99;
  --md-sys-color-on-secondary-rgb-light: 255, 255, 255;
  --md-sys-color-secondary-container-rgb-light: 204, 232, 231;
  --md-sys-color-on-secondary-container-rgb-light: 5, 31, 31;
  --md-sys-color-tertiary-rgb-light: 75, 96, 124;
  --md-sys-color-on-tertiary-rgb-light: 255, 255, 255;
  --md-sys-color-tertiary-container-rgb-light: 211, 228, 255;
  --md-sys-color-on-tertiary-container-rgb-light: 4, 28, 53;
  --md-sys-color-error-rgb-light: 186, 26, 26;
  --md-sys-color-on-error-rgb-light: 255, 255, 255;
  --md-sys-color-error-container-rgb-light: 255, 218, 214;
  --md-sys-color-on-error-container-rgb-light: 65, 0, 2;
  --md-sys-color-background-rgb-light: 250, 253, 252;
  --md-sys-color-on-background-rgb-light: 25, 28, 28;
  --md-sys-color-surface-rgb-light: 250, 253, 252;
  --md-sys-color-on-surface-rgb-light: 25, 28, 28;
  --md-sys-color-surface-variant-rgb-light: 218, 229, 228;
  --md-sys-color-on-surface-variant-rgb-light: 63, 73, 72;
  --md-sys-color-outline-rgb-light: 111, 121, 121;
  --md-sys-color-shadow-rgb-light: 0, 0, 0;
  --md-sys-color-inverse-surface-rgb-light: 45, 49, 49;
  --md-sys-color-inverse-on-surface-rgb-light: 239, 241, 240;
  --md-sys-color-inverse-primary-rgb-light: 76, 218, 218;
  /* dark */
  --md-sys-color-primary-rgb-dark: 76, 218, 218;
  --md-sys-color-on-primary-rgb-dark: 0, 55, 55;
  --md-sys-color-primary-container-rgb-dark: 0, 79, 79;
  --md-sys-color-on-primary-container-rgb-dark: 111, 247, 246;
  --md-sys-color-secondary-rgb-dark: 176, 204, 203;
  --md-sys-color-on-secondary-rgb-dark: 27, 53, 52;
  --md-sys-color-secondary-container-rgb-dark: 50, 75, 75;
  --md-sys-color-on-secondary-container-rgb-dark: 204, 232, 231;
  --md-sys-color-tertiary-rgb-dark: 179, 200, 232;
  --md-sys-color-on-tertiary-rgb-dark: 28, 49, 75;
  --md-sys-color-tertiary-container-rgb-dark: 51, 72, 99;
  --md-sys-color-on-tertiary-container-rgb-dark: 211, 228, 255;
  --md-sys-color-error-rgb-dark: 255, 180, 171;
  --md-sys-color-on-error-rgb-dark: 105, 0, 5;
  --md-sys-color-error-container-rgb-dark: 147, 0, 10;
  --md-sys-color-on-error-container-rgb-dark: 255, 180, 171;
  --md-sys-color-background-rgb-dark: 25, 28, 28;
  --md-sys-color-on-background-rgb-dark: 224, 227, 226;
  --md-sys-color-surface-rgb-dark: 25, 28, 28;
  --md-sys-color-on-surface-rgb-dark: 224, 227, 226;
  --md-sys-color-surface-variant-rgb-dark: 63, 73, 72;
  --md-sys-color-on-surface-variant-rgb-dark: 190, 201, 200;
  --md-sys-color-outline-rgb-dark: 136, 147, 146;
  --md-sys-color-shadow-rgb-dark: 0, 0, 0;
  --md-sys-color-inverse-surface-rgb-dark: 224, 227, 226;
  --md-sys-color-inverse-on-surface-rgb-dark: 45, 49, 49;
  --md-sys-color-inverse-primary-rgb-dark: 0, 106, 106;
  /* primary */
  --md-ref-palette-primary0: #000000;
  --md-ref-palette-primary5: #001414;
  --md-ref-palette-primary10: #002020;
  --md-ref-palette-primary20: #003737;
  --md-ref-palette-primary25: #004343;
  --md-ref-palette-primary30: #004f4f;
  --md-ref-palette-primary35: #005c5c;
  --md-ref-palette-primary40: #006a6a;
  --md-ref-palette-primary50: #008585;
  --md-ref-palette-primary60: #00a1a1;
  --md-ref-palette-primary70: #1ebebe;
  --md-ref-palette-primary80: #4cdada;
  --md-ref-palette-primary90: #6ff7f6;
  --md-ref-palette-primary95: #adfffe;
  --md-ref-palette-primary98: #e2fffe;
  --md-ref-palette-primary99: #f1fffe;
  --md-ref-palette-primary100: #ffffff;
  /* secondary */
  --md-ref-palette-secondary0: #000000;
  --md-ref-palette-secondary5: #001414;
  --md-ref-palette-secondary10: #051f1f;
  --md-ref-palette-secondary20: #1b3534;
  --md-ref-palette-secondary25: #27403f;
  --md-ref-palette-secondary30: #324b4b;
  --md-ref-palette-secondary35: #3e5757;
  --md-ref-palette-secondary40: #4a6363;
  --md-ref-palette-secondary50: #627c7b;
  --md-ref-palette-secondary60: #7b9695;
  --md-ref-palette-secondary70: #95b0b0;
  --md-ref-palette-secondary80: #b0cccb;
  --md-ref-palette-secondary90: #cce8e7;
  --md-ref-palette-secondary95: #daf6f5;
  --md-ref-palette-secondary98: #e3fffe;
  --md-ref-palette-secondary99: #f1fffe;
  --md-ref-palette-secondary100: #ffffff;
  /* tertiary */
  --md-ref-palette-tertiary0: #000000;
  --md-ref-palette-tertiary5: #001126;
  --md-ref-palette-tertiary10: #041c35;
  --md-ref-palette-tertiary20: #1c314b;
  --md-ref-palette-tertiary25: #283d57;
  --md-ref-palette-tertiary30: #334863;
  --md-ref-palette-tertiary35: #3f546f;
  --md-ref-palette-tertiary40: #4b607c;
  --md-ref-palette-tertiary50: #647896;
  --md-ref-palette-tertiary60: #7d92b1;
  --md-ref-palette-tertiary70: #98adcc;
  --md-ref-palette-tertiary80: #b3c8e8;
  --md-ref-palette-tertiary90: #d3e4ff;
  --md-ref-palette-tertiary95: #eaf1ff;
  --md-ref-palette-tertiary98: #f8f9ff;
  --md-ref-palette-tertiary99: #fdfcff;
  --md-ref-palette-tertiary100: #ffffff;
  /* neutral */
  --md-ref-palette-neutral0: #000000;
  --md-ref-palette-neutral5: #0e1211;
  --md-ref-palette-neutral10: #191c1c;
  --md-ref-palette-neutral20: #2d3131;
  --md-ref-palette-neutral25: #383c3c;
  --md-ref-palette-neutral30: #444747;
  --md-ref-palette-neutral35: #4f5353;
  --md-ref-palette-neutral40: #5b5f5f;
  --md-ref-palette-neutral50: #747877;
  --md-ref-palette-neutral60: #8e9191;
  --md-ref-palette-neutral70: #a9acab;
  --md-ref-palette-neutral80: #c4c7c6;
  --md-ref-palette-neutral90: #e0e3e2;
  --md-ref-palette-neutral95: #eff1f0;
  --md-ref-palette-neutral98: #f7faf9;
  --md-ref-palette-neutral99: #fafdfc;
  --md-ref-palette-neutral100: #ffffff;
  /* neutralVariant */
  --md-ref-palette-neutralVariant0: #000000;
  --md-ref-palette-neutralVariant5: #091312;
  --md-ref-palette-neutralVariant10: #141d1d;
  --md-ref-palette-neutralVariant20: #293232;
  --md-ref-palette-neutralVariant25: #343d3d;
  --md-ref-palette-neutralVariant30: #3f4948;
  --md-ref-palette-neutralVariant35: #4a5454;
  --md-ref-palette-neutralVariant40: #566060;
  --md-ref-palette-neutralVariant50: #6f7979;
  --md-ref-palette-neutralVariant60: #889392;
  --md-ref-palette-neutralVariant70: #a3adad;
  --md-ref-palette-neutralVariant80: #bec9c8;
  --md-ref-palette-neutralVariant90: #dae5e4;
  --md-ref-palette-neutralVariant95: #e9f3f2;
  --md-ref-palette-neutralVariant98: #f1fbfa;
  --md-ref-palette-neutralVariant99: #f4fefd;
  --md-ref-palette-neutralVariant100: #ffffff;
  /* error */
  --md-ref-palette-error0: #000000;
  --md-ref-palette-error5: #2d0001;
  --md-ref-palette-error10: #410002;
  --md-ref-palette-error20: #690005;
  --md-ref-palette-error25: #7e0007;
  --md-ref-palette-error30: #93000a;
  --md-ref-palette-error35: #a80710;
  --md-ref-palette-error40: #ba1a1a;
  --md-ref-palette-error50: #de3730;
  --md-ref-palette-error60: #ff5449;
  --md-ref-palette-error70: #ff897d;
  --md-ref-palette-error80: #ffb4ab;
  --md-ref-palette-error90: #ffdad6;
  --md-ref-palette-error95: #ffedea;
  --md-ref-palette-error98: #fff8f7;
  --md-ref-palette-error99: #fffbff;
  --md-ref-palette-error100: #ffffff;
}