:root, .tokens {
--md-source: #9932CC;
  /* light */
  --md-sys-color-primary-rgb-light: 144, 38, 195;
  --md-sys-color-on-primary-rgb-light: 255, 255, 255;
  --md-sys-color-primary-container-rgb-light: 246, 217, 255;
  --md-sys-color-on-primary-container-rgb-light: 49, 0, 72;
  --md-sys-color-secondary-rgb-light: 104, 89, 109;
  --md-sys-color-on-secondary-rgb-light: 255, 255, 255;
  --md-sys-color-secondary-container-rgb-light: 240, 220, 244;
  --md-sys-color-on-secondary-container-rgb-light: 35, 23, 40;
  --md-sys-color-tertiary-rgb-light: 129, 82, 81;
  --md-sys-color-on-tertiary-rgb-light: 255, 255, 255;
  --md-sys-color-tertiary-container-rgb-light: 255, 218, 217;
  --md-sys-color-on-tertiary-container-rgb-light: 51, 17, 18;
  --md-sys-color-error-rgb-light: 186, 26, 26;
  --md-sys-color-on-error-rgb-light: 255, 255, 255;
  --md-sys-color-error-container-rgb-light: 255, 218, 214;
  --md-sys-color-on-error-container-rgb-light: 65, 0, 2;
  --md-sys-color-background-rgb-light: 255, 251, 255;
  --md-sys-color-on-background-rgb-light: 30, 27, 30;
  --md-sys-color-surface-rgb-light: 255, 251, 255;
  --md-sys-color-on-surface-rgb-light: 30, 27, 30;
  --md-sys-color-surface-variant-rgb-light: 235, 223, 234;
  --md-sys-color-on-surface-variant-rgb-light: 76, 68, 77;
  --md-sys-color-outline-rgb-light: 125, 116, 126;
  --md-sys-color-shadow-rgb-light: 0, 0, 0;
  --md-sys-color-inverse-surface-rgb-light: 51, 47, 51;
  --md-sys-color-inverse-on-surface-rgb-light: 246, 239, 243;
  --md-sys-color-inverse-primary-rgb-light: 233, 179, 255;
  /* dark */
  --md-sys-color-primary-rgb-dark: 233, 179, 255;
  --md-sys-color-on-primary-rgb-dark: 81, 0, 116;
  --md-sys-color-primary-container-rgb-dark: 114, 0, 162;
  --md-sys-color-on-primary-container-rgb-dark: 246, 217, 255;
  --md-sys-color-secondary-rgb-dark: 212, 192, 216;
  --md-sys-color-on-secondary-rgb-dark: 57, 44, 62;
  --md-sys-color-secondary-container-rgb-dark: 80, 66, 85;
  --md-sys-color-on-secondary-container-rgb-dark: 240, 220, 244;
  --md-sys-color-tertiary-rgb-dark: 245, 183, 182;
  --md-sys-color-on-tertiary-rgb-dark: 76, 37, 37;
  --md-sys-color-tertiary-container-rgb-dark: 102, 59, 59;
  --md-sys-color-on-tertiary-container-rgb-dark: 255, 218, 217;
  --md-sys-color-error-rgb-dark: 255, 180, 171;
  --md-sys-color-on-error-rgb-dark: 105, 0, 5;
  --md-sys-color-error-container-rgb-dark: 147, 0, 10;
  --md-sys-color-on-error-container-rgb-dark: 255, 180, 171;
  --md-sys-color-background-rgb-dark: 30, 27, 30;
  --md-sys-color-on-background-rgb-dark: 232, 224, 229;
  --md-sys-color-surface-rgb-dark: 30, 27, 30;
  --md-sys-color-on-surface-rgb-dark: 232, 224, 229;
  --md-sys-color-surface-variant-rgb-dark: 76, 68, 77;
  --md-sys-color-on-surface-variant-rgb-dark: 206, 195, 206;
  --md-sys-color-outline-rgb-dark: 151, 142, 151;
  --md-sys-color-shadow-rgb-dark: 0, 0, 0;
  --md-sys-color-inverse-surface-rgb-dark: 232, 224, 229;
  --md-sys-color-inverse-on-surface-rgb-dark: 51, 47, 51;
  --md-sys-color-inverse-primary-rgb-dark: 144, 38, 195;
  /* primary */
  --md-ref-palette-primary0: #000000;
  --md-ref-palette-primary5: #210032;
  --md-ref-palette-primary10: #310048;
  --md-ref-palette-primary20: #510074;
  --md-ref-palette-primary25: #61008b;
  --md-ref-palette-primary30: #7200a2;
  --md-ref-palette-primary35: #8210b6;
  --md-ref-palette-primary40: #9026c3;
  --md-ref-palette-primary50: #ab46de;
  --md-ref-palette-primary60: #c863fb;
  --md-ref-palette-primary70: #da8cff;
  --md-ref-palette-primary80: #e9b3ff;
  --md-ref-palette-primary90: #f6d9ff;
  --md-ref-palette-primary95: #fdebff;
  --md-ref-palette-primary98: #fff7fc;
  --md-ref-palette-primary99: #fffbff;
  --md-ref-palette-primary100: #ffffff;
  /* secondary */
  --md-ref-palette-secondary0: #000000;
  --md-ref-palette-secondary5: #180d1d;
  --md-ref-palette-secondary10: #231728;
  --md-ref-palette-secondary20: #392c3e;
  --md-ref-palette-secondary25: #443749;
  --md-ref-palette-secondary30: #504255;
  --md-ref-palette-secondary35: #5c4d61;
  --md-ref-palette-secondary40: #68596d;
  --md-ref-palette-secondary50: #827287;
  --md-ref-palette-secondary60: #9c8ba1;
  --md-ref-palette-secondary70: #b8a5bc;
  --md-ref-palette-secondary80: #d4c0d8;
  --md-ref-palette-secondary90: #f0dcf4;
  --md-ref-palette-secondary95: #fdebff;
  --md-ref-palette-secondary98: #fff7fc;
  --md-ref-palette-secondary99: #fffbff;
  --md-ref-palette-secondary100: #ffffff;
  /* tertiary */
  --md-ref-palette-tertiary0: #000000;
  --md-ref-palette-tertiary5: #250608;
  --md-ref-palette-tertiary10: #331112;
  --md-ref-palette-tertiary20: #4c2525;
  --md-ref-palette-tertiary25: #593030;
  --md-ref-palette-tertiary30: #663b3b;
  --md-ref-palette-tertiary35: #744646;
  --md-ref-palette-tertiary40: #815251;
  --md-ref-palette-tertiary50: #9d6a69;
  --md-ref-palette-tertiary60: #ba8382;
  --md-ref-palette-tertiary70: #d79d9b;
  --md-ref-palette-tertiary80: #f5b7b6;
  --md-ref-palette-tertiary90: #ffdad9;
  --md-ref-palette-tertiary95: #ffedec;
  --md-ref-palette-tertiary98: #fff8f7;
  --md-ref-palette-tertiary99: #fffbff;
  --md-ref-palette-tertiary100: #ffffff;
  /* neutral */
  --md-ref-palette-neutral0: #000000;
  --md-ref-palette-neutral5: #131013;
  --md-ref-palette-neutral10: #1e1b1e;
  --md-ref-palette-neutral20: #332f33;
  --md-ref-palette-neutral25: #3e3a3e;
  --md-ref-palette-neutral30: #4a4549;
  --md-ref-palette-neutral35: #555155;
  --md-ref-palette-neutral40: #625d61;
  --md-ref-palette-neutral50: #7b767a;
  --md-ref-palette-neutral60: #958f93;
  --md-ref-palette-neutral70: #b0a9ae;
  --md-ref-palette-neutral80: #cbc5c9;
  --md-ref-palette-neutral90: #e8e0e5;
  --md-ref-palette-neutral95: #f6eff3;
  --md-ref-palette-neutral98: #fff7fc;
  --md-ref-palette-neutral99: #fffbff;
  --md-ref-palette-neutral100: #ffffff;
  /* neutralVariant */
  --md-ref-palette-neutralVariant0: #000000;
  --md-ref-palette-neutralVariant5: #140f16;
  --md-ref-palette-neutralVariant10: #1f1a21;
  --md-ref-palette-neutralVariant20: #352e36;
  --md-ref-palette-neutralVariant25: #403941;
  --md-ref-palette-neutralVariant30: #4c444d;
  --md-ref-palette-neutralVariant35: #585059;
  --md-ref-palette-neutralVariant40: #645c65;
  --md-ref-palette-neutralVariant50: #7d747e;
  --md-ref-palette-neutralVariant60: #978e97;
  --md-ref-palette-neutralVariant70: #b2a8b2;
  --md-ref-palette-neutralVariant80: #cec3ce;
  --md-ref-palette-neutralVariant90: #ebdfea;
  --md-ref-palette-neutralVariant95: #f9edf8;
  --md-ref-palette-neutralVariant98: #fff7fc;
  --md-ref-palette-neutralVariant99: #fffbff;
  --md-ref-palette-neutralVariant100: #ffffff;
  /* error */
  --md-ref-palette-error0: #000000;
  --md-ref-palette-error5: #2d0001;
  --md-ref-palette-error10: #410002;
  --md-ref-palette-error20: #690005;
  --md-ref-palette-error25: #7e0007;
  --md-ref-palette-error30: #93000a;
  --md-ref-palette-error35: #a80710;
  --md-ref-palette-error40: #ba1a1a;
  --md-ref-palette-error50: #de3730;
  --md-ref-palette-error60: #ff5449;
  --md-ref-palette-error70: #ff897d;
  --md-ref-palette-error80: #ffb4ab;
  --md-ref-palette-error90: #ffdad6;
  --md-ref-palette-error95: #ffedea;
  --md-ref-palette-error98: #fff8f7;
  --md-ref-palette-error99: #fffbff;
  --md-ref-palette-error100: #ffffff;
}