:where(.light-theme, .dark-theme) {
--md-source: #006400;
  /* primary */
  --md-ref-palette-primary0-rgb: 0, 0, 0;
  --md-ref-palette-primary5-rgb: 0, 21, 0;
  --md-ref-palette-primary10-rgb: 0, 34, 0;
  --md-ref-palette-primary20-rgb: 0, 58, 0;
  --md-ref-palette-primary25-rgb: 0, 70, 0;
  --md-ref-palette-primary30-rgb: 0, 83, 0;
  --md-ref-palette-primary35-rgb: 0, 97, 0;
  --md-ref-palette-primary40-rgb: 18, 110, 12;
  --md-ref-palette-primary50-rgb: 50, 136, 39;
  --md-ref-palette-primary60-rgb: 77, 163, 63;
  --md-ref-palette-primary70-rgb: 104, 191, 86;
  --md-ref-palette-primary80-rgb: 130, 219, 111;
  --md-ref-palette-primary90-rgb: 157, 248, 136;
  --md-ref-palette-primary95-rgb: 202, 255, 184;
  --md-ref-palette-primary98-rgb: 237, 255, 225;
  --md-ref-palette-primary99-rgb: 247, 255, 238;
  --md-ref-palette-primary100-rgb: 255, 255, 255;
  /* secondary */
  --md-ref-palette-secondary0-rgb: 0, 0, 0;
  --md-ref-palette-secondary5-rgb: 7, 20, 5;
  --md-ref-palette-secondary10-rgb: 18, 31, 14;
  --md-ref-palette-secondary20-rgb: 38, 52, 34;
  --md-ref-palette-secondary25-rgb: 49, 63, 44;
  --md-ref-palette-secondary30-rgb: 60, 75, 55;
  --md-ref-palette-secondary35-rgb: 72, 86, 66;
  --md-ref-palette-secondary40-rgb: 84, 99, 77;
  --md-ref-palette-secondary50-rgb: 108, 123, 101;
  --md-ref-palette-secondary60-rgb: 134, 149, 126;
  --md-ref-palette-secondary70-rgb: 160, 176, 151;
  --md-ref-palette-secondary80-rgb: 187, 203, 178;
  --md-ref-palette-secondary90-rgb: 215, 232, 205;
  --md-ref-palette-secondary95-rgb: 229, 246, 218;
  --md-ref-palette-secondary98-rgb: 238, 255, 227;
  --md-ref-palette-secondary99-rgb: 247, 255, 238;
  --md-ref-palette-secondary100-rgb: 255, 255, 255;
  /* tertiary */
  --md-ref-palette-tertiary0-rgb: 0, 0, 0;
  --md-ref-palette-tertiary5-rgb: 0, 20, 21;
  --md-ref-palette-tertiary10-rgb: 0, 32, 34;
  --md-ref-palette-tertiary20-rgb: 0, 55, 57;
  --md-ref-palette-tertiary25-rgb: 16, 66, 69;
  --md-ref-palette-tertiary30-rgb: 30, 77, 80;
  --md-ref-palette-tertiary35-rgb: 43, 89, 92;
  --md-ref-palette-tertiary40-rgb: 56, 101, 104;
  --md-ref-palette-tertiary50-rgb: 81, 127, 130;
  --md-ref-palette-tertiary60-rgb: 107, 152, 156;
  --md-ref-palette-tertiary70-rgb: 133, 179, 182;
  --md-ref-palette-tertiary80-rgb: 160, 207, 210;
  --md-ref-palette-tertiary90-rgb: 188, 235, 238;
  --md-ref-palette-tertiary95-rgb: 202, 249, 253;
  --md-ref-palette-tertiary98-rgb: 231, 254, 255;
  --md-ref-palette-tertiary99-rgb: 243, 255, 255;
  --md-ref-palette-tertiary100-rgb: 255, 255, 255;
  /* neutral */
  --md-ref-palette-neutral0-rgb: 0, 0, 0;
  --md-ref-palette-neutral5-rgb: 15, 18, 14;
  --md-ref-palette-neutral10-rgb: 26, 28, 24;
  --md-ref-palette-neutral20-rgb: 47, 49, 45;
  --md-ref-palette-neutral25-rgb: 58, 60, 56;
  --md-ref-palette-neutral30-rgb: 69, 71, 67;
  --md-ref-palette-neutral35-rgb: 81, 83, 78;
  --md-ref-palette-neutral40-rgb: 93, 95, 90;
  --md-ref-palette-neutral50-rgb: 118, 120, 114;
  --md-ref-palette-neutral60-rgb: 144, 145, 140;
  --md-ref-palette-neutral70-rgb: 171, 172, 166;
  --md-ref-palette-neutral80-rgb: 198, 199, 193;
  --md-ref-palette-neutral90-rgb: 226, 227, 220;
  --md-ref-palette-neutral95-rgb: 241, 241, 235;
  --md-ref-palette-neutral98-rgb: 249, 250, 243;
  --md-ref-palette-neutral99-rgb: 252, 253, 246;
  --md-ref-palette-neutral100-rgb: 255, 255, 255;
  /* neutralVariant */
  --md-ref-palette-neutral-variant0-rgb: 0, 0, 0;
  --md-ref-palette-neutral-variant5-rgb: 13, 18, 11;
  --md-ref-palette-neutral-variant10-rgb: 24, 29, 21;
  --md-ref-palette-neutral-variant20-rgb: 44, 50, 41;
  --md-ref-palette-neutral-variant25-rgb: 55, 61, 52;
  --md-ref-palette-neutral-variant30-rgb: 67, 72, 63;
  --md-ref-palette-neutral-variant35-rgb: 78, 84, 74;
  --md-ref-palette-neutral-variant40-rgb: 90, 96, 86;
  --md-ref-palette-neutral-variant50-rgb: 115, 121, 110;
  --md-ref-palette-neutral-variant60-rgb: 141, 147, 135;
  --md-ref-palette-neutral-variant70-rgb: 167, 173, 161;
  --md-ref-palette-neutral-variant80-rgb: 195, 200, 188;
  --md-ref-palette-neutral-variant90-rgb: 223, 228, 215;
  --md-ref-palette-neutral-variant95-rgb: 237, 243, 229;
  --md-ref-palette-neutral-variant98-rgb: 246, 251, 238;
  --md-ref-palette-neutral-variant99-rgb: 249, 254, 241;
  --md-ref-palette-neutral-variant100-rgb: 255, 255, 255;
  /* error */
  --md-ref-palette-error0-rgb: 0, 0, 0;
  --md-ref-palette-error5-rgb: 45, 0, 1;
  --md-ref-palette-error10-rgb: 65, 0, 2;
  --md-ref-palette-error20-rgb: 105, 0, 5;
  --md-ref-palette-error25-rgb: 126, 0, 7;
  --md-ref-palette-error30-rgb: 147, 0, 10;
  --md-ref-palette-error35-rgb: 168, 7, 16;
  --md-ref-palette-error40-rgb: 186, 26, 26;
  --md-ref-palette-error50-rgb: 222, 55, 48;
  --md-ref-palette-error60-rgb: 255, 84, 73;
  --md-ref-palette-error70-rgb: 255, 137, 125;
  --md-ref-palette-error80-rgb: 255, 180, 171;
  --md-ref-palette-error90-rgb: 255, 218, 214;
  --md-ref-palette-error95-rgb: 255, 237, 234;
  --md-ref-palette-error98-rgb: 255, 248, 247;
  --md-ref-palette-error99-rgb: 255, 251, 255;
  --md-ref-palette-error100-rgb: 255, 255, 255;
}