body, .tokens {
--md-source: #FF8C00;
  /* light */
  --md-sys-color-primary-rgb-light: 144, 77, 0;
  --md-sys-color-on-primary-rgb-light: 255, 255, 255;
  --md-sys-color-primary-container-rgb-light: 255, 220, 195;
  --md-sys-color-on-primary-container-rgb-light: 47, 21, 0;
  --md-sys-color-secondary-rgb-light: 116, 89, 68;
  --md-sys-color-on-secondary-rgb-light: 255, 255, 255;
  --md-sys-color-secondary-container-rgb-light: 255, 220, 195;
  --md-sys-color-on-secondary-container-rgb-light: 42, 23, 7;
  --md-sys-color-tertiary-rgb-light: 92, 98, 55;
  --md-sys-color-on-tertiary-rgb-light: 255, 255, 255;
  --md-sys-color-tertiary-container-rgb-light: 225, 231, 176;
  --md-sys-color-on-tertiary-container-rgb-light: 25, 30, 0;
  --md-sys-color-error-rgb-light: 186, 26, 26;
  --md-sys-color-on-error-rgb-light: 255, 255, 255;
  --md-sys-color-error-container-rgb-light: 255, 218, 214;
  --md-sys-color-on-error-container-rgb-light: 65, 0, 2;
  --md-sys-color-background-rgb-light: 255, 251, 255;
  --md-sys-color-on-background-rgb-light: 32, 27, 23;
  --md-sys-color-surface-rgb-light: 255, 251, 255;
  --md-sys-color-on-surface-rgb-light: 32, 27, 23;
  --md-sys-color-surface-variant-rgb-light: 243, 223, 210;
  --md-sys-color-on-surface-variant-rgb-light: 81, 68, 59;
  --md-sys-color-outline-rgb-light: 132, 116, 105;
  --md-sys-color-shadow-rgb-light: 0, 0, 0;
  --md-sys-color-inverse-surface-rgb-light: 53, 47, 43;
  --md-sys-color-inverse-on-surface-rgb-light: 250, 238, 232;
  --md-sys-color-inverse-primary-rgb-light: 255, 183, 125;
  /* dark */
  --md-sys-color-primary-rgb-dark: 255, 183, 125;
  --md-sys-color-on-primary-rgb-dark: 77, 38, 0;
  --md-sys-color-primary-container-rgb-dark: 110, 57, 0;
  --md-sys-color-on-primary-container-rgb-dark: 255, 220, 195;
  --md-sys-color-secondary-rgb-dark: 227, 192, 166;
  --md-sys-color-on-secondary-rgb-dark: 66, 44, 26;
  --md-sys-color-secondary-container-rgb-dark: 90, 66, 46;
  --md-sys-color-on-secondary-container-rgb-dark: 255, 220, 195;
  --md-sys-color-tertiary-rgb-dark: 197, 203, 150;
  --md-sys-color-on-tertiary-rgb-dark: 46, 51, 13;
  --md-sys-color-tertiary-container-rgb-dark: 69, 74, 33;
  --md-sys-color-on-tertiary-container-rgb-dark: 225, 231, 176;
  --md-sys-color-error-rgb-dark: 255, 180, 171;
  --md-sys-color-on-error-rgb-dark: 105, 0, 5;
  --md-sys-color-error-container-rgb-dark: 147, 0, 10;
  --md-sys-color-on-error-container-rgb-dark: 255, 180, 171;
  --md-sys-color-background-rgb-dark: 32, 27, 23;
  --md-sys-color-on-background-rgb-dark: 236, 224, 218;
  --md-sys-color-surface-rgb-dark: 32, 27, 23;
  --md-sys-color-on-surface-rgb-dark: 236, 224, 218;
  --md-sys-color-surface-variant-rgb-dark: 81, 68, 59;
  --md-sys-color-on-surface-variant-rgb-dark: 214, 195, 182;
  --md-sys-color-outline-rgb-dark: 158, 142, 130;
  --md-sys-color-shadow-rgb-dark: 0, 0, 0;
  --md-sys-color-inverse-surface-rgb-dark: 236, 224, 218;
  --md-sys-color-inverse-on-surface-rgb-dark: 53, 47, 43;
  --md-sys-color-inverse-primary-rgb-dark: 144, 77, 0;
  /* primary */
  --md-ref-palette-primary0-rgb: 0, 0, 0;
  --md-ref-palette-primary5-rgb: 31, 12, 0;
  --md-ref-palette-primary10-rgb: 47, 21, 0;
  --md-ref-palette-primary20-rgb: 77, 38, 0;
  --md-ref-palette-primary25-rgb: 93, 48, 0;
  --md-ref-palette-primary30-rgb: 110, 57, 0;
  --md-ref-palette-primary35-rgb: 127, 67, 0;
  --md-ref-palette-primary40-rgb: 144, 77, 0;
  --md-ref-palette-primary50-rgb: 181, 98, 0;
  --md-ref-palette-primary60-rgb: 218, 119, 0;
  --md-ref-palette-primary70-rgb: 255, 142, 19;
  --md-ref-palette-primary80-rgb: 255, 183, 125;
  --md-ref-palette-primary90-rgb: 255, 220, 195;
  --md-ref-palette-primary95-rgb: 255, 237, 227;
  --md-ref-palette-primary98-rgb: 255, 248, 245;
  --md-ref-palette-primary99-rgb: 255, 251, 255;
  --md-ref-palette-primary100-rgb: 255, 255, 255;
  /* secondary */
  --md-ref-palette-secondary0-rgb: 0, 0, 0;
  --md-ref-palette-secondary5-rgb: 30, 13, 1;
  --md-ref-palette-secondary10-rgb: 42, 23, 7;
  --md-ref-palette-secondary20-rgb: 66, 44, 26;
  --md-ref-palette-secondary25-rgb: 78, 54, 36;
  --md-ref-palette-secondary30-rgb: 90, 66, 46;
  --md-ref-palette-secondary35-rgb: 103, 77, 57;
  --md-ref-palette-secondary40-rgb: 116, 89, 68;
  --md-ref-palette-secondary50-rgb: 143, 113, 91;
  --md-ref-palette-secondary60-rgb: 170, 139, 115;
  --md-ref-palette-secondary70-rgb: 198, 165, 140;
  --md-ref-palette-secondary80-rgb: 227, 192, 166;
  --md-ref-palette-secondary90-rgb: 255, 220, 195;
  --md-ref-palette-secondary95-rgb: 255, 237, 227;
  --md-ref-palette-secondary98-rgb: 255, 248, 245;
  --md-ref-palette-secondary99-rgb: 255, 251, 255;
  --md-ref-palette-secondary100-rgb: 255, 255, 255;
  /* tertiary */
  --md-ref-palette-tertiary0-rgb: 0, 0, 0;
  --md-ref-palette-tertiary5-rgb: 15, 19, 0;
  --md-ref-palette-tertiary10-rgb: 25, 30, 0;
  --md-ref-palette-tertiary20-rgb: 46, 51, 13;
  --md-ref-palette-tertiary25-rgb: 57, 62, 23;
  --md-ref-palette-tertiary30-rgb: 69, 74, 33;
  --md-ref-palette-tertiary35-rgb: 80, 86, 44;
  --md-ref-palette-tertiary40-rgb: 92, 98, 55;
  --md-ref-palette-tertiary50-rgb: 117, 123, 77;
  --md-ref-palette-tertiary60-rgb: 143, 149, 100;
  --md-ref-palette-tertiary70-rgb: 169, 175, 125;
  --md-ref-palette-tertiary80-rgb: 197, 203, 150;
  --md-ref-palette-tertiary90-rgb: 225, 231, 176;
  --md-ref-palette-tertiary95-rgb: 239, 245, 190;
  --md-ref-palette-tertiary98-rgb: 248, 254, 198;
  --md-ref-palette-tertiary99-rgb: 253, 255, 219;
  --md-ref-palette-tertiary100-rgb: 255, 255, 255;
  /* neutral */
  --md-ref-palette-neutral0-rgb: 0, 0, 0;
  --md-ref-palette-neutral5-rgb: 21, 16, 12;
  --md-ref-palette-neutral10-rgb: 32, 27, 23;
  --md-ref-palette-neutral20-rgb: 53, 47, 43;
  --md-ref-palette-neutral25-rgb: 65, 58, 54;
  --md-ref-palette-neutral30-rgb: 76, 69, 65;
  --md-ref-palette-neutral35-rgb: 88, 81, 76;
  --md-ref-palette-neutral40-rgb: 101, 93, 88;
  --md-ref-palette-neutral50-rgb: 126, 117, 112;
  --md-ref-palette-neutral60-rgb: 152, 143, 137;
  --md-ref-palette-neutral70-rgb: 179, 169, 163;
  --md-ref-palette-neutral80-rgb: 207, 196, 190;
  --md-ref-palette-neutral90-rgb: 236, 224, 218;
  --md-ref-palette-neutral95-rgb: 250, 238, 232;
  --md-ref-palette-neutral98-rgb: 255, 248, 245;
  --md-ref-palette-neutral99-rgb: 255, 251, 255;
  --md-ref-palette-neutral100-rgb: 255, 255, 255;
  /* neutralVariant */
  --md-ref-palette-neutral-variant0-rgb: 0, 0, 0;
  --md-ref-palette-neutral-variant5-rgb: 24, 15, 8;
  --md-ref-palette-neutral-variant10-rgb: 36, 25, 18;
  --md-ref-palette-neutral-variant20-rgb: 58, 46, 37;
  --md-ref-palette-neutral-variant25-rgb: 69, 57, 48;
  --md-ref-palette-neutral-variant30-rgb: 81, 68, 59;
  --md-ref-palette-neutral-variant35-rgb: 94, 80, 70;
  --md-ref-palette-neutral-variant40-rgb: 106, 92, 81;
  --md-ref-palette-neutral-variant50-rgb: 132, 116, 105;
  --md-ref-palette-neutral-variant60-rgb: 158, 142, 130;
  --md-ref-palette-neutral-variant70-rgb: 186, 168, 156;
  --md-ref-palette-neutral-variant80-rgb: 214, 195, 182;
  --md-ref-palette-neutral-variant90-rgb: 243, 223, 210;
  --md-ref-palette-neutral-variant95-rgb: 255, 237, 227;
  --md-ref-palette-neutral-variant98-rgb: 255, 248, 245;
  --md-ref-palette-neutral-variant99-rgb: 255, 251, 255;
  --md-ref-palette-neutral-variant100-rgb: 255, 255, 255;
  /* error */
  --md-ref-palette-error0-rgb: 0, 0, 0;
  --md-ref-palette-error5-rgb: 45, 0, 1;
  --md-ref-palette-error10-rgb: 65, 0, 2;
  --md-ref-palette-error20-rgb: 105, 0, 5;
  --md-ref-palette-error25-rgb: 126, 0, 7;
  --md-ref-palette-error30-rgb: 147, 0, 10;
  --md-ref-palette-error35-rgb: 168, 7, 16;
  --md-ref-palette-error40-rgb: 186, 26, 26;
  --md-ref-palette-error50-rgb: 222, 55, 48;
  --md-ref-palette-error60-rgb: 255, 84, 73;
  --md-ref-palette-error70-rgb: 255, 137, 125;
  --md-ref-palette-error80-rgb: 255, 180, 171;
  --md-ref-palette-error90-rgb: 255, 218, 214;
  --md-ref-palette-error95-rgb: 255, 237, 234;
  --md-ref-palette-error98-rgb: 255, 248, 247;
  --md-ref-palette-error99-rgb: 255, 251, 255;
  --md-ref-palette-error100-rgb: 255, 255, 255;
}