:root, .tokens {
--md-source: #00CED1;
  /* light */
  --md-sys-color-primary-rgb-light: 0, 105, 107;
  --md-sys-color-on-primary-rgb-light: 255, 255, 255;
  --md-sys-color-primary-container-rgb-light: 90, 248, 251;
  --md-sys-color-on-primary-container-rgb-light: 0, 32, 32;
  --md-sys-color-secondary-rgb-light: 74, 99, 99;
  --md-sys-color-on-secondary-rgb-light: 255, 255, 255;
  --md-sys-color-secondary-container-rgb-light: 204, 232, 232;
  --md-sys-color-on-secondary-container-rgb-light: 4, 31, 32;
  --md-sys-color-tertiary-rgb-light: 76, 95, 124;
  --md-sys-color-on-tertiary-rgb-light: 255, 255, 255;
  --md-sys-color-tertiary-container-rgb-light: 212, 227, 255;
  --md-sys-color-on-tertiary-container-rgb-light: 5, 28, 53;
  --md-sys-color-error-rgb-light: 186, 26, 26;
  --md-sys-color-on-error-rgb-light: 255, 255, 255;
  --md-sys-color-error-container-rgb-light: 255, 218, 214;
  --md-sys-color-on-error-container-rgb-light: 65, 0, 2;
  --md-sys-color-background-rgb-light: 250, 253, 252;
  --md-sys-color-on-background-rgb-light: 25, 28, 28;
  --md-sys-color-surface-rgb-light: 250, 253, 252;
  --md-sys-color-on-surface-rgb-light: 25, 28, 28;
  --md-sys-color-surface-variant-rgb-light: 218, 228, 228;
  --md-sys-color-on-surface-variant-rgb-light: 63, 73, 73;
  --md-sys-color-outline-rgb-light: 111, 121, 121;
  --md-sys-color-shadow-rgb-light: 0, 0, 0;
  --md-sys-color-inverse-surface-rgb-light: 45, 49, 49;
  --md-sys-color-inverse-on-surface-rgb-light: 239, 241, 240;
  --md-sys-color-inverse-primary-rgb-light: 45, 219, 222;
  /* dark */
  --md-sys-color-primary-rgb-dark: 45, 219, 222;
  --md-sys-color-on-primary-rgb-dark: 0, 55, 56;
  --md-sys-color-primary-container-rgb-dark: 0, 79, 81;
  --md-sys-color-on-primary-container-rgb-dark: 90, 248, 251;
  --md-sys-color-secondary-rgb-dark: 176, 204, 204;
  --md-sys-color-on-secondary-rgb-dark: 27, 52, 53;
  --md-sys-color-secondary-container-rgb-dark: 50, 75, 75;
  --md-sys-color-on-secondary-container-rgb-dark: 204, 232, 232;
  --md-sys-color-tertiary-rgb-dark: 180, 200, 233;
  --md-sys-color-on-tertiary-rgb-dark: 29, 49, 76;
  --md-sys-color-tertiary-container-rgb-dark: 52, 72, 99;
  --md-sys-color-on-tertiary-container-rgb-dark: 212, 227, 255;
  --md-sys-color-error-rgb-dark: 255, 180, 171;
  --md-sys-color-on-error-rgb-dark: 105, 0, 5;
  --md-sys-color-error-container-rgb-dark: 147, 0, 10;
  --md-sys-color-on-error-container-rgb-dark: 255, 180, 171;
  --md-sys-color-background-rgb-dark: 25, 28, 28;
  --md-sys-color-on-background-rgb-dark: 224, 227, 226;
  --md-sys-color-surface-rgb-dark: 25, 28, 28;
  --md-sys-color-on-surface-rgb-dark: 224, 227, 226;
  --md-sys-color-surface-variant-rgb-dark: 63, 73, 73;
  --md-sys-color-on-surface-variant-rgb-dark: 190, 200, 200;
  --md-sys-color-outline-rgb-dark: 137, 147, 146;
  --md-sys-color-shadow-rgb-dark: 0, 0, 0;
  --md-sys-color-inverse-surface-rgb-dark: 224, 227, 226;
  --md-sys-color-inverse-on-surface-rgb-dark: 45, 49, 49;
  --md-sys-color-inverse-primary-rgb-dark: 0, 105, 107;
  /* primary */
  --md-ref-palette-primary0: #000000;
  --md-ref-palette-primary5: #001414;
  --md-ref-palette-primary10: #002020;
  --md-ref-palette-primary20: #003738;
  --md-ref-palette-primary25: #004344;
  --md-ref-palette-primary30: #004f51;
  --md-ref-palette-primary35: #005c5e;
  --md-ref-palette-primary40: #00696b;
  --md-ref-palette-primary50: #008587;
  --md-ref-palette-primary60: #00a1a3;
  --md-ref-palette-primary70: #00bec1;
  --md-ref-palette-primary80: #2ddbde;
  --md-ref-palette-primary90: #5af8fb;
  --md-ref-palette-primary95: #b2feff;
  --md-ref-palette-primary98: #e2ffff;
  --md-ref-palette-primary99: #f1ffff;
  --md-ref-palette-primary100: #ffffff;
  /* secondary */
  --md-ref-palette-secondary0: #000000;
  --md-ref-palette-secondary5: #001414;
  --md-ref-palette-secondary10: #041f20;
  --md-ref-palette-secondary20: #1b3435;
  --md-ref-palette-secondary25: #274040;
  --md-ref-palette-secondary30: #324b4b;
  --md-ref-palette-secondary35: #3e5757;
  --md-ref-palette-secondary40: #4a6363;
  --md-ref-palette-secondary50: #627c7c;
  --md-ref-palette-secondary60: #7b9696;
  --md-ref-palette-secondary70: #95b0b0;
  --md-ref-palette-secondary80: #b0cccc;
  --md-ref-palette-secondary90: #cce8e8;
  --md-ref-palette-secondary95: #daf6f6;
  --md-ref-palette-secondary98: #e3ffff;
  --md-ref-palette-secondary99: #f1ffff;
  --md-ref-palette-secondary100: #ffffff;
  /* tertiary */
  --md-ref-palette-tertiary0: #000000;
  --md-ref-palette-tertiary5: #001127;
  --md-ref-palette-tertiary10: #051c35;
  --md-ref-palette-tertiary20: #1d314c;
  --md-ref-palette-tertiary25: #293c57;
  --md-ref-palette-tertiary30: #344863;
  --md-ref-palette-tertiary35: #405370;
  --md-ref-palette-tertiary40: #4c5f7c;
  --md-ref-palette-tertiary50: #657896;
  --md-ref-palette-tertiary60: #7e92b1;
  --md-ref-palette-tertiary70: #99accc;
  --md-ref-palette-tertiary80: #b4c8e9;
  --md-ref-palette-tertiary90: #d4e3ff;
  --md-ref-palette-tertiary95: #ebf1ff;
  --md-ref-palette-tertiary98: #f9f9ff;
  --md-ref-palette-tertiary99: #fdfcff;
  --md-ref-palette-tertiary100: #ffffff;
  /* neutral */
  --md-ref-palette-neutral0: #000000;
  --md-ref-palette-neutral5: #0e1212;
  --md-ref-palette-neutral10: #191c1c;
  --md-ref-palette-neutral20: #2d3131;
  --md-ref-palette-neutral25: #383c3c;
  --md-ref-palette-neutral30: #444747;
  --md-ref-palette-neutral35: #505353;
  --md-ref-palette-neutral40: #5b5f5f;
  --md-ref-palette-neutral50: #747877;
  --md-ref-palette-neutral60: #8e9191;
  --md-ref-palette-neutral70: #a9acab;
  --md-ref-palette-neutral80: #c4c7c6;
  --md-ref-palette-neutral90: #e0e3e2;
  --md-ref-palette-neutral95: #eff1f0;
  --md-ref-palette-neutral98: #f7faf9;
  --md-ref-palette-neutral99: #fafdfc;
  --md-ref-palette-neutral100: #ffffff;
  /* neutralVariant */
  --md-ref-palette-neutralVariant0: #000000;
  --md-ref-palette-neutralVariant5: #091313;
  --md-ref-palette-neutralVariant10: #141d1d;
  --md-ref-palette-neutralVariant20: #293232;
  --md-ref-palette-neutralVariant25: #343d3d;
  --md-ref-palette-neutralVariant30: #3f4949;
  --md-ref-palette-neutralVariant35: #4a5454;
  --md-ref-palette-neutralVariant40: #566060;
  --md-ref-palette-neutralVariant50: #6f7979;
  --md-ref-palette-neutralVariant60: #899392;
  --md-ref-palette-neutralVariant70: #a3adad;
  --md-ref-palette-neutralVariant80: #bec8c8;
  --md-ref-palette-neutralVariant90: #dae4e4;
  --md-ref-palette-neutralVariant95: #e9f3f2;
  --md-ref-palette-neutralVariant98: #f1fbfb;
  --md-ref-palette-neutralVariant99: #f4fefe;
  --md-ref-palette-neutralVariant100: #ffffff;
  /* error */
  --md-ref-palette-error0: #000000;
  --md-ref-palette-error5: #2d0001;
  --md-ref-palette-error10: #410002;
  --md-ref-palette-error20: #690005;
  --md-ref-palette-error25: #7e0007;
  --md-ref-palette-error30: #93000a;
  --md-ref-palette-error35: #a80710;
  --md-ref-palette-error40: #ba1a1a;
  --md-ref-palette-error50: #de3730;
  --md-ref-palette-error60: #ff5449;
  --md-ref-palette-error70: #ff897d;
  --md-ref-palette-error80: #ffb4ab;
  --md-ref-palette-error90: #ffdad6;
  --md-ref-palette-error95: #ffedea;
  --md-ref-palette-error98: #fff8f7;
  --md-ref-palette-error99: #fffbff;
  --md-ref-palette-error100: #ffffff;
}