body, .tokens {
--md-source: #8FBC8F;
  /* light */
  --md-sys-color-primary-rgb-light: 29, 108, 48;
  --md-sys-color-on-primary-rgb-light: 255, 255, 255;
  --md-sys-color-primary-container-rgb-light: 164, 245, 169;
  --md-sys-color-on-primary-container-rgb-light: 0, 33, 7;
  --md-sys-color-secondary-rgb-light: 81, 99, 80;
  --md-sys-color-on-secondary-rgb-light: 255, 255, 255;
  --md-sys-color-secondary-container-rgb-light: 212, 232, 208;
  --md-sys-color-on-secondary-container-rgb-light: 15, 31, 17;
  --md-sys-color-tertiary-rgb-light: 57, 101, 108;
  --md-sys-color-on-tertiary-rgb-light: 255, 255, 255;
  --md-sys-color-tertiary-container-rgb-light: 188, 234, 242;
  --md-sys-color-on-tertiary-container-rgb-light: 0, 31, 36;
  --md-sys-color-error-rgb-light: 186, 26, 26;
  --md-sys-color-on-error-rgb-light: 255, 255, 255;
  --md-sys-color-error-container-rgb-light: 255, 218, 214;
  --md-sys-color-on-error-container-rgb-light: 65, 0, 2;
  --md-sys-color-background-rgb-light: 252, 253, 247;
  --md-sys-color-on-background-rgb-light: 26, 28, 25;
  --md-sys-color-surface-rgb-light: 252, 253, 247;
  --md-sys-color-on-surface-rgb-light: 26, 28, 25;
  --md-sys-color-surface-variant-rgb-light: 222, 229, 217;
  --md-sys-color-on-surface-variant-rgb-light: 66, 73, 64;
  --md-sys-color-outline-rgb-light: 114, 121, 112;
  --md-sys-color-shadow-rgb-light: 0, 0, 0;
  --md-sys-color-inverse-surface-rgb-light: 47, 49, 45;
  --md-sys-color-inverse-on-surface-rgb-light: 240, 241, 235;
  --md-sys-color-inverse-primary-rgb-light: 137, 216, 143;
  /* dark */
  --md-sys-color-primary-rgb-dark: 137, 216, 143;
  --md-sys-color-on-primary-rgb-dark: 0, 57, 18;
  --md-sys-color-primary-container-rgb-dark: 0, 83, 29;
  --md-sys-color-on-primary-container-rgb-dark: 164, 245, 169;
  --md-sys-color-secondary-rgb-dark: 184, 204, 181;
  --md-sys-color-on-secondary-rgb-dark: 36, 52, 36;
  --md-sys-color-secondary-container-rgb-dark: 58, 75, 58;
  --md-sys-color-on-secondary-container-rgb-dark: 212, 232, 208;
  --md-sys-color-tertiary-rgb-dark: 161, 206, 214;
  --md-sys-color-on-tertiary-rgb-dark: 0, 54, 61;
  --md-sys-color-tertiary-container-rgb-dark: 31, 77, 84;
  --md-sys-color-on-tertiary-container-rgb-dark: 188, 234, 242;
  --md-sys-color-error-rgb-dark: 255, 180, 171;
  --md-sys-color-on-error-rgb-dark: 105, 0, 5;
  --md-sys-color-error-container-rgb-dark: 147, 0, 10;
  --md-sys-color-on-error-container-rgb-dark: 255, 180, 171;
  --md-sys-color-background-rgb-dark: 26, 28, 25;
  --md-sys-color-on-background-rgb-dark: 226, 227, 221;
  --md-sys-color-surface-rgb-dark: 26, 28, 25;
  --md-sys-color-on-surface-rgb-dark: 226, 227, 221;
  --md-sys-color-surface-variant-rgb-dark: 66, 73, 64;
  --md-sys-color-on-surface-variant-rgb-dark: 193, 201, 190;
  --md-sys-color-outline-rgb-dark: 140, 147, 137;
  --md-sys-color-shadow-rgb-dark: 0, 0, 0;
  --md-sys-color-inverse-surface-rgb-dark: 226, 227, 221;
  --md-sys-color-inverse-on-surface-rgb-dark: 47, 49, 45;
  --md-sys-color-inverse-primary-rgb-dark: 29, 108, 48;
  /* primary */
  --md-ref-palette-primary0: #000000;
  --md-ref-palette-primary5: #001504;
  --md-ref-palette-primary10: #002107;
  --md-ref-palette-primary20: #003912;
  --md-ref-palette-primary25: #004617;
  --md-ref-palette-primary30: #00531d;
  --md-ref-palette-primary35: #096025;
  --md-ref-palette-primary40: #1d6c30;
  --md-ref-palette-primary50: #3a8646;
  --md-ref-palette-primary60: #54a15e;
  --md-ref-palette-primary70: #6ebc76;
  --md-ref-palette-primary80: #89d88f;
  --md-ref-palette-primary90: #a4f5a9;
  --md-ref-palette-primary95: #c6ffc6;
  --md-ref-palette-primary98: #ebffe7;
  --md-ref-palette-primary99: #f6fff1;
  --md-ref-palette-primary100: #ffffff;
  /* secondary */
  --md-ref-palette-secondary0: #000000;
  --md-ref-palette-secondary5: #051407;
  --md-ref-palette-secondary10: #0f1f11;
  --md-ref-palette-secondary20: #243424;
  --md-ref-palette-secondary25: #2f402f;
  --md-ref-palette-secondary30: #3a4b3a;
  --md-ref-palette-secondary35: #465745;
  --md-ref-palette-secondary40: #516350;
  --md-ref-palette-secondary50: #6a7c68;
  --md-ref-palette-secondary60: #839681;
  --md-ref-palette-secondary70: #9db09b;
  --md-ref-palette-secondary80: #b8ccb5;
  --md-ref-palette-secondary90: #d4e8d0;
  --md-ref-palette-secondary95: #e2f6de;
  --md-ref-palette-secondary98: #ebffe7;
  --md-ref-palette-secondary99: #f6fff1;
  --md-ref-palette-secondary100: #ffffff;
  /* tertiary */
  --md-ref-palette-tertiary0: #000000;
  --md-ref-palette-tertiary5: #001417;
  --md-ref-palette-tertiary10: #001f24;
  --md-ref-palette-tertiary20: #00363d;
  --md-ref-palette-tertiary25: #114148;
  --md-ref-palette-tertiary30: #1f4d54;
  --md-ref-palette-tertiary35: #2c5960;
  --md-ref-palette-tertiary40: #39656c;
  --md-ref-palette-tertiary50: #527e85;
  --md-ref-palette-tertiary60: #6c989f;
  --md-ref-palette-tertiary70: #86b3ba;
  --md-ref-palette-tertiary80: #a1ced6;
  --md-ref-palette-tertiary90: #bceaf2;
  --md-ref-palette-tertiary95: #cff8ff;
  --md-ref-palette-tertiary98: #edfcff;
  --md-ref-palette-tertiary99: #f6feff;
  --md-ref-palette-tertiary100: #ffffff;
  /* neutral */
  --md-ref-palette-neutral0: #000000;
  --md-ref-palette-neutral5: #0f120f;
  --md-ref-palette-neutral10: #1a1c19;
  --md-ref-palette-neutral20: #2f312d;
  --md-ref-palette-neutral25: #3a3c38;
  --md-ref-palette-neutral30: #454743;
  --md-ref-palette-neutral35: #51534f;
  --md-ref-palette-neutral40: #5d5f5b;
  --md-ref-palette-neutral50: #767873;
  --md-ref-palette-neutral60: #8f918c;
  --md-ref-palette-neutral70: #aaaca7;
  --md-ref-palette-neutral80: #c6c7c2;
  --md-ref-palette-neutral90: #e2e3dd;
  --md-ref-palette-neutral95: #f0f1eb;
  --md-ref-palette-neutral98: #f9faf4;
  --md-ref-palette-neutral99: #fcfdf7;
  --md-ref-palette-neutral100: #ffffff;
  /* neutralVariant */
  --md-ref-palette-neutral-variant0: #000000;
  --md-ref-palette-neutral-variant5: #0c120c;
  --md-ref-palette-neutral-variant10: #171d16;
  --md-ref-palette-neutral-variant20: #2b322a;
  --md-ref-palette-neutral-variant25: #363d35;
  --md-ref-palette-neutral-variant30: #424940;
  --md-ref-palette-neutral-variant35: #4d544c;
  --md-ref-palette-neutral-variant40: #596057;
  --md-ref-palette-neutral-variant50: #727970;
  --md-ref-palette-neutral-variant60: #8c9389;
  --md-ref-palette-neutral-variant70: #a6ada3;
  --md-ref-palette-neutral-variant80: #c1c9be;
  --md-ref-palette-neutral-variant90: #dee5d9;
  --md-ref-palette-neutral-variant95: #ecf3e7;
  --md-ref-palette-neutral-variant98: #f5fcf0;
  --md-ref-palette-neutral-variant99: #f7fef2;
  --md-ref-palette-neutral-variant100: #ffffff;
  /* error */
  --md-ref-palette-error0: #000000;
  --md-ref-palette-error5: #2d0001;
  --md-ref-palette-error10: #410002;
  --md-ref-palette-error20: #690005;
  --md-ref-palette-error25: #7e0007;
  --md-ref-palette-error30: #93000a;
  --md-ref-palette-error35: #a80710;
  --md-ref-palette-error40: #ba1a1a;
  --md-ref-palette-error50: #de3730;
  --md-ref-palette-error60: #ff5449;
  --md-ref-palette-error70: #ff897d;
  --md-ref-palette-error80: #ffb4ab;
  --md-ref-palette-error90: #ffdad6;
  --md-ref-palette-error95: #ffedea;
  --md-ref-palette-error98: #fff8f7;
  --md-ref-palette-error99: #fffbff;
  --md-ref-palette-error100: #ffffff;
}