body, .tokens {
--md-source: #FF1493;
  /* light */
  --md-sys-color-primary-rgb-light: 185, 0, 104;
  --md-sys-color-on-primary-rgb-light: 255, 255, 255;
  --md-sys-color-primary-container-rgb-light: 255, 217, 227;
  --md-sys-color-on-primary-container-rgb-light: 62, 0, 31;
  --md-sys-color-secondary-rgb-light: 116, 86, 95;
  --md-sys-color-on-secondary-rgb-light: 255, 255, 255;
  --md-sys-color-secondary-container-rgb-light: 255, 217, 227;
  --md-sys-color-on-secondary-container-rgb-light: 43, 21, 29;
  --md-sys-color-tertiary-rgb-light: 125, 86, 54;
  --md-sys-color-on-tertiary-rgb-light: 255, 255, 255;
  --md-sys-color-tertiary-container-rgb-light: 255, 220, 195;
  --md-sys-color-on-tertiary-container-rgb-light: 47, 21, 0;
  --md-sys-color-error-rgb-light: 186, 26, 26;
  --md-sys-color-on-error-rgb-light: 255, 255, 255;
  --md-sys-color-error-container-rgb-light: 255, 218, 214;
  --md-sys-color-on-error-container-rgb-light: 65, 0, 2;
  --md-sys-color-background-rgb-light: 255, 251, 255;
  --md-sys-color-on-background-rgb-light: 32, 26, 28;
  --md-sys-color-surface-rgb-light: 255, 251, 255;
  --md-sys-color-on-surface-rgb-light: 32, 26, 28;
  --md-sys-color-surface-variant-rgb-light: 242, 221, 226;
  --md-sys-color-on-surface-variant-rgb-light: 81, 67, 71;
  --md-sys-color-outline-rgb-light: 131, 115, 119;
  --md-sys-color-shadow-rgb-light: 0, 0, 0;
  --md-sys-color-inverse-surface-rgb-light: 53, 47, 48;
  --md-sys-color-inverse-on-surface-rgb-light: 250, 238, 240;
  --md-sys-color-inverse-primary-rgb-light: 255, 176, 202;
  /* dark */
  --md-sys-color-primary-rgb-dark: 255, 176, 202;
  --md-sys-color-on-primary-rgb-dark: 100, 0, 54;
  --md-sys-color-primary-container-rgb-dark: 141, 0, 78;
  --md-sys-color-on-primary-container-rgb-dark: 255, 217, 227;
  --md-sys-color-secondary-rgb-dark: 226, 189, 199;
  --md-sys-color-on-secondary-rgb-dark: 66, 41, 50;
  --md-sys-color-secondary-container-rgb-dark: 90, 63, 72;
  --md-sys-color-on-secondary-container-rgb-dark: 255, 217, 227;
  --md-sys-color-tertiary-rgb-dark: 240, 188, 149;
  --md-sys-color-on-tertiary-rgb-dark: 72, 41, 12;
  --md-sys-color-tertiary-container-rgb-dark: 98, 63, 33;
  --md-sys-color-on-tertiary-container-rgb-dark: 255, 220, 195;
  --md-sys-color-error-rgb-dark: 255, 180, 171;
  --md-sys-color-on-error-rgb-dark: 105, 0, 5;
  --md-sys-color-error-container-rgb-dark: 147, 0, 10;
  --md-sys-color-on-error-container-rgb-dark: 255, 180, 171;
  --md-sys-color-background-rgb-dark: 32, 26, 28;
  --md-sys-color-on-background-rgb-dark: 235, 224, 225;
  --md-sys-color-surface-rgb-dark: 32, 26, 28;
  --md-sys-color-on-surface-rgb-dark: 235, 224, 225;
  --md-sys-color-surface-variant-rgb-dark: 81, 67, 71;
  --md-sys-color-on-surface-variant-rgb-dark: 213, 194, 198;
  --md-sys-color-outline-rgb-dark: 158, 140, 145;
  --md-sys-color-shadow-rgb-dark: 0, 0, 0;
  --md-sys-color-inverse-surface-rgb-dark: 235, 224, 225;
  --md-sys-color-inverse-on-surface-rgb-dark: 53, 47, 48;
  --md-sys-color-inverse-primary-rgb-dark: 185, 0, 104;
  /* primary */
  --md-ref-palette-primary0-rgb: 0, 0, 0;
  --md-ref-palette-primary5-rgb: 43, 0, 20;
  --md-ref-palette-primary10-rgb: 62, 0, 31;
  --md-ref-palette-primary20-rgb: 100, 0, 54;
  --md-ref-palette-primary25-rgb: 120, 0, 66;
  --md-ref-palette-primary30-rgb: 141, 0, 78;
  --md-ref-palette-primary35-rgb: 163, 0, 91;
  --md-ref-palette-primary40-rgb: 185, 0, 104;
  --md-ref-palette-primary50-rgb: 230, 0, 131;
  --md-ref-palette-primary60-rgb: 255, 71, 156;
  --md-ref-palette-primary70-rgb: 255, 131, 179;
  --md-ref-palette-primary80-rgb: 255, 176, 202;
  --md-ref-palette-primary90-rgb: 255, 217, 227;
  --md-ref-palette-primary95-rgb: 255, 236, 240;
  --md-ref-palette-primary98-rgb: 255, 248, 248;
  --md-ref-palette-primary99-rgb: 255, 251, 255;
  --md-ref-palette-primary100-rgb: 255, 255, 255;
  /* secondary */
  --md-ref-palette-secondary0-rgb: 0, 0, 0;
  --md-ref-palette-secondary5-rgb: 30, 11, 18;
  --md-ref-palette-secondary10-rgb: 43, 21, 29;
  --md-ref-palette-secondary20-rgb: 66, 41, 50;
  --md-ref-palette-secondary25-rgb: 78, 52, 61;
  --md-ref-palette-secondary30-rgb: 90, 63, 72;
  --md-ref-palette-secondary35-rgb: 103, 75, 84;
  --md-ref-palette-secondary40-rgb: 116, 86, 95;
  --md-ref-palette-secondary50-rgb: 142, 111, 120;
  --md-ref-palette-secondary60-rgb: 169, 136, 146;
  --md-ref-palette-secondary70-rgb: 197, 162, 172;
  --md-ref-palette-secondary80-rgb: 226, 189, 199;
  --md-ref-palette-secondary90-rgb: 255, 217, 227;
  --md-ref-palette-secondary95-rgb: 255, 236, 240;
  --md-ref-palette-secondary98-rgb: 255, 248, 248;
  --md-ref-palette-secondary99-rgb: 255, 251, 255;
  --md-ref-palette-secondary100-rgb: 255, 255, 255;
  /* tertiary */
  --md-ref-palette-tertiary0-rgb: 0, 0, 0;
  --md-ref-palette-tertiary5-rgb: 31, 12, 0;
  --md-ref-palette-tertiary10-rgb: 47, 21, 0;
  --md-ref-palette-tertiary20-rgb: 72, 41, 12;
  --md-ref-palette-tertiary25-rgb: 85, 52, 22;
  --md-ref-palette-tertiary30-rgb: 98, 63, 33;
  --md-ref-palette-tertiary35-rgb: 111, 74, 43;
  --md-ref-palette-tertiary40-rgb: 125, 86, 54;
  --md-ref-palette-tertiary50-rgb: 152, 110, 76;
  --md-ref-palette-tertiary60-rgb: 181, 135, 99;
  --md-ref-palette-tertiary70-rgb: 210, 161, 124;
  --md-ref-palette-tertiary80-rgb: 240, 188, 149;
  --md-ref-palette-tertiary90-rgb: 255, 220, 195;
  --md-ref-palette-tertiary95-rgb: 255, 237, 227;
  --md-ref-palette-tertiary98-rgb: 255, 248, 245;
  --md-ref-palette-tertiary99-rgb: 255, 251, 255;
  --md-ref-palette-tertiary100-rgb: 255, 255, 255;
  /* neutral */
  --md-ref-palette-neutral0-rgb: 0, 0, 0;
  --md-ref-palette-neutral5-rgb: 21, 16, 17;
  --md-ref-palette-neutral10-rgb: 32, 26, 28;
  --md-ref-palette-neutral20-rgb: 53, 47, 48;
  --md-ref-palette-neutral25-rgb: 64, 58, 59;
  --md-ref-palette-neutral30-rgb: 76, 69, 70;
  --md-ref-palette-neutral35-rgb: 88, 80, 82;
  --md-ref-palette-neutral40-rgb: 100, 92, 94;
  --md-ref-palette-neutral50-rgb: 126, 117, 119;
  --md-ref-palette-neutral60-rgb: 152, 142, 144;
  --md-ref-palette-neutral70-rgb: 179, 169, 170;
  --md-ref-palette-neutral80-rgb: 207, 196, 197;
  --md-ref-palette-neutral90-rgb: 235, 224, 225;
  --md-ref-palette-neutral95-rgb: 250, 238, 240;
  --md-ref-palette-neutral98-rgb: 255, 248, 248;
  --md-ref-palette-neutral99-rgb: 255, 251, 255;
  --md-ref-palette-neutral100-rgb: 255, 255, 255;
  /* neutralVariant */
  --md-ref-palette-neutral-variant0-rgb: 0, 0, 0;
  --md-ref-palette-neutral-variant5-rgb: 24, 14, 17;
  --md-ref-palette-neutral-variant10-rgb: 35, 25, 28;
  --md-ref-palette-neutral-variant20-rgb: 57, 45, 49;
  --md-ref-palette-neutral-variant25-rgb: 69, 56, 60;
  --md-ref-palette-neutral-variant30-rgb: 81, 67, 71;
  --md-ref-palette-neutral-variant35-rgb: 93, 79, 83;
  --md-ref-palette-neutral-variant40-rgb: 105, 91, 94;
  --md-ref-palette-neutral-variant50-rgb: 131, 115, 119;
  --md-ref-palette-neutral-variant60-rgb: 158, 140, 145;
  --md-ref-palette-neutral-variant70-rgb: 185, 167, 171;
  --md-ref-palette-neutral-variant80-rgb: 213, 194, 198;
  --md-ref-palette-neutral-variant90-rgb: 242, 221, 226;
  --md-ref-palette-neutral-variant95-rgb: 255, 236, 240;
  --md-ref-palette-neutral-variant98-rgb: 255, 248, 248;
  --md-ref-palette-neutral-variant99-rgb: 255, 251, 255;
  --md-ref-palette-neutral-variant100-rgb: 255, 255, 255;
  /* error */
  --md-ref-palette-error0-rgb: 0, 0, 0;
  --md-ref-palette-error5-rgb: 45, 0, 1;
  --md-ref-palette-error10-rgb: 65, 0, 2;
  --md-ref-palette-error20-rgb: 105, 0, 5;
  --md-ref-palette-error25-rgb: 126, 0, 7;
  --md-ref-palette-error30-rgb: 147, 0, 10;
  --md-ref-palette-error35-rgb: 168, 7, 16;
  --md-ref-palette-error40-rgb: 186, 26, 26;
  --md-ref-palette-error50-rgb: 222, 55, 48;
  --md-ref-palette-error60-rgb: 255, 84, 73;
  --md-ref-palette-error70-rgb: 255, 137, 125;
  --md-ref-palette-error80-rgb: 255, 180, 171;
  --md-ref-palette-error90-rgb: 255, 218, 214;
  --md-ref-palette-error95-rgb: 255, 237, 234;
  --md-ref-palette-error98-rgb: 255, 248, 247;
  --md-ref-palette-error99-rgb: 255, 251, 255;
  --md-ref-palette-error100-rgb: 255, 255, 255;
}