:root, .tokens {
--md-source: #00BFFF;
  /* light */
  --md-sys-color-primary-rgb-light: 0, 102, 138;
  --md-sys-color-on-primary-rgb-light: 255, 255, 255;
  --md-sys-color-primary-container-rgb-light: 195, 232, 255;
  --md-sys-color-on-primary-container-rgb-light: 0, 30, 44;
  --md-sys-color-secondary-rgb-light: 78, 97, 109;
  --md-sys-color-on-secondary-rgb-light: 255, 255, 255;
  --md-sys-color-secondary-container-rgb-light: 209, 229, 244;
  --md-sys-color-on-secondary-container-rgb-light: 10, 30, 40;
  --md-sys-color-tertiary-rgb-light: 96, 90, 125;
  --md-sys-color-on-tertiary-rgb-light: 255, 255, 255;
  --md-sys-color-tertiary-container-rgb-light: 230, 222, 255;
  --md-sys-color-on-tertiary-container-rgb-light: 28, 23, 54;
  --md-sys-color-error-rgb-light: 186, 26, 26;
  --md-sys-color-on-error-rgb-light: 255, 255, 255;
  --md-sys-color-error-container-rgb-light: 255, 218, 214;
  --md-sys-color-on-error-container-rgb-light: 65, 0, 2;
  --md-sys-color-background-rgb-light: 251, 252, 255;
  --md-sys-color-on-background-rgb-light: 25, 28, 30;
  --md-sys-color-surface-rgb-light: 251, 252, 255;
  --md-sys-color-on-surface-rgb-light: 25, 28, 30;
  --md-sys-color-surface-variant-rgb-light: 220, 227, 233;
  --md-sys-color-on-surface-variant-rgb-light: 65, 72, 77;
  --md-sys-color-outline-rgb-light: 113, 120, 125;
  --md-sys-color-shadow-rgb-light: 0, 0, 0;
  --md-sys-color-inverse-surface-rgb-light: 46, 49, 51;
  --md-sys-color-inverse-on-surface-rgb-light: 240, 241, 243;
  --md-sys-color-inverse-primary-rgb-light: 122, 208, 255;
  /* dark */
  --md-sys-color-primary-rgb-dark: 122, 208, 255;
  --md-sys-color-on-primary-rgb-dark: 0, 53, 73;
  --md-sys-color-primary-container-rgb-dark: 0, 76, 105;
  --md-sys-color-on-primary-container-rgb-dark: 195, 232, 255;
  --md-sys-color-secondary-rgb-dark: 181, 201, 215;
  --md-sys-color-on-secondary-rgb-dark: 32, 51, 62;
  --md-sys-color-secondary-container-rgb-dark: 54, 73, 85;
  --md-sys-color-on-secondary-container-rgb-dark: 209, 229, 244;
  --md-sys-color-tertiary-rgb-dark: 202, 193, 234;
  --md-sys-color-on-tertiary-rgb-dark: 50, 44, 76;
  --md-sys-color-tertiary-container-rgb-dark: 72, 66, 100;
  --md-sys-color-on-tertiary-container-rgb-dark: 230, 222, 255;
  --md-sys-color-error-rgb-dark: 255, 180, 171;
  --md-sys-color-on-error-rgb-dark: 105, 0, 5;
  --md-sys-color-error-container-rgb-dark: 147, 0, 10;
  --md-sys-color-on-error-container-rgb-dark: 255, 180, 171;
  --md-sys-color-background-rgb-dark: 25, 28, 30;
  --md-sys-color-on-background-rgb-dark: 225, 226, 229;
  --md-sys-color-surface-rgb-dark: 25, 28, 30;
  --md-sys-color-on-surface-rgb-dark: 225, 226, 229;
  --md-sys-color-surface-variant-rgb-dark: 65, 72, 77;
  --md-sys-color-on-surface-variant-rgb-dark: 192, 199, 205;
  --md-sys-color-outline-rgb-dark: 138, 146, 151;
  --md-sys-color-shadow-rgb-dark: 0, 0, 0;
  --md-sys-color-inverse-surface-rgb-dark: 225, 226, 229;
  --md-sys-color-inverse-on-surface-rgb-dark: 46, 49, 51;
  --md-sys-color-inverse-primary-rgb-dark: 0, 102, 138;
  /* primary */
  --md-ref-palette-primary0: #000000;
  --md-ref-palette-primary5: #00131d;
  --md-ref-palette-primary10: #001e2c;
  --md-ref-palette-primary20: #003549;
  --md-ref-palette-primary25: #004059;
  --md-ref-palette-primary30: #004c69;
  --md-ref-palette-primary35: #005979;
  --md-ref-palette-primary40: #00668a;
  --md-ref-palette-primary50: #0080ac;
  --md-ref-palette-primary60: #009bd0;
  --md-ref-palette-primary70: #00b8f5;
  --md-ref-palette-primary80: #7ad0ff;
  --md-ref-palette-primary90: #c3e8ff;
  --md-ref-palette-primary95: #e3f3ff;
  --md-ref-palette-primary98: #f5faff;
  --md-ref-palette-primary99: #fbfcff;
  --md-ref-palette-primary100: #ffffff;
  /* secondary */
  --md-ref-palette-secondary0: #000000;
  --md-ref-palette-secondary5: #01131d;
  --md-ref-palette-secondary10: #0a1e28;
  --md-ref-palette-secondary20: #20333e;
  --md-ref-palette-secondary25: #2b3e49;
  --md-ref-palette-secondary30: #364955;
  --md-ref-palette-secondary35: #425561;
  --md-ref-palette-secondary40: #4e616d;
  --md-ref-palette-secondary50: #667a86;
  --md-ref-palette-secondary60: #8093a0;
  --md-ref-palette-secondary70: #9aaebb;
  --md-ref-palette-secondary80: #b5c9d7;
  --md-ref-palette-secondary90: #d1e5f4;
  --md-ref-palette-secondary95: #e3f3ff;
  --md-ref-palette-secondary98: #f5faff;
  --md-ref-palette-secondary99: #fbfcff;
  --md-ref-palette-secondary100: #ffffff;
  /* tertiary */
  --md-ref-palette-tertiary0: #000000;
  --md-ref-palette-tertiary5: #120c2b;
  --md-ref-palette-tertiary10: #1c1736;
  --md-ref-palette-tertiary20: #322c4c;
  --md-ref-palette-tertiary25: #3d3758;
  --md-ref-palette-tertiary30: #484264;
  --md-ref-palette-tertiary35: #544e70;
  --md-ref-palette-tertiary40: #605a7d;
  --md-ref-palette-tertiary50: #797297;
  --md-ref-palette-tertiary60: #938cb2;
  --md-ref-palette-tertiary70: #aea6cd;
  --md-ref-palette-tertiary80: #cac1ea;
  --md-ref-palette-tertiary90: #e6deff;
  --md-ref-palette-tertiary95: #f4eeff;
  --md-ref-palette-tertiary98: #fdf8ff;
  --md-ref-palette-tertiary99: #fffbff;
  --md-ref-palette-tertiary100: #ffffff;
  /* neutral */
  --md-ref-palette-neutral0: #000000;
  --md-ref-palette-neutral5: #0f1113;
  --md-ref-palette-neutral10: #191c1e;
  --md-ref-palette-neutral20: #2e3133;
  --md-ref-palette-neutral25: #393c3e;
  --md-ref-palette-neutral30: #454749;
  --md-ref-palette-neutral35: #505355;
  --md-ref-palette-neutral40: #5c5f61;
  --md-ref-palette-neutral50: #757779;
  --md-ref-palette-neutral60: #8f9193;
  --md-ref-palette-neutral70: #aaabae;
  --md-ref-palette-neutral80: #c5c6c9;
  --md-ref-palette-neutral90: #e1e2e5;
  --md-ref-palette-neutral95: #f0f1f3;
  --md-ref-palette-neutral98: #f8f9fc;
  --md-ref-palette-neutral99: #fbfcff;
  --md-ref-palette-neutral100: #ffffff;
  /* neutralVariant */
  --md-ref-palette-neutralVariant0: #000000;
  --md-ref-palette-neutralVariant5: #0b1216;
  --md-ref-palette-neutralVariant10: #161c21;
  --md-ref-palette-neutralVariant20: #2a3136;
  --md-ref-palette-neutralVariant25: #353c41;
  --md-ref-palette-neutralVariant30: #41484d;
  --md-ref-palette-neutralVariant35: #4c5358;
  --md-ref-palette-neutralVariant40: #585f65;
  --md-ref-palette-neutralVariant50: #71787d;
  --md-ref-palette-neutralVariant60: #8a9297;
  --md-ref-palette-neutralVariant70: #a5acb2;
  --md-ref-palette-neutralVariant80: #c0c7cd;
  --md-ref-palette-neutralVariant90: #dce3e9;
  --md-ref-palette-neutralVariant95: #ebf2f8;
  --md-ref-palette-neutralVariant98: #f5faff;
  --md-ref-palette-neutralVariant99: #fbfcff;
  --md-ref-palette-neutralVariant100: #ffffff;
  /* error */
  --md-ref-palette-error0: #000000;
  --md-ref-palette-error5: #2d0001;
  --md-ref-palette-error10: #410002;
  --md-ref-palette-error20: #690005;
  --md-ref-palette-error25: #7e0007;
  --md-ref-palette-error30: #93000a;
  --md-ref-palette-error35: #a80710;
  --md-ref-palette-error40: #ba1a1a;
  --md-ref-palette-error50: #de3730;
  --md-ref-palette-error60: #ff5449;
  --md-ref-palette-error70: #ff897d;
  --md-ref-palette-error80: #ffb4ab;
  --md-ref-palette-error90: #ffdad6;
  --md-ref-palette-error95: #ffedea;
  --md-ref-palette-error98: #fff8f7;
  --md-ref-palette-error99: #fffbff;
  --md-ref-palette-error100: #ffffff;
}