body, .tokens {
--md-source: #228B22;
  /* primary */
  --md-ref-palette-primary0-rgb: 0, 0, 0;
  --md-ref-palette-primary5-rgb: 0, 21, 1;
  --md-ref-palette-primary10-rgb: 0, 34, 1;
  --md-ref-palette-primary20-rgb: 0, 58, 3;
  --md-ref-palette-primary25-rgb: 0, 70, 5;
  --md-ref-palette-primary30-rgb: 0, 83, 7;
  --md-ref-palette-primary35-rgb: 0, 97, 9;
  --md-ref-palette-primary40-rgb: 0, 110, 12;
  --md-ref-palette-primary50-rgb: 32, 137, 32;
  --md-ref-palette-primary60-rgb: 63, 165, 57;
  --md-ref-palette-primary70-rgb: 91, 192, 81;
  --md-ref-palette-primary80-rgb: 119, 221, 106;
  --md-ref-palette-primary90-rgb: 146, 250, 131;
  --md-ref-palette-primary95-rgb: 202, 255, 187;
  --md-ref-palette-primary98-rgb: 236, 255, 226;
  --md-ref-palette-primary99-rgb: 247, 255, 239;
  --md-ref-palette-primary100-rgb: 255, 255, 255;
  /* secondary */
  --md-ref-palette-secondary0-rgb: 0, 0, 0;
  --md-ref-palette-secondary5-rgb: 7, 20, 6;
  --md-ref-palette-secondary10-rgb: 17, 31, 15;
  --md-ref-palette-secondary20-rgb: 38, 52, 34;
  --md-ref-palette-secondary25-rgb: 49, 63, 45;
  --md-ref-palette-secondary30-rgb: 60, 75, 55;
  --md-ref-palette-secondary35-rgb: 71, 87, 66;
  --md-ref-palette-secondary40-rgb: 83, 99, 78;
  --md-ref-palette-secondary50-rgb: 108, 124, 102;
  --md-ref-palette-secondary60-rgb: 133, 149, 126;
  --md-ref-palette-secondary70-rgb: 159, 176, 152;
  --md-ref-palette-secondary80-rgb: 187, 204, 178;
  --md-ref-palette-secondary90-rgb: 214, 232, 205;
  --md-ref-palette-secondary95-rgb: 229, 246, 219;
  --md-ref-palette-secondary98-rgb: 237, 255, 227;
  --md-ref-palette-secondary99-rgb: 247, 255, 239;
  --md-ref-palette-secondary100-rgb: 255, 255, 255;
  /* tertiary */
  --md-ref-palette-tertiary0-rgb: 0, 0, 0;
  --md-ref-palette-tertiary5-rgb: 0, 20, 22;
  --md-ref-palette-tertiary10-rgb: 0, 32, 34;
  --md-ref-palette-tertiary20-rgb: 0, 54, 58;
  --md-ref-palette-tertiary25-rgb: 16, 66, 69;
  --md-ref-palette-tertiary30-rgb: 30, 77, 81;
  --md-ref-palette-tertiary35-rgb: 43, 89, 93;
  --md-ref-palette-tertiary40-rgb: 56, 101, 105;
  --md-ref-palette-tertiary50-rgb: 81, 126, 130;
  --md-ref-palette-tertiary60-rgb: 107, 152, 156;
  --md-ref-palette-tertiary70-rgb: 133, 179, 183;
  --md-ref-palette-tertiary80-rgb: 160, 207, 211;
  --md-ref-palette-tertiary90-rgb: 188, 235, 239;
  --md-ref-palette-tertiary95-rgb: 202, 249, 253;
  --md-ref-palette-tertiary98-rgb: 232, 253, 255;
  --md-ref-palette-tertiary99-rgb: 243, 254, 255;
  --md-ref-palette-tertiary100-rgb: 255, 255, 255;
  /* neutral */
  --md-ref-palette-neutral0-rgb: 0, 0, 0;
  --md-ref-palette-neutral5-rgb: 15, 18, 14;
  --md-ref-palette-neutral10-rgb: 26, 28, 25;
  --md-ref-palette-neutral20-rgb: 47, 49, 45;
  --md-ref-palette-neutral25-rgb: 58, 60, 56;
  --md-ref-palette-neutral30-rgb: 69, 71, 67;
  --md-ref-palette-neutral35-rgb: 81, 83, 78;
  --md-ref-palette-neutral40-rgb: 93, 95, 90;
  --md-ref-palette-neutral50-rgb: 118, 120, 114;
  --md-ref-palette-neutral60-rgb: 144, 145, 140;
  --md-ref-palette-neutral70-rgb: 171, 172, 166;
  --md-ref-palette-neutral80-rgb: 198, 199, 193;
  --md-ref-palette-neutral90-rgb: 226, 227, 221;
  --md-ref-palette-neutral95-rgb: 241, 241, 235;
  --md-ref-palette-neutral98-rgb: 249, 250, 243;
  --md-ref-palette-neutral99-rgb: 252, 253, 246;
  --md-ref-palette-neutral100-rgb: 255, 255, 255;
  /* neutralVariant */
  --md-ref-palette-neutral-variant0-rgb: 0, 0, 0;
  --md-ref-palette-neutral-variant5-rgb: 13, 18, 11;
  --md-ref-palette-neutral-variant10-rgb: 23, 29, 21;
  --md-ref-palette-neutral-variant20-rgb: 44, 50, 42;
  --md-ref-palette-neutral-variant25-rgb: 55, 61, 52;
  --md-ref-palette-neutral-variant30-rgb: 66, 73, 63;
  --md-ref-palette-neutral-variant35-rgb: 78, 84, 75;
  --md-ref-palette-neutral-variant40-rgb: 90, 96, 86;
  --md-ref-palette-neutral-variant50-rgb: 115, 121, 110;
  --md-ref-palette-neutral-variant60-rgb: 140, 147, 135;
  --md-ref-palette-neutral-variant70-rgb: 167, 173, 161;
  --md-ref-palette-neutral-variant80-rgb: 194, 200, 188;
  --md-ref-palette-neutral-variant90-rgb: 223, 228, 216;
  --md-ref-palette-neutral-variant95-rgb: 237, 243, 230;
  --md-ref-palette-neutral-variant98-rgb: 246, 251, 238;
  --md-ref-palette-neutral-variant99-rgb: 248, 254, 241;
  --md-ref-palette-neutral-variant100-rgb: 255, 255, 255;
  /* error */
  --md-ref-palette-error0-rgb: 0, 0, 0;
  --md-ref-palette-error5-rgb: 45, 0, 1;
  --md-ref-palette-error10-rgb: 65, 0, 2;
  --md-ref-palette-error20-rgb: 105, 0, 5;
  --md-ref-palette-error25-rgb: 126, 0, 7;
  --md-ref-palette-error30-rgb: 147, 0, 10;
  --md-ref-palette-error35-rgb: 168, 7, 16;
  --md-ref-palette-error40-rgb: 186, 26, 26;
  --md-ref-palette-error50-rgb: 222, 55, 48;
  --md-ref-palette-error60-rgb: 255, 84, 73;
  --md-ref-palette-error70-rgb: 255, 137, 125;
  --md-ref-palette-error80-rgb: 255, 180, 171;
  --md-ref-palette-error90-rgb: 255, 218, 214;
  --md-ref-palette-error95-rgb: 255, 237, 234;
  --md-ref-palette-error98-rgb: 255, 248, 247;
  --md-ref-palette-error99-rgb: 255, 251, 255;
  --md-ref-palette-error100-rgb: 255, 255, 255;
}