body, .tokens {
--md-source: #FFD700;
  /* light */
  --md-sys-color-primary-rgb-light: 112, 93, 0;
  --md-sys-color-on-primary-rgb-light: 255, 255, 255;
  --md-sys-color-primary-container-rgb-light: 255, 225, 109;
  --md-sys-color-on-primary-container-rgb-light: 34, 27, 0;
  --md-sys-color-secondary-rgb-light: 103, 94, 64;
  --md-sys-color-on-secondary-rgb-light: 255, 255, 255;
  --md-sys-color-secondary-container-rgb-light: 239, 226, 188;
  --md-sys-color-on-secondary-container-rgb-light: 33, 27, 4;
  --md-sys-color-tertiary-rgb-light: 68, 102, 78;
  --md-sys-color-on-tertiary-rgb-light: 255, 255, 255;
  --md-sys-color-tertiary-container-rgb-light: 198, 236, 205;
  --md-sys-color-on-tertiary-container-rgb-light: 0, 33, 14;
  --md-sys-color-error-rgb-light: 186, 26, 26;
  --md-sys-color-on-error-rgb-light: 255, 255, 255;
  --md-sys-color-error-container-rgb-light: 255, 218, 214;
  --md-sys-color-on-error-container-rgb-light: 65, 0, 2;
  --md-sys-color-background-rgb-light: 255, 251, 255;
  --md-sys-color-on-background-rgb-light: 29, 27, 22;
  --md-sys-color-surface-rgb-light: 255, 251, 255;
  --md-sys-color-on-surface-rgb-light: 29, 27, 22;
  --md-sys-color-surface-variant-rgb-light: 234, 226, 207;
  --md-sys-color-on-surface-variant-rgb-light: 75, 71, 57;
  --md-sys-color-outline-rgb-light: 124, 119, 103;
  --md-sys-color-shadow-rgb-light: 0, 0, 0;
  --md-sys-color-inverse-surface-rgb-light: 51, 48, 42;
  --md-sys-color-inverse-on-surface-rgb-light: 246, 240, 231;
  --md-sys-color-inverse-primary-rgb-light: 233, 196, 0;
  /* dark */
  --md-sys-color-primary-rgb-dark: 233, 196, 0;
  --md-sys-color-on-primary-rgb-dark: 58, 48, 0;
  --md-sys-color-primary-container-rgb-dark: 84, 70, 0;
  --md-sys-color-on-primary-container-rgb-dark: 255, 225, 109;
  --md-sys-color-secondary-rgb-dark: 210, 198, 161;
  --md-sys-color-on-secondary-rgb-dark: 55, 48, 22;
  --md-sys-color-secondary-container-rgb-dark: 78, 70, 42;
  --md-sys-color-on-secondary-container-rgb-dark: 239, 226, 188;
  --md-sys-color-tertiary-rgb-dark: 170, 208, 178;
  --md-sys-color-on-tertiary-rgb-dark: 21, 55, 34;
  --md-sys-color-tertiary-container-rgb-dark: 45, 78, 55;
  --md-sys-color-on-tertiary-container-rgb-dark: 198, 236, 205;
  --md-sys-color-error-rgb-dark: 255, 180, 171;
  --md-sys-color-on-error-rgb-dark: 105, 0, 5;
  --md-sys-color-error-container-rgb-dark: 147, 0, 10;
  --md-sys-color-on-error-container-rgb-dark: 255, 180, 171;
  --md-sys-color-background-rgb-dark: 29, 27, 22;
  --md-sys-color-on-background-rgb-dark: 232, 226, 217;
  --md-sys-color-surface-rgb-dark: 29, 27, 22;
  --md-sys-color-on-surface-rgb-dark: 232, 226, 217;
  --md-sys-color-surface-variant-rgb-dark: 75, 71, 57;
  --md-sys-color-on-surface-variant-rgb-dark: 205, 198, 180;
  --md-sys-color-outline-rgb-dark: 151, 144, 128;
  --md-sys-color-shadow-rgb-dark: 0, 0, 0;
  --md-sys-color-inverse-surface-rgb-dark: 232, 226, 217;
  --md-sys-color-inverse-on-surface-rgb-dark: 51, 48, 42;
  --md-sys-color-inverse-primary-rgb-dark: 112, 93, 0;
  /* primary */
  --md-ref-palette-primary0-rgb: 0, 0, 0;
  --md-ref-palette-primary5-rgb: 22, 16, 0;
  --md-ref-palette-primary10-rgb: 34, 27, 0;
  --md-ref-palette-primary20-rgb: 58, 48, 0;
  --md-ref-palette-primary25-rgb: 71, 58, 0;
  --md-ref-palette-primary30-rgb: 84, 70, 0;
  --md-ref-palette-primary35-rgb: 98, 81, 0;
  --md-ref-palette-primary40-rgb: 112, 93, 0;
  --md-ref-palette-primary50-rgb: 140, 117, 0;
  --md-ref-palette-primary60-rgb: 170, 143, 0;
  --md-ref-palette-primary70-rgb: 201, 169, 0;
  --md-ref-palette-primary80-rgb: 233, 196, 0;
  --md-ref-palette-primary90-rgb: 255, 225, 109;
  --md-ref-palette-primary95-rgb: 255, 240, 194;
  --md-ref-palette-primary98-rgb: 255, 249, 239;
  --md-ref-palette-primary99-rgb: 255, 251, 255;
  --md-ref-palette-primary100-rgb: 255, 255, 255;
  /* secondary */
  --md-ref-palette-secondary0-rgb: 0, 0, 0;
  --md-ref-palette-secondary5-rgb: 22, 16, 0;
  --md-ref-palette-secondary10-rgb: 33, 27, 4;
  --md-ref-palette-secondary20-rgb: 55, 48, 22;
  --md-ref-palette-secondary25-rgb: 66, 59, 32;
  --md-ref-palette-secondary30-rgb: 78, 70, 42;
  --md-ref-palette-secondary35-rgb: 90, 82, 53;
  --md-ref-palette-secondary40-rgb: 103, 94, 64;
  --md-ref-palette-secondary50-rgb: 128, 119, 87;
  --md-ref-palette-secondary60-rgb: 155, 144, 111;
  --md-ref-palette-secondary70-rgb: 182, 171, 135;
  --md-ref-palette-secondary80-rgb: 210, 198, 161;
  --md-ref-palette-secondary90-rgb: 239, 226, 188;
  --md-ref-palette-secondary95-rgb: 253, 240, 201;
  --md-ref-palette-secondary98-rgb: 255, 249, 239;
  --md-ref-palette-secondary99-rgb: 255, 251, 255;
  --md-ref-palette-secondary100-rgb: 255, 255, 255;
  /* tertiary */
  --md-ref-palette-tertiary0-rgb: 0, 0, 0;
  --md-ref-palette-tertiary5-rgb: 0, 21, 7;
  --md-ref-palette-tertiary10-rgb: 0, 33, 14;
  --md-ref-palette-tertiary20-rgb: 21, 55, 34;
  --md-ref-palette-tertiary25-rgb: 33, 66, 44;
  --md-ref-palette-tertiary30-rgb: 45, 78, 55;
  --md-ref-palette-tertiary35-rgb: 56, 90, 66;
  --md-ref-palette-tertiary40-rgb: 68, 102, 78;
  --md-ref-palette-tertiary50-rgb: 92, 127, 101;
  --md-ref-palette-tertiary60-rgb: 117, 153, 126;
  --md-ref-palette-tertiary70-rgb: 143, 180, 151;
  --md-ref-palette-tertiary80-rgb: 170, 208, 178;
  --md-ref-palette-tertiary90-rgb: 198, 236, 205;
  --md-ref-palette-tertiary95-rgb: 212, 250, 219;
  --md-ref-palette-tertiary98-rgb: 233, 255, 235;
  --md-ref-palette-tertiary99-rgb: 245, 255, 243;
  --md-ref-palette-tertiary100-rgb: 255, 255, 255;
  /* neutral */
  --md-ref-palette-neutral0-rgb: 0, 0, 0;
  --md-ref-palette-neutral5-rgb: 18, 17, 12;
  --md-ref-palette-neutral10-rgb: 29, 27, 22;
  --md-ref-palette-neutral20-rgb: 51, 48, 42;
  --md-ref-palette-neutral25-rgb: 62, 59, 53;
  --md-ref-palette-neutral30-rgb: 73, 70, 64;
  --md-ref-palette-neutral35-rgb: 85, 82, 75;
  --md-ref-palette-neutral40-rgb: 97, 94, 87;
  --md-ref-palette-neutral50-rgb: 122, 119, 111;
  --md-ref-palette-neutral60-rgb: 148, 144, 136;
  --md-ref-palette-neutral70-rgb: 175, 171, 162;
  --md-ref-palette-neutral80-rgb: 203, 198, 189;
  --md-ref-palette-neutral90-rgb: 232, 226, 217;
  --md-ref-palette-neutral95-rgb: 246, 240, 231;
  --md-ref-palette-neutral98-rgb: 255, 249, 239;
  --md-ref-palette-neutral99-rgb: 255, 251, 255;
  --md-ref-palette-neutral100-rgb: 255, 255, 255;
  /* neutralVariant */
  --md-ref-palette-neutral-variant0-rgb: 0, 0, 0;
  --md-ref-palette-neutral-variant5-rgb: 20, 17, 7;
  --md-ref-palette-neutral-variant10-rgb: 31, 27, 16;
  --md-ref-palette-neutral-variant20-rgb: 52, 48, 36;
  --md-ref-palette-neutral-variant25-rgb: 63, 59, 46;
  --md-ref-palette-neutral-variant30-rgb: 75, 71, 57;
  --md-ref-palette-neutral-variant35-rgb: 87, 82, 68;
  --md-ref-palette-neutral-variant40-rgb: 99, 94, 80;
  --md-ref-palette-neutral-variant50-rgb: 124, 119, 103;
  --md-ref-palette-neutral-variant60-rgb: 151, 144, 128;
  --md-ref-palette-neutral-variant70-rgb: 178, 171, 154;
  --md-ref-palette-neutral-variant80-rgb: 205, 198, 180;
  --md-ref-palette-neutral-variant90-rgb: 234, 226, 207;
  --md-ref-palette-neutral-variant95-rgb: 248, 240, 221;
  --md-ref-palette-neutral-variant98-rgb: 255, 249, 239;
  --md-ref-palette-neutral-variant99-rgb: 255, 251, 255;
  --md-ref-palette-neutral-variant100-rgb: 255, 255, 255;
  /* error */
  --md-ref-palette-error0-rgb: 0, 0, 0;
  --md-ref-palette-error5-rgb: 45, 0, 1;
  --md-ref-palette-error10-rgb: 65, 0, 2;
  --md-ref-palette-error20-rgb: 105, 0, 5;
  --md-ref-palette-error25-rgb: 126, 0, 7;
  --md-ref-palette-error30-rgb: 147, 0, 10;
  --md-ref-palette-error35-rgb: 168, 7, 16;
  --md-ref-palette-error40-rgb: 186, 26, 26;
  --md-ref-palette-error50-rgb: 222, 55, 48;
  --md-ref-palette-error60-rgb: 255, 84, 73;
  --md-ref-palette-error70-rgb: 255, 137, 125;
  --md-ref-palette-error80-rgb: 255, 180, 171;
  --md-ref-palette-error90-rgb: 255, 218, 214;
  --md-ref-palette-error95-rgb: 255, 237, 234;
  --md-ref-palette-error98-rgb: 255, 248, 247;
  --md-ref-palette-error99-rgb: 255, 251, 255;
  --md-ref-palette-error100-rgb: 255, 255, 255;
}