body, .tokens {
--md-source: #FFD700;
  /* light */
  --md-sys-color-primary-rgb-light: 112, 93, 0;
  --md-sys-color-on-primary-rgb-light: 255, 255, 255;
  --md-sys-color-primary-container-rgb-light: 255, 225, 109;
  --md-sys-color-on-primary-container-rgb-light: 34, 27, 0;
  --md-sys-color-secondary-rgb-light: 103, 94, 64;
  --md-sys-color-on-secondary-rgb-light: 255, 255, 255;
  --md-sys-color-secondary-container-rgb-light: 239, 226, 188;
  --md-sys-color-on-secondary-container-rgb-light: 33, 27, 4;
  --md-sys-color-tertiary-rgb-light: 68, 102, 78;
  --md-sys-color-on-tertiary-rgb-light: 255, 255, 255;
  --md-sys-color-tertiary-container-rgb-light: 198, 236, 205;
  --md-sys-color-on-tertiary-container-rgb-light: 0, 33, 14;
  --md-sys-color-error-rgb-light: 186, 26, 26;
  --md-sys-color-on-error-rgb-light: 255, 255, 255;
  --md-sys-color-error-container-rgb-light: 255, 218, 214;
  --md-sys-color-on-error-container-rgb-light: 65, 0, 2;
  --md-sys-color-background-rgb-light: 255, 251, 255;
  --md-sys-color-on-background-rgb-light: 29, 27, 22;
  --md-sys-color-surface-rgb-light: 255, 251, 255;
  --md-sys-color-on-surface-rgb-light: 29, 27, 22;
  --md-sys-color-surface-variant-rgb-light: 234, 226, 207;
  --md-sys-color-on-surface-variant-rgb-light: 75, 71, 57;
  --md-sys-color-outline-rgb-light: 124, 119, 103;
  --md-sys-color-shadow-rgb-light: 0, 0, 0;
  --md-sys-color-inverse-surface-rgb-light: 51, 48, 42;
  --md-sys-color-inverse-on-surface-rgb-light: 246, 240, 231;
  --md-sys-color-inverse-primary-rgb-light: 233, 196, 0;
  /* dark */
  --md-sys-color-primary-rgb-dark: 233, 196, 0;
  --md-sys-color-on-primary-rgb-dark: 58, 48, 0;
  --md-sys-color-primary-container-rgb-dark: 84, 70, 0;
  --md-sys-color-on-primary-container-rgb-dark: 255, 225, 109;
  --md-sys-color-secondary-rgb-dark: 210, 198, 161;
  --md-sys-color-on-secondary-rgb-dark: 55, 48, 22;
  --md-sys-color-secondary-container-rgb-dark: 78, 70, 42;
  --md-sys-color-on-secondary-container-rgb-dark: 239, 226, 188;
  --md-sys-color-tertiary-rgb-dark: 170, 208, 178;
  --md-sys-color-on-tertiary-rgb-dark: 21, 55, 34;
  --md-sys-color-tertiary-container-rgb-dark: 45, 78, 55;
  --md-sys-color-on-tertiary-container-rgb-dark: 198, 236, 205;
  --md-sys-color-error-rgb-dark: 255, 180, 171;
  --md-sys-color-on-error-rgb-dark: 105, 0, 5;
  --md-sys-color-error-container-rgb-dark: 147, 0, 10;
  --md-sys-color-on-error-container-rgb-dark: 255, 180, 171;
  --md-sys-color-background-rgb-dark: 29, 27, 22;
  --md-sys-color-on-background-rgb-dark: 232, 226, 217;
  --md-sys-color-surface-rgb-dark: 29, 27, 22;
  --md-sys-color-on-surface-rgb-dark: 232, 226, 217;
  --md-sys-color-surface-variant-rgb-dark: 75, 71, 57;
  --md-sys-color-on-surface-variant-rgb-dark: 205, 198, 180;
  --md-sys-color-outline-rgb-dark: 151, 144, 128;
  --md-sys-color-shadow-rgb-dark: 0, 0, 0;
  --md-sys-color-inverse-surface-rgb-dark: 232, 226, 217;
  --md-sys-color-inverse-on-surface-rgb-dark: 51, 48, 42;
  --md-sys-color-inverse-primary-rgb-dark: 112, 93, 0;
  /* primary */
  --md-ref-palette-primary0: #000000;
  --md-ref-palette-primary5: #161000;
  --md-ref-palette-primary10: #221b00;
  --md-ref-palette-primary20: #3a3000;
  --md-ref-palette-primary25: #473a00;
  --md-ref-palette-primary30: #544600;
  --md-ref-palette-primary35: #625100;
  --md-ref-palette-primary40: #705d00;
  --md-ref-palette-primary50: #8c7500;
  --md-ref-palette-primary60: #aa8f00;
  --md-ref-palette-primary70: #c9a900;
  --md-ref-palette-primary80: #e9c400;
  --md-ref-palette-primary90: #ffe16d;
  --md-ref-palette-primary95: #fff0c2;
  --md-ref-palette-primary98: #fff9ef;
  --md-ref-palette-primary99: #fffbff;
  --md-ref-palette-primary100: #ffffff;
  /* secondary */
  --md-ref-palette-secondary0: #000000;
  --md-ref-palette-secondary5: #161000;
  --md-ref-palette-secondary10: #211b04;
  --md-ref-palette-secondary20: #373016;
  --md-ref-palette-secondary25: #423b20;
  --md-ref-palette-secondary30: #4e462a;
  --md-ref-palette-secondary35: #5a5235;
  --md-ref-palette-secondary40: #675e40;
  --md-ref-palette-secondary50: #807757;
  --md-ref-palette-secondary60: #9b906f;
  --md-ref-palette-secondary70: #b6ab87;
  --md-ref-palette-secondary80: #d2c6a1;
  --md-ref-palette-secondary90: #efe2bc;
  --md-ref-palette-secondary95: #fdf0c9;
  --md-ref-palette-secondary98: #fff9ef;
  --md-ref-palette-secondary99: #fffbff;
  --md-ref-palette-secondary100: #ffffff;
  /* tertiary */
  --md-ref-palette-tertiary0: #000000;
  --md-ref-palette-tertiary5: #001507;
  --md-ref-palette-tertiary10: #00210e;
  --md-ref-palette-tertiary20: #153722;
  --md-ref-palette-tertiary25: #21422c;
  --md-ref-palette-tertiary30: #2d4e37;
  --md-ref-palette-tertiary35: #385a42;
  --md-ref-palette-tertiary40: #44664e;
  --md-ref-palette-tertiary50: #5c7f65;
  --md-ref-palette-tertiary60: #75997e;
  --md-ref-palette-tertiary70: #8fb497;
  --md-ref-palette-tertiary80: #aad0b2;
  --md-ref-palette-tertiary90: #c6eccd;
  --md-ref-palette-tertiary95: #d4fadb;
  --md-ref-palette-tertiary98: #e9ffeb;
  --md-ref-palette-tertiary99: #f5fff3;
  --md-ref-palette-tertiary100: #ffffff;
  /* neutral */
  --md-ref-palette-neutral0: #000000;
  --md-ref-palette-neutral5: #12110c;
  --md-ref-palette-neutral10: #1d1b16;
  --md-ref-palette-neutral20: #33302a;
  --md-ref-palette-neutral25: #3e3b35;
  --md-ref-palette-neutral30: #494640;
  --md-ref-palette-neutral35: #55524b;
  --md-ref-palette-neutral40: #615e57;
  --md-ref-palette-neutral50: #7a776f;
  --md-ref-palette-neutral60: #949088;
  --md-ref-palette-neutral70: #afaba2;
  --md-ref-palette-neutral80: #cbc6bd;
  --md-ref-palette-neutral90: #e8e2d9;
  --md-ref-palette-neutral95: #f6f0e7;
  --md-ref-palette-neutral98: #fff9ef;
  --md-ref-palette-neutral99: #fffbff;
  --md-ref-palette-neutral100: #ffffff;
  /* neutralVariant */
  --md-ref-palette-neutralVariant0: #000000;
  --md-ref-palette-neutralVariant5: #141107;
  --md-ref-palette-neutralVariant10: #1f1b10;
  --md-ref-palette-neutralVariant20: #343024;
  --md-ref-palette-neutralVariant25: #3f3b2e;
  --md-ref-palette-neutralVariant30: #4b4739;
  --md-ref-palette-neutralVariant35: #575244;
  --md-ref-palette-neutralVariant40: #635e50;
  --md-ref-palette-neutralVariant50: #7c7767;
  --md-ref-palette-neutralVariant60: #979080;
  --md-ref-palette-neutralVariant70: #b2ab9a;
  --md-ref-palette-neutralVariant80: #cdc6b4;
  --md-ref-palette-neutralVariant90: #eae2cf;
  --md-ref-palette-neutralVariant95: #f8f0dd;
  --md-ref-palette-neutralVariant98: #fff9ef;
  --md-ref-palette-neutralVariant99: #fffbff;
  --md-ref-palette-neutralVariant100: #ffffff;
  /* error */
  --md-ref-palette-error0: #000000;
  --md-ref-palette-error5: #2d0001;
  --md-ref-palette-error10: #410002;
  --md-ref-palette-error20: #690005;
  --md-ref-palette-error25: #7e0007;
  --md-ref-palette-error30: #93000a;
  --md-ref-palette-error35: #a80710;
  --md-ref-palette-error40: #ba1a1a;
  --md-ref-palette-error50: #de3730;
  --md-ref-palette-error60: #ff5449;
  --md-ref-palette-error70: #ff897d;
  --md-ref-palette-error80: #ffb4ab;
  --md-ref-palette-error90: #ffdad6;
  --md-ref-palette-error95: #ffedea;
  --md-ref-palette-error98: #fff8f7;
  --md-ref-palette-error99: #fffbff;
  --md-ref-palette-error100: #ffffff;
}