body, .tokens {
--md-source: #4B0082;
  /* light */
  --md-sys-color-primary-rgb-light: 123, 65, 179;
  --md-sys-color-on-primary-rgb-light: 255, 255, 255;
  --md-sys-color-primary-container-rgb-light: 240, 219, 255;
  --md-sys-color-on-primary-container-rgb-light: 44, 0, 80;
  --md-sys-color-secondary-rgb-light: 102, 90, 111;
  --md-sys-color-on-secondary-rgb-light: 255, 255, 255;
  --md-sys-color-secondary-container-rgb-light: 237, 221, 246;
  --md-sys-color-on-secondary-container-rgb-light: 33, 24, 41;
  --md-sys-color-tertiary-rgb-light: 128, 81, 87;
  --md-sys-color-on-tertiary-rgb-light: 255, 255, 255;
  --md-sys-color-tertiary-container-rgb-light: 255, 217, 220;
  --md-sys-color-on-tertiary-container-rgb-light: 50, 16, 22;
  --md-sys-color-error-rgb-light: 186, 26, 26;
  --md-sys-color-on-error-rgb-light: 255, 255, 255;
  --md-sys-color-error-container-rgb-light: 255, 218, 214;
  --md-sys-color-on-error-container-rgb-light: 65, 0, 2;
  --md-sys-color-background-rgb-light: 255, 251, 255;
  --md-sys-color-on-background-rgb-light: 29, 27, 30;
  --md-sys-color-surface-rgb-light: 255, 251, 255;
  --md-sys-color-on-surface-rgb-light: 29, 27, 30;
  --md-sys-color-surface-variant-rgb-light: 233, 223, 235;
  --md-sys-color-on-surface-variant-rgb-light: 74, 69, 78;
  --md-sys-color-outline-rgb-light: 124, 117, 126;
  --md-sys-color-shadow-rgb-light: 0, 0, 0;
  --md-sys-color-inverse-surface-rgb-light: 50, 47, 51;
  --md-sys-color-inverse-on-surface-rgb-light: 246, 239, 244;
  --md-sys-color-inverse-primary-rgb-light: 221, 183, 255;
  /* dark */
  --md-sys-color-primary-rgb-dark: 221, 183, 255;
  --md-sys-color-on-primary-rgb-dark: 74, 0, 128;
  --md-sys-color-primary-container-rgb-dark: 98, 37, 153;
  --md-sys-color-on-primary-container-rgb-dark: 240, 219, 255;
  --md-sys-color-secondary-rgb-dark: 208, 193, 217;
  --md-sys-color-on-secondary-rgb-dark: 55, 44, 63;
  --md-sys-color-secondary-container-rgb-dark: 78, 67, 86;
  --md-sys-color-on-secondary-container-rgb-dark: 237, 221, 246;
  --md-sys-color-tertiary-rgb-dark: 243, 183, 189;
  --md-sys-color-on-tertiary-rgb-dark: 75, 37, 42;
  --md-sys-color-tertiary-container-rgb-dark: 101, 58, 64;
  --md-sys-color-on-tertiary-container-rgb-dark: 255, 217, 220;
  --md-sys-color-error-rgb-dark: 255, 180, 171;
  --md-sys-color-on-error-rgb-dark: 105, 0, 5;
  --md-sys-color-error-container-rgb-dark: 147, 0, 10;
  --md-sys-color-on-error-container-rgb-dark: 255, 180, 171;
  --md-sys-color-background-rgb-dark: 29, 27, 30;
  --md-sys-color-on-background-rgb-dark: 231, 225, 229;
  --md-sys-color-surface-rgb-dark: 29, 27, 30;
  --md-sys-color-on-surface-rgb-dark: 231, 225, 229;
  --md-sys-color-surface-variant-rgb-dark: 74, 69, 78;
  --md-sys-color-on-surface-variant-rgb-dark: 205, 196, 206;
  --md-sys-color-outline-rgb-dark: 150, 142, 152;
  --md-sys-color-shadow-rgb-dark: 0, 0, 0;
  --md-sys-color-inverse-surface-rgb-dark: 231, 225, 229;
  --md-sys-color-inverse-on-surface-rgb-dark: 50, 47, 51;
  --md-sys-color-inverse-primary-rgb-dark: 123, 65, 179;
  /* primary */
  --md-ref-palette-primary0: #000000;
  --md-ref-palette-primary5: #1d0038;
  --md-ref-palette-primary10: #2c0050;
  --md-ref-palette-primary20: #4a0080;
  --md-ref-palette-primary25: #56158c;
  --md-ref-palette-primary30: #622599;
  --md-ref-palette-primary35: #6f34a5;
  --md-ref-palette-primary40: #7b41b3;
  --md-ref-palette-primary50: #965bce;
  --md-ref-palette-primary60: #b175ea;
  --md-ref-palette-primary70: #cb93ff;
  --md-ref-palette-primary80: #ddb7ff;
  --md-ref-palette-primary90: #f0dbff;
  --md-ref-palette-primary95: #faecff;
  --md-ref-palette-primary98: #fff7fe;
  --md-ref-palette-primary99: #fffbff;
  --md-ref-palette-primary100: #ffffff;
  /* secondary */
  --md-ref-palette-secondary0: #000000;
  --md-ref-palette-secondary5: #160d1e;
  --md-ref-palette-secondary10: #211829;
  --md-ref-palette-secondary20: #372c3f;
  --md-ref-palette-secondary25: #42374b;
  --md-ref-palette-secondary30: #4e4356;
  --md-ref-palette-secondary35: #5a4e62;
  --md-ref-palette-secondary40: #665a6f;
  --md-ref-palette-secondary50: #7f7288;
  --md-ref-palette-secondary60: #998ca2;
  --md-ref-palette-secondary70: #b5a6be;
  --md-ref-palette-secondary80: #d0c1d9;
  --md-ref-palette-secondary90: #edddf6;
  --md-ref-palette-secondary95: #faecff;
  --md-ref-palette-secondary98: #fff7fe;
  --md-ref-palette-secondary99: #fffbff;
  --md-ref-palette-secondary100: #ffffff;
  /* tertiary */
  --md-ref-palette-tertiary0: #000000;
  --md-ref-palette-tertiary5: #25060c;
  --md-ref-palette-tertiary10: #321016;
  --md-ref-palette-tertiary20: #4b252a;
  --md-ref-palette-tertiary25: #582f35;
  --md-ref-palette-tertiary30: #653a40;
  --md-ref-palette-tertiary35: #73464b;
  --md-ref-palette-tertiary40: #805157;
  --md-ref-palette-tertiary50: #9c6a6f;
  --md-ref-palette-tertiary60: #b88388;
  --md-ref-palette-tertiary70: #d59ca2;
  --md-ref-palette-tertiary80: #f3b7bd;
  --md-ref-palette-tertiary90: #ffd9dc;
  --md-ref-palette-tertiary95: #ffeced;
  --md-ref-palette-tertiary98: #fff8f7;
  --md-ref-palette-tertiary99: #fffbff;
  --md-ref-palette-tertiary100: #ffffff;
  /* neutral */
  --md-ref-palette-neutral0: #000000;
  --md-ref-palette-neutral5: #121013;
  --md-ref-palette-neutral10: #1d1b1e;
  --md-ref-palette-neutral20: #322f33;
  --md-ref-palette-neutral25: #3d3a3e;
  --md-ref-palette-neutral30: #49464a;
  --md-ref-palette-neutral35: #555155;
  --md-ref-palette-neutral40: #615d61;
  --md-ref-palette-neutral50: #7a767a;
  --md-ref-palette-neutral60: #948f94;
  --md-ref-palette-neutral70: #afaaae;
  --md-ref-palette-neutral80: #cbc5c9;
  --md-ref-palette-neutral90: #e7e1e5;
  --md-ref-palette-neutral95: #f6eff4;
  --md-ref-palette-neutral98: #fef7fc;
  --md-ref-palette-neutral99: #fffbff;
  --md-ref-palette-neutral100: #ffffff;
  /* neutralVariant */
  --md-ref-palette-neutral-variant0: #000000;
  --md-ref-palette-neutral-variant5: #130f17;
  --md-ref-palette-neutral-variant10: #1e1a22;
  --md-ref-palette-neutral-variant20: #342f37;
  --md-ref-palette-neutral-variant25: #3f3942;
  --md-ref-palette-neutral-variant30: #4a454e;
  --md-ref-palette-neutral-variant35: #565059;
  --md-ref-palette-neutral-variant40: #625c65;
  --md-ref-palette-neutral-variant50: #7c757e;
  --md-ref-palette-neutral-variant60: #968e98;
  --md-ref-palette-neutral-variant70: #b1a8b3;
  --md-ref-palette-neutral-variant80: #cdc4ce;
  --md-ref-palette-neutral-variant90: #e9dfeb;
  --md-ref-palette-neutral-variant95: #f7eef9;
  --md-ref-palette-neutral-variant98: #fff7fe;
  --md-ref-palette-neutral-variant99: #fffbff;
  --md-ref-palette-neutral-variant100: #ffffff;
  /* error */
  --md-ref-palette-error0: #000000;
  --md-ref-palette-error5: #2d0001;
  --md-ref-palette-error10: #410002;
  --md-ref-palette-error20: #690005;
  --md-ref-palette-error25: #7e0007;
  --md-ref-palette-error30: #93000a;
  --md-ref-palette-error35: #a80710;
  --md-ref-palette-error40: #ba1a1a;
  --md-ref-palette-error50: #de3730;
  --md-ref-palette-error60: #ff5449;
  --md-ref-palette-error70: #ff897d;
  --md-ref-palette-error80: #ffb4ab;
  --md-ref-palette-error90: #ffdad6;
  --md-ref-palette-error95: #ffedea;
  --md-ref-palette-error98: #fff8f7;
  --md-ref-palette-error99: #fffbff;
  --md-ref-palette-error100: #ffffff;
}