body, .tokens {
--md-source: #4B0082;
  /* light */
  --md-sys-color-primary-rgb-light: 123, 65, 179;
  --md-sys-color-on-primary-rgb-light: 255, 255, 255;
  --md-sys-color-primary-container-rgb-light: 240, 219, 255;
  --md-sys-color-on-primary-container-rgb-light: 44, 0, 80;
  --md-sys-color-secondary-rgb-light: 102, 90, 111;
  --md-sys-color-on-secondary-rgb-light: 255, 255, 255;
  --md-sys-color-secondary-container-rgb-light: 237, 221, 246;
  --md-sys-color-on-secondary-container-rgb-light: 33, 24, 41;
  --md-sys-color-tertiary-rgb-light: 128, 81, 87;
  --md-sys-color-on-tertiary-rgb-light: 255, 255, 255;
  --md-sys-color-tertiary-container-rgb-light: 255, 217, 220;
  --md-sys-color-on-tertiary-container-rgb-light: 50, 16, 22;
  --md-sys-color-error-rgb-light: 186, 26, 26;
  --md-sys-color-on-error-rgb-light: 255, 255, 255;
  --md-sys-color-error-container-rgb-light: 255, 218, 214;
  --md-sys-color-on-error-container-rgb-light: 65, 0, 2;
  --md-sys-color-background-rgb-light: 255, 251, 255;
  --md-sys-color-on-background-rgb-light: 29, 27, 30;
  --md-sys-color-surface-rgb-light: 255, 251, 255;
  --md-sys-color-on-surface-rgb-light: 29, 27, 30;
  --md-sys-color-surface-variant-rgb-light: 233, 223, 235;
  --md-sys-color-on-surface-variant-rgb-light: 74, 69, 78;
  --md-sys-color-outline-rgb-light: 124, 117, 126;
  --md-sys-color-shadow-rgb-light: 0, 0, 0;
  --md-sys-color-inverse-surface-rgb-light: 50, 47, 51;
  --md-sys-color-inverse-on-surface-rgb-light: 246, 239, 244;
  --md-sys-color-inverse-primary-rgb-light: 221, 183, 255;
  /* dark */
  --md-sys-color-primary-rgb-dark: 221, 183, 255;
  --md-sys-color-on-primary-rgb-dark: 74, 0, 128;
  --md-sys-color-primary-container-rgb-dark: 98, 37, 153;
  --md-sys-color-on-primary-container-rgb-dark: 240, 219, 255;
  --md-sys-color-secondary-rgb-dark: 208, 193, 217;
  --md-sys-color-on-secondary-rgb-dark: 55, 44, 63;
  --md-sys-color-secondary-container-rgb-dark: 78, 67, 86;
  --md-sys-color-on-secondary-container-rgb-dark: 237, 221, 246;
  --md-sys-color-tertiary-rgb-dark: 243, 183, 189;
  --md-sys-color-on-tertiary-rgb-dark: 75, 37, 42;
  --md-sys-color-tertiary-container-rgb-dark: 101, 58, 64;
  --md-sys-color-on-tertiary-container-rgb-dark: 255, 217, 220;
  --md-sys-color-error-rgb-dark: 255, 180, 171;
  --md-sys-color-on-error-rgb-dark: 105, 0, 5;
  --md-sys-color-error-container-rgb-dark: 147, 0, 10;
  --md-sys-color-on-error-container-rgb-dark: 255, 180, 171;
  --md-sys-color-background-rgb-dark: 29, 27, 30;
  --md-sys-color-on-background-rgb-dark: 231, 225, 229;
  --md-sys-color-surface-rgb-dark: 29, 27, 30;
  --md-sys-color-on-surface-rgb-dark: 231, 225, 229;
  --md-sys-color-surface-variant-rgb-dark: 74, 69, 78;
  --md-sys-color-on-surface-variant-rgb-dark: 205, 196, 206;
  --md-sys-color-outline-rgb-dark: 150, 142, 152;
  --md-sys-color-shadow-rgb-dark: 0, 0, 0;
  --md-sys-color-inverse-surface-rgb-dark: 231, 225, 229;
  --md-sys-color-inverse-on-surface-rgb-dark: 50, 47, 51;
  --md-sys-color-inverse-primary-rgb-dark: 123, 65, 179;
  /* primary */
  --md-ref-palette-primary0-rgb: 0, 0, 0;
  --md-ref-palette-primary5-rgb: 29, 0, 56;
  --md-ref-palette-primary10-rgb: 44, 0, 80;
  --md-ref-palette-primary20-rgb: 74, 0, 128;
  --md-ref-palette-primary25-rgb: 86, 21, 140;
  --md-ref-palette-primary30-rgb: 98, 37, 153;
  --md-ref-palette-primary35-rgb: 111, 52, 165;
  --md-ref-palette-primary40-rgb: 123, 65, 179;
  --md-ref-palette-primary50-rgb: 150, 91, 206;
  --md-ref-palette-primary60-rgb: 177, 117, 234;
  --md-ref-palette-primary70-rgb: 203, 147, 255;
  --md-ref-palette-primary80-rgb: 221, 183, 255;
  --md-ref-palette-primary90-rgb: 240, 219, 255;
  --md-ref-palette-primary95-rgb: 250, 236, 255;
  --md-ref-palette-primary98-rgb: 255, 247, 254;
  --md-ref-palette-primary99-rgb: 255, 251, 255;
  --md-ref-palette-primary100-rgb: 255, 255, 255;
  /* secondary */
  --md-ref-palette-secondary0-rgb: 0, 0, 0;
  --md-ref-palette-secondary5-rgb: 22, 13, 30;
  --md-ref-palette-secondary10-rgb: 33, 24, 41;
  --md-ref-palette-secondary20-rgb: 55, 44, 63;
  --md-ref-palette-secondary25-rgb: 66, 55, 75;
  --md-ref-palette-secondary30-rgb: 78, 67, 86;
  --md-ref-palette-secondary35-rgb: 90, 78, 98;
  --md-ref-palette-secondary40-rgb: 102, 90, 111;
  --md-ref-palette-secondary50-rgb: 127, 114, 136;
  --md-ref-palette-secondary60-rgb: 153, 140, 162;
  --md-ref-palette-secondary70-rgb: 181, 166, 190;
  --md-ref-palette-secondary80-rgb: 208, 193, 217;
  --md-ref-palette-secondary90-rgb: 237, 221, 246;
  --md-ref-palette-secondary95-rgb: 250, 236, 255;
  --md-ref-palette-secondary98-rgb: 255, 247, 254;
  --md-ref-palette-secondary99-rgb: 255, 251, 255;
  --md-ref-palette-secondary100-rgb: 255, 255, 255;
  /* tertiary */
  --md-ref-palette-tertiary0-rgb: 0, 0, 0;
  --md-ref-palette-tertiary5-rgb: 37, 6, 12;
  --md-ref-palette-tertiary10-rgb: 50, 16, 22;
  --md-ref-palette-tertiary20-rgb: 75, 37, 42;
  --md-ref-palette-tertiary25-rgb: 88, 47, 53;
  --md-ref-palette-tertiary30-rgb: 101, 58, 64;
  --md-ref-palette-tertiary35-rgb: 115, 70, 75;
  --md-ref-palette-tertiary40-rgb: 128, 81, 87;
  --md-ref-palette-tertiary50-rgb: 156, 106, 111;
  --md-ref-palette-tertiary60-rgb: 184, 131, 136;
  --md-ref-palette-tertiary70-rgb: 213, 156, 162;
  --md-ref-palette-tertiary80-rgb: 243, 183, 189;
  --md-ref-palette-tertiary90-rgb: 255, 217, 220;
  --md-ref-palette-tertiary95-rgb: 255, 236, 237;
  --md-ref-palette-tertiary98-rgb: 255, 248, 247;
  --md-ref-palette-tertiary99-rgb: 255, 251, 255;
  --md-ref-palette-tertiary100-rgb: 255, 255, 255;
  /* neutral */
  --md-ref-palette-neutral0-rgb: 0, 0, 0;
  --md-ref-palette-neutral5-rgb: 18, 16, 19;
  --md-ref-palette-neutral10-rgb: 29, 27, 30;
  --md-ref-palette-neutral20-rgb: 50, 47, 51;
  --md-ref-palette-neutral25-rgb: 61, 58, 62;
  --md-ref-palette-neutral30-rgb: 73, 70, 74;
  --md-ref-palette-neutral35-rgb: 85, 81, 85;
  --md-ref-palette-neutral40-rgb: 97, 93, 97;
  --md-ref-palette-neutral50-rgb: 122, 118, 122;
  --md-ref-palette-neutral60-rgb: 148, 143, 148;
  --md-ref-palette-neutral70-rgb: 175, 170, 174;
  --md-ref-palette-neutral80-rgb: 203, 197, 201;
  --md-ref-palette-neutral90-rgb: 231, 225, 229;
  --md-ref-palette-neutral95-rgb: 246, 239, 244;
  --md-ref-palette-neutral98-rgb: 254, 247, 252;
  --md-ref-palette-neutral99-rgb: 255, 251, 255;
  --md-ref-palette-neutral100-rgb: 255, 255, 255;
  /* neutralVariant */
  --md-ref-palette-neutral-variant0-rgb: 0, 0, 0;
  --md-ref-palette-neutral-variant5-rgb: 19, 15, 23;
  --md-ref-palette-neutral-variant10-rgb: 30, 26, 34;
  --md-ref-palette-neutral-variant20-rgb: 52, 47, 55;
  --md-ref-palette-neutral-variant25-rgb: 63, 57, 66;
  --md-ref-palette-neutral-variant30-rgb: 74, 69, 78;
  --md-ref-palette-neutral-variant35-rgb: 86, 80, 89;
  --md-ref-palette-neutral-variant40-rgb: 98, 92, 101;
  --md-ref-palette-neutral-variant50-rgb: 124, 117, 126;
  --md-ref-palette-neutral-variant60-rgb: 150, 142, 152;
  --md-ref-palette-neutral-variant70-rgb: 177, 168, 179;
  --md-ref-palette-neutral-variant80-rgb: 205, 196, 206;
  --md-ref-palette-neutral-variant90-rgb: 233, 223, 235;
  --md-ref-palette-neutral-variant95-rgb: 247, 238, 249;
  --md-ref-palette-neutral-variant98-rgb: 255, 247, 254;
  --md-ref-palette-neutral-variant99-rgb: 255, 251, 255;
  --md-ref-palette-neutral-variant100-rgb: 255, 255, 255;
  /* error */
  --md-ref-palette-error0-rgb: 0, 0, 0;
  --md-ref-palette-error5-rgb: 45, 0, 1;
  --md-ref-palette-error10-rgb: 65, 0, 2;
  --md-ref-palette-error20-rgb: 105, 0, 5;
  --md-ref-palette-error25-rgb: 126, 0, 7;
  --md-ref-palette-error30-rgb: 147, 0, 10;
  --md-ref-palette-error35-rgb: 168, 7, 16;
  --md-ref-palette-error40-rgb: 186, 26, 26;
  --md-ref-palette-error50-rgb: 222, 55, 48;
  --md-ref-palette-error60-rgb: 255, 84, 73;
  --md-ref-palette-error70-rgb: 255, 137, 125;
  --md-ref-palette-error80-rgb: 255, 180, 171;
  --md-ref-palette-error90-rgb: 255, 218, 214;
  --md-ref-palette-error95-rgb: 255, 237, 234;
  --md-ref-palette-error98-rgb: 255, 248, 247;
  --md-ref-palette-error99-rgb: 255, 251, 255;
  --md-ref-palette-error100-rgb: 255, 255, 255;
}