:root, .tokens {
--md-source: #CD5C5C;
  /* light */
  --md-sys-color-primary-rgb-light: 162, 60, 62;
  --md-sys-color-on-primary-rgb-light: 255, 255, 255;
  --md-sys-color-primary-container-rgb-light: 255, 218, 216;
  --md-sys-color-on-primary-container-rgb-light: 65, 0, 6;
  --md-sys-color-secondary-rgb-light: 119, 86, 85;
  --md-sys-color-on-secondary-rgb-light: 255, 255, 255;
  --md-sys-color-secondary-container-rgb-light: 255, 218, 216;
  --md-sys-color-on-secondary-container-rgb-light: 44, 21, 20;
  --md-sys-color-tertiary-rgb-light: 116, 90, 46;
  --md-sys-color-on-tertiary-rgb-light: 255, 255, 255;
  --md-sys-color-tertiary-container-rgb-light: 255, 222, 171;
  --md-sys-color-on-tertiary-container-rgb-light: 39, 25, 0;
  --md-sys-color-error-rgb-light: 186, 26, 26;
  --md-sys-color-on-error-rgb-light: 255, 255, 255;
  --md-sys-color-error-container-rgb-light: 255, 218, 214;
  --md-sys-color-on-error-container-rgb-light: 65, 0, 2;
  --md-sys-color-background-rgb-light: 255, 251, 255;
  --md-sys-color-on-background-rgb-light: 32, 26, 26;
  --md-sys-color-surface-rgb-light: 255, 251, 255;
  --md-sys-color-on-surface-rgb-light: 32, 26, 26;
  --md-sys-color-surface-variant-rgb-light: 244, 221, 220;
  --md-sys-color-on-surface-variant-rgb-light: 82, 67, 66;
  --md-sys-color-outline-rgb-light: 133, 115, 114;
  --md-sys-color-shadow-rgb-light: 0, 0, 0;
  --md-sys-color-inverse-surface-rgb-light: 54, 47, 46;
  --md-sys-color-inverse-on-surface-rgb-light: 251, 238, 237;
  --md-sys-color-inverse-primary-rgb-light: 255, 179, 176;
  /* dark */
  --md-sys-color-primary-rgb-dark: 255, 179, 176;
  --md-sys-color-on-primary-rgb-dark: 99, 12, 20;
  --md-sys-color-primary-container-rgb-dark: 131, 36, 40;
  --md-sys-color-on-primary-container-rgb-dark: 255, 218, 216;
  --md-sys-color-secondary-rgb-dark: 230, 189, 187;
  --md-sys-color-on-secondary-rgb-dark: 68, 41, 40;
  --md-sys-color-secondary-container-rgb-dark: 93, 63, 62;
  --md-sys-color-on-secondary-container-rgb-dark: 255, 218, 216;
  --md-sys-color-tertiary-rgb-dark: 227, 194, 140;
  --md-sys-color-on-tertiary-rgb-dark: 65, 45, 5;
  --md-sys-color-tertiary-container-rgb-dark: 90, 67, 25;
  --md-sys-color-on-tertiary-container-rgb-dark: 255, 222, 171;
  --md-sys-color-error-rgb-dark: 255, 180, 171;
  --md-sys-color-on-error-rgb-dark: 105, 0, 5;
  --md-sys-color-error-container-rgb-dark: 147, 0, 10;
  --md-sys-color-on-error-container-rgb-dark: 255, 180, 171;
  --md-sys-color-background-rgb-dark: 32, 26, 26;
  --md-sys-color-on-background-rgb-dark: 237, 224, 222;
  --md-sys-color-surface-rgb-dark: 32, 26, 26;
  --md-sys-color-on-surface-rgb-dark: 237, 224, 222;
  --md-sys-color-surface-variant-rgb-dark: 82, 67, 66;
  --md-sys-color-on-surface-variant-rgb-dark: 215, 193, 192;
  --md-sys-color-outline-rgb-dark: 160, 140, 139;
  --md-sys-color-shadow-rgb-dark: 0, 0, 0;
  --md-sys-color-inverse-surface-rgb-dark: 237, 224, 222;
  --md-sys-color-inverse-on-surface-rgb-dark: 54, 47, 46;
  --md-sys-color-inverse-primary-rgb-dark: 162, 60, 62;
  /* primary */
  --md-ref-palette-primary0: #000000;
  --md-ref-palette-primary5: #2c0003;
  --md-ref-palette-primary10: #410006;
  --md-ref-palette-primary20: #630c14;
  --md-ref-palette-primary25: #73191e;
  --md-ref-palette-primary30: #832428;
  --md-ref-palette-primary35: #923033;
  --md-ref-palette-primary40: #a23c3e;
  --md-ref-palette-primary50: #c25454;
  --md-ref-palette-primary60: #e26c6c;
  --md-ref-palette-primary70: #ff8887;
  --md-ref-palette-primary80: #ffb3b0;
  --md-ref-palette-primary90: #ffdad8;
  --md-ref-palette-primary95: #ffedeb;
  --md-ref-palette-primary98: #fff8f7;
  --md-ref-palette-primary99: #fffbff;
  --md-ref-palette-primary100: #ffffff;
  /* secondary */
  --md-ref-palette-secondary0: #000000;
  --md-ref-palette-secondary5: #200b0a;
  --md-ref-palette-secondary10: #2c1514;
  --md-ref-palette-secondary20: #442928;
  --md-ref-palette-secondary25: #503433;
  --md-ref-palette-secondary30: #5d3f3e;
  --md-ref-palette-secondary35: #6a4b49;
  --md-ref-palette-secondary40: #775655;
  --md-ref-palette-secondary50: #926e6d;
  --md-ref-palette-secondary60: #ad8886;
  --md-ref-palette-secondary70: #c9a2a0;
  --md-ref-palette-secondary80: #e6bdbb;
  --md-ref-palette-secondary90: #ffdad8;
  --md-ref-palette-secondary95: #ffedeb;
  --md-ref-palette-secondary98: #fff8f7;
  --md-ref-palette-secondary99: #fffbff;
  --md-ref-palette-secondary100: #ffffff;
  /* tertiary */
  --md-ref-palette-tertiary0: #000000;
  --md-ref-palette-tertiary5: #1a0f00;
  --md-ref-palette-tertiary10: #271900;
  --md-ref-palette-tertiary20: #412d05;
  --md-ref-palette-tertiary25: #4d380f;
  --md-ref-palette-tertiary30: #5a4319;
  --md-ref-palette-tertiary35: #674e24;
  --md-ref-palette-tertiary40: #745a2e;
  --md-ref-palette-tertiary50: #8e7345;
  --md-ref-palette-tertiary60: #aa8c5c;
  --md-ref-palette-tertiary70: #c6a774;
  --md-ref-palette-tertiary80: #e3c28c;
  --md-ref-palette-tertiary90: #ffdeab;
  --md-ref-palette-tertiary95: #ffeed9;
  --md-ref-palette-tertiary98: #fff8f3;
  --md-ref-palette-tertiary99: #fffbff;
  --md-ref-palette-tertiary100: #ffffff;
  /* neutral */
  --md-ref-palette-neutral0: #000000;
  --md-ref-palette-neutral5: #15100f;
  --md-ref-palette-neutral10: #201a1a;
  --md-ref-palette-neutral20: #362f2e;
  --md-ref-palette-neutral25: #413a39;
  --md-ref-palette-neutral30: #4d4544;
  --md-ref-palette-neutral35: #595050;
  --md-ref-palette-neutral40: #655c5c;
  --md-ref-palette-neutral50: #7f7574;
  --md-ref-palette-neutral60: #998e8d;
  --md-ref-palette-neutral70: #b4a9a8;
  --md-ref-palette-neutral80: #d0c4c3;
  --md-ref-palette-neutral90: #ede0de;
  --md-ref-palette-neutral95: #fbeeed;
  --md-ref-palette-neutral98: #fff8f7;
  --md-ref-palette-neutral99: #fffbff;
  --md-ref-palette-neutral100: #ffffff;
  /* neutralVariant */
  --md-ref-palette-neutralVariant0: #000000;
  --md-ref-palette-neutralVariant5: #190e0e;
  --md-ref-palette-neutralVariant10: #251918;
  --md-ref-palette-neutralVariant20: #3b2d2c;
  --md-ref-palette-neutralVariant25: #473837;
  --md-ref-palette-neutralVariant30: #524342;
  --md-ref-palette-neutralVariant35: #5f4f4e;
  --md-ref-palette-neutralVariant40: #6b5a5a;
  --md-ref-palette-neutralVariant50: #857372;
  --md-ref-palette-neutralVariant60: #a08c8b;
  --md-ref-palette-neutralVariant70: #bba6a5;
  --md-ref-palette-neutralVariant80: #d7c1c0;
  --md-ref-palette-neutralVariant90: #f4dddc;
  --md-ref-palette-neutralVariant95: #ffedeb;
  --md-ref-palette-neutralVariant98: #fff8f7;
  --md-ref-palette-neutralVariant99: #fffbff;
  --md-ref-palette-neutralVariant100: #ffffff;
  /* error */
  --md-ref-palette-error0: #000000;
  --md-ref-palette-error5: #2d0001;
  --md-ref-palette-error10: #410002;
  --md-ref-palette-error20: #690005;
  --md-ref-palette-error25: #7e0007;
  --md-ref-palette-error30: #93000a;
  --md-ref-palette-error35: #a80710;
  --md-ref-palette-error40: #ba1a1a;
  --md-ref-palette-error50: #de3730;
  --md-ref-palette-error60: #ff5449;
  --md-ref-palette-error70: #ff897d;
  --md-ref-palette-error80: #ffb4ab;
  --md-ref-palette-error90: #ffdad6;
  --md-ref-palette-error95: #ffedea;
  --md-ref-palette-error98: #fff8f7;
  --md-ref-palette-error99: #fffbff;
  --md-ref-palette-error100: #ffffff;
}