body, .tokens {
--md-source: #F0E68C;
  /* light */
  --md-sys-color-primary-rgb-light: 103, 96, 0;
  --md-sys-color-on-primary-rgb-light: 255, 255, 255;
  --md-sys-color-primary-container-rgb-light: 242, 230, 106;
  --md-sys-color-on-primary-container-rgb-light: 31, 28, 0;
  --md-sys-color-secondary-rgb-light: 99, 95, 65;
  --md-sys-color-on-secondary-rgb-light: 255, 255, 255;
  --md-sys-color-secondary-container-rgb-light: 234, 227, 190;
  --md-sys-color-on-secondary-container-rgb-light: 30, 28, 5;
  --md-sys-color-tertiary-rgb-light: 64, 102, 83;
  --md-sys-color-on-tertiary-rgb-light: 255, 255, 255;
  --md-sys-color-tertiary-container-rgb-light: 193, 236, 212;
  --md-sys-color-on-tertiary-container-rgb-light: 0, 33, 20;
  --md-sys-color-error-rgb-light: 186, 26, 26;
  --md-sys-color-on-error-rgb-light: 255, 255, 255;
  --md-sys-color-error-container-rgb-light: 255, 218, 214;
  --md-sys-color-on-error-container-rgb-light: 65, 0, 2;
  --md-sys-color-background-rgb-light: 255, 251, 255;
  --md-sys-color-on-background-rgb-light: 29, 28, 22;
  --md-sys-color-surface-rgb-light: 255, 251, 255;
  --md-sys-color-on-surface-rgb-light: 29, 28, 22;
  --md-sys-color-surface-variant-rgb-light: 231, 227, 208;
  --md-sys-color-on-surface-variant-rgb-light: 73, 71, 58;
  --md-sys-color-outline-rgb-light: 122, 119, 104;
  --md-sys-color-shadow-rgb-light: 0, 0, 0;
  --md-sys-color-inverse-surface-rgb-light: 50, 48, 43;
  --md-sys-color-inverse-on-surface-rgb-light: 245, 240, 231;
  --md-sys-color-inverse-primary-rgb-light: 213, 201, 81;
  /* dark */
  --md-sys-color-primary-rgb-dark: 213, 201, 81;
  --md-sys-color-on-primary-rgb-dark: 54, 49, 0;
  --md-sys-color-primary-container-rgb-dark: 78, 72, 0;
  --md-sys-color-on-primary-container-rgb-dark: 242, 230, 106;
  --md-sys-color-secondary-rgb-dark: 205, 199, 163;
  --md-sys-color-on-secondary-rgb-dark: 52, 49, 23;
  --md-sys-color-secondary-container-rgb-dark: 75, 72, 44;
  --md-sys-color-on-secondary-container-rgb-dark: 234, 227, 190;
  --md-sys-color-tertiary-rgb-dark: 166, 208, 185;
  --md-sys-color-on-tertiary-rgb-dark: 15, 55, 39;
  --md-sys-color-tertiary-container-rgb-dark: 40, 78, 60;
  --md-sys-color-on-tertiary-container-rgb-dark: 193, 236, 212;
  --md-sys-color-error-rgb-dark: 255, 180, 171;
  --md-sys-color-on-error-rgb-dark: 105, 0, 5;
  --md-sys-color-error-container-rgb-dark: 147, 0, 10;
  --md-sys-color-on-error-container-rgb-dark: 255, 180, 171;
  --md-sys-color-background-rgb-dark: 29, 28, 22;
  --md-sys-color-on-background-rgb-dark: 230, 226, 217;
  --md-sys-color-surface-rgb-dark: 29, 28, 22;
  --md-sys-color-on-surface-rgb-dark: 230, 226, 217;
  --md-sys-color-surface-variant-rgb-dark: 73, 71, 58;
  --md-sys-color-on-surface-variant-rgb-dark: 203, 199, 181;
  --md-sys-color-outline-rgb-dark: 148, 145, 129;
  --md-sys-color-shadow-rgb-dark: 0, 0, 0;
  --md-sys-color-inverse-surface-rgb-dark: 230, 226, 217;
  --md-sys-color-inverse-on-surface-rgb-dark: 50, 48, 43;
  --md-sys-color-inverse-primary-rgb-dark: 103, 96, 0;
  /* primary */
  --md-ref-palette-primary0: #000000;
  --md-ref-palette-primary5: #131100;
  --md-ref-palette-primary10: #1f1c00;
  --md-ref-palette-primary20: #363100;
  --md-ref-palette-primary25: #413c00;
  --md-ref-palette-primary30: #4e4800;
  --md-ref-palette-primary35: #5a5400;
  --md-ref-palette-primary40: #676000;
  --md-ref-palette-primary50: #827900;
  --md-ref-palette-primary60: #9d931d;
  --md-ref-palette-primary70: #b9ae38;
  --md-ref-palette-primary80: #d5c951;
  --md-ref-palette-primary90: #f2e66a;
  --md-ref-palette-primary95: #fff48a;
  --md-ref-palette-primary98: #fff9e4;
  --md-ref-palette-primary99: #fffbff;
  --md-ref-palette-primary100: #ffffff;
  /* secondary */
  --md-ref-palette-secondary0: #000000;
  --md-ref-palette-secondary5: #131100;
  --md-ref-palette-secondary10: #1e1c05;
  --md-ref-palette-secondary20: #343117;
  --md-ref-palette-secondary25: #3f3c21;
  --md-ref-palette-secondary30: #4b482c;
  --md-ref-palette-secondary35: #575336;
  --md-ref-palette-secondary40: #635f41;
  --md-ref-palette-secondary50: #7c7858;
  --md-ref-palette-secondary60: #969270;
  --md-ref-palette-secondary70: #b1ac89;
  --md-ref-palette-secondary80: #cdc7a3;
  --md-ref-palette-secondary90: #eae3be;
  --md-ref-palette-secondary95: #f8f2cb;
  --md-ref-palette-secondary98: #fff9e4;
  --md-ref-palette-secondary99: #fffbff;
  --md-ref-palette-secondary100: #ffffff;
  /* tertiary */
  --md-ref-palette-tertiary0: #000000;
  --md-ref-palette-tertiary5: #00150b;
  --md-ref-palette-tertiary10: #002114;
  --md-ref-palette-tertiary20: #0f3727;
  --md-ref-palette-tertiary25: #1c4231;
  --md-ref-palette-tertiary30: #284e3c;
  --md-ref-palette-tertiary35: #345a48;
  --md-ref-palette-tertiary40: #406653;
  --md-ref-palette-tertiary50: #587f6b;
  --md-ref-palette-tertiary60: #719984;
  --md-ref-palette-tertiary70: #8bb49e;
  --md-ref-palette-tertiary80: #a6d0b9;
  --md-ref-palette-tertiary90: #c1ecd4;
  --md-ref-palette-tertiary95: #cffbe2;
  --md-ref-palette-tertiary98: #e8fff0;
  --md-ref-palette-tertiary99: #f4fff6;
  --md-ref-palette-tertiary100: #ffffff;
  /* neutral */
  --md-ref-palette-neutral0: #000000;
  --md-ref-palette-neutral5: #12110c;
  --md-ref-palette-neutral10: #1d1c16;
  --md-ref-palette-neutral20: #32302b;
  --md-ref-palette-neutral25: #3d3b35;
  --md-ref-palette-neutral30: #484740;
  --md-ref-palette-neutral35: #54524c;
  --md-ref-palette-neutral40: #605e57;
  --md-ref-palette-neutral50: #797770;
  --md-ref-palette-neutral60: #939089;
  --md-ref-palette-neutral70: #aeaba3;
  --md-ref-palette-neutral80: #cac6be;
  --md-ref-palette-neutral90: #e6e2d9;
  --md-ref-palette-neutral95: #f5f0e7;
  --md-ref-palette-neutral98: #fef9f0;
  --md-ref-palette-neutral99: #fffbff;
  --md-ref-palette-neutral100: #ffffff;
  /* neutralVariant */
  --md-ref-palette-neutral-variant0: #000000;
  --md-ref-palette-neutral-variant5: #121107;
  --md-ref-palette-neutral-variant10: #1d1c11;
  --md-ref-palette-neutral-variant20: #323124;
  --md-ref-palette-neutral-variant25: #3e3c2f;
  --md-ref-palette-neutral-variant30: #49473a;
  --md-ref-palette-neutral-variant35: #555345;
  --md-ref-palette-neutral-variant40: #615f50;
  --md-ref-palette-neutral-variant50: #7a7768;
  --md-ref-palette-neutral-variant60: #949181;
  --md-ref-palette-neutral-variant70: #afab9b;
  --md-ref-palette-neutral-variant80: #cbc7b5;
  --md-ref-palette-neutral-variant90: #e7e3d0;
  --md-ref-palette-neutral-variant95: #f6f1de;
  --md-ref-palette-neutral-variant98: #fff9e7;
  --md-ref-palette-neutral-variant99: #fffbff;
  --md-ref-palette-neutral-variant100: #ffffff;
  /* error */
  --md-ref-palette-error0: #000000;
  --md-ref-palette-error5: #2d0001;
  --md-ref-palette-error10: #410002;
  --md-ref-palette-error20: #690005;
  --md-ref-palette-error25: #7e0007;
  --md-ref-palette-error30: #93000a;
  --md-ref-palette-error35: #a80710;
  --md-ref-palette-error40: #ba1a1a;
  --md-ref-palette-error50: #de3730;
  --md-ref-palette-error60: #ff5449;
  --md-ref-palette-error70: #ff897d;
  --md-ref-palette-error80: #ffb4ab;
  --md-ref-palette-error90: #ffdad6;
  --md-ref-palette-error95: #ffedea;
  --md-ref-palette-error98: #fff8f7;
  --md-ref-palette-error99: #fffbff;
  --md-ref-palette-error100: #ffffff;
}