* {
--md-source: #E6E6FA;
  /* primary */
  --md-ref-palette-primary0-rgb: 0 0 0;
  --md-ref-palette-primary5-rgb: 0 8 65;
  --md-ref-palette-primary10-rgb: 0 15 92;
  --md-ref-palette-primary20-rgb: 23 39 120;
  --md-ref-palette-primary25-rgb: 37 51 132;
  --md-ref-palette-primary30-rgb: 49 63 144;
  --md-ref-palette-primary35-rgb: 62 75 156;
  --md-ref-palette-primary40-rgb: 74 88 169;
  --md-ref-palette-primary50-rgb: 99 113 196;
  --md-ref-palette-primary60-rgb: 125 139 224;
  --md-ref-palette-primary70-rgb: 152 165 253;
  --md-ref-palette-primary80-rgb: 187 195 255;
  --md-ref-palette-primary90-rgb: 222 224 255;
  --md-ref-palette-primary95-rgb: 240 239 255;
  --md-ref-palette-primary98-rgb: 251 248 255;
  --md-ref-palette-primary99-rgb: 255 251 255;
  --md-ref-palette-primary100-rgb: 255 255 255;
  /* secondary */
  --md-ref-palette-secondary0-rgb: 0 0 0;
  --md-ref-palette-secondary5-rgb: 13 16 33;
  --md-ref-palette-secondary10-rgb: 24 26 44;
  --md-ref-palette-secondary20-rgb: 45 47 66;
  --md-ref-palette-secondary25-rgb: 56 58 77;
  --md-ref-palette-secondary30-rgb: 67 69 89;
  --md-ref-palette-secondary35-rgb: 79 81 101;
  --md-ref-palette-secondary40-rgb: 91 93 114;
  --md-ref-palette-secondary50-rgb: 116 118 139;
  --md-ref-palette-secondary60-rgb: 141 143 166;
  --md-ref-palette-secondary70-rgb: 168 170 193;
  --md-ref-palette-secondary80-rgb: 195 197 221;
  --md-ref-palette-secondary90-rgb: 224 225 249;
  --md-ref-palette-secondary95-rgb: 240 239 255;
  --md-ref-palette-secondary98-rgb: 251 248 255;
  --md-ref-palette-secondary99-rgb: 255 251 255;
  --md-ref-palette-secondary100-rgb: 255 255 255;
  /* tertiary */
  --md-ref-palette-tertiary0-rgb: 0 0 0;
  --md-ref-palette-tertiary5-rgb: 33 7 28;
  --md-ref-palette-tertiary10-rgb: 45 18 40;
  --md-ref-palette-tertiary20-rgb: 68 38 61;
  --md-ref-palette-tertiary25-rgb: 81 49 73;
  --md-ref-palette-tertiary30-rgb: 93 60 84;
  --md-ref-palette-tertiary35-rgb: 106 72 97;
  --md-ref-palette-tertiary40-rgb: 119 83 109;
  --md-ref-palette-tertiary50-rgb: 145 108 134;
  --md-ref-palette-tertiary60-rgb: 173 133 160;
  --md-ref-palette-tertiary70-rgb: 201 159 187;
  --md-ref-palette-tertiary80-rgb: 230 186 215;
  --md-ref-palette-tertiary90-rgb: 255 215 241;
  --md-ref-palette-tertiary95-rgb: 255 236 246;
  --md-ref-palette-tertiary98-rgb: 255 247 249;
  --md-ref-palette-tertiary99-rgb: 255 251 255;
  --md-ref-palette-tertiary100-rgb: 255 255 255;
  /* neutral */
  --md-ref-palette-neutral0-rgb: 0 0 0;
  --md-ref-palette-neutral5-rgb: 17 17 20;
  --md-ref-palette-neutral10-rgb: 27 27 31;
  --md-ref-palette-neutral20-rgb: 48 48 52;
  --md-ref-palette-neutral25-rgb: 59 59 63;
  --md-ref-palette-neutral30-rgb: 71 70 74;
  --md-ref-palette-neutral35-rgb: 83 82 86;
  --md-ref-palette-neutral40-rgb: 95 94 98;
  --md-ref-palette-neutral50-rgb: 120 118 122;
  --md-ref-palette-neutral60-rgb: 146 144 148;
  --md-ref-palette-neutral70-rgb: 172 170 175;
  --md-ref-palette-neutral80-rgb: 200 197 202;
  --md-ref-palette-neutral90-rgb: 228 225 230;
  --md-ref-palette-neutral95-rgb: 243 240 244;
  --md-ref-palette-neutral98-rgb: 251 248 253;
  --md-ref-palette-neutral99-rgb: 255 251 255;
  --md-ref-palette-neutral100-rgb: 255 255 255;
  /* neutralVariant */
  --md-ref-palette-neutral-variant0-rgb: 0 0 0;
  --md-ref-palette-neutral-variant5-rgb: 16 16 24;
  --md-ref-palette-neutral-variant10-rgb: 26 27 35;
  --md-ref-palette-neutral-variant20-rgb: 47 48 56;
  --md-ref-palette-neutral-variant25-rgb: 58 59 67;
  --md-ref-palette-neutral-variant30-rgb: 70 70 79;
  --md-ref-palette-neutral-variant35-rgb: 81 82 91;
  --md-ref-palette-neutral-variant40-rgb: 93 94 103;
  --md-ref-palette-neutral-variant50-rgb: 118 118 128;
  --md-ref-palette-neutral-variant60-rgb: 144 144 154;
  --md-ref-palette-neutral-variant70-rgb: 171 170 180;
  --md-ref-palette-neutral-variant80-rgb: 199 197 208;
  --md-ref-palette-neutral-variant90-rgb: 227 225 236;
  --md-ref-palette-neutral-variant95-rgb: 241 239 250;
  --md-ref-palette-neutral-variant98-rgb: 251 248 255;
  --md-ref-palette-neutral-variant99-rgb: 255 251 255;
  --md-ref-palette-neutral-variant100-rgb: 255 255 255;
  /* error */
  --md-ref-palette-error0-rgb: 0 0 0;
  --md-ref-palette-error5-rgb: 45 0 1;
  --md-ref-palette-error10-rgb: 65 0 2;
  --md-ref-palette-error20-rgb: 105 0 5;
  --md-ref-palette-error25-rgb: 126 0 7;
  --md-ref-palette-error30-rgb: 147 0 10;
  --md-ref-palette-error35-rgb: 168 7 16;
  --md-ref-palette-error40-rgb: 186 26 26;
  --md-ref-palette-error50-rgb: 222 55 48;
  --md-ref-palette-error60-rgb: 255 84 73;
  --md-ref-palette-error70-rgb: 255 137 125;
  --md-ref-palette-error80-rgb: 255 180 171;
  --md-ref-palette-error90-rgb: 255 218 214;
  --md-ref-palette-error95-rgb: 255 237 234;
  --md-ref-palette-error98-rgb: 255 248 247;
  --md-ref-palette-error99-rgb: 255 251 255;
  --md-ref-palette-error100-rgb: 255 255 255;
}