* {
--md-source: #FFF0F5;
  /* primary */
  --md-ref-palette-primary0-rgb: 0 0 0;
  --md-ref-palette-primary5-rgb: 41 0 29;
  --md-ref-palette-primary10-rgb: 60 0 43;
  --md-ref-palette-primary20-rgb: 90 17 68;
  --md-ref-palette-primary25-rgb: 104 30 80;
  --md-ref-palette-primary30-rgb: 118 42 92;
  --md-ref-palette-primary35-rgb: 132 54 104;
  --md-ref-palette-primary40-rgb: 146 66 117;
  --md-ref-palette-primary50-rgb: 175 90 143;
  --md-ref-palette-primary60-rgb: 205 115 169;
  --md-ref-palette-primary70-rgb: 235 141 197;
  --md-ref-palette-primary80-rgb: 255 174 220;
  --md-ref-palette-primary90-rgb: 255 216 235;
  --md-ref-palette-primary95-rgb: 255 236 243;
  --md-ref-palette-primary98-rgb: 255 248 248;
  --md-ref-palette-primary99-rgb: 255 251 255;
  --md-ref-palette-primary100-rgb: 255 255 255;
  /* secondary */
  --md-ref-palette-secondary0-rgb: 0 0 0;
  --md-ref-palette-secondary5-rgb: 29 11 22;
  --md-ref-palette-secondary10-rgb: 41 21 33;
  --md-ref-palette-secondary20-rgb: 64 42 54;
  --md-ref-palette-secondary25-rgb: 76 53 65;
  --md-ref-palette-secondary30-rgb: 88 64 77;
  --md-ref-palette-secondary35-rgb: 100 75 88;
  --md-ref-palette-secondary40-rgb: 113 87 100;
  --md-ref-palette-secondary50-rgb: 139 111 125;
  --md-ref-palette-secondary60-rgb: 166 137 151;
  --md-ref-palette-secondary70-rgb: 194 163 178;
  --md-ref-palette-secondary80-rgb: 222 190 205;
  --md-ref-palette-secondary90-rgb: 252 217 233;
  --md-ref-palette-secondary95-rgb: 255 236 243;
  --md-ref-palette-secondary98-rgb: 255 248 248;
  --md-ref-palette-secondary99-rgb: 255 251 255;
  --md-ref-palette-secondary100-rgb: 255 255 255;
  /* tertiary */
  --md-ref-palette-tertiary0-rgb: 0 0 0;
  --md-ref-palette-tertiary5-rgb: 35 9 0;
  --md-ref-palette-tertiary10-rgb: 49 19 3;
  --md-ref-palette-tertiary20-rgb: 75 39 19;
  --md-ref-palette-tertiary25-rgb: 88 50 29;
  --md-ref-palette-tertiary30-rgb: 101 61 39;
  --md-ref-palette-tertiary35-rgb: 114 72 50;
  --md-ref-palette-tertiary40-rgb: 128 84 61;
  --md-ref-palette-tertiary50-rgb: 156 108 83;
  --md-ref-palette-tertiary60-rgb: 184 133 107;
  --md-ref-palette-tertiary70-rgb: 214 159 131;
  --md-ref-palette-tertiary80-rgb: 244 186 157;
  --md-ref-palette-tertiary90-rgb: 255 219 202;
  --md-ref-palette-tertiary95-rgb: 255 237 230;
  --md-ref-palette-tertiary98-rgb: 255 248 246;
  --md-ref-palette-tertiary99-rgb: 255 251 255;
  --md-ref-palette-tertiary100-rgb: 255 255 255;
  /* neutral */
  --md-ref-palette-neutral0-rgb: 0 0 0;
  --md-ref-palette-neutral5-rgb: 20 16 18;
  --md-ref-palette-neutral10-rgb: 31 26 28;
  --md-ref-palette-neutral20-rgb: 53 47 49;
  --md-ref-palette-neutral25-rgb: 64 58 60;
  --md-ref-palette-neutral30-rgb: 75 69 71;
  --md-ref-palette-neutral35-rgb: 87 81 83;
  --md-ref-palette-neutral40-rgb: 100 92 95;
  --md-ref-palette-neutral50-rgb: 125 117 120;
  --md-ref-palette-neutral60-rgb: 151 142 145;
  --md-ref-palette-neutral70-rgb: 178 169 172;
  --md-ref-palette-neutral80-rgb: 206 196 199;
  --md-ref-palette-neutral90-rgb: 234 224 227;
  --md-ref-palette-neutral95-rgb: 249 238 241;
  --md-ref-palette-neutral98-rgb: 255 248 248;
  --md-ref-palette-neutral99-rgb: 255 251 255;
  --md-ref-palette-neutral100-rgb: 255 255 255;
  /* neutralVariant */
  --md-ref-palette-neutral-variant0-rgb: 0 0 0;
  --md-ref-palette-neutral-variant5-rgb: 23 14 19;
  --md-ref-palette-neutral-variant10-rgb: 34 25 30;
  --md-ref-palette-neutral-variant20-rgb: 56 45 51;
  --md-ref-palette-neutral-variant25-rgb: 68 56 62;
  --md-ref-palette-neutral-variant30-rgb: 80 67 73;
  --md-ref-palette-neutral-variant35-rgb: 92 79 85;
  --md-ref-palette-neutral-variant40-rgb: 104 91 97;
  --md-ref-palette-neutral-variant50-rgb: 129 115 121;
  --md-ref-palette-neutral-variant60-rgb: 156 141 147;
  --md-ref-palette-neutral-variant70-rgb: 183 167 174;
  --md-ref-palette-neutral-variant80-rgb: 211 194 201;
  --md-ref-palette-neutral-variant90-rgb: 240 222 229;
  --md-ref-palette-neutral-variant95-rgb: 255 236 243;
  --md-ref-palette-neutral-variant98-rgb: 255 248 248;
  --md-ref-palette-neutral-variant99-rgb: 255 251 255;
  --md-ref-palette-neutral-variant100-rgb: 255 255 255;
  /* error */
  --md-ref-palette-error0-rgb: 0 0 0;
  --md-ref-palette-error5-rgb: 45 0 1;
  --md-ref-palette-error10-rgb: 65 0 2;
  --md-ref-palette-error20-rgb: 105 0 5;
  --md-ref-palette-error25-rgb: 126 0 7;
  --md-ref-palette-error30-rgb: 147 0 10;
  --md-ref-palette-error35-rgb: 168 7 16;
  --md-ref-palette-error40-rgb: 186 26 26;
  --md-ref-palette-error50-rgb: 222 55 48;
  --md-ref-palette-error60-rgb: 255 84 73;
  --md-ref-palette-error70-rgb: 255 137 125;
  --md-ref-palette-error80-rgb: 255 180 171;
  --md-ref-palette-error90-rgb: 255 218 214;
  --md-ref-palette-error95-rgb: 255 237 234;
  --md-ref-palette-error98-rgb: 255 248 247;
  --md-ref-palette-error99-rgb: 255 251 255;
  --md-ref-palette-error100-rgb: 255 255 255;
}