:root, .tokens {
--md-source: #FFF0F5;
  /* light */
  --md-sys-color-primary-rgb-light: 146, 66, 117;
  --md-sys-color-on-primary-rgb-light: 255, 255, 255;
  --md-sys-color-primary-container-rgb-light: 255, 216, 235;
  --md-sys-color-on-primary-container-rgb-light: 60, 0, 43;
  --md-sys-color-secondary-rgb-light: 113, 87, 100;
  --md-sys-color-on-secondary-rgb-light: 255, 255, 255;
  --md-sys-color-secondary-container-rgb-light: 252, 217, 233;
  --md-sys-color-on-secondary-container-rgb-light: 41, 21, 33;
  --md-sys-color-tertiary-rgb-light: 128, 84, 61;
  --md-sys-color-on-tertiary-rgb-light: 255, 255, 255;
  --md-sys-color-tertiary-container-rgb-light: 255, 219, 202;
  --md-sys-color-on-tertiary-container-rgb-light: 49, 19, 3;
  --md-sys-color-error-rgb-light: 186, 26, 26;
  --md-sys-color-on-error-rgb-light: 255, 255, 255;
  --md-sys-color-error-container-rgb-light: 255, 218, 214;
  --md-sys-color-on-error-container-rgb-light: 65, 0, 2;
  --md-sys-color-background-rgb-light: 255, 251, 255;
  --md-sys-color-on-background-rgb-light: 31, 26, 28;
  --md-sys-color-surface-rgb-light: 255, 251, 255;
  --md-sys-color-on-surface-rgb-light: 31, 26, 28;
  --md-sys-color-surface-variant-rgb-light: 240, 222, 229;
  --md-sys-color-on-surface-variant-rgb-light: 80, 67, 73;
  --md-sys-color-outline-rgb-light: 129, 115, 121;
  --md-sys-color-shadow-rgb-light: 0, 0, 0;
  --md-sys-color-inverse-surface-rgb-light: 53, 47, 49;
  --md-sys-color-inverse-on-surface-rgb-light: 249, 238, 241;
  --md-sys-color-inverse-primary-rgb-light: 255, 174, 220;
  /* dark */
  --md-sys-color-primary-rgb-dark: 255, 174, 220;
  --md-sys-color-on-primary-rgb-dark: 90, 17, 68;
  --md-sys-color-primary-container-rgb-dark: 118, 42, 92;
  --md-sys-color-on-primary-container-rgb-dark: 255, 216, 235;
  --md-sys-color-secondary-rgb-dark: 222, 190, 205;
  --md-sys-color-on-secondary-rgb-dark: 64, 42, 54;
  --md-sys-color-secondary-container-rgb-dark: 88, 64, 77;
  --md-sys-color-on-secondary-container-rgb-dark: 252, 217, 233;
  --md-sys-color-tertiary-rgb-dark: 244, 186, 157;
  --md-sys-color-on-tertiary-rgb-dark: 75, 39, 19;
  --md-sys-color-tertiary-container-rgb-dark: 101, 61, 39;
  --md-sys-color-on-tertiary-container-rgb-dark: 255, 219, 202;
  --md-sys-color-error-rgb-dark: 255, 180, 171;
  --md-sys-color-on-error-rgb-dark: 105, 0, 5;
  --md-sys-color-error-container-rgb-dark: 147, 0, 10;
  --md-sys-color-on-error-container-rgb-dark: 255, 180, 171;
  --md-sys-color-background-rgb-dark: 31, 26, 28;
  --md-sys-color-on-background-rgb-dark: 234, 224, 227;
  --md-sys-color-surface-rgb-dark: 31, 26, 28;
  --md-sys-color-on-surface-rgb-dark: 234, 224, 227;
  --md-sys-color-surface-variant-rgb-dark: 80, 67, 73;
  --md-sys-color-on-surface-variant-rgb-dark: 211, 194, 201;
  --md-sys-color-outline-rgb-dark: 156, 141, 147;
  --md-sys-color-shadow-rgb-dark: 0, 0, 0;
  --md-sys-color-inverse-surface-rgb-dark: 234, 224, 227;
  --md-sys-color-inverse-on-surface-rgb-dark: 53, 47, 49;
  --md-sys-color-inverse-primary-rgb-dark: 146, 66, 117;
  /* primary */
  --md-ref-palette-primary0: #000000;
  --md-ref-palette-primary5: #29001d;
  --md-ref-palette-primary10: #3c002b;
  --md-ref-palette-primary20: #5a1144;
  --md-ref-palette-primary25: #681e50;
  --md-ref-palette-primary30: #762a5c;
  --md-ref-palette-primary35: #843668;
  --md-ref-palette-primary40: #924275;
  --md-ref-palette-primary50: #af5a8f;
  --md-ref-palette-primary60: #cd73a9;
  --md-ref-palette-primary70: #eb8dc5;
  --md-ref-palette-primary80: #ffaedc;
  --md-ref-palette-primary90: #ffd8eb;
  --md-ref-palette-primary95: #ffecf3;
  --md-ref-palette-primary98: #fff8f8;
  --md-ref-palette-primary99: #fffbff;
  --md-ref-palette-primary100: #ffffff;
  /* secondary */
  --md-ref-palette-secondary0: #000000;
  --md-ref-palette-secondary5: #1d0b16;
  --md-ref-palette-secondary10: #291521;
  --md-ref-palette-secondary20: #402a36;
  --md-ref-palette-secondary25: #4c3541;
  --md-ref-palette-secondary30: #58404d;
  --md-ref-palette-secondary35: #644b58;
  --md-ref-palette-secondary40: #715764;
  --md-ref-palette-secondary50: #8b6f7d;
  --md-ref-palette-secondary60: #a68997;
  --md-ref-palette-secondary70: #c2a3b2;
  --md-ref-palette-secondary80: #debecd;
  --md-ref-palette-secondary90: #fcd9e9;
  --md-ref-palette-secondary95: #ffecf3;
  --md-ref-palette-secondary98: #fff8f8;
  --md-ref-palette-secondary99: #fffbff;
  --md-ref-palette-secondary100: #ffffff;
  /* tertiary */
  --md-ref-palette-tertiary0: #000000;
  --md-ref-palette-tertiary5: #230900;
  --md-ref-palette-tertiary10: #311303;
  --md-ref-palette-tertiary20: #4b2713;
  --md-ref-palette-tertiary25: #58321d;
  --md-ref-palette-tertiary30: #653d27;
  --md-ref-palette-tertiary35: #724832;
  --md-ref-palette-tertiary40: #80543d;
  --md-ref-palette-tertiary50: #9c6c53;
  --md-ref-palette-tertiary60: #b8856b;
  --md-ref-palette-tertiary70: #d69f83;
  --md-ref-palette-tertiary80: #f4ba9d;
  --md-ref-palette-tertiary90: #ffdbca;
  --md-ref-palette-tertiary95: #ffede6;
  --md-ref-palette-tertiary98: #fff8f6;
  --md-ref-palette-tertiary99: #fffbff;
  --md-ref-palette-tertiary100: #ffffff;
  /* neutral */
  --md-ref-palette-neutral0: #000000;
  --md-ref-palette-neutral5: #141012;
  --md-ref-palette-neutral10: #1f1a1c;
  --md-ref-palette-neutral20: #352f31;
  --md-ref-palette-neutral25: #403a3c;
  --md-ref-palette-neutral30: #4b4547;
  --md-ref-palette-neutral35: #575153;
  --md-ref-palette-neutral40: #645c5f;
  --md-ref-palette-neutral50: #7d7578;
  --md-ref-palette-neutral60: #978e91;
  --md-ref-palette-neutral70: #b2a9ac;
  --md-ref-palette-neutral80: #cec4c7;
  --md-ref-palette-neutral90: #eae0e3;
  --md-ref-palette-neutral95: #f9eef1;
  --md-ref-palette-neutral98: #fff8f8;
  --md-ref-palette-neutral99: #fffbff;
  --md-ref-palette-neutral100: #ffffff;
  /* neutralVariant */
  --md-ref-palette-neutralVariant0: #000000;
  --md-ref-palette-neutralVariant5: #170e13;
  --md-ref-palette-neutralVariant10: #22191e;
  --md-ref-palette-neutralVariant20: #382d33;
  --md-ref-palette-neutralVariant25: #44383e;
  --md-ref-palette-neutralVariant30: #504349;
  --md-ref-palette-neutralVariant35: #5c4f55;
  --md-ref-palette-neutralVariant40: #685b61;
  --md-ref-palette-neutralVariant50: #817379;
  --md-ref-palette-neutralVariant60: #9c8d93;
  --md-ref-palette-neutralVariant70: #b7a7ae;
  --md-ref-palette-neutralVariant80: #d3c2c9;
  --md-ref-palette-neutralVariant90: #f0dee5;
  --md-ref-palette-neutralVariant95: #ffecf3;
  --md-ref-palette-neutralVariant98: #fff8f8;
  --md-ref-palette-neutralVariant99: #fffbff;
  --md-ref-palette-neutralVariant100: #ffffff;
  /* error */
  --md-ref-palette-error0: #000000;
  --md-ref-palette-error5: #2d0001;
  --md-ref-palette-error10: #410002;
  --md-ref-palette-error20: #690005;
  --md-ref-palette-error25: #7e0007;
  --md-ref-palette-error30: #93000a;
  --md-ref-palette-error35: #a80710;
  --md-ref-palette-error40: #ba1a1a;
  --md-ref-palette-error50: #de3730;
  --md-ref-palette-error60: #ff5449;
  --md-ref-palette-error70: #ff897d;
  --md-ref-palette-error80: #ffb4ab;
  --md-ref-palette-error90: #ffdad6;
  --md-ref-palette-error95: #ffedea;
  --md-ref-palette-error98: #fff8f7;
  --md-ref-palette-error99: #fffbff;
  --md-ref-palette-error100: #ffffff;
}