body, .tokens {
--md-source: #E6E6FA;
  /* light */
  --md-sys-color-primary-rgb-light: 74, 88, 169;
  --md-sys-color-on-primary-rgb-light: 255, 255, 255;
  --md-sys-color-primary-container-rgb-light: 222, 224, 255;
  --md-sys-color-on-primary-container-rgb-light: 0, 15, 92;
  --md-sys-color-secondary-rgb-light: 91, 93, 114;
  --md-sys-color-on-secondary-rgb-light: 255, 255, 255;
  --md-sys-color-secondary-container-rgb-light: 224, 225, 249;
  --md-sys-color-on-secondary-container-rgb-light: 24, 26, 44;
  --md-sys-color-tertiary-rgb-light: 119, 83, 109;
  --md-sys-color-on-tertiary-rgb-light: 255, 255, 255;
  --md-sys-color-tertiary-container-rgb-light: 255, 215, 241;
  --md-sys-color-on-tertiary-container-rgb-light: 45, 18, 40;
  --md-sys-color-error-rgb-light: 186, 26, 26;
  --md-sys-color-on-error-rgb-light: 255, 255, 255;
  --md-sys-color-error-container-rgb-light: 255, 218, 214;
  --md-sys-color-on-error-container-rgb-light: 65, 0, 2;
  --md-sys-color-background-rgb-light: 255, 251, 255;
  --md-sys-color-on-background-rgb-light: 27, 27, 31;
  --md-sys-color-surface-rgb-light: 255, 251, 255;
  --md-sys-color-on-surface-rgb-light: 27, 27, 31;
  --md-sys-color-surface-variant-rgb-light: 227, 225, 236;
  --md-sys-color-on-surface-variant-rgb-light: 70, 70, 79;
  --md-sys-color-outline-rgb-light: 118, 118, 128;
  --md-sys-color-shadow-rgb-light: 0, 0, 0;
  --md-sys-color-inverse-surface-rgb-light: 48, 48, 52;
  --md-sys-color-inverse-on-surface-rgb-light: 243, 240, 244;
  --md-sys-color-inverse-primary-rgb-light: 187, 195, 255;
  /* dark */
  --md-sys-color-primary-rgb-dark: 187, 195, 255;
  --md-sys-color-on-primary-rgb-dark: 23, 39, 120;
  --md-sys-color-primary-container-rgb-dark: 49, 63, 144;
  --md-sys-color-on-primary-container-rgb-dark: 222, 224, 255;
  --md-sys-color-secondary-rgb-dark: 195, 197, 221;
  --md-sys-color-on-secondary-rgb-dark: 45, 47, 66;
  --md-sys-color-secondary-container-rgb-dark: 67, 69, 89;
  --md-sys-color-on-secondary-container-rgb-dark: 224, 225, 249;
  --md-sys-color-tertiary-rgb-dark: 230, 186, 215;
  --md-sys-color-on-tertiary-rgb-dark: 68, 38, 61;
  --md-sys-color-tertiary-container-rgb-dark: 93, 60, 84;
  --md-sys-color-on-tertiary-container-rgb-dark: 255, 215, 241;
  --md-sys-color-error-rgb-dark: 255, 180, 171;
  --md-sys-color-on-error-rgb-dark: 105, 0, 5;
  --md-sys-color-error-container-rgb-dark: 147, 0, 10;
  --md-sys-color-on-error-container-rgb-dark: 255, 180, 171;
  --md-sys-color-background-rgb-dark: 27, 27, 31;
  --md-sys-color-on-background-rgb-dark: 228, 225, 230;
  --md-sys-color-surface-rgb-dark: 27, 27, 31;
  --md-sys-color-on-surface-rgb-dark: 228, 225, 230;
  --md-sys-color-surface-variant-rgb-dark: 70, 70, 79;
  --md-sys-color-on-surface-variant-rgb-dark: 199, 197, 208;
  --md-sys-color-outline-rgb-dark: 144, 144, 154;
  --md-sys-color-shadow-rgb-dark: 0, 0, 0;
  --md-sys-color-inverse-surface-rgb-dark: 228, 225, 230;
  --md-sys-color-inverse-on-surface-rgb-dark: 48, 48, 52;
  --md-sys-color-inverse-primary-rgb-dark: 74, 88, 169;
  /* primary */
  --md-ref-palette-primary0: #000000;
  --md-ref-palette-primary5: #000841;
  --md-ref-palette-primary10: #000f5c;
  --md-ref-palette-primary20: #172778;
  --md-ref-palette-primary25: #253384;
  --md-ref-palette-primary30: #313f90;
  --md-ref-palette-primary35: #3e4b9c;
  --md-ref-palette-primary40: #4a58a9;
  --md-ref-palette-primary50: #6371c4;
  --md-ref-palette-primary60: #7d8be0;
  --md-ref-palette-primary70: #98a5fd;
  --md-ref-palette-primary80: #bbc3ff;
  --md-ref-palette-primary90: #dee0ff;
  --md-ref-palette-primary95: #f0efff;
  --md-ref-palette-primary98: #fbf8ff;
  --md-ref-palette-primary99: #fffbff;
  --md-ref-palette-primary100: #ffffff;
  /* secondary */
  --md-ref-palette-secondary0: #000000;
  --md-ref-palette-secondary5: #0d1021;
  --md-ref-palette-secondary10: #181a2c;
  --md-ref-palette-secondary20: #2d2f42;
  --md-ref-palette-secondary25: #383a4d;
  --md-ref-palette-secondary30: #434559;
  --md-ref-palette-secondary35: #4f5165;
  --md-ref-palette-secondary40: #5b5d72;
  --md-ref-palette-secondary50: #74768b;
  --md-ref-palette-secondary60: #8d8fa6;
  --md-ref-palette-secondary70: #a8aac1;
  --md-ref-palette-secondary80: #c3c5dd;
  --md-ref-palette-secondary90: #e0e1f9;
  --md-ref-palette-secondary95: #f0efff;
  --md-ref-palette-secondary98: #fbf8ff;
  --md-ref-palette-secondary99: #fffbff;
  --md-ref-palette-secondary100: #ffffff;
  /* tertiary */
  --md-ref-palette-tertiary0: #000000;
  --md-ref-palette-tertiary5: #21071c;
  --md-ref-palette-tertiary10: #2d1228;
  --md-ref-palette-tertiary20: #44263d;
  --md-ref-palette-tertiary25: #513149;
  --md-ref-palette-tertiary30: #5d3c54;
  --md-ref-palette-tertiary35: #6a4861;
  --md-ref-palette-tertiary40: #77536d;
  --md-ref-palette-tertiary50: #916c86;
  --md-ref-palette-tertiary60: #ad85a0;
  --md-ref-palette-tertiary70: #c99fbb;
  --md-ref-palette-tertiary80: #e6bad7;
  --md-ref-palette-tertiary90: #ffd7f1;
  --md-ref-palette-tertiary95: #ffecf6;
  --md-ref-palette-tertiary98: #fff7f9;
  --md-ref-palette-tertiary99: #fffbff;
  --md-ref-palette-tertiary100: #ffffff;
  /* neutral */
  --md-ref-palette-neutral0: #000000;
  --md-ref-palette-neutral5: #111114;
  --md-ref-palette-neutral10: #1b1b1f;
  --md-ref-palette-neutral20: #303034;
  --md-ref-palette-neutral25: #3b3b3f;
  --md-ref-palette-neutral30: #47464a;
  --md-ref-palette-neutral35: #535256;
  --md-ref-palette-neutral40: #5f5e62;
  --md-ref-palette-neutral50: #78767a;
  --md-ref-palette-neutral60: #929094;
  --md-ref-palette-neutral70: #acaaaf;
  --md-ref-palette-neutral80: #c8c5ca;
  --md-ref-palette-neutral90: #e4e1e6;
  --md-ref-palette-neutral95: #f3f0f4;
  --md-ref-palette-neutral98: #fbf8fd;
  --md-ref-palette-neutral99: #fffbff;
  --md-ref-palette-neutral100: #ffffff;
  /* neutralVariant */
  --md-ref-palette-neutralVariant0: #000000;
  --md-ref-palette-neutralVariant5: #101018;
  --md-ref-palette-neutralVariant10: #1a1b23;
  --md-ref-palette-neutralVariant20: #2f3038;
  --md-ref-palette-neutralVariant25: #3a3b43;
  --md-ref-palette-neutralVariant30: #46464f;
  --md-ref-palette-neutralVariant35: #51525b;
  --md-ref-palette-neutralVariant40: #5d5e67;
  --md-ref-palette-neutralVariant50: #767680;
  --md-ref-palette-neutralVariant60: #90909a;
  --md-ref-palette-neutralVariant70: #abaab4;
  --md-ref-palette-neutralVariant80: #c7c5d0;
  --md-ref-palette-neutralVariant90: #e3e1ec;
  --md-ref-palette-neutralVariant95: #f1effa;
  --md-ref-palette-neutralVariant98: #fbf8ff;
  --md-ref-palette-neutralVariant99: #fffbff;
  --md-ref-palette-neutralVariant100: #ffffff;
  /* error */
  --md-ref-palette-error0: #000000;
  --md-ref-palette-error5: #2d0001;
  --md-ref-palette-error10: #410002;
  --md-ref-palette-error20: #690005;
  --md-ref-palette-error25: #7e0007;
  --md-ref-palette-error30: #93000a;
  --md-ref-palette-error35: #a80710;
  --md-ref-palette-error40: #ba1a1a;
  --md-ref-palette-error50: #de3730;
  --md-ref-palette-error60: #ff5449;
  --md-ref-palette-error70: #ff897d;
  --md-ref-palette-error80: #ffb4ab;
  --md-ref-palette-error90: #ffdad6;
  --md-ref-palette-error95: #ffedea;
  --md-ref-palette-error98: #fff8f7;
  --md-ref-palette-error99: #fffbff;
  --md-ref-palette-error100: #ffffff;
}