body, .tokens {
--md-source: #7CFC00;
  /* light */
  --md-sys-color-primary-rgb-light: 49, 107, 0;
  --md-sys-color-on-primary-rgb-light: 255, 255, 255;
  --md-sys-color-primary-container-rgb-light: 130, 255, 26;
  --md-sys-color-on-primary-container-rgb-light: 10, 32, 0;
  --md-sys-color-secondary-rgb-light: 86, 98, 75;
  --md-sys-color-on-secondary-rgb-light: 255, 255, 255;
  --md-sys-color-secondary-container-rgb-light: 217, 231, 202;
  --md-sys-color-on-secondary-container-rgb-light: 20, 30, 12;
  --md-sys-color-tertiary-rgb-light: 56, 102, 101;
  --md-sys-color-on-tertiary-rgb-light: 255, 255, 255;
  --md-sys-color-tertiary-container-rgb-light: 187, 236, 234;
  --md-sys-color-on-tertiary-container-rgb-light: 0, 32, 32;
  --md-sys-color-error-rgb-light: 186, 26, 26;
  --md-sys-color-on-error-rgb-light: 255, 255, 255;
  --md-sys-color-error-container-rgb-light: 255, 218, 214;
  --md-sys-color-on-error-container-rgb-light: 65, 0, 2;
  --md-sys-color-background-rgb-light: 253, 253, 245;
  --md-sys-color-on-background-rgb-light: 26, 28, 24;
  --md-sys-color-surface-rgb-light: 253, 253, 245;
  --md-sys-color-on-surface-rgb-light: 26, 28, 24;
  --md-sys-color-surface-variant-rgb-light: 224, 228, 214;
  --md-sys-color-on-surface-variant-rgb-light: 68, 72, 62;
  --md-sys-color-outline-rgb-light: 116, 121, 109;
  --md-sys-color-shadow-rgb-light: 0, 0, 0;
  --md-sys-color-inverse-surface-rgb-light: 47, 49, 44;
  --md-sys-color-inverse-on-surface-rgb-light: 241, 241, 234;
  --md-sys-color-inverse-primary-rgb-light: 110, 224, 0;
  /* dark */
  --md-sys-color-primary-rgb-dark: 110, 224, 0;
  --md-sys-color-on-primary-rgb-dark: 23, 56, 0;
  --md-sys-color-primary-container-rgb-dark: 36, 81, 0;
  --md-sys-color-on-primary-container-rgb-dark: 130, 255, 26;
  --md-sys-color-secondary-rgb-dark: 190, 203, 175;
  --md-sys-color-on-secondary-rgb-dark: 40, 52, 32;
  --md-sys-color-secondary-container-rgb-dark: 63, 74, 53;
  --md-sys-color-on-secondary-container-rgb-dark: 217, 231, 202;
  --md-sys-color-tertiary-rgb-dark: 160, 207, 206;
  --md-sys-color-on-tertiary-rgb-dark: 0, 55, 55;
  --md-sys-color-tertiary-container-rgb-dark: 30, 78, 77;
  --md-sys-color-on-tertiary-container-rgb-dark: 187, 236, 234;
  --md-sys-color-error-rgb-dark: 255, 180, 171;
  --md-sys-color-on-error-rgb-dark: 105, 0, 5;
  --md-sys-color-error-container-rgb-dark: 147, 0, 10;
  --md-sys-color-on-error-container-rgb-dark: 255, 180, 171;
  --md-sys-color-background-rgb-dark: 26, 28, 24;
  --md-sys-color-on-background-rgb-dark: 227, 227, 220;
  --md-sys-color-surface-rgb-dark: 26, 28, 24;
  --md-sys-color-on-surface-rgb-dark: 227, 227, 220;
  --md-sys-color-surface-variant-rgb-dark: 68, 72, 62;
  --md-sys-color-on-surface-variant-rgb-dark: 196, 200, 187;
  --md-sys-color-outline-rgb-dark: 142, 146, 134;
  --md-sys-color-shadow-rgb-dark: 0, 0, 0;
  --md-sys-color-inverse-surface-rgb-dark: 227, 227, 220;
  --md-sys-color-inverse-on-surface-rgb-dark: 47, 49, 44;
  --md-sys-color-inverse-primary-rgb-dark: 49, 107, 0;
  /* primary */
  --md-ref-palette-primary0: #000000;
  --md-ref-palette-primary5: #051500;
  --md-ref-palette-primary10: #0a2000;
  --md-ref-palette-primary20: #173800;
  --md-ref-palette-primary25: #1d4400;
  --md-ref-palette-primary30: #245100;
  --md-ref-palette-primary35: #2a5e00;
  --md-ref-palette-primary40: #316b00;
  --md-ref-palette-primary50: #408700;
  --md-ref-palette-primary60: #4fa400;
  --md-ref-palette-primary70: #5ec200;
  --md-ref-palette-primary80: #6ee000;
  --md-ref-palette-primary90: #82ff1a;
  --md-ref-palette-primary95: #cfffaa;
  --md-ref-palette-primary98: #eeffdc;
  --md-ref-palette-primary99: #f8ffeb;
  --md-ref-palette-primary100: #ffffff;
  /* secondary */
  --md-ref-palette-secondary0: #000000;
  --md-ref-palette-secondary5: #091404;
  --md-ref-palette-secondary10: #141e0c;
  --md-ref-palette-secondary20: #283420;
  --md-ref-palette-secondary25: #333f2a;
  --md-ref-palette-secondary30: #3f4a35;
  --md-ref-palette-secondary35: #4a5640;
  --md-ref-palette-secondary40: #56624b;
  --md-ref-palette-secondary50: #6e7b63;
  --md-ref-palette-secondary60: #88957b;
  --md-ref-palette-secondary70: #a2b094;
  --md-ref-palette-secondary80: #becbaf;
  --md-ref-palette-secondary90: #d9e7ca;
  --md-ref-palette-secondary95: #e8f5d7;
  --md-ref-palette-secondary98: #f0fee0;
  --md-ref-palette-secondary99: #f8ffeb;
  --md-ref-palette-secondary100: #ffffff;
  /* tertiary */
  --md-ref-palette-tertiary0: #000000;
  --md-ref-palette-tertiary5: #001414;
  --md-ref-palette-tertiary10: #002020;
  --md-ref-palette-tertiary20: #003737;
  --md-ref-palette-tertiary25: #104242;
  --md-ref-palette-tertiary30: #1e4e4d;
  --md-ref-palette-tertiary35: #2b5a59;
  --md-ref-palette-tertiary40: #386665;
  --md-ref-palette-tertiary50: #517f7e;
  --md-ref-palette-tertiary60: #6b9998;
  --md-ref-palette-tertiary70: #85b4b3;
  --md-ref-palette-tertiary80: #a0cfce;
  --md-ref-palette-tertiary90: #bbecea;
  --md-ref-palette-tertiary95: #c9faf9;
  --md-ref-palette-tertiary98: #e3fffe;
  --md-ref-palette-tertiary99: #f1fffe;
  --md-ref-palette-tertiary100: #ffffff;
  /* neutral */
  --md-ref-palette-neutral0: #000000;
  --md-ref-palette-neutral5: #10110e;
  --md-ref-palette-neutral10: #1a1c18;
  --md-ref-palette-neutral20: #2f312c;
  --md-ref-palette-neutral25: #3a3c37;
  --md-ref-palette-neutral30: #464742;
  --md-ref-palette-neutral35: #52534e;
  --md-ref-palette-neutral40: #5e5f5a;
  --md-ref-palette-neutral50: #767872;
  --md-ref-palette-neutral60: #90918b;
  --md-ref-palette-neutral70: #abaca5;
  --md-ref-palette-neutral80: #c7c7c0;
  --md-ref-palette-neutral90: #e3e3dc;
  --md-ref-palette-neutral95: #f1f1ea;
  --md-ref-palette-neutral98: #fafaf2;
  --md-ref-palette-neutral99: #fdfdf5;
  --md-ref-palette-neutral100: #ffffff;
  /* neutralVariant */
  --md-ref-palette-neutral-variant0: #000000;
  --md-ref-palette-neutral-variant5: #0e120a;
  --md-ref-palette-neutral-variant10: #181d14;
  --md-ref-palette-neutral-variant20: #2d3228;
  --md-ref-palette-neutral-variant25: #383d33;
  --md-ref-palette-neutral-variant30: #44483e;
  --md-ref-palette-neutral-variant35: #4f5449;
  --md-ref-palette-neutral-variant40: #5b6055;
  --md-ref-palette-neutral-variant50: #74796d;
  --md-ref-palette-neutral-variant60: #8e9286;
  --md-ref-palette-neutral-variant70: #a8ada0;
  --md-ref-palette-neutral-variant80: #c4c8bb;
  --md-ref-palette-neutral-variant90: #e0e4d6;
  --md-ref-palette-neutral-variant95: #eef2e4;
  --md-ref-palette-neutral-variant98: #f7fbec;
  --md-ref-palette-neutral-variant99: #fafeef;
  --md-ref-palette-neutral-variant100: #ffffff;
  /* error */
  --md-ref-palette-error0: #000000;
  --md-ref-palette-error5: #2d0001;
  --md-ref-palette-error10: #410002;
  --md-ref-palette-error20: #690005;
  --md-ref-palette-error25: #7e0007;
  --md-ref-palette-error30: #93000a;
  --md-ref-palette-error35: #a80710;
  --md-ref-palette-error40: #ba1a1a;
  --md-ref-palette-error50: #de3730;
  --md-ref-palette-error60: #ff5449;
  --md-ref-palette-error70: #ff897d;
  --md-ref-palette-error80: #ffb4ab;
  --md-ref-palette-error90: #ffdad6;
  --md-ref-palette-error95: #ffedea;
  --md-ref-palette-error98: #fff8f7;
  --md-ref-palette-error99: #fffbff;
  --md-ref-palette-error100: #ffffff;
}