:root, .tokens {
--md-source: #778899;
  /* light */
  --md-sys-color-primary-rgb-light: 0, 100, 151;
  --md-sys-color-on-primary-rgb-light: 255, 255, 255;
  --md-sys-color-primary-container-rgb-light: 204, 229, 255;
  --md-sys-color-on-primary-container-rgb-light: 0, 30, 49;
  --md-sys-color-secondary-rgb-light: 81, 96, 111;
  --md-sys-color-on-secondary-rgb-light: 255, 255, 255;
  --md-sys-color-secondary-container-rgb-light: 212, 228, 246;
  --md-sys-color-on-secondary-container-rgb-light: 13, 29, 42;
  --md-sys-color-tertiary-rgb-light: 102, 88, 122;
  --md-sys-color-on-tertiary-rgb-light: 255, 255, 255;
  --md-sys-color-tertiary-container-rgb-light: 237, 220, 255;
  --md-sys-color-on-tertiary-container-rgb-light: 34, 21, 52;
  --md-sys-color-error-rgb-light: 186, 26, 26;
  --md-sys-color-on-error-rgb-light: 255, 255, 255;
  --md-sys-color-error-container-rgb-light: 255, 218, 214;
  --md-sys-color-on-error-container-rgb-light: 65, 0, 2;
  --md-sys-color-background-rgb-light: 252, 252, 255;
  --md-sys-color-on-background-rgb-light: 26, 28, 30;
  --md-sys-color-surface-rgb-light: 252, 252, 255;
  --md-sys-color-on-surface-rgb-light: 26, 28, 30;
  --md-sys-color-surface-variant-rgb-light: 222, 227, 235;
  --md-sys-color-on-surface-variant-rgb-light: 66, 71, 78;
  --md-sys-color-outline-rgb-light: 114, 120, 126;
  --md-sys-color-shadow-rgb-light: 0, 0, 0;
  --md-sys-color-inverse-surface-rgb-light: 47, 49, 51;
  --md-sys-color-inverse-on-surface-rgb-light: 240, 240, 244;
  --md-sys-color-inverse-primary-rgb-light: 146, 204, 255;
  /* dark */
  --md-sys-color-primary-rgb-dark: 146, 204, 255;
  --md-sys-color-on-primary-rgb-dark: 0, 51, 81;
  --md-sys-color-primary-container-rgb-dark: 0, 75, 115;
  --md-sys-color-on-primary-container-rgb-dark: 204, 229, 255;
  --md-sys-color-secondary-rgb-dark: 184, 200, 218;
  --md-sys-color-on-secondary-rgb-dark: 35, 50, 63;
  --md-sys-color-secondary-container-rgb-dark: 57, 72, 87;
  --md-sys-color-on-secondary-container-rgb-dark: 212, 228, 246;
  --md-sys-color-tertiary-rgb-dark: 209, 191, 231;
  --md-sys-color-on-tertiary-rgb-dark: 55, 42, 74;
  --md-sys-color-tertiary-container-rgb-dark: 78, 65, 98;
  --md-sys-color-on-tertiary-container-rgb-dark: 237, 220, 255;
  --md-sys-color-error-rgb-dark: 255, 180, 171;
  --md-sys-color-on-error-rgb-dark: 105, 0, 5;
  --md-sys-color-error-container-rgb-dark: 147, 0, 10;
  --md-sys-color-on-error-container-rgb-dark: 255, 180, 171;
  --md-sys-color-background-rgb-dark: 26, 28, 30;
  --md-sys-color-on-background-rgb-dark: 226, 226, 229;
  --md-sys-color-surface-rgb-dark: 26, 28, 30;
  --md-sys-color-on-surface-rgb-dark: 226, 226, 229;
  --md-sys-color-surface-variant-rgb-dark: 66, 71, 78;
  --md-sys-color-on-surface-variant-rgb-dark: 194, 199, 206;
  --md-sys-color-outline-rgb-dark: 140, 145, 152;
  --md-sys-color-shadow-rgb-dark: 0, 0, 0;
  --md-sys-color-inverse-surface-rgb-dark: 226, 226, 229;
  --md-sys-color-inverse-on-surface-rgb-dark: 47, 49, 51;
  --md-sys-color-inverse-primary-rgb-dark: 0, 100, 151;
  /* primary */
  --md-ref-palette-primary0: #000000;
  --md-ref-palette-primary5: #001221;
  --md-ref-palette-primary10: #001e31;
  --md-ref-palette-primary20: #003351;
  --md-ref-palette-primary25: #003f62;
  --md-ref-palette-primary30: #004b73;
  --md-ref-palette-primary35: #005785;
  --md-ref-palette-primary40: #006497;
  --md-ref-palette-primary50: #177db9;
  --md-ref-palette-primary60: #4097d5;
  --md-ref-palette-primary70: #5fb2f1;
  --md-ref-palette-primary80: #92ccff;
  --md-ref-palette-primary90: #cce5ff;
  --md-ref-palette-primary95: #e7f2ff;
  --md-ref-palette-primary98: #f7f9ff;
  --md-ref-palette-primary99: #fcfcff;
  --md-ref-palette-primary100: #ffffff;
  /* secondary */
  --md-ref-palette-secondary0: #000000;
  --md-ref-palette-secondary5: #03121f;
  --md-ref-palette-secondary10: #0d1d2a;
  --md-ref-palette-secondary20: #23323f;
  --md-ref-palette-secondary25: #2e3d4b;
  --md-ref-palette-secondary30: #394857;
  --md-ref-palette-secondary35: #455463;
  --md-ref-palette-secondary40: #51606f;
  --md-ref-palette-secondary50: #697988;
  --md-ref-palette-secondary60: #8392a3;
  --md-ref-palette-secondary70: #9dadbe;
  --md-ref-palette-secondary80: #b8c8da;
  --md-ref-palette-secondary90: #d4e4f6;
  --md-ref-palette-secondary95: #e7f2ff;
  --md-ref-palette-secondary98: #f7f9ff;
  --md-ref-palette-secondary99: #fcfcff;
  --md-ref-palette-secondary100: #ffffff;
  /* tertiary */
  --md-ref-palette-tertiary0: #000000;
  --md-ref-palette-tertiary5: #170a28;
  --md-ref-palette-tertiary10: #221534;
  --md-ref-palette-tertiary20: #372a4a;
  --md-ref-palette-tertiary25: #423556;
  --md-ref-palette-tertiary30: #4e4162;
  --md-ref-palette-tertiary35: #5a4c6e;
  --md-ref-palette-tertiary40: #66587a;
  --md-ref-palette-tertiary50: #807094;
  --md-ref-palette-tertiary60: #9a8aaf;
  --md-ref-palette-tertiary70: #b5a4cb;
  --md-ref-palette-tertiary80: #d1bfe7;
  --md-ref-palette-tertiary90: #eddcff;
  --md-ref-palette-tertiary95: #f8edff;
  --md-ref-palette-tertiary98: #fef7ff;
  --md-ref-palette-tertiary99: #fffbff;
  --md-ref-palette-tertiary100: #ffffff;
  /* neutral */
  --md-ref-palette-neutral0: #000000;
  --md-ref-palette-neutral5: #0f1113;
  --md-ref-palette-neutral10: #1a1c1e;
  --md-ref-palette-neutral20: #2f3133;
  --md-ref-palette-neutral25: #3a3b3e;
  --md-ref-palette-neutral30: #45474a;
  --md-ref-palette-neutral35: #515255;
  --md-ref-palette-neutral40: #5d5e61;
  --md-ref-palette-neutral50: #76777a;
  --md-ref-palette-neutral60: #8f9194;
  --md-ref-palette-neutral70: #aaabae;
  --md-ref-palette-neutral80: #c6c6c9;
  --md-ref-palette-neutral90: #e2e2e5;
  --md-ref-palette-neutral95: #f0f0f4;
  --md-ref-palette-neutral98: #f9f9fc;
  --md-ref-palette-neutral99: #fcfcff;
  --md-ref-palette-neutral100: #ffffff;
  /* neutralVariant */
  --md-ref-palette-neutralVariant0: #000000;
  --md-ref-palette-neutralVariant5: #0c1217;
  --md-ref-palette-neutralVariant10: #171c22;
  --md-ref-palette-neutralVariant20: #2b3137;
  --md-ref-palette-neutralVariant25: #363c42;
  --md-ref-palette-neutralVariant30: #42474e;
  --md-ref-palette-neutralVariant35: #4d5359;
  --md-ref-palette-neutralVariant40: #595f65;
  --md-ref-palette-neutralVariant50: #72787e;
  --md-ref-palette-neutralVariant60: #8c9198;
  --md-ref-palette-neutralVariant70: #a6acb3;
  --md-ref-palette-neutralVariant80: #c2c7ce;
  --md-ref-palette-neutralVariant90: #dee3eb;
  --md-ref-palette-neutralVariant95: #ecf1f9;
  --md-ref-palette-neutralVariant98: #f7f9ff;
  --md-ref-palette-neutralVariant99: #fcfcff;
  --md-ref-palette-neutralVariant100: #ffffff;
  /* error */
  --md-ref-palette-error0: #000000;
  --md-ref-palette-error5: #2d0001;
  --md-ref-palette-error10: #410002;
  --md-ref-palette-error20: #690005;
  --md-ref-palette-error25: #7e0007;
  --md-ref-palette-error30: #93000a;
  --md-ref-palette-error35: #a80710;
  --md-ref-palette-error40: #ba1a1a;
  --md-ref-palette-error50: #de3730;
  --md-ref-palette-error60: #ff5449;
  --md-ref-palette-error70: #ff897d;
  --md-ref-palette-error80: #ffb4ab;
  --md-ref-palette-error90: #ffdad6;
  --md-ref-palette-error95: #ffedea;
  --md-ref-palette-error98: #fff8f7;
  --md-ref-palette-error99: #fffbff;
  --md-ref-palette-error100: #ffffff;
}