:where(html, .tokens) {
--md-source: #90EE90;
  /* primary */
  --md-ref-palette-primary0-rgb: 0, 0, 0;
  --md-ref-palette-primary5-rgb: 0, 21, 2;
  --md-ref-palette-primary10-rgb: 0, 33, 5;
  --md-ref-palette-primary20-rgb: 0, 57, 13;
  --md-ref-palette-primary25-rgb: 0, 70, 17;
  --md-ref-palette-primary30-rgb: 0, 83, 22;
  --md-ref-palette-primary35-rgb: 0, 96, 27;
  --md-ref-palette-primary40-rgb: 1, 110, 33;
  --md-ref-palette-primary50-rgb: 43, 136, 56;
  --md-ref-palette-primary60-rgb: 72, 163, 79;
  --md-ref-palette-primary70-rgb: 99, 191, 103;
  --md-ref-palette-primary80-rgb: 126, 219, 127;
  --md-ref-palette-primary90-rgb: 153, 248, 153;
  --md-ref-palette-primary95-rgb: 200, 255, 194;
  --md-ref-palette-primary98-rgb: 235, 255, 229;
  --md-ref-palette-primary99-rgb: 246, 255, 240;
  --md-ref-palette-primary100-rgb: 255, 255, 255;
  /* secondary */
  --md-ref-palette-secondary0-rgb: 0, 0, 0;
  --md-ref-palette-secondary5-rgb: 6, 20, 6;
  --md-ref-palette-secondary10-rgb: 16, 31, 16;
  --md-ref-palette-secondary20-rgb: 37, 52, 35;
  --md-ref-palette-secondary25-rgb: 48, 63, 46;
  --md-ref-palette-secondary30-rgb: 59, 75, 57;
  --md-ref-palette-secondary35-rgb: 70, 87, 68;
  --md-ref-palette-secondary40-rgb: 82, 99, 79;
  --md-ref-palette-secondary50-rgb: 106, 124, 103;
  --md-ref-palette-secondary60-rgb: 132, 150, 128;
  --md-ref-palette-secondary70-rgb: 158, 176, 153;
  --md-ref-palette-secondary80-rgb: 185, 204, 180;
  --md-ref-palette-secondary90-rgb: 213, 232, 207;
  --md-ref-palette-secondary95-rgb: 227, 246, 221;
  --md-ref-palette-secondary98-rgb: 236, 255, 229;
  --md-ref-palette-secondary99-rgb: 246, 255, 240;
  --md-ref-palette-secondary100-rgb: 255, 255, 255;
  /* tertiary */
  --md-ref-palette-tertiary0-rgb: 0, 0, 0;
  --md-ref-palette-tertiary5-rgb: 0, 20, 22;
  --md-ref-palette-tertiary10-rgb: 0, 31, 35;
  --md-ref-palette-tertiary20-rgb: 0, 54, 60;
  --md-ref-palette-tertiary25-rgb: 16, 66, 71;
  --md-ref-palette-tertiary30-rgb: 31, 77, 83;
  --md-ref-palette-tertiary35-rgb: 44, 89, 95;
  --md-ref-palette-tertiary40-rgb: 57, 101, 107;
  --md-ref-palette-tertiary50-rgb: 82, 126, 132;
  --md-ref-palette-tertiary60-rgb: 107, 152, 158;
  --md-ref-palette-tertiary70-rgb: 134, 179, 185;
  --md-ref-palette-tertiary80-rgb: 161, 206, 213;
  --md-ref-palette-tertiary90-rgb: 188, 235, 241;
  --md-ref-palette-tertiary95-rgb: 203, 249, 255;
  --md-ref-palette-tertiary98-rgb: 235, 253, 255;
  --md-ref-palette-tertiary99-rgb: 245, 254, 255;
  --md-ref-palette-tertiary100-rgb: 255, 255, 255;
  /* neutral */
  --md-ref-palette-neutral0-rgb: 0, 0, 0;
  --md-ref-palette-neutral5-rgb: 15, 18, 14;
  --md-ref-palette-neutral10-rgb: 26, 28, 25;
  --md-ref-palette-neutral20-rgb: 47, 49, 45;
  --md-ref-palette-neutral25-rgb: 58, 60, 56;
  --md-ref-palette-neutral30-rgb: 69, 71, 67;
  --md-ref-palette-neutral35-rgb: 81, 83, 79;
  --md-ref-palette-neutral40-rgb: 93, 95, 90;
  --md-ref-palette-neutral50-rgb: 118, 120, 115;
  --md-ref-palette-neutral60-rgb: 144, 145, 140;
  --md-ref-palette-neutral70-rgb: 170, 172, 166;
  --md-ref-palette-neutral80-rgb: 198, 199, 193;
  --md-ref-palette-neutral90-rgb: 226, 227, 221;
  --md-ref-palette-neutral95-rgb: 240, 241, 235;
  --md-ref-palette-neutral98-rgb: 249, 250, 244;
  --md-ref-palette-neutral99-rgb: 252, 253, 246;
  --md-ref-palette-neutral100-rgb: 255, 255, 255;
  /* neutralVariant */
  --md-ref-palette-neutral-variant0-rgb: 0, 0, 0;
  --md-ref-palette-neutral-variant5-rgb: 12, 18, 12;
  --md-ref-palette-neutral-variant10-rgb: 23, 29, 22;
  --md-ref-palette-neutral-variant20-rgb: 44, 50, 42;
  --md-ref-palette-neutral-variant25-rgb: 55, 61, 53;
  --md-ref-palette-neutral-variant30-rgb: 66, 73, 64;
  --md-ref-palette-neutral-variant35-rgb: 78, 84, 75;
  --md-ref-palette-neutral-variant40-rgb: 90, 96, 87;
  --md-ref-palette-neutral-variant50-rgb: 114, 121, 111;
  --md-ref-palette-neutral-variant60-rgb: 140, 147, 136;
  --md-ref-palette-neutral-variant70-rgb: 166, 173, 162;
  --md-ref-palette-neutral-variant80-rgb: 194, 201, 189;
  --md-ref-palette-neutral-variant90-rgb: 222, 229, 217;
  --md-ref-palette-neutral-variant95-rgb: 236, 243, 231;
  --md-ref-palette-neutral-variant98-rgb: 245, 251, 239;
  --md-ref-palette-neutral-variant99-rgb: 248, 254, 242;
  --md-ref-palette-neutral-variant100-rgb: 255, 255, 255;
  /* error */
  --md-ref-palette-error0-rgb: 0, 0, 0;
  --md-ref-palette-error5-rgb: 45, 0, 1;
  --md-ref-palette-error10-rgb: 65, 0, 2;
  --md-ref-palette-error20-rgb: 105, 0, 5;
  --md-ref-palette-error25-rgb: 126, 0, 7;
  --md-ref-palette-error30-rgb: 147, 0, 10;
  --md-ref-palette-error35-rgb: 168, 7, 16;
  --md-ref-palette-error40-rgb: 186, 26, 26;
  --md-ref-palette-error50-rgb: 222, 55, 48;
  --md-ref-palette-error60-rgb: 255, 84, 73;
  --md-ref-palette-error70-rgb: 255, 137, 125;
  --md-ref-palette-error80-rgb: 255, 180, 171;
  --md-ref-palette-error90-rgb: 255, 218, 214;
  --md-ref-palette-error95-rgb: 255, 237, 234;
  --md-ref-palette-error98-rgb: 255, 248, 247;
  --md-ref-palette-error99-rgb: 255, 251, 255;
  --md-ref-palette-error100-rgb: 255, 255, 255;
}