body, .tokens {
--md-source: #20B2AA;
  /* light */
  --md-sys-color-primary-rgb-light: 0, 106, 101;
  --md-sys-color-on-primary-rgb-light: 255, 255, 255;
  --md-sys-color-primary-container-rgb-light: 113, 247, 238;
  --md-sys-color-on-primary-container-rgb-light: 0, 32, 30;
  --md-sys-color-secondary-rgb-light: 74, 99, 97;
  --md-sys-color-on-secondary-rgb-light: 255, 255, 255;
  --md-sys-color-secondary-container-rgb-light: 204, 232, 229;
  --md-sys-color-on-secondary-container-rgb-light: 5, 31, 30;
  --md-sys-color-tertiary-rgb-light: 72, 96, 123;
  --md-sys-color-on-tertiary-rgb-light: 255, 255, 255;
  --md-sys-color-tertiary-container-rgb-light: 208, 228, 255;
  --md-sys-color-on-tertiary-container-rgb-light: 0, 29, 52;
  --md-sys-color-error-rgb-light: 186, 26, 26;
  --md-sys-color-on-error-rgb-light: 255, 255, 255;
  --md-sys-color-error-container-rgb-light: 255, 218, 214;
  --md-sys-color-on-error-container-rgb-light: 65, 0, 2;
  --md-sys-color-background-rgb-light: 250, 253, 251;
  --md-sys-color-on-background-rgb-light: 25, 28, 28;
  --md-sys-color-surface-rgb-light: 250, 253, 251;
  --md-sys-color-on-surface-rgb-light: 25, 28, 28;
  --md-sys-color-surface-variant-rgb-light: 218, 229, 227;
  --md-sys-color-on-surface-variant-rgb-light: 63, 73, 71;
  --md-sys-color-outline-rgb-light: 111, 121, 120;
  --md-sys-color-shadow-rgb-light: 0, 0, 0;
  --md-sys-color-inverse-surface-rgb-light: 45, 49, 48;
  --md-sys-color-inverse-on-surface-rgb-light: 239, 241, 240;
  --md-sys-color-inverse-primary-rgb-light: 79, 218, 209;
  /* dark */
  --md-sys-color-primary-rgb-dark: 79, 218, 209;
  --md-sys-color-on-primary-rgb-dark: 0, 55, 52;
  --md-sys-color-primary-container-rgb-dark: 0, 80, 76;
  --md-sys-color-on-primary-container-rgb-dark: 113, 247, 238;
  --md-sys-color-secondary-rgb-dark: 176, 204, 201;
  --md-sys-color-on-secondary-rgb-dark: 28, 53, 51;
  --md-sys-color-secondary-container-rgb-dark: 50, 75, 73;
  --md-sys-color-on-secondary-container-rgb-dark: 204, 232, 229;
  --md-sys-color-tertiary-rgb-dark: 176, 201, 231;
  --md-sys-color-on-tertiary-rgb-dark: 24, 50, 74;
  --md-sys-color-tertiary-container-rgb-dark: 48, 73, 98;
  --md-sys-color-on-tertiary-container-rgb-dark: 208, 228, 255;
  --md-sys-color-error-rgb-dark: 255, 180, 171;
  --md-sys-color-on-error-rgb-dark: 105, 0, 5;
  --md-sys-color-error-container-rgb-dark: 147, 0, 10;
  --md-sys-color-on-error-container-rgb-dark: 255, 180, 171;
  --md-sys-color-background-rgb-dark: 25, 28, 28;
  --md-sys-color-on-background-rgb-dark: 224, 227, 226;
  --md-sys-color-surface-rgb-dark: 25, 28, 28;
  --md-sys-color-on-surface-rgb-dark: 224, 227, 226;
  --md-sys-color-surface-variant-rgb-dark: 63, 73, 71;
  --md-sys-color-on-surface-variant-rgb-dark: 190, 201, 199;
  --md-sys-color-outline-rgb-dark: 136, 147, 145;
  --md-sys-color-shadow-rgb-dark: 0, 0, 0;
  --md-sys-color-inverse-surface-rgb-dark: 224, 227, 226;
  --md-sys-color-inverse-on-surface-rgb-dark: 45, 49, 48;
  --md-sys-color-inverse-primary-rgb-dark: 0, 106, 101;
  /* primary */
  --md-ref-palette-primary0: #000000;
  --md-ref-palette-primary5: #001413;
  --md-ref-palette-primary10: #00201e;
  --md-ref-palette-primary20: #003734;
  --md-ref-palette-primary25: #004340;
  --md-ref-palette-primary30: #00504c;
  --md-ref-palette-primary35: #005d58;
  --md-ref-palette-primary40: #006a65;
  --md-ref-palette-primary50: #00857f;
  --md-ref-palette-primary60: #00a29a;
  --md-ref-palette-primary70: #24beb6;
  --md-ref-palette-primary80: #4fdad1;
  --md-ref-palette-primary90: #71f7ee;
  --md-ref-palette-primary95: #b1fff8;
  --md-ref-palette-primary98: #e3fffb;
  --md-ref-palette-primary99: #f2fffd;
  --md-ref-palette-primary100: #ffffff;
  /* secondary */
  --md-ref-palette-secondary0: #000000;
  --md-ref-palette-secondary5: #001413;
  --md-ref-palette-secondary10: #051f1e;
  --md-ref-palette-secondary20: #1c3533;
  --md-ref-palette-secondary25: #27403e;
  --md-ref-palette-secondary30: #324b49;
  --md-ref-palette-secondary35: #3e5755;
  --md-ref-palette-secondary40: #4a6361;
  --md-ref-palette-secondary50: #627c79;
  --md-ref-palette-secondary60: #7b9693;
  --md-ref-palette-secondary70: #95b1ad;
  --md-ref-palette-secondary80: #b0ccc9;
  --md-ref-palette-secondary90: #cce8e5;
  --md-ref-palette-secondary95: #daf7f3;
  --md-ref-palette-secondary98: #e3fffb;
  --md-ref-palette-secondary99: #f2fffd;
  --md-ref-palette-secondary100: #ffffff;
  /* tertiary */
  --md-ref-palette-tertiary0: #000000;
  --md-ref-palette-tertiary5: #001223;
  --md-ref-palette-tertiary10: #001d34;
  --md-ref-palette-tertiary20: #18324a;
  --md-ref-palette-tertiary25: #243d56;
  --md-ref-palette-tertiary30: #304962;
  --md-ref-palette-tertiary35: #3c546e;
  --md-ref-palette-tertiary40: #48607b;
  --md-ref-palette-tertiary50: #617995;
  --md-ref-palette-tertiary60: #7a93af;
  --md-ref-palette-tertiary70: #95aecb;
  --md-ref-palette-tertiary80: #b0c9e7;
  --md-ref-palette-tertiary90: #d0e4ff;
  --md-ref-palette-tertiary95: #e9f1ff;
  --md-ref-palette-tertiary98: #f8f9ff;
  --md-ref-palette-tertiary99: #fcfcff;
  --md-ref-palette-tertiary100: #ffffff;
  /* neutral */
  --md-ref-palette-neutral0: #000000;
  --md-ref-palette-neutral5: #0e1211;
  --md-ref-palette-neutral10: #191c1c;
  --md-ref-palette-neutral20: #2d3130;
  --md-ref-palette-neutral25: #383c3b;
  --md-ref-palette-neutral30: #444747;
  --md-ref-palette-neutral35: #4f5352;
  --md-ref-palette-neutral40: #5b5f5e;
  --md-ref-palette-neutral50: #747877;
  --md-ref-palette-neutral60: #8e9190;
  --md-ref-palette-neutral70: #a9acab;
  --md-ref-palette-neutral80: #c4c7c6;
  --md-ref-palette-neutral90: #e0e3e2;
  --md-ref-palette-neutral95: #eff1f0;
  --md-ref-palette-neutral98: #f7faf8;
  --md-ref-palette-neutral99: #fafdfb;
  --md-ref-palette-neutral100: #ffffff;
  /* neutralVariant */
  --md-ref-palette-neutralVariant0: #000000;
  --md-ref-palette-neutralVariant5: #091312;
  --md-ref-palette-neutralVariant10: #141d1c;
  --md-ref-palette-neutralVariant20: #293231;
  --md-ref-palette-neutralVariant25: #343d3c;
  --md-ref-palette-neutralVariant30: #3f4947;
  --md-ref-palette-neutralVariant35: #4a5453;
  --md-ref-palette-neutralVariant40: #56605f;
  --md-ref-palette-neutralVariant50: #6f7978;
  --md-ref-palette-neutralVariant60: #889391;
  --md-ref-palette-neutralVariant70: #a3adac;
  --md-ref-palette-neutralVariant80: #bec9c7;
  --md-ref-palette-neutralVariant90: #dae5e3;
  --md-ref-palette-neutralVariant95: #e9f3f1;
  --md-ref-palette-neutralVariant98: #f1fcf9;
  --md-ref-palette-neutralVariant99: #f4fefc;
  --md-ref-palette-neutralVariant100: #ffffff;
  /* error */
  --md-ref-palette-error0: #000000;
  --md-ref-palette-error5: #2d0001;
  --md-ref-palette-error10: #410002;
  --md-ref-palette-error20: #690005;
  --md-ref-palette-error25: #7e0007;
  --md-ref-palette-error30: #93000a;
  --md-ref-palette-error35: #a80710;
  --md-ref-palette-error40: #ba1a1a;
  --md-ref-palette-error50: #de3730;
  --md-ref-palette-error60: #ff5449;
  --md-ref-palette-error70: #ff897d;
  --md-ref-palette-error80: #ffb4ab;
  --md-ref-palette-error90: #ffdad6;
  --md-ref-palette-error95: #ffedea;
  --md-ref-palette-error98: #fff8f7;
  --md-ref-palette-error99: #fffbff;
  --md-ref-palette-error100: #ffffff;
}