:root, .tokens {
--md-source: #ADD8E6;
  /* light */
  --md-sys-color-primary-rgb-light: 0, 104, 123;
  --md-sys-color-on-primary-rgb-light: 255, 255, 255;
  --md-sys-color-primary-container-rgb-light: 175, 236, 255;
  --md-sys-color-on-primary-container-rgb-light: 0, 31, 39;
  --md-sys-color-secondary-rgb-light: 75, 98, 105;
  --md-sys-color-on-secondary-rgb-light: 255, 255, 255;
  --md-sys-color-secondary-container-rgb-light: 206, 231, 239;
  --md-sys-color-on-secondary-container-rgb-light: 6, 31, 37;
  --md-sys-color-tertiary-rgb-light: 87, 92, 126;
  --md-sys-color-on-tertiary-rgb-light: 255, 255, 255;
  --md-sys-color-tertiary-container-rgb-light: 222, 224, 255;
  --md-sys-color-on-tertiary-container-rgb-light: 20, 25, 55;
  --md-sys-color-error-rgb-light: 186, 26, 26;
  --md-sys-color-on-error-rgb-light: 255, 255, 255;
  --md-sys-color-error-container-rgb-light: 255, 218, 214;
  --md-sys-color-on-error-container-rgb-light: 65, 0, 2;
  --md-sys-color-background-rgb-light: 251, 252, 254;
  --md-sys-color-on-background-rgb-light: 25, 28, 29;
  --md-sys-color-surface-rgb-light: 251, 252, 254;
  --md-sys-color-on-surface-rgb-light: 25, 28, 29;
  --md-sys-color-surface-variant-rgb-light: 219, 228, 231;
  --md-sys-color-on-surface-variant-rgb-light: 64, 72, 75;
  --md-sys-color-outline-rgb-light: 112, 120, 124;
  --md-sys-color-shadow-rgb-light: 0, 0, 0;
  --md-sys-color-inverse-surface-rgb-light: 46, 49, 50;
  --md-sys-color-inverse-on-surface-rgb-light: 239, 241, 242;
  --md-sys-color-inverse-primary-rgb-light: 87, 214, 246;
  /* dark */
  --md-sys-color-primary-rgb-dark: 87, 214, 246;
  --md-sys-color-on-primary-rgb-dark: 0, 54, 65;
  --md-sys-color-primary-container-rgb-dark: 0, 78, 93;
  --md-sys-color-on-primary-container-rgb-dark: 175, 236, 255;
  --md-sys-color-secondary-rgb-dark: 178, 203, 211;
  --md-sys-color-on-secondary-rgb-dark: 29, 52, 58;
  --md-sys-color-secondary-container-rgb-dark: 52, 74, 81;
  --md-sys-color-on-secondary-container-rgb-dark: 206, 231, 239;
  --md-sys-color-tertiary-rgb-dark: 192, 196, 235;
  --md-sys-color-on-tertiary-rgb-dark: 41, 46, 77;
  --md-sys-color-tertiary-container-rgb-dark: 64, 69, 101;
  --md-sys-color-on-tertiary-container-rgb-dark: 222, 224, 255;
  --md-sys-color-error-rgb-dark: 255, 180, 171;
  --md-sys-color-on-error-rgb-dark: 105, 0, 5;
  --md-sys-color-error-container-rgb-dark: 147, 0, 10;
  --md-sys-color-on-error-container-rgb-dark: 255, 180, 171;
  --md-sys-color-background-rgb-dark: 25, 28, 29;
  --md-sys-color-on-background-rgb-dark: 225, 227, 228;
  --md-sys-color-surface-rgb-dark: 25, 28, 29;
  --md-sys-color-on-surface-rgb-dark: 225, 227, 228;
  --md-sys-color-surface-variant-rgb-dark: 64, 72, 75;
  --md-sys-color-on-surface-variant-rgb-dark: 191, 200, 203;
  --md-sys-color-outline-rgb-dark: 137, 146, 149;
  --md-sys-color-shadow-rgb-dark: 0, 0, 0;
  --md-sys-color-inverse-surface-rgb-dark: 225, 227, 228;
  --md-sys-color-inverse-on-surface-rgb-dark: 46, 49, 50;
  --md-sys-color-inverse-primary-rgb-dark: 0, 104, 123;
  /* primary */
  --md-ref-palette-primary0: #000000;
  --md-ref-palette-primary5: #001319;
  --md-ref-palette-primary10: #001f27;
  --md-ref-palette-primary20: #003641;
  --md-ref-palette-primary25: #00424f;
  --md-ref-palette-primary30: #004e5d;
  --md-ref-palette-primary35: #005b6c;
  --md-ref-palette-primary40: #00687b;
  --md-ref-palette-primary50: #00829b;
  --md-ref-palette-primary60: #009ebb;
  --md-ref-palette-primary70: #30bad9;
  --md-ref-palette-primary80: #57d6f6;
  --md-ref-palette-primary90: #afecff;
  --md-ref-palette-primary95: #daf5ff;
  --md-ref-palette-primary98: #f1fbff;
  --md-ref-palette-primary99: #f8fdff;
  --md-ref-palette-primary100: #ffffff;
  /* secondary */
  --md-ref-palette-secondary0: #000000;
  --md-ref-palette-secondary5: #001319;
  --md-ref-palette-secondary10: #061f25;
  --md-ref-palette-secondary20: #1d343a;
  --md-ref-palette-secondary25: #283f46;
  --md-ref-palette-secondary30: #344a51;
  --md-ref-palette-secondary35: #3f565d;
  --md-ref-palette-secondary40: #4b6269;
  --md-ref-palette-secondary50: #647b82;
  --md-ref-palette-secondary60: #7d959c;
  --md-ref-palette-secondary70: #97afb7;
  --md-ref-palette-secondary80: #b2cbd3;
  --md-ref-palette-secondary90: #cee7ef;
  --md-ref-palette-secondary95: #dcf5fe;
  --md-ref-palette-secondary98: #f1fbff;
  --md-ref-palette-secondary99: #f8fdff;
  --md-ref-palette-secondary100: #ffffff;
  /* tertiary */
  --md-ref-palette-tertiary0: #000000;
  --md-ref-palette-tertiary5: #090e2c;
  --md-ref-palette-tertiary10: #141937;
  --md-ref-palette-tertiary20: #292e4d;
  --md-ref-palette-tertiary25: #343959;
  --md-ref-palette-tertiary30: #404565;
  --md-ref-palette-tertiary35: #4b5071;
  --md-ref-palette-tertiary40: #575c7e;
  --md-ref-palette-tertiary50: #707598;
  --md-ref-palette-tertiary60: #8a8eb3;
  --md-ref-palette-tertiary70: #a4a9ce;
  --md-ref-palette-tertiary80: #c0c4eb;
  --md-ref-palette-tertiary90: #dee0ff;
  --md-ref-palette-tertiary95: #f0efff;
  --md-ref-palette-tertiary98: #fbf8ff;
  --md-ref-palette-tertiary99: #fefbff;
  --md-ref-palette-tertiary100: #ffffff;
  /* neutral */
  --md-ref-palette-neutral0: #000000;
  --md-ref-palette-neutral5: #0e1113;
  --md-ref-palette-neutral10: #191c1d;
  --md-ref-palette-neutral20: #2e3132;
  --md-ref-palette-neutral25: #393c3d;
  --md-ref-palette-neutral30: #444748;
  --md-ref-palette-neutral35: #505354;
  --md-ref-palette-neutral40: #5c5f60;
  --md-ref-palette-neutral50: #757779;
  --md-ref-palette-neutral60: #8e9192;
  --md-ref-palette-neutral70: #a9abad;
  --md-ref-palette-neutral80: #c5c7c8;
  --md-ref-palette-neutral90: #e1e3e4;
  --md-ref-palette-neutral95: #eff1f2;
  --md-ref-palette-neutral98: #f8f9fb;
  --md-ref-palette-neutral99: #fbfcfe;
  --md-ref-palette-neutral100: #ffffff;
  /* neutralVariant */
  --md-ref-palette-neutralVariant0: #000000;
  --md-ref-palette-neutralVariant5: #0a1215;
  --md-ref-palette-neutralVariant10: #151d20;
  --md-ref-palette-neutralVariant20: #293235;
  --md-ref-palette-neutralVariant25: #343d40;
  --md-ref-palette-neutralVariant30: #40484b;
  --md-ref-palette-neutralVariant35: #4b5457;
  --md-ref-palette-neutralVariant40: #576063;
  --md-ref-palette-neutralVariant50: #70787c;
  --md-ref-palette-neutralVariant60: #899295;
  --md-ref-palette-neutralVariant70: #a4adb0;
  --md-ref-palette-neutralVariant80: #bfc8cb;
  --md-ref-palette-neutralVariant90: #dbe4e7;
  --md-ref-palette-neutralVariant95: #e9f2f6;
  --md-ref-palette-neutralVariant98: #f2fbfe;
  --md-ref-palette-neutralVariant99: #f8fdff;
  --md-ref-palette-neutralVariant100: #ffffff;
  /* error */
  --md-ref-palette-error0: #000000;
  --md-ref-palette-error5: #2d0001;
  --md-ref-palette-error10: #410002;
  --md-ref-palette-error20: #690005;
  --md-ref-palette-error25: #7e0007;
  --md-ref-palette-error30: #93000a;
  --md-ref-palette-error35: #a80710;
  --md-ref-palette-error40: #ba1a1a;
  --md-ref-palette-error50: #de3730;
  --md-ref-palette-error60: #ff5449;
  --md-ref-palette-error70: #ff897d;
  --md-ref-palette-error80: #ffb4ab;
  --md-ref-palette-error90: #ffdad6;
  --md-ref-palette-error95: #ffedea;
  --md-ref-palette-error98: #fff8f7;
  --md-ref-palette-error99: #fffbff;
  --md-ref-palette-error100: #ffffff;
}