* {
--md-source: #B0C4DE;
  /* primary */
  --md-ref-palette-primary0-rgb: 0 0 0;
  --md-ref-palette-primary5-rgb: 0 18 36;
  --md-ref-palette-primary10-rgb: 0 29 53;
  --md-ref-palette-primary20-rgb: 0 50 86;
  --md-ref-palette-primary25-rgb: 0 62 104;
  --md-ref-palette-primary30-rgb: 0 73 123;
  --md-ref-palette-primary35-rgb: 0 85 141;
  --md-ref-palette-primary40-rgb: 0 98 161;
  --md-ref-palette-primary50-rgb: 46 123 189;
  --md-ref-palette-primary60-rgb: 78 149 217;
  --md-ref-palette-primary70-rgb: 107 176 246;
  --md-ref-palette-primary80-rgb: 156 202 255;
  --md-ref-palette-primary90-rgb: 208 228 255;
  --md-ref-palette-primary95-rgb: 233 241 255;
  --md-ref-palette-primary98-rgb: 248 249 255;
  --md-ref-palette-primary99-rgb: 253 252 255;
  --md-ref-palette-primary100-rgb: 255 255 255;
  /* secondary */
  --md-ref-palette-secondary0-rgb: 0 0 0;
  --md-ref-palette-secondary5-rgb: 4 18 31;
  --md-ref-palette-secondary10-rgb: 15 29 42;
  --md-ref-palette-secondary20-rgb: 36 49 64;
  --md-ref-palette-secondary25-rgb: 48 60 76;
  --md-ref-palette-secondary30-rgb: 59 72 87;
  --md-ref-palette-secondary35-rgb: 70 84 100;
  --md-ref-palette-secondary40-rgb: 82 95 112;
  --md-ref-palette-secondary50-rgb: 107 120 137;
  --md-ref-palette-secondary60-rgb: 132 146 164;
  --md-ref-palette-secondary70-rgb: 159 172 191;
  --md-ref-palette-secondary80-rgb: 186 200 219;
  --md-ref-palette-secondary90-rgb: 214 228 247;
  --md-ref-palette-secondary95-rgb: 233 241 255;
  --md-ref-palette-secondary98-rgb: 248 249 255;
  --md-ref-palette-secondary99-rgb: 253 252 255;
  --md-ref-palette-secondary100-rgb: 255 255 255;
  /* tertiary */
  --md-ref-palette-tertiary0-rgb: 0 0 0;
  --md-ref-palette-tertiary5-rgb: 25 9 39;
  --md-ref-palette-tertiary10-rgb: 36 20 50;
  --md-ref-palette-tertiary20-rgb: 58 41 72;
  --md-ref-palette-tertiary25-rgb: 70 52 84;
  --md-ref-palette-tertiary30-rgb: 81 64 96;
  --md-ref-palette-tertiary35-rgb: 94 75 108;
  --md-ref-palette-tertiary40-rgb: 106 87 121;
  --md-ref-palette-tertiary50-rgb: 131 111 147;
  --md-ref-palette-tertiary60-rgb: 158 137 173;
  --md-ref-palette-tertiary70-rgb: 185 163 201;
  --md-ref-palette-tertiary80-rgb: 213 190 229;
  --md-ref-palette-tertiary90-rgb: 241 218 255;
  --md-ref-palette-tertiary95-rgb: 250 236 255;
  --md-ref-palette-tertiary98-rgb: 255 247 254;
  --md-ref-palette-tertiary99-rgb: 255 251 255;
  --md-ref-palette-tertiary100-rgb: 255 255 255;
  /* neutral */
  --md-ref-palette-neutral0-rgb: 0 0 0;
  --md-ref-palette-neutral5-rgb: 15 17 20;
  --md-ref-palette-neutral10-rgb: 26 28 30;
  --md-ref-palette-neutral20-rgb: 47 48 51;
  --md-ref-palette-neutral25-rgb: 58 59 62;
  --md-ref-palette-neutral30-rgb: 69 71 74;
  --md-ref-palette-neutral35-rgb: 81 82 85;
  --md-ref-palette-neutral40-rgb: 93 94 97;
  --md-ref-palette-neutral50-rgb: 118 119 122;
  --md-ref-palette-neutral60-rgb: 144 144 148;
  --md-ref-palette-neutral70-rgb: 171 171 174;
  --md-ref-palette-neutral80-rgb: 198 198 202;
  --md-ref-palette-neutral90-rgb: 226 226 230;
  --md-ref-palette-neutral95-rgb: 241 240 244;
  --md-ref-palette-neutral98-rgb: 249 249 252;
  --md-ref-palette-neutral99-rgb: 253 252 255;
  --md-ref-palette-neutral100-rgb: 255 255 255;
  /* neutralVariant */
  --md-ref-palette-neutral-variant0-rgb: 0 0 0;
  --md-ref-palette-neutral-variant5-rgb: 12 17 23;
  --md-ref-palette-neutral-variant10-rgb: 23 28 34;
  --md-ref-palette-neutral-variant20-rgb: 44 49 55;
  --md-ref-palette-neutral-variant25-rgb: 55 60 66;
  --md-ref-palette-neutral-variant30-rgb: 66 71 78;
  --md-ref-palette-neutral-variant35-rgb: 78 83 90;
  --md-ref-palette-neutral-variant40-rgb: 90 95 102;
  --md-ref-palette-neutral-variant50-rgb: 115 119 127;
  --md-ref-palette-neutral-variant60-rgb: 140 145 153;
  --md-ref-palette-neutral-variant70-rgb: 167 171 179;
  --md-ref-palette-neutral-variant80-rgb: 194 199 207;
  --md-ref-palette-neutral-variant90-rgb: 223 227 235;
  --md-ref-palette-neutral-variant95-rgb: 237 241 249;
  --md-ref-palette-neutral-variant98-rgb: 248 249 255;
  --md-ref-palette-neutral-variant99-rgb: 253 252 255;
  --md-ref-palette-neutral-variant100-rgb: 255 255 255;
  /* error */
  --md-ref-palette-error0-rgb: 0 0 0;
  --md-ref-palette-error5-rgb: 45 0 1;
  --md-ref-palette-error10-rgb: 65 0 2;
  --md-ref-palette-error20-rgb: 105 0 5;
  --md-ref-palette-error25-rgb: 126 0 7;
  --md-ref-palette-error30-rgb: 147 0 10;
  --md-ref-palette-error35-rgb: 168 7 16;
  --md-ref-palette-error40-rgb: 186 26 26;
  --md-ref-palette-error50-rgb: 222 55 48;
  --md-ref-palette-error60-rgb: 255 84 73;
  --md-ref-palette-error70-rgb: 255 137 125;
  --md-ref-palette-error80-rgb: 255 180 171;
  --md-ref-palette-error90-rgb: 255 218 214;
  --md-ref-palette-error95-rgb: 255 237 234;
  --md-ref-palette-error98-rgb: 255 248 247;
  --md-ref-palette-error99-rgb: 255 251 255;
  --md-ref-palette-error100-rgb: 255 255 255;
}