body, .tokens {
--md-source: #FAFAD2;
  /* light */
  --md-sys-color-primary-rgb-light: 94, 99, 0;
  --md-sys-color-on-primary-rgb-light: 255, 255, 255;
  --md-sys-color-primary-container-rgb-light: 227, 234, 115;
  --md-sys-color-on-primary-container-rgb-light: 27, 29, 0;
  --md-sys-color-secondary-rgb-light: 95, 96, 68;
  --md-sys-color-on-secondary-rgb-light: 255, 255, 255;
  --md-sys-color-secondary-container-rgb-light: 229, 229, 192;
  --md-sys-color-on-secondary-container-rgb-light: 28, 29, 6;
  --md-sys-color-tertiary-rgb-light: 60, 102, 89;
  --md-sys-color-on-tertiary-rgb-light: 255, 255, 255;
  --md-sys-color-tertiary-container-rgb-light: 190, 236, 219;
  --md-sys-color-on-tertiary-container-rgb-light: 0, 32, 24;
  --md-sys-color-error-rgb-light: 186, 26, 26;
  --md-sys-color-on-error-rgb-light: 255, 255, 255;
  --md-sys-color-error-container-rgb-light: 255, 218, 214;
  --md-sys-color-on-error-container-rgb-light: 65, 0, 2;
  --md-sys-color-background-rgb-light: 255, 255, 211;
  --md-sys-color-on-background-rgb-light: 28, 28, 23;
  --md-sys-color-surface-rgb-light: 255, 255, 211;
  --md-sys-color-on-surface-rgb-light: 28, 28, 23;
  --md-sys-color-surface-variant-rgb-light: 229, 227, 210;
  --md-sys-color-on-surface-variant-rgb-light: 71, 71, 59;
  --md-sys-color-outline-rgb-light: 120, 120, 105;
  --md-sys-color-shadow-rgb-light: 0, 0, 0;
  --md-sys-color-inverse-surface-rgb-light: 49, 49, 43;
  --md-sys-color-inverse-on-surface-rgb-light: 244, 241, 232;
  --md-sys-color-inverse-primary-rgb-light: 199, 205, 91;
  /* dark */
  --md-sys-color-primary-rgb-dark: 199, 205, 91;
  --md-sys-color-on-primary-rgb-dark: 48, 51, 0;
  --md-sys-color-primary-container-rgb-dark: 70, 74, 0;
  --md-sys-color-on-primary-container-rgb-dark: 227, 234, 115;
  --md-sys-color-secondary-rgb-dark: 200, 201, 166;
  --md-sys-color-on-secondary-rgb-dark: 49, 50, 25;
  --md-sys-color-secondary-container-rgb-dark: 71, 72, 46;
  --md-sys-color-on-secondary-container-rgb-dark: 229, 229, 192;
  --md-sys-color-tertiary-rgb-dark: 163, 208, 191;
  --md-sys-color-on-tertiary-rgb-dark: 8, 55, 44;
  --md-sys-color-tertiary-container-rgb-dark: 36, 78, 65;
  --md-sys-color-on-tertiary-container-rgb-dark: 190, 236, 219;
  --md-sys-color-error-rgb-dark: 255, 180, 171;
  --md-sys-color-on-error-rgb-dark: 105, 0, 5;
  --md-sys-color-error-container-rgb-dark: 147, 0, 10;
  --md-sys-color-on-error-container-rgb-dark: 255, 180, 171;
  --md-sys-color-background-rgb-dark: 28, 28, 23;
  --md-sys-color-on-background-rgb-dark: 229, 226, 218;
  --md-sys-color-surface-rgb-dark: 28, 28, 23;
  --md-sys-color-on-surface-rgb-dark: 229, 226, 218;
  --md-sys-color-surface-variant-rgb-dark: 71, 71, 59;
  --md-sys-color-on-surface-variant-rgb-dark: 201, 199, 182;
  --md-sys-color-outline-rgb-dark: 146, 145, 130;
  --md-sys-color-shadow-rgb-dark: 0, 0, 0;
  --md-sys-color-inverse-surface-rgb-dark: 229, 226, 218;
  --md-sys-color-inverse-on-surface-rgb-dark: 49, 49, 43;
  --md-sys-color-inverse-primary-rgb-dark: 94, 99, 0;
  /* primary */
  --md-ref-palette-primary0: #000000;
  --md-ref-palette-primary5: #111200;
  --md-ref-palette-primary10: #1b1d00;
  --md-ref-palette-primary20: #303300;
  --md-ref-palette-primary25: #3b3e00;
  --md-ref-palette-primary30: #464a00;
  --md-ref-palette-primary35: #525600;
  --md-ref-palette-primary40: #5e6300;
  --md-ref-palette-primary50: #777c0b;
  --md-ref-palette-primary60: #909729;
  --md-ref-palette-primary70: #abb242;
  --md-ref-palette-primary80: #c7cd5b;
  --md-ref-palette-primary90: #e3ea73;
  --md-ref-palette-primary95: #f1f880;
  --md-ref-palette-primary98: #fbffaa;
  --md-ref-palette-primary99: #ffffd3;
  --md-ref-palette-primary100: #ffffff;
  /* secondary */
  --md-ref-palette-secondary0: #000000;
  --md-ref-palette-secondary5: #111201;
  --md-ref-palette-secondary10: #1c1d06;
  --md-ref-palette-secondary20: #313219;
  --md-ref-palette-secondary25: #3c3d23;
  --md-ref-palette-secondary30: #47482e;
  --md-ref-palette-secondary35: #535438;
  --md-ref-palette-secondary40: #5f6044;
  --md-ref-palette-secondary50: #78795b;
  --md-ref-palette-secondary60: #929373;
  --md-ref-palette-secondary70: #adad8c;
  --md-ref-palette-secondary80: #c8c9a6;
  --md-ref-palette-secondary90: #e5e5c0;
  --md-ref-palette-secondary95: #f3f3ce;
  --md-ref-palette-secondary98: #fcfcd6;
  --md-ref-palette-secondary99: #ffffd9;
  --md-ref-palette-secondary100: #ffffff;
  /* tertiary */
  --md-ref-palette-tertiary0: #000000;
  --md-ref-palette-tertiary5: #00150e;
  --md-ref-palette-tertiary10: #002018;
  --md-ref-palette-tertiary20: #08372c;
  --md-ref-palette-tertiary25: #174336;
  --md-ref-palette-tertiary30: #244e41;
  --md-ref-palette-tertiary35: #305a4d;
  --md-ref-palette-tertiary40: #3c6659;
  --md-ref-palette-tertiary50: #557f71;
  --md-ref-palette-tertiary60: #6e9a8a;
  --md-ref-palette-tertiary70: #88b4a4;
  --md-ref-palette-tertiary80: #a3d0bf;
  --md-ref-palette-tertiary90: #beecdb;
  --md-ref-palette-tertiary95: #ccfbe9;
  --md-ref-palette-tertiary98: #e6fff4;
  --md-ref-palette-tertiary99: #f3fff8;
  --md-ref-palette-tertiary100: #ffffff;
  /* neutral */
  --md-ref-palette-neutral0: #000000;
  --md-ref-palette-neutral5: #11110c;
  --md-ref-palette-neutral10: #1c1c17;
  --md-ref-palette-neutral20: #31312b;
  --md-ref-palette-neutral25: #3c3c36;
  --md-ref-palette-neutral30: #484741;
  --md-ref-palette-neutral35: #53534c;
  --md-ref-palette-neutral40: #605e58;
  --md-ref-palette-neutral50: #797770;
  --md-ref-palette-neutral60: #929189;
  --md-ref-palette-neutral70: #adaba3;
  --md-ref-palette-neutral80: #c9c6be;
  --md-ref-palette-neutral90: #e5e2da;
  --md-ref-palette-neutral95: #f4f1e8;
  --md-ref-palette-neutral98: #fcf9f0;
  --md-ref-palette-neutral99: #ffffd3;
  --md-ref-palette-neutral100: #ffffff;
  /* neutralVariant */
  --md-ref-palette-neutral-variant0: #000000;
  --md-ref-palette-neutral-variant5: #111208;
  --md-ref-palette-neutral-variant10: #1c1c12;
  --md-ref-palette-neutral-variant20: #313125;
  --md-ref-palette-neutral-variant25: #3c3c30;
  --md-ref-palette-neutral-variant30: #47473b;
  --md-ref-palette-neutral-variant35: #535346;
  --md-ref-palette-neutral-variant40: #5f5f51;
  --md-ref-palette-neutral-variant50: #787869;
  --md-ref-palette-neutral-variant60: #929182;
  --md-ref-palette-neutral-variant70: #adac9c;
  --md-ref-palette-neutral-variant80: #c9c7b6;
  --md-ref-palette-neutral-variant90: #e5e3d2;
  --md-ref-palette-neutral-variant95: #f4f1df;
  --md-ref-palette-neutral-variant98: #fcfae8;
  --md-ref-palette-neutral-variant99: #ffffd3;
  --md-ref-palette-neutral-variant100: #ffffff;
  /* error */
  --md-ref-palette-error0: #000000;
  --md-ref-palette-error5: #2d0001;
  --md-ref-palette-error10: #410002;
  --md-ref-palette-error20: #690005;
  --md-ref-palette-error25: #7e0007;
  --md-ref-palette-error30: #93000a;
  --md-ref-palette-error35: #a80710;
  --md-ref-palette-error40: #ba1a1a;
  --md-ref-palette-error50: #de3730;
  --md-ref-palette-error60: #ff5449;
  --md-ref-palette-error70: #ff897d;
  --md-ref-palette-error80: #ffb4ab;
  --md-ref-palette-error90: #ffdad6;
  --md-ref-palette-error95: #ffedea;
  --md-ref-palette-error98: #fff8f7;
  --md-ref-palette-error99: #fffbff;
  --md-ref-palette-error100: #ffffff;
}