* {
--md-source: #FAFAD2;
  /* primary */
  --md-ref-palette-primary0-rgb: 0 0 0;
  --md-ref-palette-primary5-rgb: 17 18 0;
  --md-ref-palette-primary10-rgb: 27 29 0;
  --md-ref-palette-primary20-rgb: 48 51 0;
  --md-ref-palette-primary25-rgb: 59 62 0;
  --md-ref-palette-primary30-rgb: 70 74 0;
  --md-ref-palette-primary35-rgb: 82 86 0;
  --md-ref-palette-primary40-rgb: 94 99 0;
  --md-ref-palette-primary50-rgb: 119 124 11;
  --md-ref-palette-primary60-rgb: 144 151 41;
  --md-ref-palette-primary70-rgb: 171 178 66;
  --md-ref-palette-primary80-rgb: 199 205 91;
  --md-ref-palette-primary90-rgb: 227 234 115;
  --md-ref-palette-primary95-rgb: 241 248 128;
  --md-ref-palette-primary98-rgb: 251 255 170;
  --md-ref-palette-primary99-rgb: 255 255 211;
  --md-ref-palette-primary100-rgb: 255 255 255;
  /* secondary */
  --md-ref-palette-secondary0-rgb: 0 0 0;
  --md-ref-palette-secondary5-rgb: 17 18 1;
  --md-ref-palette-secondary10-rgb: 28 29 6;
  --md-ref-palette-secondary20-rgb: 49 50 25;
  --md-ref-palette-secondary25-rgb: 60 61 35;
  --md-ref-palette-secondary30-rgb: 71 72 46;
  --md-ref-palette-secondary35-rgb: 83 84 56;
  --md-ref-palette-secondary40-rgb: 95 96 68;
  --md-ref-palette-secondary50-rgb: 120 121 91;
  --md-ref-palette-secondary60-rgb: 146 147 115;
  --md-ref-palette-secondary70-rgb: 173 173 140;
  --md-ref-palette-secondary80-rgb: 200 201 166;
  --md-ref-palette-secondary90-rgb: 229 229 192;
  --md-ref-palette-secondary95-rgb: 243 243 206;
  --md-ref-palette-secondary98-rgb: 252 252 214;
  --md-ref-palette-secondary99-rgb: 255 255 217;
  --md-ref-palette-secondary100-rgb: 255 255 255;
  /* tertiary */
  --md-ref-palette-tertiary0-rgb: 0 0 0;
  --md-ref-palette-tertiary5-rgb: 0 21 14;
  --md-ref-palette-tertiary10-rgb: 0 32 24;
  --md-ref-palette-tertiary20-rgb: 8 55 44;
  --md-ref-palette-tertiary25-rgb: 23 67 54;
  --md-ref-palette-tertiary30-rgb: 36 78 65;
  --md-ref-palette-tertiary35-rgb: 48 90 77;
  --md-ref-palette-tertiary40-rgb: 60 102 89;
  --md-ref-palette-tertiary50-rgb: 85 127 113;
  --md-ref-palette-tertiary60-rgb: 110 154 138;
  --md-ref-palette-tertiary70-rgb: 136 180 164;
  --md-ref-palette-tertiary80-rgb: 163 208 191;
  --md-ref-palette-tertiary90-rgb: 190 236 219;
  --md-ref-palette-tertiary95-rgb: 204 251 233;
  --md-ref-palette-tertiary98-rgb: 230 255 244;
  --md-ref-palette-tertiary99-rgb: 243 255 248;
  --md-ref-palette-tertiary100-rgb: 255 255 255;
  /* neutral */
  --md-ref-palette-neutral0-rgb: 0 0 0;
  --md-ref-palette-neutral5-rgb: 17 17 12;
  --md-ref-palette-neutral10-rgb: 28 28 23;
  --md-ref-palette-neutral20-rgb: 49 49 43;
  --md-ref-palette-neutral25-rgb: 60 60 54;
  --md-ref-palette-neutral30-rgb: 72 71 65;
  --md-ref-palette-neutral35-rgb: 83 83 76;
  --md-ref-palette-neutral40-rgb: 96 94 88;
  --md-ref-palette-neutral50-rgb: 121 119 112;
  --md-ref-palette-neutral60-rgb: 146 145 137;
  --md-ref-palette-neutral70-rgb: 173 171 163;
  --md-ref-palette-neutral80-rgb: 201 198 190;
  --md-ref-palette-neutral90-rgb: 229 226 218;
  --md-ref-palette-neutral95-rgb: 244 241 232;
  --md-ref-palette-neutral98-rgb: 252 249 240;
  --md-ref-palette-neutral99-rgb: 255 255 211;
  --md-ref-palette-neutral100-rgb: 255 255 255;
  /* neutralVariant */
  --md-ref-palette-neutral-variant0-rgb: 0 0 0;
  --md-ref-palette-neutral-variant5-rgb: 17 18 8;
  --md-ref-palette-neutral-variant10-rgb: 28 28 18;
  --md-ref-palette-neutral-variant20-rgb: 49 49 37;
  --md-ref-palette-neutral-variant25-rgb: 60 60 48;
  --md-ref-palette-neutral-variant30-rgb: 71 71 59;
  --md-ref-palette-neutral-variant35-rgb: 83 83 70;
  --md-ref-palette-neutral-variant40-rgb: 95 95 81;
  --md-ref-palette-neutral-variant50-rgb: 120 120 105;
  --md-ref-palette-neutral-variant60-rgb: 146 145 130;
  --md-ref-palette-neutral-variant70-rgb: 173 172 156;
  --md-ref-palette-neutral-variant80-rgb: 201 199 182;
  --md-ref-palette-neutral-variant90-rgb: 229 227 210;
  --md-ref-palette-neutral-variant95-rgb: 244 241 223;
  --md-ref-palette-neutral-variant98-rgb: 252 250 232;
  --md-ref-palette-neutral-variant99-rgb: 255 255 211;
  --md-ref-palette-neutral-variant100-rgb: 255 255 255;
  /* error */
  --md-ref-palette-error0-rgb: 0 0 0;
  --md-ref-palette-error5-rgb: 45 0 1;
  --md-ref-palette-error10-rgb: 65 0 2;
  --md-ref-palette-error20-rgb: 105 0 5;
  --md-ref-palette-error25-rgb: 126 0 7;
  --md-ref-palette-error30-rgb: 147 0 10;
  --md-ref-palette-error35-rgb: 168 7 16;
  --md-ref-palette-error40-rgb: 186 26 26;
  --md-ref-palette-error50-rgb: 222 55 48;
  --md-ref-palette-error60-rgb: 255 84 73;
  --md-ref-palette-error70-rgb: 255 137 125;
  --md-ref-palette-error80-rgb: 255 180 171;
  --md-ref-palette-error90-rgb: 255 218 214;
  --md-ref-palette-error95-rgb: 255 237 234;
  --md-ref-palette-error98-rgb: 255 248 247;
  --md-ref-palette-error99-rgb: 255 251 255;
  --md-ref-palette-error100-rgb: 255 255 255;
}