body, .tokens {
--md-source: #87CEFA;
  /* light */
  --md-sys-color-primary-rgb-light: 0, 101, 140;
  --md-sys-color-on-primary-rgb-light: 255, 255, 255;
  --md-sys-color-primary-container-rgb-light: 198, 231, 255;
  --md-sys-color-on-primary-container-rgb-light: 0, 30, 45;
  --md-sys-color-secondary-rgb-light: 79, 97, 109;
  --md-sys-color-on-secondary-rgb-light: 255, 255, 255;
  --md-sys-color-secondary-container-rgb-light: 210, 229, 244;
  --md-sys-color-on-secondary-container-rgb-light: 10, 30, 40;
  --md-sys-color-tertiary-rgb-light: 98, 89, 124;
  --md-sys-color-on-tertiary-rgb-light: 255, 255, 255;
  --md-sys-color-tertiary-container-rgb-light: 232, 222, 255;
  --md-sys-color-on-tertiary-container-rgb-light: 30, 23, 53;
  --md-sys-color-error-rgb-light: 186, 26, 26;
  --md-sys-color-on-error-rgb-light: 255, 255, 255;
  --md-sys-color-error-container-rgb-light: 255, 218, 214;
  --md-sys-color-on-error-container-rgb-light: 65, 0, 2;
  --md-sys-color-background-rgb-light: 251, 252, 255;
  --md-sys-color-on-background-rgb-light: 25, 28, 30;
  --md-sys-color-surface-rgb-light: 251, 252, 255;
  --md-sys-color-on-surface-rgb-light: 25, 28, 30;
  --md-sys-color-surface-variant-rgb-light: 221, 227, 234;
  --md-sys-color-on-surface-variant-rgb-light: 65, 72, 77;
  --md-sys-color-outline-rgb-light: 113, 120, 126;
  --md-sys-color-shadow-rgb-light: 0, 0, 0;
  --md-sys-color-inverse-surface-rgb-light: 46, 49, 51;
  --md-sys-color-inverse-on-surface-rgb-light: 240, 241, 243;
  --md-sys-color-inverse-primary-rgb-light: 129, 207, 255;
  /* dark */
  --md-sys-color-primary-rgb-dark: 129, 207, 255;
  --md-sys-color-on-primary-rgb-dark: 0, 52, 75;
  --md-sys-color-primary-container-rgb-dark: 0, 76, 107;
  --md-sys-color-on-primary-container-rgb-dark: 198, 231, 255;
  --md-sys-color-secondary-rgb-dark: 182, 201, 216;
  --md-sys-color-on-secondary-rgb-dark: 32, 51, 62;
  --md-sys-color-secondary-container-rgb-dark: 55, 73, 85;
  --md-sys-color-on-secondary-container-rgb-dark: 210, 229, 244;
  --md-sys-color-tertiary-rgb-dark: 204, 193, 233;
  --md-sys-color-on-tertiary-rgb-dark: 51, 44, 76;
  --md-sys-color-tertiary-container-rgb-dark: 74, 66, 99;
  --md-sys-color-on-tertiary-container-rgb-dark: 232, 222, 255;
  --md-sys-color-error-rgb-dark: 255, 180, 171;
  --md-sys-color-on-error-rgb-dark: 105, 0, 5;
  --md-sys-color-error-container-rgb-dark: 147, 0, 10;
  --md-sys-color-on-error-container-rgb-dark: 255, 180, 171;
  --md-sys-color-background-rgb-dark: 25, 28, 30;
  --md-sys-color-on-background-rgb-dark: 225, 226, 229;
  --md-sys-color-surface-rgb-dark: 25, 28, 30;
  --md-sys-color-on-surface-rgb-dark: 225, 226, 229;
  --md-sys-color-surface-variant-rgb-dark: 65, 72, 77;
  --md-sys-color-on-surface-variant-rgb-dark: 193, 199, 206;
  --md-sys-color-outline-rgb-dark: 139, 146, 152;
  --md-sys-color-shadow-rgb-dark: 0, 0, 0;
  --md-sys-color-inverse-surface-rgb-dark: 225, 226, 229;
  --md-sys-color-inverse-on-surface-rgb-dark: 46, 49, 51;
  --md-sys-color-inverse-primary-rgb-dark: 0, 101, 140;
  /* primary */
  --md-ref-palette-primary0: #000000;
  --md-ref-palette-primary5: #00131e;
  --md-ref-palette-primary10: #001e2d;
  --md-ref-palette-primary20: #00344b;
  --md-ref-palette-primary25: #00405b;
  --md-ref-palette-primary30: #004c6b;
  --md-ref-palette-primary35: #00587b;
  --md-ref-palette-primary40: #00658c;
  --md-ref-palette-primary50: #007fb0;
  --md-ref-palette-primary60: #2b9acf;
  --md-ref-palette-primary70: #50b5eb;
  --md-ref-palette-primary80: #81cfff;
  --md-ref-palette-primary90: #c6e7ff;
  --md-ref-palette-primary95: #e4f3ff;
  --md-ref-palette-primary98: #f5faff;
  --md-ref-palette-primary99: #fbfcff;
  --md-ref-palette-primary100: #ffffff;
  /* secondary */
  --md-ref-palette-secondary0: #000000;
  --md-ref-palette-secondary5: #01131d;
  --md-ref-palette-secondary10: #0a1e28;
  --md-ref-palette-secondary20: #20333e;
  --md-ref-palette-secondary25: #2c3e49;
  --md-ref-palette-secondary30: #374955;
  --md-ref-palette-secondary35: #435561;
  --md-ref-palette-secondary40: #4f616d;
  --md-ref-palette-secondary50: #677987;
  --md-ref-palette-secondary60: #8093a1;
  --md-ref-palette-secondary70: #9baebc;
  --md-ref-palette-secondary80: #b6c9d8;
  --md-ref-palette-secondary90: #d2e5f4;
  --md-ref-palette-secondary95: #e4f3ff;
  --md-ref-palette-secondary98: #f5faff;
  --md-ref-palette-secondary99: #fbfcff;
  --md-ref-palette-secondary100: #ffffff;
  /* tertiary */
  --md-ref-palette-tertiary0: #000000;
  --md-ref-palette-tertiary5: #130b2a;
  --md-ref-palette-tertiary10: #1e1735;
  --md-ref-palette-tertiary20: #332c4c;
  --md-ref-palette-tertiary25: #3e3757;
  --md-ref-palette-tertiary30: #4a4263;
  --md-ref-palette-tertiary35: #564e70;
  --md-ref-palette-tertiary40: #62597c;
  --md-ref-palette-tertiary50: #7b7296;
  --md-ref-palette-tertiary60: #958bb1;
  --md-ref-palette-tertiary70: #b0a6cd;
  --md-ref-palette-tertiary80: #ccc1e9;
  --md-ref-palette-tertiary90: #e8deff;
  --md-ref-palette-tertiary95: #f5eeff;
  --md-ref-palette-tertiary98: #fdf7ff;
  --md-ref-palette-tertiary99: #fffbff;
  --md-ref-palette-tertiary100: #ffffff;
  /* neutral */
  --md-ref-palette-neutral0: #000000;
  --md-ref-palette-neutral5: #0f1113;
  --md-ref-palette-neutral10: #191c1e;
  --md-ref-palette-neutral20: #2e3133;
  --md-ref-palette-neutral25: #393c3e;
  --md-ref-palette-neutral30: #454749;
  --md-ref-palette-neutral35: #505355;
  --md-ref-palette-neutral40: #5c5e61;
  --md-ref-palette-neutral50: #75777a;
  --md-ref-palette-neutral60: #8f9193;
  --md-ref-palette-neutral70: #aaabae;
  --md-ref-palette-neutral80: #c5c6c9;
  --md-ref-palette-neutral90: #e1e2e5;
  --md-ref-palette-neutral95: #f0f1f3;
  --md-ref-palette-neutral98: #f9f9fc;
  --md-ref-palette-neutral99: #fbfcff;
  --md-ref-palette-neutral100: #ffffff;
  /* neutralVariant */
  --md-ref-palette-neutral-variant0: #000000;
  --md-ref-palette-neutral-variant5: #0b1216;
  --md-ref-palette-neutral-variant10: #161c21;
  --md-ref-palette-neutral-variant20: #2b3136;
  --md-ref-palette-neutral-variant25: #353c41;
  --md-ref-palette-neutral-variant30: #41484d;
  --md-ref-palette-neutral-variant35: #4c5359;
  --md-ref-palette-neutral-variant40: #585f65;
  --md-ref-palette-neutral-variant50: #71787e;
  --md-ref-palette-neutral-variant60: #8b9298;
  --md-ref-palette-neutral-variant70: #a5acb2;
  --md-ref-palette-neutral-variant80: #c1c7ce;
  --md-ref-palette-neutral-variant90: #dde3ea;
  --md-ref-palette-neutral-variant95: #ebf1f8;
  --md-ref-palette-neutral-variant98: #f5faff;
  --md-ref-palette-neutral-variant99: #fbfcff;
  --md-ref-palette-neutral-variant100: #ffffff;
  /* error */
  --md-ref-palette-error0: #000000;
  --md-ref-palette-error5: #2d0001;
  --md-ref-palette-error10: #410002;
  --md-ref-palette-error20: #690005;
  --md-ref-palette-error25: #7e0007;
  --md-ref-palette-error30: #93000a;
  --md-ref-palette-error35: #a80710;
  --md-ref-palette-error40: #ba1a1a;
  --md-ref-palette-error50: #de3730;
  --md-ref-palette-error60: #ff5449;
  --md-ref-palette-error70: #ff897d;
  --md-ref-palette-error80: #ffb4ab;
  --md-ref-palette-error90: #ffdad6;
  --md-ref-palette-error95: #ffedea;
  --md-ref-palette-error98: #fff8f7;
  --md-ref-palette-error99: #fffbff;
  --md-ref-palette-error100: #ffffff;
}