body, .tokens {
--md-source: #00FF00;
  /* light */
  --md-sys-color-primary-rgb-light: 2, 110, 0;
  --md-sys-color-on-primary-rgb-light: 255, 255, 255;
  --md-sys-color-primary-container-rgb-light: 119, 255, 97;
  --md-sys-color-on-primary-container-rgb-light: 0, 34, 0;
  --md-sys-color-secondary-rgb-light: 84, 99, 77;
  --md-sys-color-on-secondary-rgb-light: 255, 255, 255;
  --md-sys-color-secondary-container-rgb-light: 215, 232, 205;
  --md-sys-color-on-secondary-container-rgb-light: 18, 31, 14;
  --md-sys-color-tertiary-rgb-light: 56, 101, 104;
  --md-sys-color-on-tertiary-rgb-light: 255, 255, 255;
  --md-sys-color-tertiary-container-rgb-light: 188, 235, 238;
  --md-sys-color-on-tertiary-container-rgb-light: 0, 32, 34;
  --md-sys-color-error-rgb-light: 186, 26, 26;
  --md-sys-color-on-error-rgb-light: 255, 255, 255;
  --md-sys-color-error-container-rgb-light: 255, 218, 214;
  --md-sys-color-on-error-container-rgb-light: 65, 0, 2;
  --md-sys-color-background-rgb-light: 252, 253, 246;
  --md-sys-color-on-background-rgb-light: 26, 28, 24;
  --md-sys-color-surface-rgb-light: 252, 253, 246;
  --md-sys-color-on-surface-rgb-light: 26, 28, 24;
  --md-sys-color-surface-variant-rgb-light: 223, 228, 215;
  --md-sys-color-on-surface-variant-rgb-light: 67, 72, 63;
  --md-sys-color-outline-rgb-light: 115, 121, 110;
  --md-sys-color-shadow-rgb-light: 0, 0, 0;
  --md-sys-color-inverse-surface-rgb-light: 47, 49, 45;
  --md-sys-color-inverse-on-surface-rgb-light: 241, 241, 235;
  --md-sys-color-inverse-primary-rgb-light: 2, 230, 0;
  /* dark */
  --md-sys-color-primary-rgb-dark: 2, 230, 0;
  --md-sys-color-on-primary-rgb-dark: 1, 58, 0;
  --md-sys-color-primary-container-rgb-dark: 1, 83, 0;
  --md-sys-color-on-primary-container-rgb-dark: 119, 255, 97;
  --md-sys-color-secondary-rgb-dark: 187, 203, 178;
  --md-sys-color-on-secondary-rgb-dark: 38, 52, 34;
  --md-sys-color-secondary-container-rgb-dark: 60, 75, 55;
  --md-sys-color-on-secondary-container-rgb-dark: 215, 232, 205;
  --md-sys-color-tertiary-rgb-dark: 160, 207, 210;
  --md-sys-color-on-tertiary-rgb-dark: 0, 55, 57;
  --md-sys-color-tertiary-container-rgb-dark: 30, 77, 80;
  --md-sys-color-on-tertiary-container-rgb-dark: 188, 235, 238;
  --md-sys-color-error-rgb-dark: 255, 180, 171;
  --md-sys-color-on-error-rgb-dark: 105, 0, 5;
  --md-sys-color-error-container-rgb-dark: 147, 0, 10;
  --md-sys-color-on-error-container-rgb-dark: 255, 180, 171;
  --md-sys-color-background-rgb-dark: 26, 28, 24;
  --md-sys-color-on-background-rgb-dark: 226, 227, 220;
  --md-sys-color-surface-rgb-dark: 26, 28, 24;
  --md-sys-color-on-surface-rgb-dark: 226, 227, 220;
  --md-sys-color-surface-variant-rgb-dark: 67, 72, 63;
  --md-sys-color-on-surface-variant-rgb-dark: 195, 200, 188;
  --md-sys-color-outline-rgb-dark: 141, 147, 135;
  --md-sys-color-shadow-rgb-dark: 0, 0, 0;
  --md-sys-color-inverse-surface-rgb-dark: 226, 227, 220;
  --md-sys-color-inverse-on-surface-rgb-dark: 47, 49, 45;
  --md-sys-color-inverse-primary-rgb-dark: 2, 110, 0;
  /* primary */
  --md-ref-palette-primary0: #000000;
  --md-ref-palette-primary5: #001500;
  --md-ref-palette-primary10: #002200;
  --md-ref-palette-primary20: #013a00;
  --md-ref-palette-primary25: #014600;
  --md-ref-palette-primary30: #015300;
  --md-ref-palette-primary35: #026100;
  --md-ref-palette-primary40: #026e00;
  --md-ref-palette-primary50: #038b00;
  --md-ref-palette-primary60: #03a800;
  --md-ref-palette-primary70: #03c700;
  --md-ref-palette-primary80: #02e600;
  --md-ref-palette-primary90: #77ff61;
  --md-ref-palette-primary95: #cbffb8;
  --md-ref-palette-primary98: #edffe1;
  --md-ref-palette-primary99: #f7ffee;
  --md-ref-palette-primary100: #ffffff;
  /* secondary */
  --md-ref-palette-secondary0: #000000;
  --md-ref-palette-secondary5: #071405;
  --md-ref-palette-secondary10: #121f0e;
  --md-ref-palette-secondary20: #263422;
  --md-ref-palette-secondary25: #313f2c;
  --md-ref-palette-secondary30: #3c4b37;
  --md-ref-palette-secondary35: #485642;
  --md-ref-palette-secondary40: #54634d;
  --md-ref-palette-secondary50: #6c7b65;
  --md-ref-palette-secondary60: #86957e;
  --md-ref-palette-secondary70: #a0b097;
  --md-ref-palette-secondary80: #bbcbb2;
  --md-ref-palette-secondary90: #d7e8cd;
  --md-ref-palette-secondary95: #e5f6da;
  --md-ref-palette-secondary98: #eeffe3;
  --md-ref-palette-secondary99: #f7ffee;
  --md-ref-palette-secondary100: #ffffff;
  /* tertiary */
  --md-ref-palette-tertiary0: #000000;
  --md-ref-palette-tertiary5: #001415;
  --md-ref-palette-tertiary10: #002022;
  --md-ref-palette-tertiary20: #003739;
  --md-ref-palette-tertiary25: #104245;
  --md-ref-palette-tertiary30: #1e4d50;
  --md-ref-palette-tertiary35: #2b595c;
  --md-ref-palette-tertiary40: #386568;
  --md-ref-palette-tertiary50: #517f81;
  --md-ref-palette-tertiary60: #6b989b;
  --md-ref-palette-tertiary70: #85b3b6;
  --md-ref-palette-tertiary80: #a0cfd2;
  --md-ref-palette-tertiary90: #bcebee;
  --md-ref-palette-tertiary95: #caf9fd;
  --md-ref-palette-tertiary98: #e7feff;
  --md-ref-palette-tertiary99: #f2ffff;
  --md-ref-palette-tertiary100: #ffffff;
  /* neutral */
  --md-ref-palette-neutral0: #000000;
  --md-ref-palette-neutral5: #0f120e;
  --md-ref-palette-neutral10: #1a1c18;
  --md-ref-palette-neutral20: #2f312d;
  --md-ref-palette-neutral25: #3a3c38;
  --md-ref-palette-neutral30: #454743;
  --md-ref-palette-neutral35: #51534e;
  --md-ref-palette-neutral40: #5d5f5a;
  --md-ref-palette-neutral50: #767872;
  --md-ref-palette-neutral60: #90918c;
  --md-ref-palette-neutral70: #abaca6;
  --md-ref-palette-neutral80: #c6c7c1;
  --md-ref-palette-neutral90: #e2e3dc;
  --md-ref-palette-neutral95: #f1f1eb;
  --md-ref-palette-neutral98: #f9faf3;
  --md-ref-palette-neutral99: #fcfdf6;
  --md-ref-palette-neutral100: #ffffff;
  /* neutralVariant */
  --md-ref-palette-neutralVariant0: #000000;
  --md-ref-palette-neutralVariant5: #0d120b;
  --md-ref-palette-neutralVariant10: #181d15;
  --md-ref-palette-neutralVariant20: #2c3229;
  --md-ref-palette-neutralVariant25: #373d34;
  --md-ref-palette-neutralVariant30: #43483f;
  --md-ref-palette-neutralVariant35: #4e544a;
  --md-ref-palette-neutralVariant40: #5a6056;
  --md-ref-palette-neutralVariant50: #73796e;
  --md-ref-palette-neutralVariant60: #8d9387;
  --md-ref-palette-neutralVariant70: #a7ada1;
  --md-ref-palette-neutralVariant80: #c3c8bc;
  --md-ref-palette-neutralVariant90: #dfe4d7;
  --md-ref-palette-neutralVariant95: #edf3e5;
  --md-ref-palette-neutralVariant98: #f6fbee;
  --md-ref-palette-neutralVariant99: #f9fef1;
  --md-ref-palette-neutralVariant100: #ffffff;
  /* error */
  --md-ref-palette-error0: #000000;
  --md-ref-palette-error5: #2d0001;
  --md-ref-palette-error10: #410002;
  --md-ref-palette-error20: #690005;
  --md-ref-palette-error25: #7e0007;
  --md-ref-palette-error30: #93000a;
  --md-ref-palette-error35: #a80710;
  --md-ref-palette-error40: #ba1a1a;
  --md-ref-palette-error50: #de3730;
  --md-ref-palette-error60: #ff5449;
  --md-ref-palette-error70: #ff897d;
  --md-ref-palette-error80: #ffb4ab;
  --md-ref-palette-error90: #ffdad6;
  --md-ref-palette-error95: #ffedea;
  --md-ref-palette-error98: #fff8f7;
  --md-ref-palette-error99: #fffbff;
  --md-ref-palette-error100: #ffffff;
}