body, .tokens {
--md-source: #32CD32;
  /* light */
  --md-sys-color-primary-rgb-light: 0, 110, 10;
  --md-sys-color-on-primary-rgb-light: 255, 255, 255;
  --md-sys-color-primary-container-rgb-light: 117, 255, 104;
  --md-sys-color-on-primary-container-rgb-light: 0, 34, 1;
  --md-sys-color-secondary-rgb-light: 83, 99, 78;
  --md-sys-color-on-secondary-rgb-light: 255, 255, 255;
  --md-sys-color-secondary-container-rgb-light: 214, 232, 205;
  --md-sys-color-on-secondary-container-rgb-light: 17, 31, 15;
  --md-sys-color-tertiary-rgb-light: 56, 101, 105;
  --md-sys-color-on-tertiary-rgb-light: 255, 255, 255;
  --md-sys-color-tertiary-container-rgb-light: 188, 235, 239;
  --md-sys-color-on-tertiary-container-rgb-light: 0, 32, 34;
  --md-sys-color-error-rgb-light: 186, 26, 26;
  --md-sys-color-on-error-rgb-light: 255, 255, 255;
  --md-sys-color-error-container-rgb-light: 255, 218, 214;
  --md-sys-color-on-error-container-rgb-light: 65, 0, 2;
  --md-sys-color-background-rgb-light: 252, 253, 246;
  --md-sys-color-on-background-rgb-light: 26, 28, 25;
  --md-sys-color-surface-rgb-light: 252, 253, 246;
  --md-sys-color-on-surface-rgb-light: 26, 28, 25;
  --md-sys-color-surface-variant-rgb-light: 223, 228, 216;
  --md-sys-color-on-surface-variant-rgb-light: 66, 73, 63;
  --md-sys-color-outline-rgb-light: 115, 121, 110;
  --md-sys-color-shadow-rgb-light: 0, 0, 0;
  --md-sys-color-inverse-surface-rgb-light: 47, 49, 45;
  --md-sys-color-inverse-on-surface-rgb-light: 241, 241, 235;
  --md-sys-color-inverse-primary-rgb-light: 76, 227, 70;
  /* dark */
  --md-sys-color-primary-rgb-dark: 76, 227, 70;
  --md-sys-color-on-primary-rgb-dark: 0, 58, 3;
  --md-sys-color-primary-container-rgb-dark: 0, 83, 6;
  --md-sys-color-on-primary-container-rgb-dark: 117, 255, 104;
  --md-sys-color-secondary-rgb-dark: 187, 204, 178;
  --md-sys-color-on-secondary-rgb-dark: 38, 52, 34;
  --md-sys-color-secondary-container-rgb-dark: 60, 75, 55;
  --md-sys-color-on-secondary-container-rgb-dark: 214, 232, 205;
  --md-sys-color-tertiary-rgb-dark: 160, 207, 211;
  --md-sys-color-on-tertiary-rgb-dark: 0, 54, 58;
  --md-sys-color-tertiary-container-rgb-dark: 30, 77, 81;
  --md-sys-color-on-tertiary-container-rgb-dark: 188, 235, 239;
  --md-sys-color-error-rgb-dark: 255, 180, 171;
  --md-sys-color-on-error-rgb-dark: 105, 0, 5;
  --md-sys-color-error-container-rgb-dark: 147, 0, 10;
  --md-sys-color-on-error-container-rgb-dark: 255, 180, 171;
  --md-sys-color-background-rgb-dark: 26, 28, 25;
  --md-sys-color-on-background-rgb-dark: 226, 227, 221;
  --md-sys-color-surface-rgb-dark: 26, 28, 25;
  --md-sys-color-on-surface-rgb-dark: 226, 227, 221;
  --md-sys-color-surface-variant-rgb-dark: 66, 73, 63;
  --md-sys-color-on-surface-variant-rgb-dark: 194, 200, 188;
  --md-sys-color-outline-rgb-dark: 140, 147, 135;
  --md-sys-color-shadow-rgb-dark: 0, 0, 0;
  --md-sys-color-inverse-surface-rgb-dark: 226, 227, 221;
  --md-sys-color-inverse-on-surface-rgb-dark: 47, 49, 45;
  --md-sys-color-inverse-primary-rgb-dark: 0, 110, 10;
  /* primary */
  --md-ref-palette-primary0: #000000;
  --md-ref-palette-primary5: #001500;
  --md-ref-palette-primary10: #002201;
  --md-ref-palette-primary20: #003a03;
  --md-ref-palette-primary25: #004604;
  --md-ref-palette-primary30: #005306;
  --md-ref-palette-primary35: #006108;
  --md-ref-palette-primary40: #006e0a;
  --md-ref-palette-primary50: #008b10;
  --md-ref-palette-primary60: #00a816;
  --md-ref-palette-primary70: #27c52b;
  --md-ref-palette-primary80: #4ce346;
  --md-ref-palette-primary90: #75ff68;
  --md-ref-palette-primary95: #caffbb;
  --md-ref-palette-primary98: #ecffe2;
  --md-ref-palette-primary99: #f7ffef;
  --md-ref-palette-primary100: #ffffff;
  /* secondary */
  --md-ref-palette-secondary0: #000000;
  --md-ref-palette-secondary5: #071405;
  --md-ref-palette-secondary10: #111f0f;
  --md-ref-palette-secondary20: #263422;
  --md-ref-palette-secondary25: #313f2d;
  --md-ref-palette-secondary30: #3c4b37;
  --md-ref-palette-secondary35: #485742;
  --md-ref-palette-secondary40: #53634e;
  --md-ref-palette-secondary50: #6c7c65;
  --md-ref-palette-secondary60: #85957e;
  --md-ref-palette-secondary70: #9fb098;
  --md-ref-palette-secondary80: #bbccb2;
  --md-ref-palette-secondary90: #d6e8cd;
  --md-ref-palette-secondary95: #e5f6db;
  --md-ref-palette-secondary98: #edffe3;
  --md-ref-palette-secondary99: #f7ffef;
  --md-ref-palette-secondary100: #ffffff;
  /* tertiary */
  --md-ref-palette-tertiary0: #000000;
  --md-ref-palette-tertiary5: #001416;
  --md-ref-palette-tertiary10: #002022;
  --md-ref-palette-tertiary20: #00363a;
  --md-ref-palette-tertiary25: #104245;
  --md-ref-palette-tertiary30: #1e4d51;
  --md-ref-palette-tertiary35: #2b595d;
  --md-ref-palette-tertiary40: #386569;
  --md-ref-palette-tertiary50: #517e82;
  --md-ref-palette-tertiary60: #6b989c;
  --md-ref-palette-tertiary70: #85b3b7;
  --md-ref-palette-tertiary80: #a0cfd3;
  --md-ref-palette-tertiary90: #bcebef;
  --md-ref-palette-tertiary95: #caf9fd;
  --md-ref-palette-tertiary98: #e8fdff;
  --md-ref-palette-tertiary99: #f3feff;
  --md-ref-palette-tertiary100: #ffffff;
  /* neutral */
  --md-ref-palette-neutral0: #000000;
  --md-ref-palette-neutral5: #0f120e;
  --md-ref-palette-neutral10: #1a1c19;
  --md-ref-palette-neutral20: #2f312d;
  --md-ref-palette-neutral25: #3a3c38;
  --md-ref-palette-neutral30: #454743;
  --md-ref-palette-neutral35: #51534e;
  --md-ref-palette-neutral40: #5d5f5a;
  --md-ref-palette-neutral50: #767872;
  --md-ref-palette-neutral60: #90918c;
  --md-ref-palette-neutral70: #abaca6;
  --md-ref-palette-neutral80: #c6c7c1;
  --md-ref-palette-neutral90: #e2e3dd;
  --md-ref-palette-neutral95: #f1f1eb;
  --md-ref-palette-neutral98: #f9faf3;
  --md-ref-palette-neutral99: #fcfdf6;
  --md-ref-palette-neutral100: #ffffff;
  /* neutralVariant */
  --md-ref-palette-neutral-variant0: #000000;
  --md-ref-palette-neutral-variant5: #0d120b;
  --md-ref-palette-neutral-variant10: #171d15;
  --md-ref-palette-neutral-variant20: #2c3229;
  --md-ref-palette-neutral-variant25: #373d34;
  --md-ref-palette-neutral-variant30: #42493f;
  --md-ref-palette-neutral-variant35: #4e544b;
  --md-ref-palette-neutral-variant40: #5a6056;
  --md-ref-palette-neutral-variant50: #73796e;
  --md-ref-palette-neutral-variant60: #8c9387;
  --md-ref-palette-neutral-variant70: #a7ada1;
  --md-ref-palette-neutral-variant80: #c2c8bc;
  --md-ref-palette-neutral-variant90: #dfe4d8;
  --md-ref-palette-neutral-variant95: #edf3e6;
  --md-ref-palette-neutral-variant98: #f6fbee;
  --md-ref-palette-neutral-variant99: #f9fef1;
  --md-ref-palette-neutral-variant100: #ffffff;
  /* error */
  --md-ref-palette-error0: #000000;
  --md-ref-palette-error5: #2d0001;
  --md-ref-palette-error10: #410002;
  --md-ref-palette-error20: #690005;
  --md-ref-palette-error25: #7e0007;
  --md-ref-palette-error30: #93000a;
  --md-ref-palette-error35: #a80710;
  --md-ref-palette-error40: #ba1a1a;
  --md-ref-palette-error50: #de3730;
  --md-ref-palette-error60: #ff5449;
  --md-ref-palette-error70: #ff897d;
  --md-ref-palette-error80: #ffb4ab;
  --md-ref-palette-error90: #ffdad6;
  --md-ref-palette-error95: #ffedea;
  --md-ref-palette-error98: #fff8f7;
  --md-ref-palette-error99: #fffbff;
  --md-ref-palette-error100: #ffffff;
}