:root, .tokens {
--md-source: #FAF0E6;
  /* light */
  --md-sys-color-primary-rgb-light: 126, 87, 0;
  --md-sys-color-on-primary-rgb-light: 255, 255, 255;
  --md-sys-color-primary-container-rgb-light: 255, 222, 172;
  --md-sys-color-on-primary-container-rgb-light: 40, 25, 0;
  --md-sys-color-secondary-rgb-light: 110, 92, 64;
  --md-sys-color-on-secondary-rgb-light: 255, 255, 255;
  --md-sys-color-secondary-container-rgb-light: 248, 223, 187;
  --md-sys-color-on-secondary-container-rgb-light: 38, 25, 4;
  --md-sys-color-tertiary-rgb-light: 78, 101, 66;
  --md-sys-color-on-tertiary-rgb-light: 255, 255, 255;
  --md-sys-color-tertiary-container-rgb-light: 208, 234, 191;
  --md-sys-color-on-tertiary-container-rgb-light: 13, 32, 5;
  --md-sys-color-error-rgb-light: 186, 26, 26;
  --md-sys-color-on-error-rgb-light: 255, 255, 255;
  --md-sys-color-error-container-rgb-light: 255, 218, 214;
  --md-sys-color-on-error-container-rgb-light: 65, 0, 2;
  --md-sys-color-background-rgb-light: 255, 251, 255;
  --md-sys-color-on-background-rgb-light: 31, 27, 22;
  --md-sys-color-surface-rgb-light: 255, 251, 255;
  --md-sys-color-on-surface-rgb-light: 31, 27, 22;
  --md-sys-color-surface-variant-rgb-light: 239, 224, 207;
  --md-sys-color-on-surface-variant-rgb-light: 78, 69, 57;
  --md-sys-color-outline-rgb-light: 128, 117, 103;
  --md-sys-color-shadow-rgb-light: 0, 0, 0;
  --md-sys-color-inverse-surface-rgb-light: 52, 48, 42;
  --md-sys-color-inverse-on-surface-rgb-light: 248, 239, 231;
  --md-sys-color-inverse-primary-rgb-light: 251, 187, 73;
  /* dark */
  --md-sys-color-primary-rgb-dark: 251, 187, 73;
  --md-sys-color-on-primary-rgb-dark: 67, 44, 0;
  --md-sys-color-primary-container-rgb-dark: 96, 65, 0;
  --md-sys-color-on-primary-container-rgb-dark: 255, 222, 172;
  --md-sys-color-secondary-rgb-dark: 219, 195, 161;
  --md-sys-color-on-secondary-rgb-dark: 61, 46, 22;
  --md-sys-color-secondary-container-rgb-dark: 85, 68, 42;
  --md-sys-color-on-secondary-container-rgb-dark: 248, 223, 187;
  --md-sys-color-tertiary-rgb-dark: 181, 206, 164;
  --md-sys-color-on-tertiary-rgb-dark: 33, 54, 24;
  --md-sys-color-tertiary-container-rgb-dark: 55, 76, 44;
  --md-sys-color-on-tertiary-container-rgb-dark: 208, 234, 191;
  --md-sys-color-error-rgb-dark: 255, 180, 171;
  --md-sys-color-on-error-rgb-dark: 105, 0, 5;
  --md-sys-color-error-container-rgb-dark: 147, 0, 10;
  --md-sys-color-on-error-container-rgb-dark: 255, 180, 171;
  --md-sys-color-background-rgb-dark: 31, 27, 22;
  --md-sys-color-on-background-rgb-dark: 234, 225, 217;
  --md-sys-color-surface-rgb-dark: 31, 27, 22;
  --md-sys-color-on-surface-rgb-dark: 234, 225, 217;
  --md-sys-color-surface-variant-rgb-dark: 78, 69, 57;
  --md-sys-color-on-surface-variant-rgb-dark: 210, 196, 180;
  --md-sys-color-outline-rgb-dark: 155, 143, 128;
  --md-sys-color-shadow-rgb-dark: 0, 0, 0;
  --md-sys-color-inverse-surface-rgb-dark: 234, 225, 217;
  --md-sys-color-inverse-on-surface-rgb-dark: 52, 48, 42;
  --md-sys-color-inverse-primary-rgb-dark: 126, 87, 0;
  /* primary */
  --md-ref-palette-primary0: #000000;
  --md-ref-palette-primary5: #1a0f00;
  --md-ref-palette-primary10: #281900;
  --md-ref-palette-primary20: #432c00;
  --md-ref-palette-primary25: #513600;
  --md-ref-palette-primary30: #604100;
  --md-ref-palette-primary35: #6f4c00;
  --md-ref-palette-primary40: #7e5700;
  --md-ref-palette-primary50: #9e6e00;
  --md-ref-palette-primary60: #be8612;
  --md-ref-palette-primary70: #dca030;
  --md-ref-palette-primary80: #fbbb49;
  --md-ref-palette-primary90: #ffdeac;
  --md-ref-palette-primary95: #ffeed9;
  --md-ref-palette-primary98: #fff8f3;
  --md-ref-palette-primary99: #fffbff;
  --md-ref-palette-primary100: #ffffff;
  /* secondary */
  --md-ref-palette-secondary0: #000000;
  --md-ref-palette-secondary5: #1a0f00;
  --md-ref-palette-secondary10: #261904;
  --md-ref-palette-secondary20: #3d2e16;
  --md-ref-palette-secondary25: #483920;
  --md-ref-palette-secondary30: #55442a;
  --md-ref-palette-secondary35: #615035;
  --md-ref-palette-secondary40: #6e5c40;
  --md-ref-palette-secondary50: #887456;
  --md-ref-palette-secondary60: #a38e6e;
  --md-ref-palette-secondary70: #bfa887;
  --md-ref-palette-secondary80: #dbc3a1;
  --md-ref-palette-secondary90: #f8dfbb;
  --md-ref-palette-secondary95: #ffeed9;
  --md-ref-palette-secondary98: #fff8f3;
  --md-ref-palette-secondary99: #fffbff;
  --md-ref-palette-secondary100: #ffffff;
  /* tertiary */
  --md-ref-palette-tertiary0: #000000;
  --md-ref-palette-tertiary5: #031500;
  --md-ref-palette-tertiary10: #0d2005;
  --md-ref-palette-tertiary20: #213618;
  --md-ref-palette-tertiary25: #2c4122;
  --md-ref-palette-tertiary30: #374c2c;
  --md-ref-palette-tertiary35: #435837;
  --md-ref-palette-tertiary40: #4e6542;
  --md-ref-palette-tertiary50: #677e59;
  --md-ref-palette-tertiary60: #809871;
  --md-ref-palette-tertiary70: #9ab38a;
  --md-ref-palette-tertiary80: #b5cea4;
  --md-ref-palette-tertiary90: #d0eabf;
  --md-ref-palette-tertiary95: #dff9cc;
  --md-ref-palette-tertiary98: #edffdf;
  --md-ref-palette-tertiary99: #f7ffed;
  --md-ref-palette-tertiary100: #ffffff;
  /* neutral */
  --md-ref-palette-neutral0: #000000;
  --md-ref-palette-neutral5: #14100c;
  --md-ref-palette-neutral10: #1f1b16;
  --md-ref-palette-neutral20: #34302a;
  --md-ref-palette-neutral25: #3f3b35;
  --md-ref-palette-neutral30: #4b4640;
  --md-ref-palette-neutral35: #57524b;
  --md-ref-palette-neutral40: #635d57;
  --md-ref-palette-neutral50: #7c766f;
  --md-ref-palette-neutral60: #969088;
  --md-ref-palette-neutral70: #b1aaa2;
  --md-ref-palette-neutral80: #cdc5bd;
  --md-ref-palette-neutral90: #eae1d9;
  --md-ref-palette-neutral95: #f8efe7;
  --md-ref-palette-neutral98: #fff8f3;
  --md-ref-palette-neutral99: #fffbff;
  --md-ref-palette-neutral100: #ffffff;
  /* neutralVariant */
  --md-ref-palette-neutralVariant0: #000000;
  --md-ref-palette-neutralVariant5: #161007;
  --md-ref-palette-neutralVariant10: #211b10;
  --md-ref-palette-neutralVariant20: #372f24;
  --md-ref-palette-neutralVariant25: #433a2e;
  --md-ref-palette-neutralVariant30: #4e4539;
  --md-ref-palette-neutralVariant35: #5a5144;
  --md-ref-palette-neutralVariant40: #675d4f;
  --md-ref-palette-neutralVariant50: #807567;
  --md-ref-palette-neutralVariant60: #9b8f80;
  --md-ref-palette-neutralVariant70: #b6a999;
  --md-ref-palette-neutralVariant80: #d2c4b4;
  --md-ref-palette-neutralVariant90: #efe0cf;
  --md-ref-palette-neutralVariant95: #fdefdd;
  --md-ref-palette-neutralVariant98: #fff8f3;
  --md-ref-palette-neutralVariant99: #fffbff;
  --md-ref-palette-neutralVariant100: #ffffff;
  /* error */
  --md-ref-palette-error0: #000000;
  --md-ref-palette-error5: #2d0001;
  --md-ref-palette-error10: #410002;
  --md-ref-palette-error20: #690005;
  --md-ref-palette-error25: #7e0007;
  --md-ref-palette-error30: #93000a;
  --md-ref-palette-error35: #a80710;
  --md-ref-palette-error40: #ba1a1a;
  --md-ref-palette-error50: #de3730;
  --md-ref-palette-error60: #ff5449;
  --md-ref-palette-error70: #ff897d;
  --md-ref-palette-error80: #ffb4ab;
  --md-ref-palette-error90: #ffdad6;
  --md-ref-palette-error95: #ffedea;
  --md-ref-palette-error98: #fff8f7;
  --md-ref-palette-error99: #fffbff;
  --md-ref-palette-error100: #ffffff;
}