* {
--md-source: #800000;
  /* primary */
  --md-ref-palette-primary0-rgb: 0 0 0;
  --md-ref-palette-primary5-rgb: 45 0 0;
  --md-ref-palette-primary10-rgb: 65 0 0;
  --md-ref-palette-primary20-rgb: 105 0 0;
  --md-ref-palette-primary25-rgb: 126 0 0;
  --md-ref-palette-primary30-rgb: 143 15 7;
  --md-ref-palette-primary35-rgb: 161 30 19;
  --md-ref-palette-primary40-rgb: 178 43 29;
  --md-ref-palette-primary50-rgb: 212 68 51;
  --md-ref-palette-primary60-rgb: 247 93 73;
  --md-ref-palette-primary70-rgb: 255 138 120;
  --md-ref-palette-primary80-rgb: 255 180 168;
  --md-ref-palette-primary90-rgb: 255 218 212;
  --md-ref-palette-primary95-rgb: 255 237 234;
  --md-ref-palette-primary98-rgb: 255 248 246;
  --md-ref-palette-primary99-rgb: 255 251 255;
  --md-ref-palette-primary100-rgb: 255 255 255;
  /* secondary */
  --md-ref-palette-secondary0-rgb: 0 0 0;
  --md-ref-palette-secondary5-rgb: 32 11 8;
  --md-ref-palette-secondary10-rgb: 44 21 18;
  --md-ref-palette-secondary20-rgb: 68 41 37;
  --md-ref-palette-secondary25-rgb: 81 52 48;
  --md-ref-palette-secondary30-rgb: 93 63 59;
  --md-ref-palette-secondary35-rgb: 106 75 70;
  --md-ref-palette-secondary40-rgb: 119 86 81;
  --md-ref-palette-secondary50-rgb: 146 111 105;
  --md-ref-palette-secondary60-rgb: 174 136 130;
  --md-ref-palette-secondary70-rgb: 202 162 156;
  --md-ref-palette-secondary80-rgb: 231 189 182;
  --md-ref-palette-secondary90-rgb: 255 218 212;
  --md-ref-palette-secondary95-rgb: 255 237 234;
  --md-ref-palette-secondary98-rgb: 255 248 246;
  --md-ref-palette-secondary99-rgb: 255 251 255;
  --md-ref-palette-secondary100-rgb: 255 255 255;
  /* tertiary */
  --md-ref-palette-tertiary0-rgb: 0 0 0;
  --md-ref-palette-tertiary5-rgb: 24 16 0;
  --md-ref-palette-tertiary10-rgb: 37 26 0;
  --md-ref-palette-tertiary20-rgb: 62 46 4;
  --md-ref-palette-tertiary25-rgb: 74 57 14;
  --md-ref-palette-tertiary30-rgb: 86 68 25;
  --md-ref-palette-tertiary35-rgb: 99 80 35;
  --md-ref-palette-tertiary40-rgb: 112 92 46;
  --md-ref-palette-tertiary50-rgb: 138 116 68;
  --md-ref-palette-tertiary60-rgb: 165 142 91;
  --md-ref-palette-tertiary70-rgb: 193 168 115;
  --md-ref-palette-tertiary80-rgb: 222 196 140;
  --md-ref-palette-tertiary90-rgb: 251 223 166;
  --md-ref-palette-tertiary95-rgb: 255 239 211;
  --md-ref-palette-tertiary98-rgb: 255 248 242;
  --md-ref-palette-tertiary99-rgb: 255 251 255;
  --md-ref-palette-tertiary100-rgb: 255 255 255;
  /* neutral */
  --md-ref-palette-neutral0-rgb: 0 0 0;
  --md-ref-palette-neutral5-rgb: 21 16 15;
  --md-ref-palette-neutral10-rgb: 32 26 25;
  --md-ref-palette-neutral20-rgb: 54 47 46;
  --md-ref-palette-neutral25-rgb: 65 58 56;
  --md-ref-palette-neutral30-rgb: 77 69 68;
  --md-ref-palette-neutral35-rgb: 89 80 79;
  --md-ref-palette-neutral40-rgb: 101 92 91;
  --md-ref-palette-neutral50-rgb: 127 117 115;
  --md-ref-palette-neutral60-rgb: 153 142 141;
  --md-ref-palette-neutral70-rgb: 180 169 167;
  --md-ref-palette-neutral80-rgb: 208 196 194;
  --md-ref-palette-neutral90-rgb: 237 224 221;
  --md-ref-palette-neutral95-rgb: 251 238 236;
  --md-ref-palette-neutral98-rgb: 255 248 246;
  --md-ref-palette-neutral99-rgb: 255 251 255;
  --md-ref-palette-neutral100-rgb: 255 255 255;
  /* neutralVariant */
  --md-ref-palette-neutral-variant0-rgb: 0 0 0;
  --md-ref-palette-neutral-variant5-rgb: 25 14 12;
  --md-ref-palette-neutral-variant10-rgb: 37 25 23;
  --md-ref-palette-neutral-variant20-rgb: 59 45 43;
  --md-ref-palette-neutral-variant25-rgb: 71 56 54;
  --md-ref-palette-neutral-variant30-rgb: 83 67 65;
  --md-ref-palette-neutral-variant35-rgb: 95 79 76;
  --md-ref-palette-neutral-variant40-rgb: 107 90 88;
  --md-ref-palette-neutral-variant50-rgb: 133 115 112;
  --md-ref-palette-neutral-variant60-rgb: 160 140 137;
  --md-ref-palette-neutral-variant70-rgb: 188 167 163;
  --md-ref-palette-neutral-variant80-rgb: 216 194 190;
  --md-ref-palette-neutral-variant90-rgb: 245 221 218;
  --md-ref-palette-neutral-variant95-rgb: 255 237 234;
  --md-ref-palette-neutral-variant98-rgb: 255 248 246;
  --md-ref-palette-neutral-variant99-rgb: 255 251 255;
  --md-ref-palette-neutral-variant100-rgb: 255 255 255;
  /* error */
  --md-ref-palette-error0-rgb: 0 0 0;
  --md-ref-palette-error5-rgb: 45 0 1;
  --md-ref-palette-error10-rgb: 65 0 2;
  --md-ref-palette-error20-rgb: 105 0 5;
  --md-ref-palette-error25-rgb: 126 0 7;
  --md-ref-palette-error30-rgb: 147 0 10;
  --md-ref-palette-error35-rgb: 168 7 16;
  --md-ref-palette-error40-rgb: 186 26 26;
  --md-ref-palette-error50-rgb: 222 55 48;
  --md-ref-palette-error60-rgb: 255 84 73;
  --md-ref-palette-error70-rgb: 255 137 125;
  --md-ref-palette-error80-rgb: 255 180 171;
  --md-ref-palette-error90-rgb: 255 218 214;
  --md-ref-palette-error95-rgb: 255 237 234;
  --md-ref-palette-error98-rgb: 255 248 247;
  --md-ref-palette-error99-rgb: 255 251 255;
  --md-ref-palette-error100-rgb: 255 255 255;
}