:root, .tokens {
--md-source: #BA55D3;
  /* light */
  --md-sys-color-primary-rgb-light: 147, 47, 173;
  --md-sys-color-on-primary-rgb-light: 255, 255, 255;
  --md-sys-color-primary-container-rgb-light: 253, 214, 255;
  --md-sys-color-on-primary-container-rgb-light: 52, 0, 66;
  --md-sys-color-secondary-rgb-light: 106, 89, 108;
  --md-sys-color-on-secondary-rgb-light: 255, 255, 255;
  --md-sys-color-secondary-container-rgb-light: 243, 219, 242;
  --md-sys-color-on-secondary-container-rgb-light: 36, 23, 39;
  --md-sys-color-tertiary-rgb-light: 130, 82, 76;
  --md-sys-color-on-tertiary-rgb-light: 255, 255, 255;
  --md-sys-color-tertiary-container-rgb-light: 255, 218, 214;
  --md-sys-color-on-tertiary-container-rgb-light: 51, 17, 14;
  --md-sys-color-error-rgb-light: 186, 26, 26;
  --md-sys-color-on-error-rgb-light: 255, 255, 255;
  --md-sys-color-error-container-rgb-light: 255, 218, 214;
  --md-sys-color-on-error-container-rgb-light: 65, 0, 2;
  --md-sys-color-background-rgb-light: 255, 251, 255;
  --md-sys-color-on-background-rgb-light: 30, 26, 30;
  --md-sys-color-surface-rgb-light: 255, 251, 255;
  --md-sys-color-on-surface-rgb-light: 30, 26, 30;
  --md-sys-color-surface-variant-rgb-light: 236, 223, 233;
  --md-sys-color-on-surface-variant-rgb-light: 77, 68, 76;
  --md-sys-color-outline-rgb-light: 126, 116, 125;
  --md-sys-color-shadow-rgb-light: 0, 0, 0;
  --md-sys-color-inverse-surface-rgb-light: 51, 47, 51;
  --md-sys-color-inverse-on-surface-rgb-light: 247, 238, 243;
  --md-sys-color-inverse-primary-rgb-light: 243, 174, 255;
  /* dark */
  --md-sys-color-primary-rgb-dark: 243, 174, 255;
  --md-sys-color-on-primary-rgb-dark: 85, 0, 106;
  --md-sys-color-primary-container-rgb-dark: 120, 7, 147;
  --md-sys-color-on-primary-container-rgb-dark: 253, 214, 255;
  --md-sys-color-secondary-rgb-dark: 214, 192, 214;
  --md-sys-color-on-secondary-rgb-dark: 58, 43, 60;
  --md-sys-color-secondary-container-rgb-dark: 82, 65, 83;
  --md-sys-color-on-secondary-container-rgb-dark: 243, 219, 242;
  --md-sys-color-tertiary-rgb-dark: 245, 183, 176;
  --md-sys-color-on-tertiary-rgb-dark: 76, 37, 33;
  --md-sys-color-tertiary-container-rgb-dark: 103, 59, 54;
  --md-sys-color-on-tertiary-container-rgb-dark: 255, 218, 214;
  --md-sys-color-error-rgb-dark: 255, 180, 171;
  --md-sys-color-on-error-rgb-dark: 105, 0, 5;
  --md-sys-color-error-container-rgb-dark: 147, 0, 10;
  --md-sys-color-on-error-container-rgb-dark: 255, 180, 171;
  --md-sys-color-background-rgb-dark: 30, 26, 30;
  --md-sys-color-on-background-rgb-dark: 232, 224, 229;
  --md-sys-color-surface-rgb-dark: 30, 26, 30;
  --md-sys-color-on-surface-rgb-dark: 232, 224, 229;
  --md-sys-color-surface-variant-rgb-dark: 77, 68, 76;
  --md-sys-color-on-surface-variant-rgb-dark: 207, 195, 205;
  --md-sys-color-outline-rgb-dark: 152, 142, 151;
  --md-sys-color-shadow-rgb-dark: 0, 0, 0;
  --md-sys-color-inverse-surface-rgb-dark: 232, 224, 229;
  --md-sys-color-inverse-on-surface-rgb-dark: 51, 47, 51;
  --md-sys-color-inverse-primary-rgb-dark: 147, 47, 173;
  /* primary */
  --md-ref-palette-primary0: #000000;
  --md-ref-palette-primary5: #23002e;
  --md-ref-palette-primary10: #340042;
  --md-ref-palette-primary20: #55006a;
  --md-ref-palette-primary25: #670080;
  --md-ref-palette-primary30: #780793;
  --md-ref-palette-primary35: #851ea0;
  --md-ref-palette-primary40: #932fad;
  --md-ref-palette-primary50: #b04bc9;
  --md-ref-palette-primary60: #cd66e5;
  --md-ref-palette-primary70: #e883ff;
  --md-ref-palette-primary80: #f3aeff;
  --md-ref-palette-primary90: #fdd6ff;
  --md-ref-palette-primary95: #ffebfd;
  --md-ref-palette-primary98: #fff7fa;
  --md-ref-palette-primary99: #fffbff;
  --md-ref-palette-primary100: #ffffff;
  /* secondary */
  --md-ref-palette-secondary0: #000000;
  --md-ref-palette-secondary5: #190c1c;
  --md-ref-palette-secondary10: #241727;
  --md-ref-palette-secondary20: #3a2b3c;
  --md-ref-palette-secondary25: #463648;
  --md-ref-palette-secondary30: #524153;
  --md-ref-palette-secondary35: #5e4d5f;
  --md-ref-palette-secondary40: #6a596c;
  --md-ref-palette-secondary50: #847185;
  --md-ref-palette-secondary60: #9f8a9f;
  --md-ref-palette-secondary70: #baa5ba;
  --md-ref-palette-secondary80: #d6c0d6;
  --md-ref-palette-secondary90: #f3dbf2;
  --md-ref-palette-secondary95: #ffebfd;
  --md-ref-palette-secondary98: #fff7fa;
  --md-ref-palette-secondary99: #fffbff;
  --md-ref-palette-secondary100: #ffffff;
  /* tertiary */
  --md-ref-palette-tertiary0: #000000;
  --md-ref-palette-tertiary5: #250705;
  --md-ref-palette-tertiary10: #33110e;
  --md-ref-palette-tertiary20: #4c2521;
  --md-ref-palette-tertiary25: #59302b;
  --md-ref-palette-tertiary30: #673b36;
  --md-ref-palette-tertiary35: #744641;
  --md-ref-palette-tertiary40: #82524c;
  --md-ref-palette-tertiary50: #9e6a64;
  --md-ref-palette-tertiary60: #ba837c;
  --md-ref-palette-tertiary70: #d79d96;
  --md-ref-palette-tertiary80: #f5b7b0;
  --md-ref-palette-tertiary90: #ffdad6;
  --md-ref-palette-tertiary95: #ffedea;
  --md-ref-palette-tertiary98: #fff8f7;
  --md-ref-palette-tertiary99: #fffbff;
  --md-ref-palette-tertiary100: #ffffff;
  /* neutral */
  --md-ref-palette-neutral0: #000000;
  --md-ref-palette-neutral5: #131013;
  --md-ref-palette-neutral10: #1e1a1e;
  --md-ref-palette-neutral20: #332f33;
  --md-ref-palette-neutral25: #3e3a3e;
  --md-ref-palette-neutral30: #4a4549;
  --md-ref-palette-neutral35: #565155;
  --md-ref-palette-neutral40: #625d61;
  --md-ref-palette-neutral50: #7b7579;
  --md-ref-palette-neutral60: #958f93;
  --md-ref-palette-neutral70: #b0a9ad;
  --md-ref-palette-neutral80: #ccc4c9;
  --md-ref-palette-neutral90: #e8e0e5;
  --md-ref-palette-neutral95: #f7eef3;
  --md-ref-palette-neutral98: #fff7fa;
  --md-ref-palette-neutral99: #fffbff;
  --md-ref-palette-neutral100: #ffffff;
  /* neutralVariant */
  --md-ref-palette-neutralVariant0: #000000;
  --md-ref-palette-neutralVariant5: #150f16;
  --md-ref-palette-neutralVariant10: #201920;
  --md-ref-palette-neutralVariant20: #362e36;
  --md-ref-palette-neutralVariant25: #413941;
  --md-ref-palette-neutralVariant30: #4d444c;
  --md-ref-palette-neutralVariant35: #585058;
  --md-ref-palette-neutralVariant40: #655c64;
  --md-ref-palette-neutralVariant50: #7e747d;
  --md-ref-palette-neutralVariant60: #988e97;
  --md-ref-palette-neutralVariant70: #b3a8b1;
  --md-ref-palette-neutralVariant80: #cfc3cd;
  --md-ref-palette-neutralVariant90: #ecdfe9;
  --md-ref-palette-neutralVariant95: #faedf7;
  --md-ref-palette-neutralVariant98: #fff7fa;
  --md-ref-palette-neutralVariant99: #fffbff;
  --md-ref-palette-neutralVariant100: #ffffff;
  /* error */
  --md-ref-palette-error0: #000000;
  --md-ref-palette-error5: #2d0001;
  --md-ref-palette-error10: #410002;
  --md-ref-palette-error20: #690005;
  --md-ref-palette-error25: #7e0007;
  --md-ref-palette-error30: #93000a;
  --md-ref-palette-error35: #a80710;
  --md-ref-palette-error40: #ba1a1a;
  --md-ref-palette-error50: #de3730;
  --md-ref-palette-error60: #ff5449;
  --md-ref-palette-error70: #ff897d;
  --md-ref-palette-error80: #ffb4ab;
  --md-ref-palette-error90: #ffdad6;
  --md-ref-palette-error95: #ffedea;
  --md-ref-palette-error98: #fff8f7;
  --md-ref-palette-error99: #fffbff;
  --md-ref-palette-error100: #ffffff;
}