body, .tokens {
--md-source: #00FA9A;
  /* light */
  --md-sys-color-primary-rgb-light: 0, 109, 64;
  --md-sys-color-on-primary-rgb-light: 255, 255, 255;
  --md-sys-color-primary-container-rgb-light: 86, 255, 168;
  --md-sys-color-on-primary-container-rgb-light: 0, 33, 16;
  --md-sys-color-secondary-rgb-light: 78, 99, 84;
  --md-sys-color-on-secondary-rgb-light: 255, 255, 255;
  --md-sys-color-secondary-container-rgb-light: 209, 232, 213;
  --md-sys-color-on-secondary-container-rgb-light: 12, 31, 20;
  --md-sys-color-tertiary-rgb-light: 59, 100, 112;
  --md-sys-color-on-tertiary-rgb-light: 255, 255, 255;
  --md-sys-color-tertiary-container-rgb-light: 191, 233, 248;
  --md-sys-color-on-tertiary-container-rgb-light: 0, 31, 39;
  --md-sys-color-error-rgb-light: 186, 26, 26;
  --md-sys-color-on-error-rgb-light: 255, 255, 255;
  --md-sys-color-error-container-rgb-light: 255, 218, 214;
  --md-sys-color-on-error-container-rgb-light: 65, 0, 2;
  --md-sys-color-background-rgb-light: 251, 253, 248;
  --md-sys-color-on-background-rgb-light: 25, 28, 26;
  --md-sys-color-surface-rgb-light: 251, 253, 248;
  --md-sys-color-on-surface-rgb-light: 25, 28, 26;
  --md-sys-color-surface-variant-rgb-light: 220, 229, 219;
  --md-sys-color-on-surface-variant-rgb-light: 65, 73, 66;
  --md-sys-color-outline-rgb-light: 113, 121, 114;
  --md-sys-color-shadow-rgb-light: 0, 0, 0;
  --md-sys-color-inverse-surface-rgb-light: 46, 49, 46;
  --md-sys-color-inverse-on-surface-rgb-light: 240, 241, 236;
  --md-sys-color-inverse-primary-rgb-light: 0, 227, 139;
  /* dark */
  --md-sys-color-primary-rgb-dark: 0, 227, 139;
  --md-sys-color-on-primary-rgb-dark: 0, 57, 31;
  --md-sys-color-primary-container-rgb-dark: 0, 82, 47;
  --md-sys-color-on-primary-container-rgb-dark: 86, 255, 168;
  --md-sys-color-secondary-rgb-dark: 181, 204, 186;
  --md-sys-color-on-secondary-rgb-dark: 33, 53, 40;
  --md-sys-color-secondary-container-rgb-dark: 55, 75, 61;
  --md-sys-color-on-secondary-container-rgb-dark: 209, 232, 213;
  --md-sys-color-tertiary-rgb-dark: 163, 205, 219;
  --md-sys-color-on-tertiary-rgb-dark: 3, 54, 65;
  --md-sys-color-tertiary-container-rgb-dark: 33, 76, 88;
  --md-sys-color-on-tertiary-container-rgb-dark: 191, 233, 248;
  --md-sys-color-error-rgb-dark: 255, 180, 171;
  --md-sys-color-on-error-rgb-dark: 105, 0, 5;
  --md-sys-color-error-container-rgb-dark: 147, 0, 10;
  --md-sys-color-on-error-container-rgb-dark: 255, 180, 171;
  --md-sys-color-background-rgb-dark: 25, 28, 26;
  --md-sys-color-on-background-rgb-dark: 225, 227, 222;
  --md-sys-color-surface-rgb-dark: 25, 28, 26;
  --md-sys-color-on-surface-rgb-dark: 225, 227, 222;
  --md-sys-color-surface-variant-rgb-dark: 65, 73, 66;
  --md-sys-color-on-surface-variant-rgb-dark: 192, 201, 192;
  --md-sys-color-outline-rgb-dark: 138, 147, 139;
  --md-sys-color-shadow-rgb-dark: 0, 0, 0;
  --md-sys-color-inverse-surface-rgb-dark: 225, 227, 222;
  --md-sys-color-inverse-on-surface-rgb-dark: 46, 49, 46;
  --md-sys-color-inverse-primary-rgb-dark: 0, 109, 64;
  /* primary */
  --md-ref-palette-primary0: #000000;
  --md-ref-palette-primary5: #001508;
  --md-ref-palette-primary10: #002110;
  --md-ref-palette-primary20: #00391f;
  --md-ref-palette-primary25: #004527;
  --md-ref-palette-primary30: #00522f;
  --md-ref-palette-primary35: #005f37;
  --md-ref-palette-primary40: #006d40;
  --md-ref-palette-primary50: #008952;
  --md-ref-palette-primary60: #00a664;
  --md-ref-palette-primary70: #00c477;
  --md-ref-palette-primary80: #00e38b;
  --md-ref-palette-primary90: #56ffa8;
  --md-ref-palette-primary95: #c1ffd4;
  --md-ref-palette-primary98: #e9ffec;
  --md-ref-palette-primary99: #f5fff4;
  --md-ref-palette-primary100: #ffffff;
  /* secondary */
  --md-ref-palette-secondary0: #000000;
  --md-ref-palette-secondary5: #03140a;
  --md-ref-palette-secondary10: #0c1f14;
  --md-ref-palette-secondary20: #213528;
  --md-ref-palette-secondary25: #2c4032;
  --md-ref-palette-secondary30: #374b3d;
  --md-ref-palette-secondary35: #435749;
  --md-ref-palette-secondary40: #4e6354;
  --md-ref-palette-secondary50: #677c6c;
  --md-ref-palette-secondary60: #809685;
  --md-ref-palette-secondary70: #9ab19f;
  --md-ref-palette-secondary80: #b5ccba;
  --md-ref-palette-secondary90: #d1e8d5;
  --md-ref-palette-secondary95: #dff7e3;
  --md-ref-palette-secondary98: #e9ffec;
  --md-ref-palette-secondary99: #f5fff4;
  --md-ref-palette-secondary100: #ffffff;
  /* tertiary */
  --md-ref-palette-tertiary0: #000000;
  --md-ref-palette-tertiary5: #001319;
  --md-ref-palette-tertiary10: #001f27;
  --md-ref-palette-tertiary20: #033641;
  --md-ref-palette-tertiary25: #14414c;
  --md-ref-palette-tertiary30: #214c58;
  --md-ref-palette-tertiary35: #2e5864;
  --md-ref-palette-tertiary40: #3b6470;
  --md-ref-palette-tertiary50: #547d8a;
  --md-ref-palette-tertiary60: #6e97a4;
  --md-ref-palette-tertiary70: #88b2bf;
  --md-ref-palette-tertiary80: #a3cddb;
  --md-ref-palette-tertiary90: #bfe9f8;
  --md-ref-palette-tertiary95: #daf5ff;
  --md-ref-palette-tertiary98: #f1fbff;
  --md-ref-palette-tertiary99: #f9fdff;
  --md-ref-palette-tertiary100: #ffffff;
  /* neutral */
  --md-ref-palette-neutral0: #000000;
  --md-ref-palette-neutral5: #0f120f;
  --md-ref-palette-neutral10: #191c1a;
  --md-ref-palette-neutral20: #2e312e;
  --md-ref-palette-neutral25: #393c39;
  --md-ref-palette-neutral30: #454744;
  --md-ref-palette-neutral35: #505350;
  --md-ref-palette-neutral40: #5c5f5c;
  --md-ref-palette-neutral50: #757874;
  --md-ref-palette-neutral60: #8f918d;
  --md-ref-palette-neutral70: #aaaca8;
  --md-ref-palette-neutral80: #c5c7c3;
  --md-ref-palette-neutral90: #e1e3de;
  --md-ref-palette-neutral95: #f0f1ec;
  --md-ref-palette-neutral98: #f8faf5;
  --md-ref-palette-neutral99: #fbfdf8;
  --md-ref-palette-neutral100: #ffffff;
  /* neutralVariant */
  --md-ref-palette-neutralVariant0: #000000;
  --md-ref-palette-neutralVariant5: #0b130d;
  --md-ref-palette-neutralVariant10: #161d18;
  --md-ref-palette-neutralVariant20: #2a322c;
  --md-ref-palette-neutralVariant25: #353d37;
  --md-ref-palette-neutralVariant30: #414942;
  --md-ref-palette-neutralVariant35: #4c544d;
  --md-ref-palette-neutralVariant40: #586059;
  --md-ref-palette-neutralVariant50: #717972;
  --md-ref-palette-neutralVariant60: #8a938b;
  --md-ref-palette-neutralVariant70: #a5ada5;
  --md-ref-palette-neutralVariant80: #c0c9c0;
  --md-ref-palette-neutralVariant90: #dce5db;
  --md-ref-palette-neutralVariant95: #ebf3ea;
  --md-ref-palette-neutralVariant98: #f3fcf2;
  --md-ref-palette-neutralVariant99: #f6fff5;
  --md-ref-palette-neutralVariant100: #ffffff;
  /* error */
  --md-ref-palette-error0: #000000;
  --md-ref-palette-error5: #2d0001;
  --md-ref-palette-error10: #410002;
  --md-ref-palette-error20: #690005;
  --md-ref-palette-error25: #7e0007;
  --md-ref-palette-error30: #93000a;
  --md-ref-palette-error35: #a80710;
  --md-ref-palette-error40: #ba1a1a;
  --md-ref-palette-error50: #de3730;
  --md-ref-palette-error60: #ff5449;
  --md-ref-palette-error70: #ff897d;
  --md-ref-palette-error80: #ffb4ab;
  --md-ref-palette-error90: #ffdad6;
  --md-ref-palette-error95: #ffedea;
  --md-ref-palette-error98: #fff8f7;
  --md-ref-palette-error99: #fffbff;
  --md-ref-palette-error100: #ffffff;
}