body, .tokens {
--md-source: #66CDAA;
  /* light */
  --md-sys-color-primary-rgb-light: 0, 108, 82;
  --md-sys-color-on-primary-rgb-light: 255, 255, 255;
  --md-sys-color-primary-container-rgb-light: 130, 248, 207;
  --md-sys-color-on-primary-container-rgb-light: 0, 33, 23;
  --md-sys-color-secondary-rgb-light: 76, 99, 89;
  --md-sys-color-on-secondary-rgb-light: 255, 255, 255;
  --md-sys-color-secondary-container-rgb-light: 206, 233, 220;
  --md-sys-color-on-secondary-container-rgb-light: 8, 32, 24;
  --md-sys-color-tertiary-rgb-light: 63, 99, 117;
  --md-sys-color-on-tertiary-rgb-light: 255, 255, 255;
  --md-sys-color-tertiary-container-rgb-light: 195, 232, 254;
  --md-sys-color-on-tertiary-container-rgb-light: 0, 30, 43;
  --md-sys-color-error-rgb-light: 186, 26, 26;
  --md-sys-color-on-error-rgb-light: 255, 255, 255;
  --md-sys-color-error-container-rgb-light: 255, 218, 214;
  --md-sys-color-on-error-container-rgb-light: 65, 0, 2;
  --md-sys-color-background-rgb-light: 251, 253, 249;
  --md-sys-color-on-background-rgb-light: 25, 28, 27;
  --md-sys-color-surface-rgb-light: 251, 253, 249;
  --md-sys-color-on-surface-rgb-light: 25, 28, 27;
  --md-sys-color-surface-variant-rgb-light: 219, 229, 222;
  --md-sys-color-on-surface-variant-rgb-light: 64, 73, 68;
  --md-sys-color-outline-rgb-light: 112, 121, 116;
  --md-sys-color-shadow-rgb-light: 0, 0, 0;
  --md-sys-color-inverse-surface-rgb-light: 46, 49, 47;
  --md-sys-color-inverse-on-surface-rgb-light: 239, 241, 238;
  --md-sys-color-inverse-primary-rgb-light: 100, 219, 180;
  /* dark */
  --md-sys-color-primary-rgb-dark: 100, 219, 180;
  --md-sys-color-on-primary-rgb-dark: 0, 56, 41;
  --md-sys-color-primary-container-rgb-dark: 0, 81, 61;
  --md-sys-color-on-primary-container-rgb-dark: 130, 248, 207;
  --md-sys-color-secondary-rgb-dark: 178, 204, 192;
  --md-sys-color-on-secondary-rgb-dark: 30, 53, 44;
  --md-sys-color-secondary-container-rgb-dark: 52, 76, 66;
  --md-sys-color-on-secondary-container-rgb-dark: 206, 233, 220;
  --md-sys-color-tertiary-rgb-dark: 167, 204, 225;
  --md-sys-color-on-tertiary-rgb-dark: 11, 52, 69;
  --md-sys-color-tertiary-container-rgb-dark: 39, 75, 93;
  --md-sys-color-on-tertiary-container-rgb-dark: 195, 232, 254;
  --md-sys-color-error-rgb-dark: 255, 180, 171;
  --md-sys-color-on-error-rgb-dark: 105, 0, 5;
  --md-sys-color-error-container-rgb-dark: 147, 0, 10;
  --md-sys-color-on-error-container-rgb-dark: 255, 180, 171;
  --md-sys-color-background-rgb-dark: 25, 28, 27;
  --md-sys-color-on-background-rgb-dark: 225, 227, 224;
  --md-sys-color-surface-rgb-dark: 25, 28, 27;
  --md-sys-color-on-surface-rgb-dark: 225, 227, 224;
  --md-sys-color-surface-variant-rgb-dark: 64, 73, 68;
  --md-sys-color-on-surface-variant-rgb-dark: 191, 201, 195;
  --md-sys-color-outline-rgb-dark: 137, 147, 141;
  --md-sys-color-shadow-rgb-dark: 0, 0, 0;
  --md-sys-color-inverse-surface-rgb-dark: 225, 227, 224;
  --md-sys-color-inverse-on-surface-rgb-dark: 46, 49, 47;
  --md-sys-color-inverse-primary-rgb-dark: 0, 108, 82;
  /* primary */
  --md-ref-palette-primary0: #000000;
  --md-ref-palette-primary5: #00150d;
  --md-ref-palette-primary10: #002117;
  --md-ref-palette-primary20: #003829;
  --md-ref-palette-primary25: #004433;
  --md-ref-palette-primary30: #00513d;
  --md-ref-palette-primary35: #005e48;
  --md-ref-palette-primary40: #006c52;
  --md-ref-palette-primary50: #008768;
  --md-ref-palette-primary60: #1ca380;
  --md-ref-palette-primary70: #44bf99;
  --md-ref-palette-primary80: #64dbb4;
  --md-ref-palette-primary90: #82f8cf;
  --md-ref-palette-primary95: #bbffe3;
  --md-ref-palette-primary98: #e7fff3;
  --md-ref-palette-primary99: #f4fff8;
  --md-ref-palette-primary100: #ffffff;
  /* secondary */
  --md-ref-palette-secondary0: #000000;
  --md-ref-palette-secondary5: #00150d;
  --md-ref-palette-secondary10: #082018;
  --md-ref-palette-secondary20: #1e352c;
  --md-ref-palette-secondary25: #294037;
  --md-ref-palette-secondary30: #344c42;
  --md-ref-palette-secondary35: #40574e;
  --md-ref-palette-secondary40: #4c6359;
  --md-ref-palette-secondary50: #647c72;
  --md-ref-palette-secondary60: #7d968b;
  --md-ref-palette-secondary70: #97b1a5;
  --md-ref-palette-secondary80: #b2ccc0;
  --md-ref-palette-secondary90: #cee9dc;
  --md-ref-palette-secondary95: #dcf7ea;
  --md-ref-palette-secondary98: #e7fff3;
  --md-ref-palette-secondary99: #f4fff8;
  --md-ref-palette-secondary100: #ffffff;
  /* tertiary */
  --md-ref-palette-tertiary0: #000000;
  --md-ref-palette-tertiary5: #00131c;
  --md-ref-palette-tertiary10: #001e2b;
  --md-ref-palette-tertiary20: #0b3445;
  --md-ref-palette-tertiary25: #1a4051;
  --md-ref-palette-tertiary30: #274b5d;
  --md-ref-palette-tertiary35: #335769;
  --md-ref-palette-tertiary40: #3f6375;
  --md-ref-palette-tertiary50: #587c8f;
  --md-ref-palette-tertiary60: #7296a9;
  --md-ref-palette-tertiary70: #8cb0c5;
  --md-ref-palette-tertiary80: #a7cce1;
  --md-ref-palette-tertiary90: #c3e8fe;
  --md-ref-palette-tertiary95: #e2f3ff;
  --md-ref-palette-tertiary98: #f4faff;
  --md-ref-palette-tertiary99: #fbfcff;
  --md-ref-palette-tertiary100: #ffffff;
  /* neutral */
  --md-ref-palette-neutral0: #000000;
  --md-ref-palette-neutral5: #0e1210;
  --md-ref-palette-neutral10: #191c1b;
  --md-ref-palette-neutral20: #2e312f;
  --md-ref-palette-neutral25: #393c3a;
  --md-ref-palette-neutral30: #444845;
  --md-ref-palette-neutral35: #505351;
  --md-ref-palette-neutral40: #5c5f5d;
  --md-ref-palette-neutral50: #757875;
  --md-ref-palette-neutral60: #8e918f;
  --md-ref-palette-neutral70: #a9aca9;
  --md-ref-palette-neutral80: #c4c7c4;
  --md-ref-palette-neutral90: #e1e3e0;
  --md-ref-palette-neutral95: #eff1ee;
  --md-ref-palette-neutral98: #f8faf6;
  --md-ref-palette-neutral99: #fbfdf9;
  --md-ref-palette-neutral100: #ffffff;
  /* neutralVariant */
  --md-ref-palette-neutral-variant0: #000000;
  --md-ref-palette-neutral-variant5: #0a130f;
  --md-ref-palette-neutral-variant10: #151d1a;
  --md-ref-palette-neutral-variant20: #29322e;
  --md-ref-palette-neutral-variant25: #343d39;
  --md-ref-palette-neutral-variant30: #404944;
  --md-ref-palette-neutral-variant35: #4b5550;
  --md-ref-palette-neutral-variant40: #57615c;
  --md-ref-palette-neutral-variant50: #707974;
  --md-ref-palette-neutral-variant60: #89938d;
  --md-ref-palette-neutral-variant70: #a4ada8;
  --md-ref-palette-neutral-variant80: #bfc9c3;
  --md-ref-palette-neutral-variant90: #dbe5de;
  --md-ref-palette-neutral-variant95: #e9f3ed;
  --md-ref-palette-neutral-variant98: #f2fcf5;
  --md-ref-palette-neutral-variant99: #f5fff8;
  --md-ref-palette-neutral-variant100: #ffffff;
  /* error */
  --md-ref-palette-error0: #000000;
  --md-ref-palette-error5: #2d0001;
  --md-ref-palette-error10: #410002;
  --md-ref-palette-error20: #690005;
  --md-ref-palette-error25: #7e0007;
  --md-ref-palette-error30: #93000a;
  --md-ref-palette-error35: #a80710;
  --md-ref-palette-error40: #ba1a1a;
  --md-ref-palette-error50: #de3730;
  --md-ref-palette-error60: #ff5449;
  --md-ref-palette-error70: #ff897d;
  --md-ref-palette-error80: #ffb4ab;
  --md-ref-palette-error90: #ffdad6;
  --md-ref-palette-error95: #ffedea;
  --md-ref-palette-error98: #fff8f7;
  --md-ref-palette-error99: #fffbff;
  --md-ref-palette-error100: #ffffff;
}