:root, .tokens {
--md-source: #C71585;
  /* light */
  --md-sys-color-primary-rgb-light: 182, 0, 120;
  --md-sys-color-on-primary-rgb-light: 255, 255, 255;
  --md-sys-color-primary-container-rgb-light: 255, 216, 231;
  --md-sys-color-on-primary-container-rgb-light: 61, 0, 37;
  --md-sys-color-secondary-rgb-light: 114, 87, 98;
  --md-sys-color-on-secondary-rgb-light: 255, 255, 255;
  --md-sys-color-secondary-container-rgb-light: 254, 217, 230;
  --md-sys-color-on-secondary-container-rgb-light: 42, 21, 31;
  --md-sys-color-tertiary-rgb-light: 127, 85, 57;
  --md-sys-color-on-tertiary-rgb-light: 255, 255, 255;
  --md-sys-color-tertiary-container-rgb-light: 255, 220, 199;
  --md-sys-color-on-tertiary-container-rgb-light: 48, 20, 1;
  --md-sys-color-error-rgb-light: 186, 26, 26;
  --md-sys-color-on-error-rgb-light: 255, 255, 255;
  --md-sys-color-error-container-rgb-light: 255, 218, 214;
  --md-sys-color-on-error-container-rgb-light: 65, 0, 2;
  --md-sys-color-background-rgb-light: 255, 251, 255;
  --md-sys-color-on-background-rgb-light: 31, 26, 28;
  --md-sys-color-surface-rgb-light: 255, 251, 255;
  --md-sys-color-on-surface-rgb-light: 31, 26, 28;
  --md-sys-color-surface-variant-rgb-light: 241, 222, 227;
  --md-sys-color-on-surface-variant-rgb-light: 80, 67, 72;
  --md-sys-color-outline-rgb-light: 130, 115, 120;
  --md-sys-color-shadow-rgb-light: 0, 0, 0;
  --md-sys-color-inverse-surface-rgb-light: 53, 47, 49;
  --md-sys-color-inverse-on-surface-rgb-light: 249, 238, 240;
  --md-sys-color-inverse-primary-rgb-light: 255, 175, 210;
  /* dark */
  --md-sys-color-primary-rgb-dark: 255, 175, 210;
  --md-sys-color-on-primary-rgb-dark: 99, 0, 63;
  --md-sys-color-primary-container-rgb-dark: 139, 0, 91;
  --md-sys-color-on-primary-container-rgb-dark: 255, 216, 231;
  --md-sys-color-secondary-rgb-dark: 224, 189, 202;
  --md-sys-color-on-secondary-rgb-dark: 65, 42, 52;
  --md-sys-color-secondary-container-rgb-dark: 89, 64, 74;
  --md-sys-color-on-secondary-container-rgb-dark: 254, 217, 230;
  --md-sys-color-tertiary-rgb-dark: 242, 187, 153;
  --md-sys-color-on-tertiary-rgb-dark: 73, 40, 16;
  --md-sys-color-tertiary-container-rgb-dark: 100, 62, 36;
  --md-sys-color-on-tertiary-container-rgb-dark: 255, 220, 199;
  --md-sys-color-error-rgb-dark: 255, 180, 171;
  --md-sys-color-on-error-rgb-dark: 105, 0, 5;
  --md-sys-color-error-container-rgb-dark: 147, 0, 10;
  --md-sys-color-on-error-container-rgb-dark: 255, 180, 171;
  --md-sys-color-background-rgb-dark: 31, 26, 28;
  --md-sys-color-on-background-rgb-dark: 235, 224, 226;
  --md-sys-color-surface-rgb-dark: 31, 26, 28;
  --md-sys-color-on-surface-rgb-dark: 235, 224, 226;
  --md-sys-color-surface-variant-rgb-dark: 80, 67, 72;
  --md-sys-color-on-surface-variant-rgb-dark: 212, 194, 199;
  --md-sys-color-outline-rgb-dark: 157, 141, 146;
  --md-sys-color-shadow-rgb-dark: 0, 0, 0;
  --md-sys-color-inverse-surface-rgb-dark: 235, 224, 226;
  --md-sys-color-inverse-on-surface-rgb-dark: 53, 47, 49;
  --md-sys-color-inverse-primary-rgb-dark: 182, 0, 120;
  /* primary */
  --md-ref-palette-primary0: #000000;
  --md-ref-palette-primary5: #2a0018;
  --md-ref-palette-primary10: #3d0025;
  --md-ref-palette-primary20: #63003f;
  --md-ref-palette-primary25: #76004d;
  --md-ref-palette-primary30: #8b005b;
  --md-ref-palette-primary35: #a00069;
  --md-ref-palette-primary40: #b60078;
  --md-ref-palette-primary50: #d92a93;
  --md-ref-palette-primary60: #fa49ae;
  --md-ref-palette-primary70: #ff81c0;
  --md-ref-palette-primary80: #ffafd2;
  --md-ref-palette-primary90: #ffd8e7;
  --md-ref-palette-primary95: #ffecf1;
  --md-ref-palette-primary98: #fff8f8;
  --md-ref-palette-primary99: #fffbff;
  --md-ref-palette-primary100: #ffffff;
  /* secondary */
  --md-ref-palette-secondary0: #000000;
  --md-ref-palette-secondary5: #1e0b14;
  --md-ref-palette-secondary10: #2a151f;
  --md-ref-palette-secondary20: #412a34;
  --md-ref-palette-secondary25: #4d343f;
  --md-ref-palette-secondary30: #59404a;
  --md-ref-palette-secondary35: #664b56;
  --md-ref-palette-secondary40: #725762;
  --md-ref-palette-secondary50: #8d6f7b;
  --md-ref-palette-secondary60: #a88894;
  --md-ref-palette-secondary70: #c4a2af;
  --md-ref-palette-secondary80: #e0bdca;
  --md-ref-palette-secondary90: #fed9e6;
  --md-ref-palette-secondary95: #ffecf1;
  --md-ref-palette-secondary98: #fff8f8;
  --md-ref-palette-secondary99: #fffbff;
  --md-ref-palette-secondary100: #ffffff;
  /* tertiary */
  --md-ref-palette-tertiary0: #000000;
  --md-ref-palette-tertiary5: #210b00;
  --md-ref-palette-tertiary10: #301401;
  --md-ref-palette-tertiary20: #492810;
  --md-ref-palette-tertiary25: #56331a;
  --md-ref-palette-tertiary30: #643e24;
  --md-ref-palette-tertiary35: #71492e;
  --md-ref-palette-tertiary40: #7f5539;
  --md-ref-palette-tertiary50: #9a6d4f;
  --md-ref-palette-tertiary60: #b78667;
  --md-ref-palette-tertiary70: #d4a07f;
  --md-ref-palette-tertiary80: #f2bb99;
  --md-ref-palette-tertiary90: #ffdcc7;
  --md-ref-palette-tertiary95: #ffede4;
  --md-ref-palette-tertiary98: #fff8f5;
  --md-ref-palette-tertiary99: #fffbff;
  --md-ref-palette-tertiary100: #ffffff;
  /* neutral */
  --md-ref-palette-neutral0: #000000;
  --md-ref-palette-neutral5: #141011;
  --md-ref-palette-neutral10: #1f1a1c;
  --md-ref-palette-neutral20: #352f31;
  --md-ref-palette-neutral25: #403a3c;
  --md-ref-palette-neutral30: #4c4547;
  --md-ref-palette-neutral35: #585153;
  --md-ref-palette-neutral40: #645c5f;
  --md-ref-palette-neutral50: #7d7577;
  --md-ref-palette-neutral60: #978e91;
  --md-ref-palette-neutral70: #b2a9ab;
  --md-ref-palette-neutral80: #cec4c6;
  --md-ref-palette-neutral90: #ebe0e2;
  --md-ref-palette-neutral95: #f9eef0;
  --md-ref-palette-neutral98: #fff8f8;
  --md-ref-palette-neutral99: #fffbff;
  --md-ref-palette-neutral100: #ffffff;
  /* neutralVariant */
  --md-ref-palette-neutralVariant0: #000000;
  --md-ref-palette-neutralVariant5: #180e12;
  --md-ref-palette-neutralVariant10: #23191d;
  --md-ref-palette-neutralVariant20: #392d32;
  --md-ref-palette-neutralVariant25: #44383d;
  --md-ref-palette-neutralVariant30: #504348;
  --md-ref-palette-neutralVariant35: #5c4f54;
  --md-ref-palette-neutralVariant40: #695b60;
  --md-ref-palette-neutralVariant50: #827378;
  --md-ref-palette-neutralVariant60: #9d8d92;
  --md-ref-palette-neutralVariant70: #b8a7ac;
  --md-ref-palette-neutralVariant80: #d4c2c7;
  --md-ref-palette-neutralVariant90: #f1dee3;
  --md-ref-palette-neutralVariant95: #ffecf1;
  --md-ref-palette-neutralVariant98: #fff8f8;
  --md-ref-palette-neutralVariant99: #fffbff;
  --md-ref-palette-neutralVariant100: #ffffff;
  /* error */
  --md-ref-palette-error0: #000000;
  --md-ref-palette-error5: #2d0001;
  --md-ref-palette-error10: #410002;
  --md-ref-palette-error20: #690005;
  --md-ref-palette-error25: #7e0007;
  --md-ref-palette-error30: #93000a;
  --md-ref-palette-error35: #a80710;
  --md-ref-palette-error40: #ba1a1a;
  --md-ref-palette-error50: #de3730;
  --md-ref-palette-error60: #ff5449;
  --md-ref-palette-error70: #ff897d;
  --md-ref-palette-error80: #ffb4ab;
  --md-ref-palette-error90: #ffdad6;
  --md-ref-palette-error95: #ffedea;
  --md-ref-palette-error98: #fff8f7;
  --md-ref-palette-error99: #fffbff;
  --md-ref-palette-error100: #ffffff;
}