body, .tokens {
--md-source: #48D1CC;
  /* light */
  --md-sys-color-primary-rgb-light: 0, 106, 103;
  --md-sys-color-on-primary-rgb-light: 255, 255, 255;
  --md-sys-color-primary-container-rgb-light: 112, 247, 241;
  --md-sys-color-on-primary-container-rgb-light: 0, 32, 31;
  --md-sys-color-secondary-rgb-light: 74, 99, 97;
  --md-sys-color-on-secondary-rgb-light: 255, 255, 255;
  --md-sys-color-secondary-container-rgb-light: 204, 232, 230;
  --md-sys-color-on-secondary-container-rgb-light: 5, 31, 30;
  --md-sys-color-tertiary-rgb-light: 73, 96, 123;
  --md-sys-color-on-tertiary-rgb-light: 255, 255, 255;
  --md-sys-color-tertiary-container-rgb-light: 209, 228, 255;
  --md-sys-color-on-tertiary-container-rgb-light: 2, 29, 53;
  --md-sys-color-error-rgb-light: 186, 26, 26;
  --md-sys-color-on-error-rgb-light: 255, 255, 255;
  --md-sys-color-error-container-rgb-light: 255, 218, 214;
  --md-sys-color-on-error-container-rgb-light: 65, 0, 2;
  --md-sys-color-background-rgb-light: 250, 253, 251;
  --md-sys-color-on-background-rgb-light: 25, 28, 28;
  --md-sys-color-surface-rgb-light: 250, 253, 251;
  --md-sys-color-on-surface-rgb-light: 25, 28, 28;
  --md-sys-color-surface-variant-rgb-light: 218, 229, 227;
  --md-sys-color-on-surface-variant-rgb-light: 63, 73, 72;
  --md-sys-color-outline-rgb-light: 111, 121, 120;
  --md-sys-color-shadow-rgb-light: 0, 0, 0;
  --md-sys-color-inverse-surface-rgb-light: 45, 49, 49;
  --md-sys-color-inverse-on-surface-rgb-light: 239, 241, 240;
  --md-sys-color-inverse-primary-rgb-light: 78, 218, 213;
  /* dark */
  --md-sys-color-primary-rgb-dark: 78, 218, 213;
  --md-sys-color-on-primary-rgb-dark: 0, 55, 53;
  --md-sys-color-primary-container-rgb-dark: 0, 80, 77;
  --md-sys-color-on-primary-container-rgb-dark: 112, 247, 241;
  --md-sys-color-secondary-rgb-dark: 176, 204, 202;
  --md-sys-color-on-secondary-rgb-dark: 27, 53, 51;
  --md-sys-color-secondary-container-rgb-dark: 50, 75, 74;
  --md-sys-color-on-secondary-container-rgb-dark: 204, 232, 230;
  --md-sys-color-tertiary-rgb-dark: 177, 200, 232;
  --md-sys-color-on-tertiary-rgb-dark: 26, 50, 75;
  --md-sys-color-tertiary-container-rgb-dark: 50, 72, 98;
  --md-sys-color-on-tertiary-container-rgb-dark: 209, 228, 255;
  --md-sys-color-error-rgb-dark: 255, 180, 171;
  --md-sys-color-on-error-rgb-dark: 105, 0, 5;
  --md-sys-color-error-container-rgb-dark: 147, 0, 10;
  --md-sys-color-on-error-container-rgb-dark: 255, 180, 171;
  --md-sys-color-background-rgb-dark: 25, 28, 28;
  --md-sys-color-on-background-rgb-dark: 224, 227, 226;
  --md-sys-color-surface-rgb-dark: 25, 28, 28;
  --md-sys-color-on-surface-rgb-dark: 224, 227, 226;
  --md-sys-color-surface-variant-rgb-dark: 63, 73, 72;
  --md-sys-color-on-surface-variant-rgb-dark: 190, 201, 199;
  --md-sys-color-outline-rgb-dark: 136, 147, 146;
  --md-sys-color-shadow-rgb-dark: 0, 0, 0;
  --md-sys-color-inverse-surface-rgb-dark: 224, 227, 226;
  --md-sys-color-inverse-on-surface-rgb-dark: 45, 49, 49;
  --md-sys-color-inverse-primary-rgb-dark: 0, 106, 103;
  /* primary */
  --md-ref-palette-primary0: #000000;
  --md-ref-palette-primary5: #001413;
  --md-ref-palette-primary10: #00201f;
  --md-ref-palette-primary20: #003735;
  --md-ref-palette-primary25: #004341;
  --md-ref-palette-primary30: #00504d;
  --md-ref-palette-primary35: #005d5a;
  --md-ref-palette-primary40: #006a67;
  --md-ref-palette-primary50: #008582;
  --md-ref-palette-primary60: #00a29d;
  --md-ref-palette-primary70: #21beb9;
  --md-ref-palette-primary80: #4edad5;
  --md-ref-palette-primary90: #70f7f1;
  --md-ref-palette-primary95: #affffb;
  --md-ref-palette-primary98: #e3fffc;
  --md-ref-palette-primary99: #f2fffd;
  --md-ref-palette-primary100: #ffffff;
  /* secondary */
  --md-ref-palette-secondary0: #000000;
  --md-ref-palette-secondary5: #001413;
  --md-ref-palette-secondary10: #051f1e;
  --md-ref-palette-secondary20: #1b3533;
  --md-ref-palette-secondary25: #27403e;
  --md-ref-palette-secondary30: #324b4a;
  --md-ref-palette-secondary35: #3e5755;
  --md-ref-palette-secondary40: #4a6361;
  --md-ref-palette-secondary50: #627c7a;
  --md-ref-palette-secondary60: #7b9694;
  --md-ref-palette-secondary70: #95b1ae;
  --md-ref-palette-secondary80: #b0ccca;
  --md-ref-palette-secondary90: #cce8e6;
  --md-ref-palette-secondary95: #daf6f4;
  --md-ref-palette-secondary98: #e3fffc;
  --md-ref-palette-secondary99: #f2fffd;
  --md-ref-palette-secondary100: #ffffff;
  /* tertiary */
  --md-ref-palette-tertiary0: #000000;
  --md-ref-palette-tertiary5: #001224;
  --md-ref-palette-tertiary10: #021d35;
  --md-ref-palette-tertiary20: #1a324b;
  --md-ref-palette-tertiary25: #263d56;
  --md-ref-palette-tertiary30: #324862;
  --md-ref-palette-tertiary35: #3d546f;
  --md-ref-palette-tertiary40: #49607b;
  --md-ref-palette-tertiary50: #627995;
  --md-ref-palette-tertiary60: #7c93b0;
  --md-ref-palette-tertiary70: #96adcb;
  --md-ref-palette-tertiary80: #b1c8e8;
  --md-ref-palette-tertiary90: #d1e4ff;
  --md-ref-palette-tertiary95: #e9f1ff;
  --md-ref-palette-tertiary98: #f8f9ff;
  --md-ref-palette-tertiary99: #fdfcff;
  --md-ref-palette-tertiary100: #ffffff;
  /* neutral */
  --md-ref-palette-neutral0: #000000;
  --md-ref-palette-neutral5: #0e1211;
  --md-ref-palette-neutral10: #191c1c;
  --md-ref-palette-neutral20: #2d3131;
  --md-ref-palette-neutral25: #383c3c;
  --md-ref-palette-neutral30: #444747;
  --md-ref-palette-neutral35: #4f5352;
  --md-ref-palette-neutral40: #5b5f5e;
  --md-ref-palette-neutral50: #747877;
  --md-ref-palette-neutral60: #8e9190;
  --md-ref-palette-neutral70: #a9acab;
  --md-ref-palette-neutral80: #c4c7c6;
  --md-ref-palette-neutral90: #e0e3e2;
  --md-ref-palette-neutral95: #eff1f0;
  --md-ref-palette-neutral98: #f7faf9;
  --md-ref-palette-neutral99: #fafdfb;
  --md-ref-palette-neutral100: #ffffff;
  /* neutralVariant */
  --md-ref-palette-neutral-variant0: #000000;
  --md-ref-palette-neutral-variant5: #091312;
  --md-ref-palette-neutral-variant10: #141d1d;
  --md-ref-palette-neutral-variant20: #293231;
  --md-ref-palette-neutral-variant25: #343d3c;
  --md-ref-palette-neutral-variant30: #3f4948;
  --md-ref-palette-neutral-variant35: #4a5453;
  --md-ref-palette-neutral-variant40: #56605f;
  --md-ref-palette-neutral-variant50: #6f7978;
  --md-ref-palette-neutral-variant60: #889392;
  --md-ref-palette-neutral-variant70: #a3adac;
  --md-ref-palette-neutral-variant80: #bec9c7;
  --md-ref-palette-neutral-variant90: #dae5e3;
  --md-ref-palette-neutral-variant95: #e8f3f1;
  --md-ref-palette-neutral-variant98: #f1fbfa;
  --md-ref-palette-neutral-variant99: #f4fefd;
  --md-ref-palette-neutral-variant100: #ffffff;
  /* error */
  --md-ref-palette-error0: #000000;
  --md-ref-palette-error5: #2d0001;
  --md-ref-palette-error10: #410002;
  --md-ref-palette-error20: #690005;
  --md-ref-palette-error25: #7e0007;
  --md-ref-palette-error30: #93000a;
  --md-ref-palette-error35: #a80710;
  --md-ref-palette-error40: #ba1a1a;
  --md-ref-palette-error50: #de3730;
  --md-ref-palette-error60: #ff5449;
  --md-ref-palette-error70: #ff897d;
  --md-ref-palette-error80: #ffb4ab;
  --md-ref-palette-error90: #ffdad6;
  --md-ref-palette-error95: #ffedea;
  --md-ref-palette-error98: #fff8f7;
  --md-ref-palette-error99: #fffbff;
  --md-ref-palette-error100: #ffffff;
}