* {
--md-source: #F5FFFA;
  /* primary */
  --md-ref-palette-primary0-rgb: 0 0 0;
  --md-ref-palette-primary5-rgb: 0 20 16;
  --md-ref-palette-primary10-rgb: 0 32 26;
  --md-ref-palette-primary20-rgb: 0 56 46;
  --md-ref-palette-primary25-rgb: 0 68 56;
  --md-ref-palette-primary30-rgb: 0 81 67;
  --md-ref-palette-primary35-rgb: 0 94 78;
  --md-ref-palette-primary40-rgb: 0 107 90;
  --md-ref-palette-primary50-rgb: 0 135 113;
  --md-ref-palette-primary60-rgb: 0 163 138;
  --md-ref-palette-primary70-rgb: 56 191 164;
  --md-ref-palette-primary80-rgb: 91 219 191;
  --md-ref-palette-primary90-rgb: 122 248 218;
  --md-ref-palette-primary95-rgb: 183 255 235;
  --md-ref-palette-primary98-rgb: 230 255 246;
  --md-ref-palette-primary99-rgb: 243 255 249;
  --md-ref-palette-primary100-rgb: 255 255 255;
  /* secondary */
  --md-ref-palette-secondary0-rgb: 0 0 0;
  --md-ref-palette-secondary5-rgb: 0 20 16;
  --md-ref-palette-secondary10-rgb: 7 32 26;
  --md-ref-palette-secondary20-rgb: 29 53 47;
  --md-ref-palette-secondary25-rgb: 40 64 57;
  --md-ref-palette-secondary30-rgb: 51 75 69;
  --md-ref-palette-secondary35-rgb: 63 87 80;
  --md-ref-palette-secondary40-rgb: 75 99 92;
  --md-ref-palette-secondary50-rgb: 99 124 116;
  --md-ref-palette-secondary60-rgb: 124 150 142;
  --md-ref-palette-secondary70-rgb: 150 177 168;
  --md-ref-palette-secondary80-rgb: 177 204 195;
  --md-ref-palette-secondary90-rgb: 205 232 223;
  --md-ref-palette-secondary95-rgb: 219 247 237;
  --md-ref-palette-secondary98-rgb: 230 255 246;
  --md-ref-palette-secondary99-rgb: 243 255 249;
  --md-ref-palette-secondary100-rgb: 255 255 255;
  /* tertiary */
  --md-ref-palette-tertiary0-rgb: 0 0 0;
  --md-ref-palette-tertiary5-rgb: 0 19 30;
  --md-ref-palette-tertiary10-rgb: 0 30 46;
  --md-ref-palette-tertiary20-rgb: 16 52 71;
  --md-ref-palette-tertiary25-rgb: 29 63 83;
  --md-ref-palette-tertiary30-rgb: 42 74 95;
  --md-ref-palette-tertiary35-rgb: 54 86 107;
  --md-ref-palette-tertiary40-rgb: 66 98 119;
  --md-ref-palette-tertiary50-rgb: 91 123 145;
  --md-ref-palette-tertiary60-rgb: 117 149 172;
  --md-ref-palette-tertiary70-rgb: 143 175 199;
  --md-ref-palette-tertiary80-rgb: 170 203 227;
  --md-ref-palette-tertiary90-rgb: 199 231 255;
  --md-ref-palette-tertiary95-rgb: 228 243 255;
  --md-ref-palette-tertiary98-rgb: 246 250 255;
  --md-ref-palette-tertiary99-rgb: 251 252 255;
  --md-ref-palette-tertiary100-rgb: 255 255 255;
  /* neutral */
  --md-ref-palette-neutral0-rgb: 0 0 0;
  --md-ref-palette-neutral5-rgb: 14 18 16;
  --md-ref-palette-neutral10-rgb: 25 28 27;
  --md-ref-palette-neutral20-rgb: 46 49 48;
  --md-ref-palette-neutral25-rgb: 57 60 59;
  --md-ref-palette-neutral30-rgb: 68 71 70;
  --md-ref-palette-neutral35-rgb: 80 83 81;
  --md-ref-palette-neutral40-rgb: 92 95 93;
  --md-ref-palette-neutral50-rgb: 116 120 118;
  --md-ref-palette-neutral60-rgb: 142 145 143;
  --md-ref-palette-neutral70-rgb: 169 172 170;
  --md-ref-palette-neutral80-rgb: 196 199 197;
  --md-ref-palette-neutral90-rgb: 225 227 224;
  --md-ref-palette-neutral95-rgb: 239 241 239;
  --md-ref-palette-neutral98-rgb: 248 250 247;
  --md-ref-palette-neutral99-rgb: 250 253 250;
  --md-ref-palette-neutral100-rgb: 255 255 255;
  /* neutralVariant */
  --md-ref-palette-neutral-variant0-rgb: 0 0 0;
  --md-ref-palette-neutral-variant5-rgb: 10 19 16;
  --md-ref-palette-neutral-variant10-rgb: 20 29 27;
  --md-ref-palette-neutral-variant20-rgb: 41 50 47;
  --md-ref-palette-neutral-variant25-rgb: 52 61 58;
  --md-ref-palette-neutral-variant30-rgb: 63 73 69;
  --md-ref-palette-neutral-variant35-rgb: 75 84 81;
  --md-ref-palette-neutral-variant40-rgb: 87 96 93;
  --md-ref-palette-neutral-variant50-rgb: 111 121 117;
  --md-ref-palette-neutral-variant60-rgb: 137 147 143;
  --md-ref-palette-neutral-variant70-rgb: 163 173 169;
  --md-ref-palette-neutral-variant80-rgb: 191 201 196;
  --md-ref-palette-neutral-variant90-rgb: 219 229 224;
  --md-ref-palette-neutral-variant95-rgb: 233 243 238;
  --md-ref-palette-neutral-variant98-rgb: 242 252 247;
  --md-ref-palette-neutral-variant99-rgb: 244 255 250;
  --md-ref-palette-neutral-variant100-rgb: 255 255 255;
  /* error */
  --md-ref-palette-error0-rgb: 0 0 0;
  --md-ref-palette-error5-rgb: 45 0 1;
  --md-ref-palette-error10-rgb: 65 0 2;
  --md-ref-palette-error20-rgb: 105 0 5;
  --md-ref-palette-error25-rgb: 126 0 7;
  --md-ref-palette-error30-rgb: 147 0 10;
  --md-ref-palette-error35-rgb: 168 7 16;
  --md-ref-palette-error40-rgb: 186 26 26;
  --md-ref-palette-error50-rgb: 222 55 48;
  --md-ref-palette-error60-rgb: 255 84 73;
  --md-ref-palette-error70-rgb: 255 137 125;
  --md-ref-palette-error80-rgb: 255 180 171;
  --md-ref-palette-error90-rgb: 255 218 214;
  --md-ref-palette-error95-rgb: 255 237 234;
  --md-ref-palette-error98-rgb: 255 248 247;
  --md-ref-palette-error99-rgb: 255 251 255;
  --md-ref-palette-error100-rgb: 255 255 255;
}