:root, .tokens {
--md-source: #F5FFFA;
  /* light */
  --md-sys-color-primary-rgb-light: 0, 107, 90;
  --md-sys-color-on-primary-rgb-light: 255, 255, 255;
  --md-sys-color-primary-container-rgb-light: 122, 248, 218;
  --md-sys-color-on-primary-container-rgb-light: 0, 32, 26;
  --md-sys-color-secondary-rgb-light: 75, 99, 92;
  --md-sys-color-on-secondary-rgb-light: 255, 255, 255;
  --md-sys-color-secondary-container-rgb-light: 205, 232, 223;
  --md-sys-color-on-secondary-container-rgb-light: 7, 32, 26;
  --md-sys-color-tertiary-rgb-light: 66, 98, 119;
  --md-sys-color-on-tertiary-rgb-light: 255, 255, 255;
  --md-sys-color-tertiary-container-rgb-light: 199, 231, 255;
  --md-sys-color-on-tertiary-container-rgb-light: 0, 30, 46;
  --md-sys-color-error-rgb-light: 186, 26, 26;
  --md-sys-color-on-error-rgb-light: 255, 255, 255;
  --md-sys-color-error-container-rgb-light: 255, 218, 214;
  --md-sys-color-on-error-container-rgb-light: 65, 0, 2;
  --md-sys-color-background-rgb-light: 250, 253, 250;
  --md-sys-color-on-background-rgb-light: 25, 28, 27;
  --md-sys-color-surface-rgb-light: 250, 253, 250;
  --md-sys-color-on-surface-rgb-light: 25, 28, 27;
  --md-sys-color-surface-variant-rgb-light: 219, 229, 224;
  --md-sys-color-on-surface-variant-rgb-light: 63, 73, 69;
  --md-sys-color-outline-rgb-light: 111, 121, 117;
  --md-sys-color-shadow-rgb-light: 0, 0, 0;
  --md-sys-color-inverse-surface-rgb-light: 46, 49, 48;
  --md-sys-color-inverse-on-surface-rgb-light: 239, 241, 239;
  --md-sys-color-inverse-primary-rgb-light: 91, 219, 191;
  /* dark */
  --md-sys-color-primary-rgb-dark: 91, 219, 191;
  --md-sys-color-on-primary-rgb-dark: 0, 56, 46;
  --md-sys-color-primary-container-rgb-dark: 0, 81, 67;
  --md-sys-color-on-primary-container-rgb-dark: 122, 248, 218;
  --md-sys-color-secondary-rgb-dark: 177, 204, 195;
  --md-sys-color-on-secondary-rgb-dark: 29, 53, 47;
  --md-sys-color-secondary-container-rgb-dark: 51, 75, 69;
  --md-sys-color-on-secondary-container-rgb-dark: 205, 232, 223;
  --md-sys-color-tertiary-rgb-dark: 170, 203, 227;
  --md-sys-color-on-tertiary-rgb-dark: 16, 52, 71;
  --md-sys-color-tertiary-container-rgb-dark: 42, 74, 95;
  --md-sys-color-on-tertiary-container-rgb-dark: 199, 231, 255;
  --md-sys-color-error-rgb-dark: 255, 180, 171;
  --md-sys-color-on-error-rgb-dark: 105, 0, 5;
  --md-sys-color-error-container-rgb-dark: 147, 0, 10;
  --md-sys-color-on-error-container-rgb-dark: 255, 180, 171;
  --md-sys-color-background-rgb-dark: 25, 28, 27;
  --md-sys-color-on-background-rgb-dark: 225, 227, 224;
  --md-sys-color-surface-rgb-dark: 25, 28, 27;
  --md-sys-color-on-surface-rgb-dark: 225, 227, 224;
  --md-sys-color-surface-variant-rgb-dark: 63, 73, 69;
  --md-sys-color-on-surface-variant-rgb-dark: 191, 201, 196;
  --md-sys-color-outline-rgb-dark: 137, 147, 143;
  --md-sys-color-shadow-rgb-dark: 0, 0, 0;
  --md-sys-color-inverse-surface-rgb-dark: 225, 227, 224;
  --md-sys-color-inverse-on-surface-rgb-dark: 46, 49, 48;
  --md-sys-color-inverse-primary-rgb-dark: 0, 107, 90;
  /* primary */
  --md-ref-palette-primary0: #000000;
  --md-ref-palette-primary5: #001410;
  --md-ref-palette-primary10: #00201a;
  --md-ref-palette-primary20: #00382e;
  --md-ref-palette-primary25: #004438;
  --md-ref-palette-primary30: #005143;
  --md-ref-palette-primary35: #005e4e;
  --md-ref-palette-primary40: #006b5a;
  --md-ref-palette-primary50: #008771;
  --md-ref-palette-primary60: #00a38a;
  --md-ref-palette-primary70: #38bfa4;
  --md-ref-palette-primary80: #5bdbbf;
  --md-ref-palette-primary90: #7af8da;
  --md-ref-palette-primary95: #b7ffeb;
  --md-ref-palette-primary98: #e6fff6;
  --md-ref-palette-primary99: #f3fff9;
  --md-ref-palette-primary100: #ffffff;
  /* secondary */
  --md-ref-palette-secondary0: #000000;
  --md-ref-palette-secondary5: #001410;
  --md-ref-palette-secondary10: #07201a;
  --md-ref-palette-secondary20: #1d352f;
  --md-ref-palette-secondary25: #284039;
  --md-ref-palette-secondary30: #334b45;
  --md-ref-palette-secondary35: #3f5750;
  --md-ref-palette-secondary40: #4b635c;
  --md-ref-palette-secondary50: #637c74;
  --md-ref-palette-secondary60: #7c968e;
  --md-ref-palette-secondary70: #96b1a8;
  --md-ref-palette-secondary80: #b1ccc3;
  --md-ref-palette-secondary90: #cde8df;
  --md-ref-palette-secondary95: #dbf7ed;
  --md-ref-palette-secondary98: #e6fff6;
  --md-ref-palette-secondary99: #f3fff9;
  --md-ref-palette-secondary100: #ffffff;
  /* tertiary */
  --md-ref-palette-tertiary0: #000000;
  --md-ref-palette-tertiary5: #00131e;
  --md-ref-palette-tertiary10: #001e2e;
  --md-ref-palette-tertiary20: #103447;
  --md-ref-palette-tertiary25: #1d3f53;
  --md-ref-palette-tertiary30: #2a4a5f;
  --md-ref-palette-tertiary35: #36566b;
  --md-ref-palette-tertiary40: #426277;
  --md-ref-palette-tertiary50: #5b7b91;
  --md-ref-palette-tertiary60: #7595ac;
  --md-ref-palette-tertiary70: #8fafc7;
  --md-ref-palette-tertiary80: #aacbe3;
  --md-ref-palette-tertiary90: #c7e7ff;
  --md-ref-palette-tertiary95: #e4f3ff;
  --md-ref-palette-tertiary98: #f6faff;
  --md-ref-palette-tertiary99: #fbfcff;
  --md-ref-palette-tertiary100: #ffffff;
  /* neutral */
  --md-ref-palette-neutral0: #000000;
  --md-ref-palette-neutral5: #0e1210;
  --md-ref-palette-neutral10: #191c1b;
  --md-ref-palette-neutral20: #2e3130;
  --md-ref-palette-neutral25: #393c3b;
  --md-ref-palette-neutral30: #444746;
  --md-ref-palette-neutral35: #505351;
  --md-ref-palette-neutral40: #5c5f5d;
  --md-ref-palette-neutral50: #747876;
  --md-ref-palette-neutral60: #8e918f;
  --md-ref-palette-neutral70: #a9acaa;
  --md-ref-palette-neutral80: #c4c7c5;
  --md-ref-palette-neutral90: #e1e3e0;
  --md-ref-palette-neutral95: #eff1ef;
  --md-ref-palette-neutral98: #f8faf7;
  --md-ref-palette-neutral99: #fafdfa;
  --md-ref-palette-neutral100: #ffffff;
  /* neutralVariant */
  --md-ref-palette-neutralVariant0: #000000;
  --md-ref-palette-neutralVariant5: #0a1310;
  --md-ref-palette-neutralVariant10: #141d1b;
  --md-ref-palette-neutralVariant20: #29322f;
  --md-ref-palette-neutralVariant25: #343d3a;
  --md-ref-palette-neutralVariant30: #3f4945;
  --md-ref-palette-neutralVariant35: #4b5451;
  --md-ref-palette-neutralVariant40: #57605d;
  --md-ref-palette-neutralVariant50: #6f7975;
  --md-ref-palette-neutralVariant60: #89938f;
  --md-ref-palette-neutralVariant70: #a3ada9;
  --md-ref-palette-neutralVariant80: #bfc9c4;
  --md-ref-palette-neutralVariant90: #dbe5e0;
  --md-ref-palette-neutralVariant95: #e9f3ee;
  --md-ref-palette-neutralVariant98: #f2fcf7;
  --md-ref-palette-neutralVariant99: #f4fffa;
  --md-ref-palette-neutralVariant100: #ffffff;
  /* error */
  --md-ref-palette-error0: #000000;
  --md-ref-palette-error5: #2d0001;
  --md-ref-palette-error10: #410002;
  --md-ref-palette-error20: #690005;
  --md-ref-palette-error25: #7e0007;
  --md-ref-palette-error30: #93000a;
  --md-ref-palette-error35: #a80710;
  --md-ref-palette-error40: #ba1a1a;
  --md-ref-palette-error50: #de3730;
  --md-ref-palette-error60: #ff5449;
  --md-ref-palette-error70: #ff897d;
  --md-ref-palette-error80: #ffb4ab;
  --md-ref-palette-error90: #ffdad6;
  --md-ref-palette-error95: #ffedea;
  --md-ref-palette-error98: #fff8f7;
  --md-ref-palette-error99: #fffbff;
  --md-ref-palette-error100: #ffffff;
}