:root, .tokens {
--md-source: #FFE4B5;
  /* light */
  --md-sys-color-primary-rgb-light: 122, 89, 0;
  --md-sys-color-on-primary-rgb-light: 255, 255, 255;
  --md-sys-color-primary-container-rgb-light: 255, 222, 163;
  --md-sys-color-on-primary-container-rgb-light: 38, 25, 0;
  --md-sys-color-secondary-rgb-light: 108, 92, 63;
  --md-sys-color-on-secondary-rgb-light: 255, 255, 255;
  --md-sys-color-secondary-container-rgb-light: 246, 224, 187;
  --md-sys-color-on-secondary-container-rgb-light: 37, 26, 4;
  --md-sys-color-tertiary-rgb-light: 75, 101, 69;
  --md-sys-color-on-tertiary-rgb-light: 255, 255, 255;
  --md-sys-color-tertiary-container-rgb-light: 205, 235, 195;
  --md-sys-color-on-tertiary-container-rgb-light: 9, 32, 8;
  --md-sys-color-error-rgb-light: 186, 26, 26;
  --md-sys-color-on-error-rgb-light: 255, 255, 255;
  --md-sys-color-error-container-rgb-light: 255, 218, 214;
  --md-sys-color-on-error-container-rgb-light: 65, 0, 2;
  --md-sys-color-background-rgb-light: 255, 251, 255;
  --md-sys-color-on-background-rgb-light: 30, 27, 22;
  --md-sys-color-surface-rgb-light: 255, 251, 255;
  --md-sys-color-on-surface-rgb-light: 30, 27, 22;
  --md-sys-color-surface-variant-rgb-light: 237, 225, 207;
  --md-sys-color-on-surface-variant-rgb-light: 77, 70, 57;
  --md-sys-color-outline-rgb-light: 127, 118, 103;
  --md-sys-color-shadow-rgb-light: 0, 0, 0;
  --md-sys-color-inverse-surface-rgb-light: 52, 48, 42;
  --md-sys-color-inverse-on-surface-rgb-light: 248, 239, 231;
  --md-sys-color-inverse-primary-rgb-light: 245, 190, 72;
  /* dark */
  --md-sys-color-primary-rgb-dark: 245, 190, 72;
  --md-sys-color-on-primary-rgb-dark: 64, 45, 0;
  --md-sys-color-primary-container-rgb-dark: 93, 66, 0;
  --md-sys-color-on-primary-container-rgb-dark: 255, 222, 163;
  --md-sys-color-secondary-rgb-dark: 217, 196, 160;
  --md-sys-color-on-secondary-rgb-dark: 59, 47, 21;
  --md-sys-color-secondary-container-rgb-dark: 83, 69, 42;
  --md-sys-color-on-secondary-container-rgb-dark: 246, 224, 187;
  --md-sys-color-tertiary-rgb-dark: 178, 207, 168;
  --md-sys-color-on-tertiary-rgb-dark: 30, 54, 27;
  --md-sys-color-tertiary-container-rgb-dark: 52, 77, 47;
  --md-sys-color-on-tertiary-container-rgb-dark: 205, 235, 195;
  --md-sys-color-error-rgb-dark: 255, 180, 171;
  --md-sys-color-on-error-rgb-dark: 105, 0, 5;
  --md-sys-color-error-container-rgb-dark: 147, 0, 10;
  --md-sys-color-on-error-container-rgb-dark: 255, 180, 171;
  --md-sys-color-background-rgb-dark: 30, 27, 22;
  --md-sys-color-on-background-rgb-dark: 233, 225, 217;
  --md-sys-color-surface-rgb-dark: 30, 27, 22;
  --md-sys-color-on-surface-rgb-dark: 233, 225, 217;
  --md-sys-color-surface-variant-rgb-dark: 77, 70, 57;
  --md-sys-color-on-surface-variant-rgb-dark: 209, 197, 180;
  --md-sys-color-outline-rgb-dark: 154, 143, 128;
  --md-sys-color-shadow-rgb-dark: 0, 0, 0;
  --md-sys-color-inverse-surface-rgb-dark: 233, 225, 217;
  --md-sys-color-inverse-on-surface-rgb-dark: 52, 48, 42;
  --md-sys-color-inverse-primary-rgb-dark: 122, 89, 0;
  /* primary */
  --md-ref-palette-primary0: #000000;
  --md-ref-palette-primary5: #190f00;
  --md-ref-palette-primary10: #261900;
  --md-ref-palette-primary20: #402d00;
  --md-ref-palette-primary25: #4e3800;
  --md-ref-palette-primary30: #5d4200;
  --md-ref-palette-primary35: #6b4d00;
  --md-ref-palette-primary40: #7a5900;
  --md-ref-palette-primary50: #997000;
  --md-ref-palette-primary60: #b9890f;
  --md-ref-palette-primary70: #d6a32e;
  --md-ref-palette-primary80: #f5be48;
  --md-ref-palette-primary90: #ffdea3;
  --md-ref-palette-primary95: #ffefd6;
  --md-ref-palette-primary98: #fff8f2;
  --md-ref-palette-primary99: #fffbff;
  --md-ref-palette-primary100: #ffffff;
  /* secondary */
  --md-ref-palette-secondary0: #000000;
  --md-ref-palette-secondary5: #190f00;
  --md-ref-palette-secondary10: #251a04;
  --md-ref-palette-secondary20: #3b2f15;
  --md-ref-palette-secondary25: #473a1f;
  --md-ref-palette-secondary30: #53452a;
  --md-ref-palette-secondary35: #5f5034;
  --md-ref-palette-secondary40: #6c5c3f;
  --md-ref-palette-secondary50: #867556;
  --md-ref-palette-secondary60: #a18e6e;
  --md-ref-palette-secondary70: #bca987;
  --md-ref-palette-secondary80: #d9c4a0;
  --md-ref-palette-secondary90: #f6e0bb;
  --md-ref-palette-secondary95: #ffefd6;
  --md-ref-palette-secondary98: #fff8f2;
  --md-ref-palette-secondary99: #fffbff;
  --md-ref-palette-secondary100: #ffffff;
  /* tertiary */
  --md-ref-palette-tertiary0: #000000;
  --md-ref-palette-tertiary5: #011501;
  --md-ref-palette-tertiary10: #092008;
  --md-ref-palette-tertiary20: #1e361b;
  --md-ref-palette-tertiary25: #294125;
  --md-ref-palette-tertiary30: #344d2f;
  --md-ref-palette-tertiary35: #40593a;
  --md-ref-palette-tertiary40: #4b6545;
  --md-ref-palette-tertiary50: #637e5d;
  --md-ref-palette-tertiary60: #7d9875;
  --md-ref-palette-tertiary70: #97b38e;
  --md-ref-palette-tertiary80: #b2cfa8;
  --md-ref-palette-tertiary90: #cdebc3;
  --md-ref-palette-tertiary95: #dbf9d0;
  --md-ref-palette-tertiary98: #ecffe3;
  --md-ref-palette-tertiary99: #f7ffef;
  --md-ref-palette-tertiary100: #ffffff;
  /* neutral */
  --md-ref-palette-neutral0: #000000;
  --md-ref-palette-neutral5: #13110c;
  --md-ref-palette-neutral10: #1e1b16;
  --md-ref-palette-neutral20: #34302a;
  --md-ref-palette-neutral25: #3f3b35;
  --md-ref-palette-neutral30: #4b4640;
  --md-ref-palette-neutral35: #56524b;
  --md-ref-palette-neutral40: #635e57;
  --md-ref-palette-neutral50: #7c766f;
  --md-ref-palette-neutral60: #969088;
  --md-ref-palette-neutral70: #b1aaa2;
  --md-ref-palette-neutral80: #cdc5bd;
  --md-ref-palette-neutral90: #e9e1d9;
  --md-ref-palette-neutral95: #f8efe7;
  --md-ref-palette-neutral98: #fff8f2;
  --md-ref-palette-neutral99: #fffbff;
  --md-ref-palette-neutral100: #ffffff;
  /* neutralVariant */
  --md-ref-palette-neutralVariant0: #000000;
  --md-ref-palette-neutralVariant5: #151006;
  --md-ref-palette-neutralVariant10: #211b10;
  --md-ref-palette-neutralVariant20: #362f24;
  --md-ref-palette-neutralVariant25: #423a2e;
  --md-ref-palette-neutralVariant30: #4d4639;
  --md-ref-palette-neutralVariant35: #5a5144;
  --md-ref-palette-neutralVariant40: #665d4f;
  --md-ref-palette-neutralVariant50: #7f7667;
  --md-ref-palette-neutralVariant60: #9a8f80;
  --md-ref-palette-neutralVariant70: #b5aa99;
  --md-ref-palette-neutralVariant80: #d1c5b4;
  --md-ref-palette-neutralVariant90: #ede1cf;
  --md-ref-palette-neutralVariant95: #fcefdd;
  --md-ref-palette-neutralVariant98: #fff8f2;
  --md-ref-palette-neutralVariant99: #fffbff;
  --md-ref-palette-neutralVariant100: #ffffff;
  /* error */
  --md-ref-palette-error0: #000000;
  --md-ref-palette-error5: #2d0001;
  --md-ref-palette-error10: #410002;
  --md-ref-palette-error20: #690005;
  --md-ref-palette-error25: #7e0007;
  --md-ref-palette-error30: #93000a;
  --md-ref-palette-error35: #a80710;
  --md-ref-palette-error40: #ba1a1a;
  --md-ref-palette-error50: #de3730;
  --md-ref-palette-error60: #ff5449;
  --md-ref-palette-error70: #ff897d;
  --md-ref-palette-error80: #ffb4ab;
  --md-ref-palette-error90: #ffdad6;
  --md-ref-palette-error95: #ffedea;
  --md-ref-palette-error98: #fff8f7;
  --md-ref-palette-error99: #fffbff;
  --md-ref-palette-error100: #ffffff;
}