body, .tokens {
--md-source: #000080;
  /* light */
  --md-sys-color-primary-rgb-light: 75, 83, 188;
  --md-sys-color-on-primary-rgb-light: 255, 255, 255;
  --md-sys-color-primary-container-rgb-light: 224, 224, 255;
  --md-sys-color-on-primary-container-rgb-light: 0, 0, 110;
  --md-sys-color-secondary-rgb-light: 92, 93, 114;
  --md-sys-color-on-secondary-rgb-light: 255, 255, 255;
  --md-sys-color-secondary-container-rgb-light: 225, 224, 249;
  --md-sys-color-on-secondary-container-rgb-light: 25, 26, 44;
  --md-sys-color-tertiary-rgb-light: 120, 83, 107;
  --md-sys-color-on-tertiary-rgb-light: 255, 255, 255;
  --md-sys-color-tertiary-container-rgb-light: 255, 216, 238;
  --md-sys-color-on-tertiary-container-rgb-light: 46, 17, 38;
  --md-sys-color-error-rgb-light: 186, 26, 26;
  --md-sys-color-on-error-rgb-light: 255, 255, 255;
  --md-sys-color-error-container-rgb-light: 255, 218, 214;
  --md-sys-color-on-error-container-rgb-light: 65, 0, 2;
  --md-sys-color-background-rgb-light: 255, 251, 255;
  --md-sys-color-on-background-rgb-light: 27, 27, 31;
  --md-sys-color-surface-rgb-light: 255, 251, 255;
  --md-sys-color-on-surface-rgb-light: 27, 27, 31;
  --md-sys-color-surface-variant-rgb-light: 228, 225, 236;
  --md-sys-color-on-surface-variant-rgb-light: 70, 70, 79;
  --md-sys-color-outline-rgb-light: 119, 118, 128;
  --md-sys-color-shadow-rgb-light: 0, 0, 0;
  --md-sys-color-inverse-surface-rgb-light: 48, 48, 52;
  --md-sys-color-inverse-on-surface-rgb-light: 243, 239, 244;
  --md-sys-color-inverse-primary-rgb-light: 191, 194, 255;
  /* dark */
  --md-sys-color-primary-rgb-dark: 191, 194, 255;
  --md-sys-color-on-primary-rgb-dark: 24, 29, 140;
  --md-sys-color-primary-container-rgb-dark: 50, 57, 163;
  --md-sys-color-on-primary-container-rgb-dark: 224, 224, 255;
  --md-sys-color-secondary-rgb-dark: 197, 196, 221;
  --md-sys-color-on-secondary-rgb-dark: 46, 47, 66;
  --md-sys-color-secondary-container-rgb-dark: 68, 69, 89;
  --md-sys-color-on-secondary-container-rgb-dark: 225, 224, 249;
  --md-sys-color-tertiary-rgb-dark: 232, 185, 213;
  --md-sys-color-on-tertiary-rgb-dark: 70, 38, 59;
  --md-sys-color-tertiary-container-rgb-dark: 94, 60, 82;
  --md-sys-color-on-tertiary-container-rgb-dark: 255, 216, 238;
  --md-sys-color-error-rgb-dark: 255, 180, 171;
  --md-sys-color-on-error-rgb-dark: 105, 0, 5;
  --md-sys-color-error-container-rgb-dark: 147, 0, 10;
  --md-sys-color-on-error-container-rgb-dark: 255, 180, 171;
  --md-sys-color-background-rgb-dark: 27, 27, 31;
  --md-sys-color-on-background-rgb-dark: 229, 225, 230;
  --md-sys-color-surface-rgb-dark: 27, 27, 31;
  --md-sys-color-on-surface-rgb-dark: 229, 225, 230;
  --md-sys-color-surface-variant-rgb-dark: 70, 70, 79;
  --md-sys-color-on-surface-variant-rgb-dark: 199, 197, 208;
  --md-sys-color-outline-rgb-dark: 145, 143, 154;
  --md-sys-color-shadow-rgb-dark: 0, 0, 0;
  --md-sys-color-inverse-surface-rgb-dark: 229, 225, 230;
  --md-sys-color-inverse-on-surface-rgb-dark: 48, 48, 52;
  --md-sys-color-inverse-primary-rgb-dark: 75, 83, 188;
  /* primary */
  --md-ref-palette-primary0: #000000;
  --md-ref-palette-primary5: #00004e;
  --md-ref-palette-primary10: #00006e;
  --md-ref-palette-primary20: #181d8c;
  --md-ref-palette-primary25: #262c97;
  --md-ref-palette-primary30: #3239a3;
  --md-ref-palette-primary35: #3f46af;
  --md-ref-palette-primary40: #4b53bc;
  --md-ref-palette-primary50: #656cd7;
  --md-ref-palette-primary60: #7f86f3;
  --md-ref-palette-primary70: #9da3ff;
  --md-ref-palette-primary80: #bfc2ff;
  --md-ref-palette-primary90: #e0e0ff;
  --md-ref-palette-primary95: #f1efff;
  --md-ref-palette-primary98: #fbf8ff;
  --md-ref-palette-primary99: #fffbff;
  --md-ref-palette-primary100: #ffffff;
  /* secondary */
  --md-ref-palette-secondary0: #000000;
  --md-ref-palette-secondary5: #0e0f21;
  --md-ref-palette-secondary10: #191a2c;
  --md-ref-palette-secondary20: #2e2f42;
  --md-ref-palette-secondary25: #393a4d;
  --md-ref-palette-secondary30: #444559;
  --md-ref-palette-secondary35: #505165;
  --md-ref-palette-secondary40: #5c5d72;
  --md-ref-palette-secondary50: #75758b;
  --md-ref-palette-secondary60: #8f8fa6;
  --md-ref-palette-secondary70: #a9a9c1;
  --md-ref-palette-secondary80: #c5c4dd;
  --md-ref-palette-secondary90: #e1e0f9;
  --md-ref-palette-secondary95: #f1efff;
  --md-ref-palette-secondary98: #fbf8ff;
  --md-ref-palette-secondary99: #fffbff;
  --md-ref-palette-secondary100: #ffffff;
  /* tertiary */
  --md-ref-palette-tertiary0: #000000;
  --md-ref-palette-tertiary5: #22071b;
  --md-ref-palette-tertiary10: #2e1126;
  --md-ref-palette-tertiary20: #46263b;
  --md-ref-palette-tertiary25: #523147;
  --md-ref-palette-tertiary30: #5e3c52;
  --md-ref-palette-tertiary35: #6b475e;
  --md-ref-palette-tertiary40: #78536b;
  --md-ref-palette-tertiary50: #936b84;
  --md-ref-palette-tertiary60: #ae849e;
  --md-ref-palette-tertiary70: #cb9eb9;
  --md-ref-palette-tertiary80: #e8b9d5;
  --md-ref-palette-tertiary90: #ffd8ee;
  --md-ref-palette-tertiary95: #ffecf4;
  --md-ref-palette-tertiary98: #fff8f9;
  --md-ref-palette-tertiary99: #fffbff;
  --md-ref-palette-tertiary100: #ffffff;
  /* neutral */
  --md-ref-palette-neutral0: #000000;
  --md-ref-palette-neutral5: #111114;
  --md-ref-palette-neutral10: #1b1b1f;
  --md-ref-palette-neutral20: #303034;
  --md-ref-palette-neutral25: #3c3b3f;
  --md-ref-palette-neutral30: #47464a;
  --md-ref-palette-neutral35: #535256;
  --md-ref-palette-neutral40: #5f5e62;
  --md-ref-palette-neutral50: #78767a;
  --md-ref-palette-neutral60: #929094;
  --md-ref-palette-neutral70: #adaaaf;
  --md-ref-palette-neutral80: #c8c5ca;
  --md-ref-palette-neutral90: #e5e1e6;
  --md-ref-palette-neutral95: #f3eff4;
  --md-ref-palette-neutral98: #fcf8fd;
  --md-ref-palette-neutral99: #fffbff;
  --md-ref-palette-neutral100: #ffffff;
  /* neutralVariant */
  --md-ref-palette-neutralVariant0: #000000;
  --md-ref-palette-neutralVariant5: #101018;
  --md-ref-palette-neutralVariant10: #1b1b23;
  --md-ref-palette-neutralVariant20: #303038;
  --md-ref-palette-neutralVariant25: #3b3b43;
  --md-ref-palette-neutralVariant30: #46464f;
  --md-ref-palette-neutralVariant35: #52515b;
  --md-ref-palette-neutralVariant40: #5e5d67;
  --md-ref-palette-neutralVariant50: #777680;
  --md-ref-palette-neutralVariant60: #918f9a;
  --md-ref-palette-neutralVariant70: #acaab4;
  --md-ref-palette-neutralVariant80: #c7c5d0;
  --md-ref-palette-neutralVariant90: #e4e1ec;
  --md-ref-palette-neutralVariant95: #f2effa;
  --md-ref-palette-neutralVariant98: #fbf8ff;
  --md-ref-palette-neutralVariant99: #fffbff;
  --md-ref-palette-neutralVariant100: #ffffff;
  /* error */
  --md-ref-palette-error0: #000000;
  --md-ref-palette-error5: #2d0001;
  --md-ref-palette-error10: #410002;
  --md-ref-palette-error20: #690005;
  --md-ref-palette-error25: #7e0007;
  --md-ref-palette-error30: #93000a;
  --md-ref-palette-error35: #a80710;
  --md-ref-palette-error40: #ba1a1a;
  --md-ref-palette-error50: #de3730;
  --md-ref-palette-error60: #ff5449;
  --md-ref-palette-error70: #ff897d;
  --md-ref-palette-error80: #ffb4ab;
  --md-ref-palette-error90: #ffdad6;
  --md-ref-palette-error95: #ffedea;
  --md-ref-palette-error98: #fff8f7;
  --md-ref-palette-error99: #fffbff;
  --md-ref-palette-error100: #ffffff;
}