:root, .tokens {
--md-source: #FDF5E6;
  /* light */
  --md-sys-color-primary-rgb-light: 113, 93, 0;
  --md-sys-color-on-primary-rgb-light: 255, 255, 255;
  --md-sys-color-primary-container-rgb-light: 255, 225, 119;
  --md-sys-color-on-primary-container-rgb-light: 35, 27, 0;
  --md-sys-color-secondary-rgb-light: 103, 94, 64;
  --md-sys-color-on-secondary-rgb-light: 255, 255, 255;
  --md-sys-color-secondary-container-rgb-light: 240, 226, 187;
  --md-sys-color-on-secondary-container-rgb-light: 33, 27, 4;
  --md-sys-color-tertiary-rgb-light: 69, 102, 77;
  --md-sys-color-on-tertiary-rgb-light: 255, 255, 255;
  --md-sys-color-tertiary-container-rgb-light: 198, 236, 204;
  --md-sys-color-on-tertiary-container-rgb-light: 1, 33, 14;
  --md-sys-color-error-rgb-light: 186, 26, 26;
  --md-sys-color-on-error-rgb-light: 255, 255, 255;
  --md-sys-color-error-container-rgb-light: 255, 218, 214;
  --md-sys-color-on-error-container-rgb-light: 65, 0, 2;
  --md-sys-color-background-rgb-light: 255, 251, 255;
  --md-sys-color-on-background-rgb-light: 29, 27, 22;
  --md-sys-color-surface-rgb-light: 255, 251, 255;
  --md-sys-color-on-surface-rgb-light: 29, 27, 22;
  --md-sys-color-surface-variant-rgb-light: 234, 226, 207;
  --md-sys-color-on-surface-variant-rgb-light: 75, 70, 57;
  --md-sys-color-outline-rgb-light: 125, 119, 103;
  --md-sys-color-shadow-rgb-light: 0, 0, 0;
  --md-sys-color-inverse-surface-rgb-light: 51, 48, 42;
  --md-sys-color-inverse-on-surface-rgb-light: 246, 240, 231;
  --md-sys-color-inverse-primary-rgb-light: 229, 196, 74;
  /* dark */
  --md-sys-color-primary-rgb-dark: 229, 196, 74;
  --md-sys-color-on-primary-rgb-dark: 59, 47, 0;
  --md-sys-color-primary-container-rgb-dark: 85, 69, 0;
  --md-sys-color-on-primary-container-rgb-dark: 255, 225, 119;
  --md-sys-color-secondary-rgb-dark: 211, 198, 161;
  --md-sys-color-on-secondary-rgb-dark: 55, 48, 22;
  --md-sys-color-secondary-container-rgb-dark: 79, 70, 42;
  --md-sys-color-on-secondary-container-rgb-dark: 240, 226, 187;
  --md-sys-color-tertiary-rgb-dark: 171, 208, 177;
  --md-sys-color-on-tertiary-rgb-dark: 22, 55, 33;
  --md-sys-color-tertiary-container-rgb-dark: 45, 78, 54;
  --md-sys-color-on-tertiary-container-rgb-dark: 198, 236, 204;
  --md-sys-color-error-rgb-dark: 255, 180, 171;
  --md-sys-color-on-error-rgb-dark: 105, 0, 5;
  --md-sys-color-error-container-rgb-dark: 147, 0, 10;
  --md-sys-color-on-error-container-rgb-dark: 255, 180, 171;
  --md-sys-color-background-rgb-dark: 29, 27, 22;
  --md-sys-color-on-background-rgb-dark: 232, 226, 217;
  --md-sys-color-surface-rgb-dark: 29, 27, 22;
  --md-sys-color-on-surface-rgb-dark: 232, 226, 217;
  --md-sys-color-surface-variant-rgb-dark: 75, 70, 57;
  --md-sys-color-on-surface-variant-rgb-dark: 206, 198, 180;
  --md-sys-color-outline-rgb-dark: 151, 144, 128;
  --md-sys-color-shadow-rgb-dark: 0, 0, 0;
  --md-sys-color-inverse-surface-rgb-dark: 232, 226, 217;
  --md-sys-color-inverse-on-surface-rgb-dark: 51, 48, 42;
  --md-sys-color-inverse-primary-rgb-dark: 113, 93, 0;
  /* primary */
  --md-ref-palette-primary0: #000000;
  --md-ref-palette-primary5: #161000;
  --md-ref-palette-primary10: #231b00;
  --md-ref-palette-primary20: #3b2f00;
  --md-ref-palette-primary25: #483a00;
  --md-ref-palette-primary30: #554500;
  --md-ref-palette-primary35: #635100;
  --md-ref-palette-primary40: #715d00;
  --md-ref-palette-primary50: #8e7500;
  --md-ref-palette-primary60: #ab8e11;
  --md-ref-palette-primary70: #c7a930;
  --md-ref-palette-primary80: #e5c44a;
  --md-ref-palette-primary90: #ffe177;
  --md-ref-palette-primary95: #fff0c6;
  --md-ref-palette-primary98: #fff8ef;
  --md-ref-palette-primary99: #fffbff;
  --md-ref-palette-primary100: #ffffff;
  /* secondary */
  --md-ref-palette-secondary0: #000000;
  --md-ref-palette-secondary5: #161000;
  --md-ref-palette-secondary10: #211b04;
  --md-ref-palette-secondary20: #373016;
  --md-ref-palette-secondary25: #433b20;
  --md-ref-palette-secondary30: #4f462a;
  --md-ref-palette-secondary35: #5b5235;
  --md-ref-palette-secondary40: #675e40;
  --md-ref-palette-secondary50: #817757;
  --md-ref-palette-secondary60: #9b906e;
  --md-ref-palette-secondary70: #b7ab87;
  --md-ref-palette-secondary80: #d3c6a1;
  --md-ref-palette-secondary90: #f0e2bb;
  --md-ref-palette-secondary95: #fef0c9;
  --md-ref-palette-secondary98: #fff8ef;
  --md-ref-palette-secondary99: #fffbff;
  --md-ref-palette-secondary100: #ffffff;
  /* tertiary */
  --md-ref-palette-tertiary0: #000000;
  --md-ref-palette-tertiary5: #001507;
  --md-ref-palette-tertiary10: #01210e;
  --md-ref-palette-tertiary20: #163721;
  --md-ref-palette-tertiary25: #22422b;
  --md-ref-palette-tertiary30: #2d4e36;
  --md-ref-palette-tertiary35: #395a41;
  --md-ref-palette-tertiary40: #45664d;
  --md-ref-palette-tertiary50: #5d7f64;
  --md-ref-palette-tertiary60: #76997d;
  --md-ref-palette-tertiary70: #90b496;
  --md-ref-palette-tertiary80: #abd0b1;
  --md-ref-palette-tertiary90: #c6eccc;
  --md-ref-palette-tertiary95: #d4fada;
  --md-ref-palette-tertiary98: #eaffea;
  --md-ref-palette-tertiary99: #f5fff3;
  --md-ref-palette-tertiary100: #ffffff;
  /* neutral */
  --md-ref-palette-neutral0: #000000;
  --md-ref-palette-neutral5: #13110c;
  --md-ref-palette-neutral10: #1d1b16;
  --md-ref-palette-neutral20: #33302a;
  --md-ref-palette-neutral25: #3e3b35;
  --md-ref-palette-neutral30: #494640;
  --md-ref-palette-neutral35: #55524b;
  --md-ref-palette-neutral40: #615e57;
  --md-ref-palette-neutral50: #7b776f;
  --md-ref-palette-neutral60: #959088;
  --md-ref-palette-neutral70: #b0aba2;
  --md-ref-palette-neutral80: #cbc6bd;
  --md-ref-palette-neutral90: #e8e2d9;
  --md-ref-palette-neutral95: #f6f0e7;
  --md-ref-palette-neutral98: #fff8ef;
  --md-ref-palette-neutral99: #fffbff;
  --md-ref-palette-neutral100: #ffffff;
  /* neutralVariant */
  --md-ref-palette-neutralVariant0: #000000;
  --md-ref-palette-neutralVariant5: #141107;
  --md-ref-palette-neutralVariant10: #1f1b10;
  --md-ref-palette-neutralVariant20: #343024;
  --md-ref-palette-neutralVariant25: #403b2e;
  --md-ref-palette-neutralVariant30: #4b4639;
  --md-ref-palette-neutralVariant35: #575244;
  --md-ref-palette-neutralVariant40: #635e50;
  --md-ref-palette-neutralVariant50: #7d7767;
  --md-ref-palette-neutralVariant60: #979080;
  --md-ref-palette-neutralVariant70: #b2ab9a;
  --md-ref-palette-neutralVariant80: #cec6b4;
  --md-ref-palette-neutralVariant90: #eae2cf;
  --md-ref-palette-neutralVariant95: #f9f0dd;
  --md-ref-palette-neutralVariant98: #fff8ef;
  --md-ref-palette-neutralVariant99: #fffbff;
  --md-ref-palette-neutralVariant100: #ffffff;
  /* error */
  --md-ref-palette-error0: #000000;
  --md-ref-palette-error5: #2d0001;
  --md-ref-palette-error10: #410002;
  --md-ref-palette-error20: #690005;
  --md-ref-palette-error25: #7e0007;
  --md-ref-palette-error30: #93000a;
  --md-ref-palette-error35: #a80710;
  --md-ref-palette-error40: #ba1a1a;
  --md-ref-palette-error50: #de3730;
  --md-ref-palette-error60: #ff5449;
  --md-ref-palette-error70: #ff897d;
  --md-ref-palette-error80: #ffb4ab;
  --md-ref-palette-error90: #ffdad6;
  --md-ref-palette-error95: #ffedea;
  --md-ref-palette-error98: #fff8f7;
  --md-ref-palette-error99: #fffbff;
  --md-ref-palette-error100: #ffffff;
}