body, .tokens {
--md-source: #808000;
  /* light */
  --md-sys-color-primary-rgb-light: 98, 98, 0;
  --md-sys-color-on-primary-rgb-light: 255, 255, 255;
  --md-sys-color-primary-container-rgb-light: 233, 232, 107;
  --md-sys-color-on-primary-container-rgb-light: 29, 29, 0;
  --md-sys-color-secondary-rgb-light: 97, 96, 67;
  --md-sys-color-on-secondary-rgb-light: 255, 255, 255;
  --md-sys-color-secondary-container-rgb-light: 231, 228, 191;
  --md-sys-color-on-secondary-container-rgb-light: 29, 29, 6;
  --md-sys-color-tertiary-rgb-light: 61, 102, 87;
  --md-sys-color-on-tertiary-rgb-light: 255, 255, 255;
  --md-sys-color-tertiary-container-rgb-light: 191, 236, 216;
  --md-sys-color-on-tertiary-container-rgb-light: 0, 33, 23;
  --md-sys-color-error-rgb-light: 186, 26, 26;
  --md-sys-color-on-error-rgb-light: 255, 255, 255;
  --md-sys-color-error-container-rgb-light: 255, 218, 214;
  --md-sys-color-on-error-container-rgb-light: 65, 0, 2;
  --md-sys-color-background-rgb-light: 255, 251, 255;
  --md-sys-color-on-background-rgb-light: 28, 28, 23;
  --md-sys-color-surface-rgb-light: 255, 251, 255;
  --md-sys-color-on-surface-rgb-light: 28, 28, 23;
  --md-sys-color-surface-variant-rgb-light: 230, 227, 209;
  --md-sys-color-on-surface-variant-rgb-light: 72, 71, 58;
  --md-sys-color-outline-rgb-light: 121, 120, 105;
  --md-sys-color-shadow-rgb-light: 0, 0, 0;
  --md-sys-color-inverse-surface-rgb-light: 49, 49, 43;
  --md-sys-color-inverse-on-surface-rgb-light: 244, 240, 232;
  --md-sys-color-inverse-primary-rgb-light: 204, 204, 82;
  /* dark */
  --md-sys-color-primary-rgb-dark: 204, 204, 82;
  --md-sys-color-on-primary-rgb-dark: 50, 50, 0;
  --md-sys-color-primary-container-rgb-dark: 73, 73, 0;
  --md-sys-color-on-primary-container-rgb-dark: 233, 232, 107;
  --md-sys-color-secondary-rgb-dark: 202, 200, 165;
  --md-sys-color-on-secondary-rgb-dark: 50, 50, 24;
  --md-sys-color-secondary-container-rgb-dark: 73, 72, 45;
  --md-sys-color-on-secondary-container-rgb-dark: 231, 228, 191;
  --md-sys-color-tertiary-rgb-dark: 164, 208, 189;
  --md-sys-color-on-tertiary-rgb-dark: 11, 55, 42;
  --md-sys-color-tertiary-container-rgb-dark: 37, 78, 64;
  --md-sys-color-on-tertiary-container-rgb-dark: 191, 236, 216;
  --md-sys-color-error-rgb-dark: 255, 180, 171;
  --md-sys-color-on-error-rgb-dark: 105, 0, 5;
  --md-sys-color-error-container-rgb-dark: 147, 0, 10;
  --md-sys-color-on-error-container-rgb-dark: 255, 180, 171;
  --md-sys-color-background-rgb-dark: 28, 28, 23;
  --md-sys-color-on-background-rgb-dark: 230, 226, 217;
  --md-sys-color-surface-rgb-dark: 28, 28, 23;
  --md-sys-color-on-surface-rgb-dark: 230, 226, 217;
  --md-sys-color-surface-variant-rgb-dark: 72, 71, 58;
  --md-sys-color-on-surface-variant-rgb-dark: 202, 199, 182;
  --md-sys-color-outline-rgb-dark: 147, 145, 130;
  --md-sys-color-shadow-rgb-dark: 0, 0, 0;
  --md-sys-color-inverse-surface-rgb-dark: 230, 226, 217;
  --md-sys-color-inverse-on-surface-rgb-dark: 49, 49, 43;
  --md-sys-color-inverse-primary-rgb-dark: 98, 98, 0;
  /* primary */
  --md-ref-palette-primary0: #000000;
  --md-ref-palette-primary5: #121200;
  --md-ref-palette-primary10: #1d1d00;
  --md-ref-palette-primary20: #323200;
  --md-ref-palette-primary25: #3e3e00;
  --md-ref-palette-primary30: #494900;
  --md-ref-palette-primary35: #555500;
  --md-ref-palette-primary40: #626200;
  --md-ref-palette-primary50: #7b7b00;
  --md-ref-palette-primary60: #95951f;
  --md-ref-palette-primary70: #b0b039;
  --md-ref-palette-primary80: #cccc52;
  --md-ref-palette-primary90: #e9e86b;
  --md-ref-palette-primary95: #f7f778;
  --md-ref-palette-primary98: #fffeac;
  --md-ref-palette-primary99: #fffbff;
  --md-ref-palette-primary100: #ffffff;
  /* secondary */
  --md-ref-palette-secondary0: #000000;
  --md-ref-palette-secondary5: #121201;
  --md-ref-palette-secondary10: #1d1d06;
  --md-ref-palette-secondary20: #323218;
  --md-ref-palette-secondary25: #3d3d22;
  --md-ref-palette-secondary30: #49482d;
  --md-ref-palette-secondary35: #545438;
  --md-ref-palette-secondary40: #616043;
  --md-ref-palette-secondary50: #7a795a;
  --md-ref-palette-secondary60: #949272;
  --md-ref-palette-secondary70: #aead8b;
  --md-ref-palette-secondary80: #cac8a5;
  --md-ref-palette-secondary90: #e7e4bf;
  --md-ref-palette-secondary95: #f5f3cd;
  --md-ref-palette-secondary98: #fefbd5;
  --md-ref-palette-secondary99: #fffbff;
  --md-ref-palette-secondary100: #ffffff;
  /* tertiary */
  --md-ref-palette-tertiary0: #000000;
  --md-ref-palette-tertiary5: #00150d;
  --md-ref-palette-tertiary10: #002117;
  --md-ref-palette-tertiary20: #0b372a;
  --md-ref-palette-tertiary25: #194334;
  --md-ref-palette-tertiary30: #254e40;
  --md-ref-palette-tertiary35: #315a4b;
  --md-ref-palette-tertiary40: #3d6657;
  --md-ref-palette-tertiary50: #567f6f;
  --md-ref-palette-tertiary60: #6f9a88;
  --md-ref-palette-tertiary70: #89b4a2;
  --md-ref-palette-tertiary80: #a4d0bd;
  --md-ref-palette-tertiary90: #bfecd8;
  --md-ref-palette-tertiary95: #cdfbe6;
  --md-ref-palette-tertiary98: #e7fff2;
  --md-ref-palette-tertiary99: #f4fff8;
  --md-ref-palette-tertiary100: #ffffff;
  /* neutral */
  --md-ref-palette-neutral0: #000000;
  --md-ref-palette-neutral5: #11110c;
  --md-ref-palette-neutral10: #1c1c17;
  --md-ref-palette-neutral20: #31312b;
  --md-ref-palette-neutral25: #3c3c35;
  --md-ref-palette-neutral30: #484741;
  --md-ref-palette-neutral35: #54524c;
  --md-ref-palette-neutral40: #605e58;
  --md-ref-palette-neutral50: #797770;
  --md-ref-palette-neutral60: #939189;
  --md-ref-palette-neutral70: #aeaba3;
  --md-ref-palette-neutral80: #c9c6be;
  --md-ref-palette-neutral90: #e6e2d9;
  --md-ref-palette-neutral95: #f4f0e8;
  --md-ref-palette-neutral98: #fdf9f0;
  --md-ref-palette-neutral99: #fffbff;
  --md-ref-palette-neutral100: #ffffff;
  /* neutralVariant */
  --md-ref-palette-neutral-variant0: #000000;
  --md-ref-palette-neutral-variant5: #121107;
  --md-ref-palette-neutral-variant10: #1c1c11;
  --md-ref-palette-neutral-variant20: #313125;
  --md-ref-palette-neutral-variant25: #3d3c2f;
  --md-ref-palette-neutral-variant30: #48473a;
  --md-ref-palette-neutral-variant35: #545345;
  --md-ref-palette-neutral-variant40: #605f51;
  --md-ref-palette-neutral-variant50: #797869;
  --md-ref-palette-neutral-variant60: #939182;
  --md-ref-palette-neutral-variant70: #aeac9b;
  --md-ref-palette-neutral-variant80: #cac7b6;
  --md-ref-palette-neutral-variant90: #e6e3d1;
  --md-ref-palette-neutral-variant95: #f4f1df;
  --md-ref-palette-neutral-variant98: #fdfae7;
  --md-ref-palette-neutral-variant99: #fffbff;
  --md-ref-palette-neutral-variant100: #ffffff;
  /* error */
  --md-ref-palette-error0: #000000;
  --md-ref-palette-error5: #2d0001;
  --md-ref-palette-error10: #410002;
  --md-ref-palette-error20: #690005;
  --md-ref-palette-error25: #7e0007;
  --md-ref-palette-error30: #93000a;
  --md-ref-palette-error35: #a80710;
  --md-ref-palette-error40: #ba1a1a;
  --md-ref-palette-error50: #de3730;
  --md-ref-palette-error60: #ff5449;
  --md-ref-palette-error70: #ff897d;
  --md-ref-palette-error80: #ffb4ab;
  --md-ref-palette-error90: #ffdad6;
  --md-ref-palette-error95: #ffedea;
  --md-ref-palette-error98: #fff8f7;
  --md-ref-palette-error99: #fffbff;
  --md-ref-palette-error100: #ffffff;
}