body, .tokens {
--md-source: #FFA500;
  /* light */
  --md-sys-color-primary-rgb-light: 133, 84, 0;
  --md-sys-color-on-primary-rgb-light: 255, 255, 255;
  --md-sys-color-primary-container-rgb-light: 255, 221, 183;
  --md-sys-color-on-primary-container-rgb-light: 42, 23, 0;
  --md-sys-color-secondary-rgb-light: 112, 91, 65;
  --md-sys-color-on-secondary-rgb-light: 255, 255, 255;
  --md-sys-color-secondary-container-rgb-light: 252, 222, 188;
  --md-sys-color-on-secondary-container-rgb-light: 40, 24, 5;
  --md-sys-color-tertiary-rgb-light: 83, 100, 62;
  --md-sys-color-on-tertiary-rgb-light: 255, 255, 255;
  --md-sys-color-tertiary-container-rgb-light: 214, 233, 185;
  --md-sys-color-on-tertiary-container-rgb-light: 18, 31, 3;
  --md-sys-color-error-rgb-light: 186, 26, 26;
  --md-sys-color-on-error-rgb-light: 255, 255, 255;
  --md-sys-color-error-container-rgb-light: 255, 218, 214;
  --md-sys-color-on-error-container-rgb-light: 65, 0, 2;
  --md-sys-color-background-rgb-light: 255, 251, 255;
  --md-sys-color-on-background-rgb-light: 31, 27, 22;
  --md-sys-color-surface-rgb-light: 255, 251, 255;
  --md-sys-color-on-surface-rgb-light: 31, 27, 22;
  --md-sys-color-surface-variant-rgb-light: 240, 224, 208;
  --md-sys-color-on-surface-variant-rgb-light: 80, 69, 57;
  --md-sys-color-outline-rgb-light: 130, 117, 104;
  --md-sys-color-shadow-rgb-light: 0, 0, 0;
  --md-sys-color-inverse-surface-rgb-light: 53, 47, 42;
  --md-sys-color-inverse-on-surface-rgb-light: 249, 239, 231;
  --md-sys-color-inverse-primary-rgb-light: 255, 185, 92;
  /* dark */
  --md-sys-color-primary-rgb-dark: 255, 185, 92;
  --md-sys-color-on-primary-rgb-dark: 70, 42, 0;
  --md-sys-color-primary-container-rgb-dark: 101, 62, 0;
  --md-sys-color-on-primary-container-rgb-dark: 255, 221, 183;
  --md-sys-color-secondary-rgb-dark: 223, 194, 162;
  --md-sys-color-on-secondary-rgb-dark: 63, 45, 23;
  --md-sys-color-secondary-container-rgb-dark: 87, 67, 43;
  --md-sys-color-on-secondary-container-rgb-dark: 252, 222, 188;
  --md-sys-color-tertiary-rgb-dark: 186, 205, 159;
  --md-sys-color-on-tertiary-rgb-dark: 38, 53, 20;
  --md-sys-color-tertiary-container-rgb-dark: 60, 76, 40;
  --md-sys-color-on-tertiary-container-rgb-dark: 214, 233, 185;
  --md-sys-color-error-rgb-dark: 255, 180, 171;
  --md-sys-color-on-error-rgb-dark: 105, 0, 5;
  --md-sys-color-error-container-rgb-dark: 147, 0, 10;
  --md-sys-color-on-error-container-rgb-dark: 255, 180, 171;
  --md-sys-color-background-rgb-dark: 31, 27, 22;
  --md-sys-color-on-background-rgb-dark: 235, 225, 217;
  --md-sys-color-surface-rgb-dark: 31, 27, 22;
  --md-sys-color-on-surface-rgb-dark: 235, 225, 217;
  --md-sys-color-surface-variant-rgb-dark: 80, 69, 57;
  --md-sys-color-on-surface-variant-rgb-dark: 212, 196, 181;
  --md-sys-color-outline-rgb-dark: 156, 142, 128;
  --md-sys-color-shadow-rgb-dark: 0, 0, 0;
  --md-sys-color-inverse-surface-rgb-dark: 235, 225, 217;
  --md-sys-color-inverse-on-surface-rgb-dark: 53, 47, 42;
  --md-sys-color-inverse-primary-rgb-dark: 133, 84, 0;
  /* primary */
  --md-ref-palette-primary0: #000000;
  --md-ref-palette-primary5: #1c0e00;
  --md-ref-palette-primary10: #2a1700;
  --md-ref-palette-primary20: #462a00;
  --md-ref-palette-primary25: #553400;
  --md-ref-palette-primary30: #653e00;
  --md-ref-palette-primary35: #744900;
  --md-ref-palette-primary40: #855400;
  --md-ref-palette-primary50: #a66a00;
  --md-ref-palette-primary60: #c98100;
  --md-ref-palette-primary70: #ed9900;
  --md-ref-palette-primary80: #ffb95c;
  --md-ref-palette-primary90: #ffddb7;
  --md-ref-palette-primary95: #ffeede;
  --md-ref-palette-primary98: #fff8f4;
  --md-ref-palette-primary99: #fffbff;
  --md-ref-palette-primary100: #ffffff;
  /* secondary */
  --md-ref-palette-secondary0: #000000;
  --md-ref-palette-secondary5: #1b0e00;
  --md-ref-palette-secondary10: #281805;
  --md-ref-palette-secondary20: #3f2d17;
  --md-ref-palette-secondary25: #4b3821;
  --md-ref-palette-secondary30: #57432b;
  --md-ref-palette-secondary35: #644f36;
  --md-ref-palette-secondary40: #705b41;
  --md-ref-palette-secondary50: #8b7357;
  --md-ref-palette-secondary60: #a68c6f;
  --md-ref-palette-secondary70: #c2a788;
  --md-ref-palette-secondary80: #dfc2a2;
  --md-ref-palette-secondary90: #fcdebc;
  --md-ref-palette-secondary95: #ffeede;
  --md-ref-palette-secondary98: #fff8f4;
  --md-ref-palette-secondary99: #fffbff;
  --md-ref-palette-secondary100: #ffffff;
  /* tertiary */
  --md-ref-palette-tertiary0: #000000;
  --md-ref-palette-tertiary5: #091400;
  --md-ref-palette-tertiary10: #121f03;
  --md-ref-palette-tertiary20: #263514;
  --md-ref-palette-tertiary25: #31401e;
  --md-ref-palette-tertiary30: #3c4c28;
  --md-ref-palette-tertiary35: #485833;
  --md-ref-palette-tertiary40: #53643e;
  --md-ref-palette-tertiary50: #6c7d54;
  --md-ref-palette-tertiary60: #85976c;
  --md-ref-palette-tertiary70: #9fb285;
  --md-ref-palette-tertiary80: #bacd9f;
  --md-ref-palette-tertiary90: #d6e9b9;
  --md-ref-palette-tertiary95: #e4f8c7;
  --md-ref-palette-tertiary98: #f0ffd6;
  --md-ref-palette-tertiary99: #f9ffe8;
  --md-ref-palette-tertiary100: #ffffff;
  /* neutral */
  --md-ref-palette-neutral0: #000000;
  --md-ref-palette-neutral5: #14100c;
  --md-ref-palette-neutral10: #1f1b16;
  --md-ref-palette-neutral20: #352f2a;
  --md-ref-palette-neutral25: #403a35;
  --md-ref-palette-neutral30: #4c4640;
  --md-ref-palette-neutral35: #58514b;
  --md-ref-palette-neutral40: #645d57;
  --md-ref-palette-neutral50: #7d766f;
  --md-ref-palette-neutral60: #978f88;
  --md-ref-palette-neutral70: #b2aaa2;
  --md-ref-palette-neutral80: #cec5bd;
  --md-ref-palette-neutral90: #ebe1d9;
  --md-ref-palette-neutral95: #f9efe7;
  --md-ref-palette-neutral98: #fff8f4;
  --md-ref-palette-neutral99: #fffbff;
  --md-ref-palette-neutral100: #ffffff;
  /* neutralVariant */
  --md-ref-palette-neutralVariant0: #000000;
  --md-ref-palette-neutralVariant5: #171007;
  --md-ref-palette-neutralVariant10: #221a10;
  --md-ref-palette-neutralVariant20: #382f24;
  --md-ref-palette-neutralVariant25: #443a2e;
  --md-ref-palette-neutralVariant30: #504539;
  --md-ref-palette-neutralVariant35: #5c5144;
  --md-ref-palette-neutralVariant40: #685c50;
  --md-ref-palette-neutralVariant50: #827568;
  --md-ref-palette-neutralVariant60: #9c8e80;
  --md-ref-palette-neutralVariant70: #b8a99a;
  --md-ref-palette-neutralVariant80: #d4c4b5;
  --md-ref-palette-neutralVariant90: #f0e0d0;
  --md-ref-palette-neutralVariant95: #ffeede;
  --md-ref-palette-neutralVariant98: #fff8f4;
  --md-ref-palette-neutralVariant99: #fffbff;
  --md-ref-palette-neutralVariant100: #ffffff;
  /* error */
  --md-ref-palette-error0: #000000;
  --md-ref-palette-error5: #2d0001;
  --md-ref-palette-error10: #410002;
  --md-ref-palette-error20: #690005;
  --md-ref-palette-error25: #7e0007;
  --md-ref-palette-error30: #93000a;
  --md-ref-palette-error35: #a80710;
  --md-ref-palette-error40: #ba1a1a;
  --md-ref-palette-error50: #de3730;
  --md-ref-palette-error60: #ff5449;
  --md-ref-palette-error70: #ff897d;
  --md-ref-palette-error80: #ffb4ab;
  --md-ref-palette-error90: #ffdad6;
  --md-ref-palette-error95: #ffedea;
  --md-ref-palette-error98: #fff8f7;
  --md-ref-palette-error99: #fffbff;
  --md-ref-palette-error100: #ffffff;
}