:where(html, .tokens) {
--md-source: #DA70D6;
  /* primary */
  --md-ref-palette-primary0-rgb: 0, 0, 0;
  --md-ref-palette-primary5-rgb: 38, 0, 39;
  --md-ref-palette-primary10-rgb: 55, 0, 58;
  --md-ref-palette-primary20-rgb: 90, 0, 93;
  --md-ref-palette-primary25-rgb: 109, 0, 112;
  --md-ref-palette-primary30-rgb: 123, 22, 125;
  --md-ref-palette-primary35-rgb: 137, 38, 138;
  --md-ref-palette-primary40-rgb: 151, 52, 151;
  --md-ref-palette-primary50-rgb: 180, 78, 178;
  --md-ref-palette-primary60-rgb: 210, 105, 206;
  --md-ref-palette-primary70-rgb: 240, 131, 235;
  --md-ref-palette-primary80-rgb: 255, 170, 247;
  --md-ref-palette-primary90-rgb: 255, 214, 247;
  --md-ref-palette-primary95-rgb: 255, 235, 248;
  --md-ref-palette-primary98-rgb: 255, 247, 249;
  --md-ref-palette-primary99-rgb: 255, 251, 255;
  --md-ref-palette-primary100-rgb: 255, 255, 255;
  /* secondary */
  --md-ref-palette-secondary0-rgb: 0, 0, 0;
  --md-ref-palette-secondary5-rgb: 27, 12, 26;
  --md-ref-palette-secondary10-rgb: 38, 22, 37;
  --md-ref-palette-secondary20-rgb: 61, 43, 58;
  --md-ref-palette-secondary25-rgb: 72, 54, 69;
  --md-ref-palette-secondary30-rgb: 84, 65, 81;
  --md-ref-palette-secondary35-rgb: 96, 76, 93;
  --md-ref-palette-secondary40-rgb: 109, 88, 105;
  --md-ref-palette-secondary50-rgb: 135, 112, 130;
  --md-ref-palette-secondary60-rgb: 162, 138, 156;
  --md-ref-palette-secondary70-rgb: 189, 164, 183;
  --md-ref-palette-secondary80-rgb: 217, 191, 211;
  --md-ref-palette-secondary90-rgb: 246, 218, 239;
  --md-ref-palette-secondary95-rgb: 255, 235, 248;
  --md-ref-palette-secondary98-rgb: 255, 247, 249;
  --md-ref-palette-secondary99-rgb: 255, 251, 255;
  --md-ref-palette-secondary100-rgb: 255, 255, 255;
  /* tertiary */
  --md-ref-palette-tertiary0-rgb: 0, 0, 0;
  --md-ref-palette-tertiary5-rgb: 37, 7, 2;
  --md-ref-palette-tertiary10-rgb: 50, 18, 9;
  --md-ref-palette-tertiary20-rgb: 76, 38, 28;
  --md-ref-palette-tertiary25-rgb: 89, 48, 38;
  --md-ref-palette-tertiary30-rgb: 102, 59, 48;
  --md-ref-palette-tertiary35-rgb: 116, 71, 59;
  --md-ref-palette-tertiary40-rgb: 130, 82, 70;
  --md-ref-palette-tertiary50-rgb: 158, 106, 93;
  --md-ref-palette-tertiary60-rgb: 186, 131, 117;
  --md-ref-palette-tertiary70-rgb: 216, 157, 143;
  --md-ref-palette-tertiary80-rgb: 246, 184, 168;
  --md-ref-palette-tertiary90-rgb: 255, 219, 210;
  --md-ref-palette-tertiary95-rgb: 255, 237, 233;
  --md-ref-palette-tertiary98-rgb: 255, 248, 246;
  --md-ref-palette-tertiary99-rgb: 255, 251, 255;
  --md-ref-palette-tertiary100-rgb: 255, 255, 255;
  /* neutral */
  --md-ref-palette-neutral0-rgb: 0, 0, 0;
  --md-ref-palette-neutral5-rgb: 19, 16, 19;
  --md-ref-palette-neutral10-rgb: 30, 26, 29;
  --md-ref-palette-neutral20-rgb: 52, 47, 50;
  --md-ref-palette-neutral25-rgb: 63, 58, 61;
  --md-ref-palette-neutral30-rgb: 75, 69, 72;
  --md-ref-palette-neutral35-rgb: 86, 81, 84;
  --md-ref-palette-neutral40-rgb: 99, 93, 96;
  --md-ref-palette-neutral50-rgb: 124, 117, 121;
  --md-ref-palette-neutral60-rgb: 150, 143, 146;
  --md-ref-palette-neutral70-rgb: 177, 169, 173;
  --md-ref-palette-neutral80-rgb: 205, 196, 200;
  --md-ref-palette-neutral90-rgb: 233, 224, 228;
  --md-ref-palette-neutral95-rgb: 248, 238, 242;
  --md-ref-palette-neutral98-rgb: 255, 247, 249;
  --md-ref-palette-neutral99-rgb: 255, 251, 255;
  --md-ref-palette-neutral100-rgb: 255, 255, 255;
  /* neutralVariant */
  --md-ref-palette-neutral-variant0-rgb: 0, 0, 0;
  --md-ref-palette-neutral-variant5-rgb: 22, 15, 21;
  --md-ref-palette-neutral-variant10-rgb: 33, 25, 32;
  --md-ref-palette-neutral-variant20-rgb: 55, 46, 53;
  --md-ref-palette-neutral-variant25-rgb: 66, 57, 64;
  --md-ref-palette-neutral-variant30-rgb: 78, 68, 75;
  --md-ref-palette-neutral-variant35-rgb: 90, 79, 87;
  --md-ref-palette-neutral-variant40-rgb: 102, 91, 99;
  --md-ref-palette-neutral-variant50-rgb: 127, 116, 124;
  --md-ref-palette-neutral-variant60-rgb: 154, 141, 149;
  --md-ref-palette-neutral-variant70-rgb: 181, 167, 176;
  --md-ref-palette-neutral-variant80-rgb: 209, 195, 203;
  --md-ref-palette-neutral-variant90-rgb: 237, 222, 231;
  --md-ref-palette-neutral-variant95-rgb: 252, 236, 246;
  --md-ref-palette-neutral-variant98-rgb: 255, 247, 249;
  --md-ref-palette-neutral-variant99-rgb: 255, 251, 255;
  --md-ref-palette-neutral-variant100-rgb: 255, 255, 255;
  /* error */
  --md-ref-palette-error0-rgb: 0, 0, 0;
  --md-ref-palette-error5-rgb: 45, 0, 1;
  --md-ref-palette-error10-rgb: 65, 0, 2;
  --md-ref-palette-error20-rgb: 105, 0, 5;
  --md-ref-palette-error25-rgb: 126, 0, 7;
  --md-ref-palette-error30-rgb: 147, 0, 10;
  --md-ref-palette-error35-rgb: 168, 7, 16;
  --md-ref-palette-error40-rgb: 186, 26, 26;
  --md-ref-palette-error50-rgb: 222, 55, 48;
  --md-ref-palette-error60-rgb: 255, 84, 73;
  --md-ref-palette-error70-rgb: 255, 137, 125;
  --md-ref-palette-error80-rgb: 255, 180, 171;
  --md-ref-palette-error90-rgb: 255, 218, 214;
  --md-ref-palette-error95-rgb: 255, 237, 234;
  --md-ref-palette-error98-rgb: 255, 248, 247;
  --md-ref-palette-error99-rgb: 255, 251, 255;
  --md-ref-palette-error100-rgb: 255, 255, 255;
}