body, .tokens {
--md-source: #EEE8AA;
  /* light */
  --md-sys-color-primary-rgb-light: 102, 96, 0;
  --md-sys-color-on-primary-rgb-light: 255, 255, 255;
  --md-sys-color-primary-container-rgb-light: 239, 230, 108;
  --md-sys-color-on-primary-container-rgb-light: 30, 28, 0;
  --md-sys-color-secondary-rgb-light: 98, 95, 66;
  --md-sys-color-on-secondary-rgb-light: 255, 255, 255;
  --md-sys-color-secondary-container-rgb-light: 233, 228, 190;
  --md-sys-color-on-secondary-container-rgb-light: 30, 28, 5;
  --md-sys-color-tertiary-rgb-light: 63, 102, 84;
  --md-sys-color-on-tertiary-rgb-light: 255, 255, 255;
  --md-sys-color-tertiary-container-rgb-light: 193, 236, 213;
  --md-sys-color-on-tertiary-container-rgb-light: 0, 33, 21;
  --md-sys-color-error-rgb-light: 186, 26, 26;
  --md-sys-color-on-error-rgb-light: 255, 255, 255;
  --md-sys-color-error-container-rgb-light: 255, 218, 214;
  --md-sys-color-on-error-container-rgb-light: 65, 0, 2;
  --md-sys-color-background-rgb-light: 255, 251, 255;
  --md-sys-color-on-background-rgb-light: 28, 28, 22;
  --md-sys-color-surface-rgb-light: 255, 251, 255;
  --md-sys-color-on-surface-rgb-light: 28, 28, 22;
  --md-sys-color-surface-variant-rgb-light: 231, 227, 209;
  --md-sys-color-on-surface-variant-rgb-light: 73, 71, 58;
  --md-sys-color-outline-rgb-light: 122, 119, 104;
  --md-sys-color-shadow-rgb-light: 0, 0, 0;
  --md-sys-color-inverse-surface-rgb-light: 50, 48, 43;
  --md-sys-color-inverse-on-surface-rgb-light: 245, 240, 231;
  --md-sys-color-inverse-primary-rgb-light: 210, 202, 83;
  /* dark */
  --md-sys-color-primary-rgb-dark: 210, 202, 83;
  --md-sys-color-on-primary-rgb-dark: 53, 50, 0;
  --md-sys-color-primary-container-rgb-dark: 76, 72, 0;
  --md-sys-color-on-primary-container-rgb-dark: 239, 230, 108;
  --md-sys-color-secondary-rgb-dark: 204, 200, 163;
  --md-sys-color-on-secondary-rgb-dark: 51, 49, 24;
  --md-sys-color-secondary-container-rgb-dark: 74, 72, 44;
  --md-sys-color-on-secondary-container-rgb-dark: 233, 228, 190;
  --md-sys-color-tertiary-rgb-dark: 165, 208, 186;
  --md-sys-color-on-tertiary-rgb-dark: 14, 55, 40;
  --md-sys-color-tertiary-container-rgb-dark: 39, 78, 61;
  --md-sys-color-on-tertiary-container-rgb-dark: 193, 236, 213;
  --md-sys-color-error-rgb-dark: 255, 180, 171;
  --md-sys-color-on-error-rgb-dark: 105, 0, 5;
  --md-sys-color-error-container-rgb-dark: 147, 0, 10;
  --md-sys-color-on-error-container-rgb-dark: 255, 180, 171;
  --md-sys-color-background-rgb-dark: 28, 28, 22;
  --md-sys-color-on-background-rgb-dark: 230, 226, 217;
  --md-sys-color-surface-rgb-dark: 28, 28, 22;
  --md-sys-color-on-surface-rgb-dark: 230, 226, 217;
  --md-sys-color-surface-variant-rgb-dark: 73, 71, 58;
  --md-sys-color-on-surface-variant-rgb-dark: 203, 199, 181;
  --md-sys-color-outline-rgb-dark: 148, 145, 129;
  --md-sys-color-shadow-rgb-dark: 0, 0, 0;
  --md-sys-color-inverse-surface-rgb-dark: 230, 226, 217;
  --md-sys-color-inverse-on-surface-rgb-dark: 50, 48, 43;
  --md-sys-color-inverse-primary-rgb-dark: 102, 96, 0;
  /* primary */
  --md-ref-palette-primary0: #000000;
  --md-ref-palette-primary5: #131100;
  --md-ref-palette-primary10: #1e1c00;
  --md-ref-palette-primary20: #353200;
  --md-ref-palette-primary25: #403d00;
  --md-ref-palette-primary30: #4c4800;
  --md-ref-palette-primary35: #595400;
  --md-ref-palette-primary40: #666000;
  --md-ref-palette-primary50: #807a00;
  --md-ref-palette-primary60: #9b941f;
  --md-ref-palette-primary70: #b6af3a;
  --md-ref-palette-primary80: #d2ca53;
  --md-ref-palette-primary90: #efe66c;
  --md-ref-palette-primary95: #fef578;
  --md-ref-palette-primary98: #fffadf;
  --md-ref-palette-primary99: #fffbff;
  --md-ref-palette-primary100: #ffffff;
  /* secondary */
  --md-ref-palette-secondary0: #000000;
  --md-ref-palette-secondary5: #131100;
  --md-ref-palette-secondary10: #1e1c05;
  --md-ref-palette-secondary20: #333118;
  --md-ref-palette-secondary25: #3e3c22;
  --md-ref-palette-secondary30: #4a482c;
  --md-ref-palette-secondary35: #565337;
  --md-ref-palette-secondary40: #625f42;
  --md-ref-palette-secondary50: #7b7859;
  --md-ref-palette-secondary60: #959271;
  --md-ref-palette-secondary70: #b0ac8a;
  --md-ref-palette-secondary80: #ccc8a3;
  --md-ref-palette-secondary90: #e9e4be;
  --md-ref-palette-secondary95: #f7f2cc;
  --md-ref-palette-secondary98: #fffadf;
  --md-ref-palette-secondary99: #fffbff;
  --md-ref-palette-secondary100: #ffffff;
  /* tertiary */
  --md-ref-palette-tertiary0: #000000;
  --md-ref-palette-tertiary5: #00150c;
  --md-ref-palette-tertiary10: #002115;
  --md-ref-palette-tertiary20: #0e3728;
  --md-ref-palette-tertiary25: #1b4232;
  --md-ref-palette-tertiary30: #274e3d;
  --md-ref-palette-tertiary35: #335a49;
  --md-ref-palette-tertiary40: #3f6654;
  --md-ref-palette-tertiary50: #577f6c;
  --md-ref-palette-tertiary60: #719985;
  --md-ref-palette-tertiary70: #8bb49f;
  --md-ref-palette-tertiary80: #a5d0ba;
  --md-ref-palette-tertiary90: #c1ecd5;
  --md-ref-palette-tertiary95: #cffbe3;
  --md-ref-palette-tertiary98: #e7fff1;
  --md-ref-palette-tertiary99: #f4fff7;
  --md-ref-palette-tertiary100: #ffffff;
  /* neutral */
  --md-ref-palette-neutral0: #000000;
  --md-ref-palette-neutral5: #12110c;
  --md-ref-palette-neutral10: #1c1c16;
  --md-ref-palette-neutral20: #32302b;
  --md-ref-palette-neutral25: #3d3b35;
  --md-ref-palette-neutral30: #484740;
  --md-ref-palette-neutral35: #54524c;
  --md-ref-palette-neutral40: #605e57;
  --md-ref-palette-neutral50: #797770;
  --md-ref-palette-neutral60: #939089;
  --md-ref-palette-neutral70: #aeaba3;
  --md-ref-palette-neutral80: #cac6be;
  --md-ref-palette-neutral90: #e6e2d9;
  --md-ref-palette-neutral95: #f5f0e7;
  --md-ref-palette-neutral98: #fdf9f0;
  --md-ref-palette-neutral99: #fffbff;
  --md-ref-palette-neutral100: #ffffff;
  /* neutralVariant */
  --md-ref-palette-neutral-variant0: #000000;
  --md-ref-palette-neutral-variant5: #121107;
  --md-ref-palette-neutral-variant10: #1d1c11;
  --md-ref-palette-neutral-variant20: #323125;
  --md-ref-palette-neutral-variant25: #3d3c2f;
  --md-ref-palette-neutral-variant30: #49473a;
  --md-ref-palette-neutral-variant35: #555345;
  --md-ref-palette-neutral-variant40: #615f51;
  --md-ref-palette-neutral-variant50: #7a7768;
  --md-ref-palette-neutral-variant60: #949181;
  --md-ref-palette-neutral-variant70: #afab9b;
  --md-ref-palette-neutral-variant80: #cbc7b5;
  --md-ref-palette-neutral-variant90: #e7e3d1;
  --md-ref-palette-neutral-variant95: #f5f1de;
  --md-ref-palette-neutral-variant98: #fef9e7;
  --md-ref-palette-neutral-variant99: #fffbff;
  --md-ref-palette-neutral-variant100: #ffffff;
  /* error */
  --md-ref-palette-error0: #000000;
  --md-ref-palette-error5: #2d0001;
  --md-ref-palette-error10: #410002;
  --md-ref-palette-error20: #690005;
  --md-ref-palette-error25: #7e0007;
  --md-ref-palette-error30: #93000a;
  --md-ref-palette-error35: #a80710;
  --md-ref-palette-error40: #ba1a1a;
  --md-ref-palette-error50: #de3730;
  --md-ref-palette-error60: #ff5449;
  --md-ref-palette-error70: #ff897d;
  --md-ref-palette-error80: #ffb4ab;
  --md-ref-palette-error90: #ffdad6;
  --md-ref-palette-error95: #ffedea;
  --md-ref-palette-error98: #fff8f7;
  --md-ref-palette-error99: #fffbff;
  --md-ref-palette-error100: #ffffff;
}