body, .tokens {
--md-source: #98FB98;
  /* light */
  --md-sys-color-primary-rgb-light: 0, 110, 33;
  --md-sys-color-on-primary-rgb-light: 255, 255, 255;
  --md-sys-color-primary-container-rgb-light: 150, 249, 150;
  --md-sys-color-on-primary-container-rgb-light: 0, 33, 5;
  --md-sys-color-secondary-rgb-light: 82, 99, 79;
  --md-sys-color-on-secondary-rgb-light: 255, 255, 255;
  --md-sys-color-secondary-container-rgb-light: 213, 232, 207;
  --md-sys-color-on-secondary-container-rgb-light: 16, 31, 16;
  --md-sys-color-tertiary-rgb-light: 57, 101, 107;
  --md-sys-color-on-tertiary-rgb-light: 255, 255, 255;
  --md-sys-color-tertiary-container-rgb-light: 188, 235, 241;
  --md-sys-color-on-tertiary-container-rgb-light: 0, 31, 35;
  --md-sys-color-error-rgb-light: 186, 26, 26;
  --md-sys-color-on-error-rgb-light: 255, 255, 255;
  --md-sys-color-error-container-rgb-light: 255, 218, 214;
  --md-sys-color-on-error-container-rgb-light: 65, 0, 2;
  --md-sys-color-background-rgb-light: 252, 253, 246;
  --md-sys-color-on-background-rgb-light: 26, 28, 25;
  --md-sys-color-surface-rgb-light: 252, 253, 246;
  --md-sys-color-on-surface-rgb-light: 26, 28, 25;
  --md-sys-color-surface-variant-rgb-light: 222, 229, 217;
  --md-sys-color-on-surface-variant-rgb-light: 66, 73, 64;
  --md-sys-color-outline-rgb-light: 114, 121, 111;
  --md-sys-color-shadow-rgb-light: 0, 0, 0;
  --md-sys-color-inverse-surface-rgb-light: 47, 49, 45;
  --md-sys-color-inverse-on-surface-rgb-light: 240, 241, 235;
  --md-sys-color-inverse-primary-rgb-light: 122, 220, 125;
  /* dark */
  --md-sys-color-primary-rgb-dark: 122, 220, 125;
  --md-sys-color-on-primary-rgb-dark: 0, 57, 13;
  --md-sys-color-primary-container-rgb-dark: 0, 83, 22;
  --md-sys-color-on-primary-container-rgb-dark: 150, 249, 150;
  --md-sys-color-secondary-rgb-dark: 185, 204, 180;
  --md-sys-color-on-secondary-rgb-dark: 37, 52, 35;
  --md-sys-color-secondary-container-rgb-dark: 59, 75, 57;
  --md-sys-color-on-secondary-container-rgb-dark: 213, 232, 207;
  --md-sys-color-tertiary-rgb-dark: 161, 206, 213;
  --md-sys-color-on-tertiary-rgb-dark: 0, 54, 60;
  --md-sys-color-tertiary-container-rgb-dark: 31, 77, 83;
  --md-sys-color-on-tertiary-container-rgb-dark: 188, 235, 241;
  --md-sys-color-error-rgb-dark: 255, 180, 171;
  --md-sys-color-on-error-rgb-dark: 105, 0, 5;
  --md-sys-color-error-container-rgb-dark: 147, 0, 10;
  --md-sys-color-on-error-container-rgb-dark: 255, 180, 171;
  --md-sys-color-background-rgb-dark: 26, 28, 25;
  --md-sys-color-on-background-rgb-dark: 226, 227, 221;
  --md-sys-color-surface-rgb-dark: 26, 28, 25;
  --md-sys-color-on-surface-rgb-dark: 226, 227, 221;
  --md-sys-color-surface-variant-rgb-dark: 66, 73, 64;
  --md-sys-color-on-surface-variant-rgb-dark: 194, 201, 189;
  --md-sys-color-outline-rgb-dark: 140, 147, 136;
  --md-sys-color-shadow-rgb-dark: 0, 0, 0;
  --md-sys-color-inverse-surface-rgb-dark: 226, 227, 221;
  --md-sys-color-inverse-on-surface-rgb-dark: 47, 49, 45;
  --md-sys-color-inverse-primary-rgb-dark: 0, 110, 33;
  /* primary */
  --md-ref-palette-primary0: #000000;
  --md-ref-palette-primary5: #001502;
  --md-ref-palette-primary10: #002105;
  --md-ref-palette-primary20: #00390d;
  --md-ref-palette-primary25: #004611;
  --md-ref-palette-primary30: #005316;
  --md-ref-palette-primary35: #00601b;
  --md-ref-palette-primary40: #006e21;
  --md-ref-palette-primary50: #258935;
  --md-ref-palette-primary60: #43a44c;
  --md-ref-palette-primary70: #5fbf64;
  --md-ref-palette-primary80: #7adc7d;
  --md-ref-palette-primary90: #96f996;
  --md-ref-palette-primary95: #c8ffc2;
  --md-ref-palette-primary98: #ebffe5;
  --md-ref-palette-primary99: #f6fff0;
  --md-ref-palette-primary100: #ffffff;
  /* secondary */
  --md-ref-palette-secondary0: #000000;
  --md-ref-palette-secondary5: #061406;
  --md-ref-palette-secondary10: #101f10;
  --md-ref-palette-secondary20: #253423;
  --md-ref-palette-secondary25: #303f2e;
  --md-ref-palette-secondary30: #3b4b39;
  --md-ref-palette-secondary35: #465744;
  --md-ref-palette-secondary40: #52634f;
  --md-ref-palette-secondary50: #6a7c67;
  --md-ref-palette-secondary60: #849680;
  --md-ref-palette-secondary70: #9eb099;
  --md-ref-palette-secondary80: #b9ccb4;
  --md-ref-palette-secondary90: #d5e8cf;
  --md-ref-palette-secondary95: #e3f6dd;
  --md-ref-palette-secondary98: #ecffe5;
  --md-ref-palette-secondary99: #f6fff0;
  --md-ref-palette-secondary100: #ffffff;
  /* tertiary */
  --md-ref-palette-tertiary0: #000000;
  --md-ref-palette-tertiary5: #001416;
  --md-ref-palette-tertiary10: #001f23;
  --md-ref-palette-tertiary20: #00363c;
  --md-ref-palette-tertiary25: #104247;
  --md-ref-palette-tertiary30: #1f4d53;
  --md-ref-palette-tertiary35: #2c595f;
  --md-ref-palette-tertiary40: #39656b;
  --md-ref-palette-tertiary50: #527e84;
  --md-ref-palette-tertiary60: #6b989e;
  --md-ref-palette-tertiary70: #86b3b9;
  --md-ref-palette-tertiary80: #a1ced5;
  --md-ref-palette-tertiary90: #bcebf1;
  --md-ref-palette-tertiary95: #cbf9ff;
  --md-ref-palette-tertiary98: #ebfdff;
  --md-ref-palette-tertiary99: #f5feff;
  --md-ref-palette-tertiary100: #ffffff;
  /* neutral */
  --md-ref-palette-neutral0: #000000;
  --md-ref-palette-neutral5: #0f120e;
  --md-ref-palette-neutral10: #1a1c19;
  --md-ref-palette-neutral20: #2f312d;
  --md-ref-palette-neutral25: #3a3c38;
  --md-ref-palette-neutral30: #454743;
  --md-ref-palette-neutral35: #51534f;
  --md-ref-palette-neutral40: #5d5f5a;
  --md-ref-palette-neutral50: #767873;
  --md-ref-palette-neutral60: #90918c;
  --md-ref-palette-neutral70: #aaaca6;
  --md-ref-palette-neutral80: #c6c7c1;
  --md-ref-palette-neutral90: #e2e3dd;
  --md-ref-palette-neutral95: #f0f1eb;
  --md-ref-palette-neutral98: #f9faf4;
  --md-ref-palette-neutral99: #fcfdf6;
  --md-ref-palette-neutral100: #ffffff;
  /* neutralVariant */
  --md-ref-palette-neutralVariant0: #000000;
  --md-ref-palette-neutralVariant5: #0c120c;
  --md-ref-palette-neutralVariant10: #171d16;
  --md-ref-palette-neutralVariant20: #2c322a;
  --md-ref-palette-neutralVariant25: #373d35;
  --md-ref-palette-neutralVariant30: #424940;
  --md-ref-palette-neutralVariant35: #4e544b;
  --md-ref-palette-neutralVariant40: #5a6057;
  --md-ref-palette-neutralVariant50: #72796f;
  --md-ref-palette-neutralVariant60: #8c9388;
  --md-ref-palette-neutralVariant70: #a6ada2;
  --md-ref-palette-neutralVariant80: #c2c9bd;
  --md-ref-palette-neutralVariant90: #dee5d9;
  --md-ref-palette-neutralVariant95: #ecf3e7;
  --md-ref-palette-neutralVariant98: #f5fbef;
  --md-ref-palette-neutralVariant99: #f8fef2;
  --md-ref-palette-neutralVariant100: #ffffff;
  /* error */
  --md-ref-palette-error0: #000000;
  --md-ref-palette-error5: #2d0001;
  --md-ref-palette-error10: #410002;
  --md-ref-palette-error20: #690005;
  --md-ref-palette-error25: #7e0007;
  --md-ref-palette-error30: #93000a;
  --md-ref-palette-error35: #a80710;
  --md-ref-palette-error40: #ba1a1a;
  --md-ref-palette-error50: #de3730;
  --md-ref-palette-error60: #ff5449;
  --md-ref-palette-error70: #ff897d;
  --md-ref-palette-error80: #ffb4ab;
  --md-ref-palette-error90: #ffdad6;
  --md-ref-palette-error95: #ffedea;
  --md-ref-palette-error98: #fff8f7;
  --md-ref-palette-error99: #fffbff;
  --md-ref-palette-error100: #ffffff;
}