* {
--md-source: #FFDAB9;
  /* primary */
  --md-ref-palette-primary0-rgb: 0 0 0;
  --md-ref-palette-primary5-rgb: 29 13 0;
  --md-ref-palette-primary10-rgb: 44 22 0;
  --md-ref-palette-primary20-rgb: 74 40 0;
  --md-ref-palette-primary25-rgb: 89 50 0;
  --md-ref-palette-primary30-rgb: 105 60 0;
  --md-ref-palette-primary35-rgb: 122 70 0;
  --md-ref-palette-primary40-rgb: 138 80 0;
  --md-ref-palette-primary50-rgb: 173 102 5;
  --md-ref-palette-primary60-rgb: 203 127 37;
  --md-ref-palette-primary70-rgb: 235 153 62;
  --md-ref-palette-primary80-rgb: 255 184 112;
  --md-ref-palette-primary90-rgb: 255 220 190;
  --md-ref-palette-primary95-rgb: 255 238 224;
  --md-ref-palette-primary98-rgb: 255 248 245;
  --md-ref-palette-primary99-rgb: 255 251 255;
  --md-ref-palette-primary100-rgb: 255 255 255;
  /* secondary */
  --md-ref-palette-secondary0-rgb: 0 0 0;
  --md-ref-palette-secondary5-rgb: 29 13 1;
  --md-ref-palette-secondary10-rgb: 41 24 6;
  --md-ref-palette-secondary20-rgb: 64 44 24;
  --md-ref-palette-secondary25-rgb: 76 55 34;
  --md-ref-palette-secondary30-rgb: 89 66 44;
  --md-ref-palette-secondary35-rgb: 102 78 55;
  --md-ref-palette-secondary40-rgb: 114 90 66;
  --md-ref-palette-secondary50-rgb: 141 114 89;
  --md-ref-palette-secondary60-rgb: 168 139 113;
  --md-ref-palette-secondary70-rgb: 196 166 138;
  --md-ref-palette-secondary80-rgb: 225 193 164;
  --md-ref-palette-secondary90-rgb: 255 220 190;
  --md-ref-palette-secondary95-rgb: 255 238 224;
  --md-ref-palette-secondary98-rgb: 255 248 245;
  --md-ref-palette-secondary99-rgb: 255 251 255;
  --md-ref-palette-secondary100-rgb: 255 255 255;
  /* tertiary */
  --md-ref-palette-tertiary0-rgb: 0 0 0;
  --md-ref-palette-tertiary5-rgb: 13 19 0;
  --md-ref-palette-tertiary10-rgb: 22 31 1;
  --md-ref-palette-tertiary20-rgb: 42 52 16;
  --md-ref-palette-tertiary25-rgb: 53 63 26;
  --md-ref-palette-tertiary30-rgb: 65 75 36;
  --md-ref-palette-tertiary35-rgb: 76 87 47;
  --md-ref-palette-tertiary40-rgb: 88 99 58;
  --md-ref-palette-tertiary50-rgb: 112 124 80;
  --md-ref-palette-tertiary60-rgb: 138 150 104;
  --md-ref-palette-tertiary70-rgb: 164 176 129;
  --md-ref-palette-tertiary80-rgb: 192 204 154;
  --md-ref-palette-tertiary90-rgb: 220 232 180;
  --md-ref-palette-tertiary95-rgb: 234 247 194;
  --md-ref-palette-tertiary98-rgb: 243 255 203;
  --md-ref-palette-tertiary99-rgb: 250 255 227;
  --md-ref-palette-tertiary100-rgb: 255 255 255;
  /* neutral */
  --md-ref-palette-neutral0-rgb: 0 0 0;
  --md-ref-palette-neutral5-rgb: 21 16 12;
  --md-ref-palette-neutral10-rgb: 32 27 22;
  --md-ref-palette-neutral20-rgb: 53 47 43;
  --md-ref-palette-neutral25-rgb: 64 58 53;
  --md-ref-palette-neutral30-rgb: 76 70 64;
  --md-ref-palette-neutral35-rgb: 88 81 76;
  --md-ref-palette-neutral40-rgb: 100 93 87;
  --md-ref-palette-neutral50-rgb: 126 118 112;
  --md-ref-palette-neutral60-rgb: 152 143 137;
  --md-ref-palette-neutral70-rgb: 179 169 163;
  --md-ref-palette-neutral80-rgb: 207 197 190;
  --md-ref-palette-neutral90-rgb: 235 224 217;
  --md-ref-palette-neutral95-rgb: 250 239 231;
  --md-ref-palette-neutral98-rgb: 255 248 245;
  --md-ref-palette-neutral99-rgb: 255 251 255;
  --md-ref-palette-neutral100-rgb: 255 255 255;
  /* neutralVariant */
  --md-ref-palette-neutral-variant0-rgb: 0 0 0;
  --md-ref-palette-neutral-variant5-rgb: 24 15 7;
  --md-ref-palette-neutral-variant10-rgb: 35 26 17;
  --md-ref-palette-neutral-variant20-rgb: 57 46 37;
  --md-ref-palette-neutral-variant25-rgb: 69 57 47;
  --md-ref-palette-neutral-variant30-rgb: 81 69 58;
  --md-ref-palette-neutral-variant35-rgb: 93 80 69;
  --md-ref-palette-neutral-variant40-rgb: 105 92 81;
  --md-ref-palette-neutral-variant50-rgb: 131 116 104;
  --md-ref-palette-neutral-variant60-rgb: 157 142 129;
  --md-ref-palette-neutral-variant70-rgb: 185 168 155;
  --md-ref-palette-neutral-variant80-rgb: 213 195 181;
  --md-ref-palette-neutral-variant90-rgb: 242 223 209;
  --md-ref-palette-neutral-variant95-rgb: 255 238 224;
  --md-ref-palette-neutral-variant98-rgb: 255 248 245;
  --md-ref-palette-neutral-variant99-rgb: 255 251 255;
  --md-ref-palette-neutral-variant100-rgb: 255 255 255;
  /* error */
  --md-ref-palette-error0-rgb: 0 0 0;
  --md-ref-palette-error5-rgb: 45 0 1;
  --md-ref-palette-error10-rgb: 65 0 2;
  --md-ref-palette-error20-rgb: 105 0 5;
  --md-ref-palette-error25-rgb: 126 0 7;
  --md-ref-palette-error30-rgb: 147 0 10;
  --md-ref-palette-error35-rgb: 168 7 16;
  --md-ref-palette-error40-rgb: 186 26 26;
  --md-ref-palette-error50-rgb: 222 55 48;
  --md-ref-palette-error60-rgb: 255 84 73;
  --md-ref-palette-error70-rgb: 255 137 125;
  --md-ref-palette-error80-rgb: 255 180 171;
  --md-ref-palette-error90-rgb: 255 218 214;
  --md-ref-palette-error95-rgb: 255 237 234;
  --md-ref-palette-error98-rgb: 255 248 247;
  --md-ref-palette-error99-rgb: 255 251 255;
  --md-ref-palette-error100-rgb: 255 255 255;
}