body, .tokens {
--md-source: #FFDAB9;
  /* light */
  --md-sys-color-primary-rgb-light: 138, 80, 0;
  --md-sys-color-on-primary-rgb-light: 255, 255, 255;
  --md-sys-color-primary-container-rgb-light: 255, 220, 190;
  --md-sys-color-on-primary-container-rgb-light: 44, 22, 0;
  --md-sys-color-secondary-rgb-light: 114, 90, 66;
  --md-sys-color-on-secondary-rgb-light: 255, 255, 255;
  --md-sys-color-secondary-container-rgb-light: 255, 220, 190;
  --md-sys-color-on-secondary-container-rgb-light: 41, 24, 6;
  --md-sys-color-tertiary-rgb-light: 88, 99, 58;
  --md-sys-color-on-tertiary-rgb-light: 255, 255, 255;
  --md-sys-color-tertiary-container-rgb-light: 220, 232, 180;
  --md-sys-color-on-tertiary-container-rgb-light: 22, 31, 1;
  --md-sys-color-error-rgb-light: 186, 26, 26;
  --md-sys-color-on-error-rgb-light: 255, 255, 255;
  --md-sys-color-error-container-rgb-light: 255, 218, 214;
  --md-sys-color-on-error-container-rgb-light: 65, 0, 2;
  --md-sys-color-background-rgb-light: 255, 251, 255;
  --md-sys-color-on-background-rgb-light: 32, 27, 22;
  --md-sys-color-surface-rgb-light: 255, 251, 255;
  --md-sys-color-on-surface-rgb-light: 32, 27, 22;
  --md-sys-color-surface-variant-rgb-light: 242, 223, 209;
  --md-sys-color-on-surface-variant-rgb-light: 81, 69, 58;
  --md-sys-color-outline-rgb-light: 131, 116, 104;
  --md-sys-color-shadow-rgb-light: 0, 0, 0;
  --md-sys-color-inverse-surface-rgb-light: 53, 47, 43;
  --md-sys-color-inverse-on-surface-rgb-light: 250, 239, 231;
  --md-sys-color-inverse-primary-rgb-light: 255, 184, 112;
  /* dark */
  --md-sys-color-primary-rgb-dark: 255, 184, 112;
  --md-sys-color-on-primary-rgb-dark: 74, 40, 0;
  --md-sys-color-primary-container-rgb-dark: 105, 60, 0;
  --md-sys-color-on-primary-container-rgb-dark: 255, 220, 190;
  --md-sys-color-secondary-rgb-dark: 225, 193, 164;
  --md-sys-color-on-secondary-rgb-dark: 64, 44, 24;
  --md-sys-color-secondary-container-rgb-dark: 89, 66, 44;
  --md-sys-color-on-secondary-container-rgb-dark: 255, 220, 190;
  --md-sys-color-tertiary-rgb-dark: 192, 204, 154;
  --md-sys-color-on-tertiary-rgb-dark: 42, 52, 16;
  --md-sys-color-tertiary-container-rgb-dark: 65, 75, 36;
  --md-sys-color-on-tertiary-container-rgb-dark: 220, 232, 180;
  --md-sys-color-error-rgb-dark: 255, 180, 171;
  --md-sys-color-on-error-rgb-dark: 105, 0, 5;
  --md-sys-color-error-container-rgb-dark: 147, 0, 10;
  --md-sys-color-on-error-container-rgb-dark: 255, 180, 171;
  --md-sys-color-background-rgb-dark: 32, 27, 22;
  --md-sys-color-on-background-rgb-dark: 235, 224, 217;
  --md-sys-color-surface-rgb-dark: 32, 27, 22;
  --md-sys-color-on-surface-rgb-dark: 235, 224, 217;
  --md-sys-color-surface-variant-rgb-dark: 81, 69, 58;
  --md-sys-color-on-surface-variant-rgb-dark: 213, 195, 181;
  --md-sys-color-outline-rgb-dark: 157, 142, 129;
  --md-sys-color-shadow-rgb-dark: 0, 0, 0;
  --md-sys-color-inverse-surface-rgb-dark: 235, 224, 217;
  --md-sys-color-inverse-on-surface-rgb-dark: 53, 47, 43;
  --md-sys-color-inverse-primary-rgb-dark: 138, 80, 0;
  /* primary */
  --md-ref-palette-primary0: #000000;
  --md-ref-palette-primary5: #1d0d00;
  --md-ref-palette-primary10: #2c1600;
  --md-ref-palette-primary20: #4a2800;
  --md-ref-palette-primary25: #593200;
  --md-ref-palette-primary30: #693c00;
  --md-ref-palette-primary35: #7a4600;
  --md-ref-palette-primary40: #8a5000;
  --md-ref-palette-primary50: #ad6605;
  --md-ref-palette-primary60: #cb7f25;
  --md-ref-palette-primary70: #eb993e;
  --md-ref-palette-primary80: #ffb870;
  --md-ref-palette-primary90: #ffdcbe;
  --md-ref-palette-primary95: #ffeee0;
  --md-ref-palette-primary98: #fff8f5;
  --md-ref-palette-primary99: #fffbff;
  --md-ref-palette-primary100: #ffffff;
  /* secondary */
  --md-ref-palette-secondary0: #000000;
  --md-ref-palette-secondary5: #1d0d01;
  --md-ref-palette-secondary10: #291806;
  --md-ref-palette-secondary20: #402c18;
  --md-ref-palette-secondary25: #4c3722;
  --md-ref-palette-secondary30: #59422c;
  --md-ref-palette-secondary35: #664e37;
  --md-ref-palette-secondary40: #725a42;
  --md-ref-palette-secondary50: #8d7259;
  --md-ref-palette-secondary60: #a88b71;
  --md-ref-palette-secondary70: #c4a68a;
  --md-ref-palette-secondary80: #e1c1a4;
  --md-ref-palette-secondary90: #ffdcbe;
  --md-ref-palette-secondary95: #ffeee0;
  --md-ref-palette-secondary98: #fff8f5;
  --md-ref-palette-secondary99: #fffbff;
  --md-ref-palette-secondary100: #ffffff;
  /* tertiary */
  --md-ref-palette-tertiary0: #000000;
  --md-ref-palette-tertiary5: #0d1300;
  --md-ref-palette-tertiary10: #161f01;
  --md-ref-palette-tertiary20: #2a3410;
  --md-ref-palette-tertiary25: #353f1a;
  --md-ref-palette-tertiary30: #414b24;
  --md-ref-palette-tertiary35: #4c572f;
  --md-ref-palette-tertiary40: #58633a;
  --md-ref-palette-tertiary50: #707c50;
  --md-ref-palette-tertiary60: #8a9668;
  --md-ref-palette-tertiary70: #a4b081;
  --md-ref-palette-tertiary80: #c0cc9a;
  --md-ref-palette-tertiary90: #dce8b4;
  --md-ref-palette-tertiary95: #eaf7c2;
  --md-ref-palette-tertiary98: #f3ffcb;
  --md-ref-palette-tertiary99: #faffe3;
  --md-ref-palette-tertiary100: #ffffff;
  /* neutral */
  --md-ref-palette-neutral0: #000000;
  --md-ref-palette-neutral5: #15100c;
  --md-ref-palette-neutral10: #201b16;
  --md-ref-palette-neutral20: #352f2b;
  --md-ref-palette-neutral25: #403a35;
  --md-ref-palette-neutral30: #4c4640;
  --md-ref-palette-neutral35: #58514c;
  --md-ref-palette-neutral40: #645d57;
  --md-ref-palette-neutral50: #7e7670;
  --md-ref-palette-neutral60: #988f89;
  --md-ref-palette-neutral70: #b3a9a3;
  --md-ref-palette-neutral80: #cfc5be;
  --md-ref-palette-neutral90: #ebe0d9;
  --md-ref-palette-neutral95: #faefe7;
  --md-ref-palette-neutral98: #fff8f5;
  --md-ref-palette-neutral99: #fffbff;
  --md-ref-palette-neutral100: #ffffff;
  /* neutralVariant */
  --md-ref-palette-neutral-variant0: #000000;
  --md-ref-palette-neutral-variant5: #180f07;
  --md-ref-palette-neutral-variant10: #231a11;
  --md-ref-palette-neutral-variant20: #392e25;
  --md-ref-palette-neutral-variant25: #45392f;
  --md-ref-palette-neutral-variant30: #51453a;
  --md-ref-palette-neutral-variant35: #5d5045;
  --md-ref-palette-neutral-variant40: #695c51;
  --md-ref-palette-neutral-variant50: #837468;
  --md-ref-palette-neutral-variant60: #9d8e81;
  --md-ref-palette-neutral-variant70: #b9a89b;
  --md-ref-palette-neutral-variant80: #d5c3b5;
  --md-ref-palette-neutral-variant90: #f2dfd1;
  --md-ref-palette-neutral-variant95: #ffeee0;
  --md-ref-palette-neutral-variant98: #fff8f5;
  --md-ref-palette-neutral-variant99: #fffbff;
  --md-ref-palette-neutral-variant100: #ffffff;
  /* error */
  --md-ref-palette-error0: #000000;
  --md-ref-palette-error5: #2d0001;
  --md-ref-palette-error10: #410002;
  --md-ref-palette-error20: #690005;
  --md-ref-palette-error25: #7e0007;
  --md-ref-palette-error30: #93000a;
  --md-ref-palette-error35: #a80710;
  --md-ref-palette-error40: #ba1a1a;
  --md-ref-palette-error50: #de3730;
  --md-ref-palette-error60: #ff5449;
  --md-ref-palette-error70: #ff897d;
  --md-ref-palette-error80: #ffb4ab;
  --md-ref-palette-error90: #ffdad6;
  --md-ref-palette-error95: #ffedea;
  --md-ref-palette-error98: #fff8f7;
  --md-ref-palette-error99: #fffbff;
  --md-ref-palette-error100: #ffffff;
}