body, .tokens {
--md-source: #CD853F;
  /* light */
  --md-sys-color-primary-rgb-light: 142, 79, 0;
  --md-sys-color-on-primary-rgb-light: 255, 255, 255;
  --md-sys-color-primary-container-rgb-light: 255, 220, 193;
  --md-sys-color-on-primary-container-rgb-light: 46, 22, 0;
  --md-sys-color-secondary-rgb-light: 115, 89, 67;
  --md-sys-color-on-secondary-rgb-light: 255, 255, 255;
  --md-sys-color-secondary-container-rgb-light: 255, 220, 193;
  --md-sys-color-on-secondary-container-rgb-light: 42, 23, 6;
  --md-sys-color-tertiary-rgb-light: 90, 98, 56;
  --md-sys-color-on-tertiary-rgb-light: 255, 255, 255;
  --md-sys-color-tertiary-container-rgb-light: 223, 232, 178;
  --md-sys-color-on-tertiary-container-rgb-light: 24, 30, 0;
  --md-sys-color-error-rgb-light: 186, 26, 26;
  --md-sys-color-on-error-rgb-light: 255, 255, 255;
  --md-sys-color-error-container-rgb-light: 255, 218, 214;
  --md-sys-color-on-error-container-rgb-light: 65, 0, 2;
  --md-sys-color-background-rgb-light: 255, 251, 255;
  --md-sys-color-on-background-rgb-light: 32, 27, 23;
  --md-sys-color-surface-rgb-light: 255, 251, 255;
  --md-sys-color-on-surface-rgb-light: 32, 27, 23;
  --md-sys-color-surface-variant-rgb-light: 242, 223, 209;
  --md-sys-color-on-surface-variant-rgb-light: 81, 68, 58;
  --md-sys-color-outline-rgb-light: 131, 116, 105;
  --md-sys-color-shadow-rgb-light: 0, 0, 0;
  --md-sys-color-inverse-surface-rgb-light: 53, 47, 43;
  --md-sys-color-inverse-on-surface-rgb-light: 250, 239, 232;
  --md-sys-color-inverse-primary-rgb-light: 255, 184, 119;
  /* dark */
  --md-sys-color-primary-rgb-dark: 255, 184, 119;
  --md-sys-color-on-primary-rgb-dark: 76, 39, 0;
  --md-sys-color-primary-container-rgb-dark: 108, 58, 0;
  --md-sys-color-on-primary-container-rgb-dark: 255, 220, 193;
  --md-sys-color-secondary-rgb-dark: 226, 192, 165;
  --md-sys-color-on-secondary-rgb-dark: 65, 44, 25;
  --md-sys-color-secondary-container-rgb-dark: 90, 66, 45;
  --md-sys-color-on-secondary-container-rgb-dark: 255, 220, 193;
  --md-sys-color-tertiary-rgb-dark: 194, 203, 152;
  --md-sys-color-on-tertiary-rgb-dark: 44, 52, 14;
  --md-sys-color-tertiary-container-rgb-dark: 67, 74, 35;
  --md-sys-color-on-tertiary-container-rgb-dark: 223, 232, 178;
  --md-sys-color-error-rgb-dark: 255, 180, 171;
  --md-sys-color-on-error-rgb-dark: 105, 0, 5;
  --md-sys-color-error-container-rgb-dark: 147, 0, 10;
  --md-sys-color-on-error-container-rgb-dark: 255, 180, 171;
  --md-sys-color-background-rgb-dark: 32, 27, 23;
  --md-sys-color-on-background-rgb-dark: 236, 224, 218;
  --md-sys-color-surface-rgb-dark: 32, 27, 23;
  --md-sys-color-on-surface-rgb-dark: 236, 224, 218;
  --md-sys-color-surface-variant-rgb-dark: 81, 68, 58;
  --md-sys-color-on-surface-variant-rgb-dark: 214, 195, 182;
  --md-sys-color-outline-rgb-dark: 158, 142, 130;
  --md-sys-color-shadow-rgb-dark: 0, 0, 0;
  --md-sys-color-inverse-surface-rgb-dark: 236, 224, 218;
  --md-sys-color-inverse-on-surface-rgb-dark: 53, 47, 43;
  --md-sys-color-inverse-primary-rgb-dark: 142, 79, 0;
  /* primary */
  --md-ref-palette-primary0: #000000;
  --md-ref-palette-primary5: #1e0c00;
  --md-ref-palette-primary10: #2e1600;
  --md-ref-palette-primary20: #4c2700;
  --md-ref-palette-primary25: #5b3100;
  --md-ref-palette-primary30: #6c3a00;
  --md-ref-palette-primary35: #7c4400;
  --md-ref-palette-primary40: #8e4f00;
  --md-ref-palette-primary50: #af650f;
  --md-ref-palette-primary60: #ce7e2a;
  --md-ref-palette-primary70: #ed9742;
  --md-ref-palette-primary80: #ffb877;
  --md-ref-palette-primary90: #ffdcc1;
  --md-ref-palette-primary95: #ffeee2;
  --md-ref-palette-primary98: #fff8f5;
  --md-ref-palette-primary99: #fffbff;
  --md-ref-palette-primary100: #ffffff;
  /* secondary */
  --md-ref-palette-secondary0: #000000;
  --md-ref-palette-secondary5: #1d0d01;
  --md-ref-palette-secondary10: #2a1706;
  --md-ref-palette-secondary20: #412c19;
  --md-ref-palette-secondary25: #4d3723;
  --md-ref-palette-secondary30: #5a422d;
  --md-ref-palette-secondary35: #664d38;
  --md-ref-palette-secondary40: #735943;
  --md-ref-palette-secondary50: #8e725a;
  --md-ref-palette-secondary60: #a98b72;
  --md-ref-palette-secondary70: #c5a58b;
  --md-ref-palette-secondary80: #e2c0a5;
  --md-ref-palette-secondary90: #ffdcc1;
  --md-ref-palette-secondary95: #ffeee2;
  --md-ref-palette-secondary98: #fff8f5;
  --md-ref-palette-secondary99: #fffbff;
  --md-ref-palette-secondary100: #ffffff;
  /* tertiary */
  --md-ref-palette-tertiary0: #000000;
  --md-ref-palette-tertiary5: #0e1300;
  --md-ref-palette-tertiary10: #181e00;
  --md-ref-palette-tertiary20: #2c340e;
  --md-ref-palette-tertiary25: #373f18;
  --md-ref-palette-tertiary30: #434a23;
  --md-ref-palette-tertiary35: #4e562d;
  --md-ref-palette-tertiary40: #5a6238;
  --md-ref-palette-tertiary50: #737b4f;
  --md-ref-palette-tertiary60: #8d9566;
  --md-ref-palette-tertiary70: #a7b07f;
  --md-ref-palette-tertiary80: #c2cb98;
  --md-ref-palette-tertiary90: #dfe8b2;
  --md-ref-palette-tertiary95: #edf6bf;
  --md-ref-palette-tertiary98: #f6ffc8;
  --md-ref-palette-tertiary99: #fcffdf;
  --md-ref-palette-tertiary100: #ffffff;
  /* neutral */
  --md-ref-palette-neutral0: #000000;
  --md-ref-palette-neutral5: #15100c;
  --md-ref-palette-neutral10: #201b17;
  --md-ref-palette-neutral20: #352f2b;
  --md-ref-palette-neutral25: #413a36;
  --md-ref-palette-neutral30: #4c4541;
  --md-ref-palette-neutral35: #58514c;
  --md-ref-palette-neutral40: #655d58;
  --md-ref-palette-neutral50: #7e7570;
  --md-ref-palette-neutral60: #988f89;
  --md-ref-palette-neutral70: #b3a9a3;
  --md-ref-palette-neutral80: #cfc4be;
  --md-ref-palette-neutral90: #ece0da;
  --md-ref-palette-neutral95: #faefe8;
  --md-ref-palette-neutral98: #fff8f5;
  --md-ref-palette-neutral99: #fffbff;
  --md-ref-palette-neutral100: #ffffff;
  /* neutralVariant */
  --md-ref-palette-neutralVariant0: #000000;
  --md-ref-palette-neutralVariant5: #180f08;
  --md-ref-palette-neutralVariant10: #231a11;
  --md-ref-palette-neutralVariant20: #392e25;
  --md-ref-palette-neutralVariant25: #453930;
  --md-ref-palette-neutralVariant30: #51443a;
  --md-ref-palette-neutralVariant35: #5d5046;
  --md-ref-palette-neutralVariant40: #6a5c51;
  --md-ref-palette-neutralVariant50: #837469;
  --md-ref-palette-neutralVariant60: #9e8e82;
  --md-ref-palette-neutralVariant70: #b9a89b;
  --md-ref-palette-neutralVariant80: #d6c3b6;
  --md-ref-palette-neutralVariant90: #f2dfd1;
  --md-ref-palette-neutralVariant95: #ffeee2;
  --md-ref-palette-neutralVariant98: #fff8f5;
  --md-ref-palette-neutralVariant99: #fffbff;
  --md-ref-palette-neutralVariant100: #ffffff;
  /* error */
  --md-ref-palette-error0: #000000;
  --md-ref-palette-error5: #2d0001;
  --md-ref-palette-error10: #410002;
  --md-ref-palette-error20: #690005;
  --md-ref-palette-error25: #7e0007;
  --md-ref-palette-error30: #93000a;
  --md-ref-palette-error35: #a80710;
  --md-ref-palette-error40: #ba1a1a;
  --md-ref-palette-error50: #de3730;
  --md-ref-palette-error60: #ff5449;
  --md-ref-palette-error70: #ff897d;
  --md-ref-palette-error80: #ffb4ab;
  --md-ref-palette-error90: #ffdad6;
  --md-ref-palette-error95: #ffedea;
  --md-ref-palette-error98: #fff8f7;
  --md-ref-palette-error99: #fffbff;
  --md-ref-palette-error100: #ffffff;
}