:where(.light-theme, .dark-theme) {
--md-source: #DDA0DD;
  /* primary */
  --md-ref-palette-primary0-rgb: 0, 0, 0;
  --md-ref-palette-primary5-rgb: 37, 0, 42;
  --md-ref-palette-primary10-rgb: 54, 0, 61;
  --md-ref-palette-primary20-rgb: 82, 20, 89;
  --md-ref-palette-primary25-rgb: 94, 33, 101;
  --md-ref-palette-primary30-rgb: 107, 45, 113;
  --md-ref-palette-primary35-rgb: 121, 57, 126;
  --md-ref-palette-primary40-rgb: 134, 69, 139;
  --md-ref-palette-primary50-rgb: 162, 94, 166;
  --md-ref-palette-primary60-rgb: 190, 120, 193;
  --md-ref-palette-primary70-rgb: 219, 146, 221;
  --md-ref-palette-primary80-rgb: 249, 172, 250;
  --md-ref-palette-primary90-rgb: 255, 214, 252;
  --md-ref-palette-primary95-rgb: 255, 235, 250;
  --md-ref-palette-primary98-rgb: 255, 247, 250;
  --md-ref-palette-primary99-rgb: 255, 251, 255;
  --md-ref-palette-primary100-rgb: 255, 255, 255;
  /* secondary */
  --md-ref-palette-secondary0-rgb: 0, 0, 0;
  --md-ref-palette-secondary5-rgb: 26, 12, 27;
  --md-ref-palette-secondary10-rgb: 37, 22, 38;
  --md-ref-palette-secondary20-rgb: 60, 43, 59;
  --md-ref-palette-secondary25-rgb: 71, 54, 71;
  --md-ref-palette-secondary30-rgb: 83, 65, 82;
  --md-ref-palette-secondary35-rgb: 95, 76, 94;
  --md-ref-palette-secondary40-rgb: 108, 88, 106;
  --md-ref-palette-secondary50-rgb: 134, 113, 132;
  --md-ref-palette-secondary60-rgb: 160, 138, 158;
  --md-ref-palette-secondary70-rgb: 188, 164, 185;
  --md-ref-palette-secondary80-rgb: 216, 191, 212;
  --md-ref-palette-secondary90-rgb: 245, 219, 241;
  --md-ref-palette-secondary95-rgb: 255, 235, 250;
  --md-ref-palette-secondary98-rgb: 255, 247, 250;
  --md-ref-palette-secondary99-rgb: 255, 251, 255;
  --md-ref-palette-secondary100-rgb: 255, 255, 255;
  /* tertiary */
  --md-ref-palette-tertiary0-rgb: 0, 0, 0;
  --md-ref-palette-tertiary5-rgb: 37, 7, 3;
  --md-ref-palette-tertiary10-rgb: 51, 17, 11;
  --md-ref-palette-tertiary20-rgb: 76, 37, 30;
  --md-ref-palette-tertiary25-rgb: 89, 48, 40;
  --md-ref-palette-tertiary30-rgb: 103, 59, 51;
  --md-ref-palette-tertiary35-rgb: 116, 70, 62;
  --md-ref-palette-tertiary40-rgb: 130, 82, 73;
  --md-ref-palette-tertiary50-rgb: 158, 106, 96;
  --md-ref-palette-tertiary60-rgb: 186, 131, 121;
  --md-ref-palette-tertiary70-rgb: 216, 157, 146;
  --md-ref-palette-tertiary80-rgb: 246, 184, 172;
  --md-ref-palette-tertiary90-rgb: 255, 218, 211;
  --md-ref-palette-tertiary95-rgb: 255, 237, 233;
  --md-ref-palette-tertiary98-rgb: 255, 248, 246;
  --md-ref-palette-tertiary99-rgb: 255, 251, 255;
  --md-ref-palette-tertiary100-rgb: 255, 255, 255;
  /* neutral */
  --md-ref-palette-neutral0-rgb: 0, 0, 0;
  --md-ref-palette-neutral5-rgb: 19, 16, 19;
  --md-ref-palette-neutral10-rgb: 30, 26, 29;
  --md-ref-palette-neutral20-rgb: 51, 47, 50;
  --md-ref-palette-neutral25-rgb: 63, 58, 61;
  --md-ref-palette-neutral30-rgb: 74, 69, 73;
  --md-ref-palette-neutral35-rgb: 86, 81, 84;
  --md-ref-palette-neutral40-rgb: 98, 93, 96;
  --md-ref-palette-neutral50-rgb: 124, 117, 121;
  --md-ref-palette-neutral60-rgb: 150, 143, 147;
  --md-ref-palette-neutral70-rgb: 177, 169, 173;
  --md-ref-palette-neutral80-rgb: 204, 196, 200;
  --md-ref-palette-neutral90-rgb: 233, 224, 228;
  --md-ref-palette-neutral95-rgb: 247, 238, 242;
  --md-ref-palette-neutral98-rgb: 255, 247, 250;
  --md-ref-palette-neutral99-rgb: 255, 251, 255;
  --md-ref-palette-neutral100-rgb: 255, 255, 255;
  /* neutralVariant */
  --md-ref-palette-neutral-variant0-rgb: 0, 0, 0;
  --md-ref-palette-neutral-variant5-rgb: 21, 15, 21;
  --md-ref-palette-neutral-variant10-rgb: 33, 25, 32;
  --md-ref-palette-neutral-variant20-rgb: 54, 46, 53;
  --md-ref-palette-neutral-variant25-rgb: 65, 57, 64;
  --md-ref-palette-neutral-variant30-rgb: 77, 68, 76;
  --md-ref-palette-neutral-variant35-rgb: 89, 80, 87;
  --md-ref-palette-neutral-variant40-rgb: 101, 91, 99;
  --md-ref-palette-neutral-variant50-rgb: 127, 116, 124;
  --md-ref-palette-neutral-variant60-rgb: 153, 141, 150;
  --md-ref-palette-neutral-variant70-rgb: 180, 168, 177;
  --md-ref-palette-neutral-variant80-rgb: 208, 195, 204;
  --md-ref-palette-neutral-variant90-rgb: 237, 223, 232;
  --md-ref-palette-neutral-variant95-rgb: 251, 237, 246;
  --md-ref-palette-neutral-variant98-rgb: 255, 247, 250;
  --md-ref-palette-neutral-variant99-rgb: 255, 251, 255;
  --md-ref-palette-neutral-variant100-rgb: 255, 255, 255;
  /* error */
  --md-ref-palette-error0-rgb: 0, 0, 0;
  --md-ref-palette-error5-rgb: 45, 0, 1;
  --md-ref-palette-error10-rgb: 65, 0, 2;
  --md-ref-palette-error20-rgb: 105, 0, 5;
  --md-ref-palette-error25-rgb: 126, 0, 7;
  --md-ref-palette-error30-rgb: 147, 0, 10;
  --md-ref-palette-error35-rgb: 168, 7, 16;
  --md-ref-palette-error40-rgb: 186, 26, 26;
  --md-ref-palette-error50-rgb: 222, 55, 48;
  --md-ref-palette-error60-rgb: 255, 84, 73;
  --md-ref-palette-error70-rgb: 255, 137, 125;
  --md-ref-palette-error80-rgb: 255, 180, 171;
  --md-ref-palette-error90-rgb: 255, 218, 214;
  --md-ref-palette-error95-rgb: 255, 237, 234;
  --md-ref-palette-error98-rgb: 255, 248, 247;
  --md-ref-palette-error99-rgb: 255, 251, 255;
  --md-ref-palette-error100-rgb: 255, 255, 255;
}