:root, .tokens {
--md-source: #B0E0E6;
  /* light */
  --md-sys-color-primary-rgb-light: 0, 105, 113;
  --md-sys-color-on-primary-rgb-light: 255, 255, 255;
  --md-sys-color-primary-container-rgb-light: 136, 243, 255;
  --md-sys-color-on-primary-container-rgb-light: 0, 31, 35;
  --md-sys-color-secondary-rgb-light: 74, 99, 102;
  --md-sys-color-on-secondary-rgb-light: 255, 255, 255;
  --md-sys-color-secondary-container-rgb-light: 205, 231, 235;
  --md-sys-color-on-secondary-container-rgb-light: 5, 31, 34;
  --md-sys-color-tertiary-rgb-light: 80, 94, 125;
  --md-sys-color-on-tertiary-rgb-light: 255, 255, 255;
  --md-sys-color-tertiary-container-rgb-light: 216, 226, 255;
  --md-sys-color-on-tertiary-container-rgb-light: 12, 27, 54;
  --md-sys-color-error-rgb-light: 186, 26, 26;
  --md-sys-color-on-error-rgb-light: 255, 255, 255;
  --md-sys-color-error-container-rgb-light: 255, 218, 214;
  --md-sys-color-on-error-container-rgb-light: 65, 0, 2;
  --md-sys-color-background-rgb-light: 250, 253, 253;
  --md-sys-color-on-background-rgb-light: 25, 28, 29;
  --md-sys-color-surface-rgb-light: 250, 253, 253;
  --md-sys-color-on-surface-rgb-light: 25, 28, 29;
  --md-sys-color-surface-variant-rgb-light: 218, 228, 229;
  --md-sys-color-on-surface-variant-rgb-light: 63, 72, 74;
  --md-sys-color-outline-rgb-light: 111, 121, 122;
  --md-sys-color-shadow-rgb-light: 0, 0, 0;
  --md-sys-color-inverse-surface-rgb-light: 45, 49, 49;
  --md-sys-color-inverse-on-surface-rgb-light: 239, 241, 241;
  --md-sys-color-inverse-primary-rgb-light: 77, 216, 231;
  /* dark */
  --md-sys-color-primary-rgb-dark: 77, 216, 231;
  --md-sys-color-on-primary-rgb-dark: 0, 54, 59;
  --md-sys-color-primary-container-rgb-dark: 0, 79, 85;
  --md-sys-color-on-primary-container-rgb-dark: 136, 243, 255;
  --md-sys-color-secondary-rgb-dark: 177, 203, 207;
  --md-sys-color-on-secondary-rgb-dark: 28, 52, 55;
  --md-sys-color-secondary-container-rgb-dark: 50, 75, 78;
  --md-sys-color-on-secondary-container-rgb-dark: 205, 231, 235;
  --md-sys-color-tertiary-rgb-dark: 184, 198, 234;
  --md-sys-color-on-tertiary-rgb-dark: 34, 48, 76;
  --md-sys-color-tertiary-container-rgb-dark: 57, 71, 100;
  --md-sys-color-on-tertiary-container-rgb-dark: 216, 226, 255;
  --md-sys-color-error-rgb-dark: 255, 180, 171;
  --md-sys-color-on-error-rgb-dark: 105, 0, 5;
  --md-sys-color-error-container-rgb-dark: 147, 0, 10;
  --md-sys-color-on-error-container-rgb-dark: 255, 180, 171;
  --md-sys-color-background-rgb-dark: 25, 28, 29;
  --md-sys-color-on-background-rgb-dark: 224, 227, 227;
  --md-sys-color-surface-rgb-dark: 25, 28, 29;
  --md-sys-color-on-surface-rgb-dark: 224, 227, 227;
  --md-sys-color-surface-variant-rgb-dark: 63, 72, 74;
  --md-sys-color-on-surface-variant-rgb-dark: 190, 200, 201;
  --md-sys-color-outline-rgb-dark: 137, 146, 148;
  --md-sys-color-shadow-rgb-dark: 0, 0, 0;
  --md-sys-color-inverse-surface-rgb-dark: 224, 227, 227;
  --md-sys-color-inverse-on-surface-rgb-dark: 45, 49, 49;
  --md-sys-color-inverse-primary-rgb-dark: 0, 105, 113;
  /* primary */
  --md-ref-palette-primary0: #000000;
  --md-ref-palette-primary5: #001416;
  --md-ref-palette-primary10: #001f23;
  --md-ref-palette-primary20: #00363b;
  --md-ref-palette-primary25: #004248;
  --md-ref-palette-primary30: #004f55;
  --md-ref-palette-primary35: #005c63;
  --md-ref-palette-primary40: #006971;
  --md-ref-palette-primary50: #00848e;
  --md-ref-palette-primary60: #00a0ac;
  --md-ref-palette-primary70: #1fbcca;
  --md-ref-palette-primary80: #4dd8e7;
  --md-ref-palette-primary90: #88f3ff;
  --md-ref-palette-primary95: #caf9ff;
  --md-ref-palette-primary98: #ebfdff;
  --md-ref-palette-primary99: #f5feff;
  --md-ref-palette-primary100: #ffffff;
  /* secondary */
  --md-ref-palette-secondary0: #000000;
  --md-ref-palette-secondary5: #001416;
  --md-ref-palette-secondary10: #051f22;
  --md-ref-palette-secondary20: #1c3437;
  --md-ref-palette-secondary25: #273f42;
  --md-ref-palette-secondary30: #324b4e;
  --md-ref-palette-secondary35: #3e575a;
  --md-ref-palette-secondary40: #4a6366;
  --md-ref-palette-secondary50: #627b7f;
  --md-ref-palette-secondary60: #7c9598;
  --md-ref-palette-secondary70: #96b0b3;
  --md-ref-palette-secondary80: #b1cbcf;
  --md-ref-palette-secondary90: #cde7eb;
  --md-ref-palette-secondary95: #dbf6f9;
  --md-ref-palette-secondary98: #ebfdff;
  --md-ref-palette-secondary99: #f5feff;
  --md-ref-palette-secondary100: #ffffff;
  /* tertiary */
  --md-ref-palette-tertiary0: #000000;
  --md-ref-palette-tertiary5: #01102b;
  --md-ref-palette-tertiary10: #0c1b36;
  --md-ref-palette-tertiary20: #22304c;
  --md-ref-palette-tertiary25: #2d3b58;
  --md-ref-palette-tertiary30: #394764;
  --md-ref-palette-tertiary35: #445271;
  --md-ref-palette-tertiary40: #505e7d;
  --md-ref-palette-tertiary50: #697797;
  --md-ref-palette-tertiary60: #8391b2;
  --md-ref-palette-tertiary70: #9dabce;
  --md-ref-palette-tertiary80: #b8c6ea;
  --md-ref-palette-tertiary90: #d8e2ff;
  --md-ref-palette-tertiary95: #edf0ff;
  --md-ref-palette-tertiary98: #f9f9ff;
  --md-ref-palette-tertiary99: #fefbff;
  --md-ref-palette-tertiary100: #ffffff;
  /* neutral */
  --md-ref-palette-neutral0: #000000;
  --md-ref-palette-neutral5: #0e1212;
  --md-ref-palette-neutral10: #191c1d;
  --md-ref-palette-neutral20: #2d3131;
  --md-ref-palette-neutral25: #393c3c;
  --md-ref-palette-neutral30: #444748;
  --md-ref-palette-neutral35: #505353;
  --md-ref-palette-neutral40: #5c5f5f;
  --md-ref-palette-neutral50: #747878;
  --md-ref-palette-neutral60: #8e9191;
  --md-ref-palette-neutral70: #a9acac;
  --md-ref-palette-neutral80: #c4c7c7;
  --md-ref-palette-neutral90: #e0e3e3;
  --md-ref-palette-neutral95: #eff1f1;
  --md-ref-palette-neutral98: #f8fafa;
  --md-ref-palette-neutral99: #fafdfd;
  --md-ref-palette-neutral100: #ffffff;
  /* neutralVariant */
  --md-ref-palette-neutralVariant0: #000000;
  --md-ref-palette-neutralVariant5: #091214;
  --md-ref-palette-neutralVariant10: #141d1e;
  --md-ref-palette-neutralVariant20: #293233;
  --md-ref-palette-neutralVariant25: #343d3e;
  --md-ref-palette-neutralVariant30: #3f484a;
  --md-ref-palette-neutralVariant35: #4b5455;
  --md-ref-palette-neutralVariant40: #566061;
  --md-ref-palette-neutralVariant50: #6f797a;
  --md-ref-palette-neutralVariant60: #899294;
  --md-ref-palette-neutralVariant70: #a3adae;
  --md-ref-palette-neutralVariant80: #bec8c9;
  --md-ref-palette-neutralVariant90: #dae4e5;
  --md-ref-palette-neutralVariant95: #e9f3f4;
  --md-ref-palette-neutralVariant98: #f1fbfc;
  --md-ref-palette-neutralVariant99: #f5feff;
  --md-ref-palette-neutralVariant100: #ffffff;
  /* error */
  --md-ref-palette-error0: #000000;
  --md-ref-palette-error5: #2d0001;
  --md-ref-palette-error10: #410002;
  --md-ref-palette-error20: #690005;
  --md-ref-palette-error25: #7e0007;
  --md-ref-palette-error30: #93000a;
  --md-ref-palette-error35: #a80710;
  --md-ref-palette-error40: #ba1a1a;
  --md-ref-palette-error50: #de3730;
  --md-ref-palette-error60: #ff5449;
  --md-ref-palette-error70: #ff897d;
  --md-ref-palette-error80: #ffb4ab;
  --md-ref-palette-error90: #ffdad6;
  --md-ref-palette-error95: #ffedea;
  --md-ref-palette-error98: #fff8f7;
  --md-ref-palette-error99: #fffbff;
  --md-ref-palette-error100: #ffffff;
}