body, .tokens {
--md-source: #B0E0E6;
  /* light */
  --md-sys-color-primary-rgb-light: 0, 105, 113;
  --md-sys-color-on-primary-rgb-light: 255, 255, 255;
  --md-sys-color-primary-container-rgb-light: 136, 243, 255;
  --md-sys-color-on-primary-container-rgb-light: 0, 31, 35;
  --md-sys-color-secondary-rgb-light: 74, 99, 102;
  --md-sys-color-on-secondary-rgb-light: 255, 255, 255;
  --md-sys-color-secondary-container-rgb-light: 205, 231, 235;
  --md-sys-color-on-secondary-container-rgb-light: 5, 31, 34;
  --md-sys-color-tertiary-rgb-light: 80, 94, 125;
  --md-sys-color-on-tertiary-rgb-light: 255, 255, 255;
  --md-sys-color-tertiary-container-rgb-light: 216, 226, 255;
  --md-sys-color-on-tertiary-container-rgb-light: 12, 27, 54;
  --md-sys-color-error-rgb-light: 186, 26, 26;
  --md-sys-color-on-error-rgb-light: 255, 255, 255;
  --md-sys-color-error-container-rgb-light: 255, 218, 214;
  --md-sys-color-on-error-container-rgb-light: 65, 0, 2;
  --md-sys-color-background-rgb-light: 250, 253, 253;
  --md-sys-color-on-background-rgb-light: 25, 28, 29;
  --md-sys-color-surface-rgb-light: 250, 253, 253;
  --md-sys-color-on-surface-rgb-light: 25, 28, 29;
  --md-sys-color-surface-variant-rgb-light: 218, 228, 229;
  --md-sys-color-on-surface-variant-rgb-light: 63, 72, 74;
  --md-sys-color-outline-rgb-light: 111, 121, 122;
  --md-sys-color-shadow-rgb-light: 0, 0, 0;
  --md-sys-color-inverse-surface-rgb-light: 45, 49, 49;
  --md-sys-color-inverse-on-surface-rgb-light: 239, 241, 241;
  --md-sys-color-inverse-primary-rgb-light: 77, 216, 231;
  /* dark */
  --md-sys-color-primary-rgb-dark: 77, 216, 231;
  --md-sys-color-on-primary-rgb-dark: 0, 54, 59;
  --md-sys-color-primary-container-rgb-dark: 0, 79, 85;
  --md-sys-color-on-primary-container-rgb-dark: 136, 243, 255;
  --md-sys-color-secondary-rgb-dark: 177, 203, 207;
  --md-sys-color-on-secondary-rgb-dark: 28, 52, 55;
  --md-sys-color-secondary-container-rgb-dark: 50, 75, 78;
  --md-sys-color-on-secondary-container-rgb-dark: 205, 231, 235;
  --md-sys-color-tertiary-rgb-dark: 184, 198, 234;
  --md-sys-color-on-tertiary-rgb-dark: 34, 48, 76;
  --md-sys-color-tertiary-container-rgb-dark: 57, 71, 100;
  --md-sys-color-on-tertiary-container-rgb-dark: 216, 226, 255;
  --md-sys-color-error-rgb-dark: 255, 180, 171;
  --md-sys-color-on-error-rgb-dark: 105, 0, 5;
  --md-sys-color-error-container-rgb-dark: 147, 0, 10;
  --md-sys-color-on-error-container-rgb-dark: 255, 180, 171;
  --md-sys-color-background-rgb-dark: 25, 28, 29;
  --md-sys-color-on-background-rgb-dark: 224, 227, 227;
  --md-sys-color-surface-rgb-dark: 25, 28, 29;
  --md-sys-color-on-surface-rgb-dark: 224, 227, 227;
  --md-sys-color-surface-variant-rgb-dark: 63, 72, 74;
  --md-sys-color-on-surface-variant-rgb-dark: 190, 200, 201;
  --md-sys-color-outline-rgb-dark: 137, 146, 148;
  --md-sys-color-shadow-rgb-dark: 0, 0, 0;
  --md-sys-color-inverse-surface-rgb-dark: 224, 227, 227;
  --md-sys-color-inverse-on-surface-rgb-dark: 45, 49, 49;
  --md-sys-color-inverse-primary-rgb-dark: 0, 105, 113;
  /* primary */
  --md-ref-palette-primary0-rgb: 0, 0, 0;
  --md-ref-palette-primary5-rgb: 0, 20, 22;
  --md-ref-palette-primary10-rgb: 0, 31, 35;
  --md-ref-palette-primary20-rgb: 0, 54, 59;
  --md-ref-palette-primary25-rgb: 0, 66, 72;
  --md-ref-palette-primary30-rgb: 0, 79, 85;
  --md-ref-palette-primary35-rgb: 0, 92, 99;
  --md-ref-palette-primary40-rgb: 0, 105, 113;
  --md-ref-palette-primary50-rgb: 0, 132, 142;
  --md-ref-palette-primary60-rgb: 0, 160, 172;
  --md-ref-palette-primary70-rgb: 31, 188, 202;
  --md-ref-palette-primary80-rgb: 77, 216, 231;
  --md-ref-palette-primary90-rgb: 136, 243, 255;
  --md-ref-palette-primary95-rgb: 202, 249, 255;
  --md-ref-palette-primary98-rgb: 235, 253, 255;
  --md-ref-palette-primary99-rgb: 245, 254, 255;
  --md-ref-palette-primary100-rgb: 255, 255, 255;
  /* secondary */
  --md-ref-palette-secondary0-rgb: 0, 0, 0;
  --md-ref-palette-secondary5-rgb: 0, 20, 22;
  --md-ref-palette-secondary10-rgb: 5, 31, 34;
  --md-ref-palette-secondary20-rgb: 28, 52, 55;
  --md-ref-palette-secondary25-rgb: 39, 63, 66;
  --md-ref-palette-secondary30-rgb: 50, 75, 78;
  --md-ref-palette-secondary35-rgb: 62, 87, 90;
  --md-ref-palette-secondary40-rgb: 74, 99, 102;
  --md-ref-palette-secondary50-rgb: 98, 123, 127;
  --md-ref-palette-secondary60-rgb: 124, 149, 152;
  --md-ref-palette-secondary70-rgb: 150, 176, 179;
  --md-ref-palette-secondary80-rgb: 177, 203, 207;
  --md-ref-palette-secondary90-rgb: 205, 231, 235;
  --md-ref-palette-secondary95-rgb: 219, 246, 249;
  --md-ref-palette-secondary98-rgb: 235, 253, 255;
  --md-ref-palette-secondary99-rgb: 245, 254, 255;
  --md-ref-palette-secondary100-rgb: 255, 255, 255;
  /* tertiary */
  --md-ref-palette-tertiary0-rgb: 0, 0, 0;
  --md-ref-palette-tertiary5-rgb: 1, 16, 43;
  --md-ref-palette-tertiary10-rgb: 12, 27, 54;
  --md-ref-palette-tertiary20-rgb: 34, 48, 76;
  --md-ref-palette-tertiary25-rgb: 45, 59, 88;
  --md-ref-palette-tertiary30-rgb: 57, 71, 100;
  --md-ref-palette-tertiary35-rgb: 68, 82, 113;
  --md-ref-palette-tertiary40-rgb: 80, 94, 125;
  --md-ref-palette-tertiary50-rgb: 105, 119, 151;
  --md-ref-palette-tertiary60-rgb: 131, 145, 178;
  --md-ref-palette-tertiary70-rgb: 157, 171, 206;
  --md-ref-palette-tertiary80-rgb: 184, 198, 234;
  --md-ref-palette-tertiary90-rgb: 216, 226, 255;
  --md-ref-palette-tertiary95-rgb: 237, 240, 255;
  --md-ref-palette-tertiary98-rgb: 249, 249, 255;
  --md-ref-palette-tertiary99-rgb: 254, 251, 255;
  --md-ref-palette-tertiary100-rgb: 255, 255, 255;
  /* neutral */
  --md-ref-palette-neutral0-rgb: 0, 0, 0;
  --md-ref-palette-neutral5-rgb: 14, 18, 18;
  --md-ref-palette-neutral10-rgb: 25, 28, 29;
  --md-ref-palette-neutral20-rgb: 45, 49, 49;
  --md-ref-palette-neutral25-rgb: 57, 60, 60;
  --md-ref-palette-neutral30-rgb: 68, 71, 72;
  --md-ref-palette-neutral35-rgb: 80, 83, 83;
  --md-ref-palette-neutral40-rgb: 92, 95, 95;
  --md-ref-palette-neutral50-rgb: 116, 120, 120;
  --md-ref-palette-neutral60-rgb: 142, 145, 145;
  --md-ref-palette-neutral70-rgb: 169, 172, 172;
  --md-ref-palette-neutral80-rgb: 196, 199, 199;
  --md-ref-palette-neutral90-rgb: 224, 227, 227;
  --md-ref-palette-neutral95-rgb: 239, 241, 241;
  --md-ref-palette-neutral98-rgb: 248, 250, 250;
  --md-ref-palette-neutral99-rgb: 250, 253, 253;
  --md-ref-palette-neutral100-rgb: 255, 255, 255;
  /* neutralVariant */
  --md-ref-palette-neutral-variant0-rgb: 0, 0, 0;
  --md-ref-palette-neutral-variant5-rgb: 9, 18, 20;
  --md-ref-palette-neutral-variant10-rgb: 20, 29, 30;
  --md-ref-palette-neutral-variant20-rgb: 41, 50, 51;
  --md-ref-palette-neutral-variant25-rgb: 52, 61, 62;
  --md-ref-palette-neutral-variant30-rgb: 63, 72, 74;
  --md-ref-palette-neutral-variant35-rgb: 75, 84, 85;
  --md-ref-palette-neutral-variant40-rgb: 86, 96, 97;
  --md-ref-palette-neutral-variant50-rgb: 111, 121, 122;
  --md-ref-palette-neutral-variant60-rgb: 137, 146, 148;
  --md-ref-palette-neutral-variant70-rgb: 163, 173, 174;
  --md-ref-palette-neutral-variant80-rgb: 190, 200, 201;
  --md-ref-palette-neutral-variant90-rgb: 218, 228, 229;
  --md-ref-palette-neutral-variant95-rgb: 233, 243, 244;
  --md-ref-palette-neutral-variant98-rgb: 241, 251, 252;
  --md-ref-palette-neutral-variant99-rgb: 245, 254, 255;
  --md-ref-palette-neutral-variant100-rgb: 255, 255, 255;
  /* error */
  --md-ref-palette-error0-rgb: 0, 0, 0;
  --md-ref-palette-error5-rgb: 45, 0, 1;
  --md-ref-palette-error10-rgb: 65, 0, 2;
  --md-ref-palette-error20-rgb: 105, 0, 5;
  --md-ref-palette-error25-rgb: 126, 0, 7;
  --md-ref-palette-error30-rgb: 147, 0, 10;
  --md-ref-palette-error35-rgb: 168, 7, 16;
  --md-ref-palette-error40-rgb: 186, 26, 26;
  --md-ref-palette-error50-rgb: 222, 55, 48;
  --md-ref-palette-error60-rgb: 255, 84, 73;
  --md-ref-palette-error70-rgb: 255, 137, 125;
  --md-ref-palette-error80-rgb: 255, 180, 171;
  --md-ref-palette-error90-rgb: 255, 218, 214;
  --md-ref-palette-error95-rgb: 255, 237, 234;
  --md-ref-palette-error98-rgb: 255, 248, 247;
  --md-ref-palette-error99-rgb: 255, 251, 255;
  --md-ref-palette-error100-rgb: 255, 255, 255;
}