body, .tokens {
--md-source: #663399;
  /* light */
  --md-sys-color-primary-rgb-light: 120, 69, 172;
  --md-sys-color-on-primary-rgb-light: 255, 255, 255;
  --md-sys-color-primary-container-rgb-light: 240, 219, 255;
  --md-sys-color-on-primary-container-rgb-light: 44, 0, 81;
  --md-sys-color-secondary-rgb-light: 102, 90, 111;
  --md-sys-color-on-secondary-rgb-light: 255, 255, 255;
  --md-sys-color-secondary-container-rgb-light: 237, 221, 246;
  --md-sys-color-on-secondary-container-rgb-light: 33, 24, 42;
  --md-sys-color-tertiary-rgb-light: 128, 81, 88;
  --md-sys-color-on-tertiary-rgb-light: 255, 255, 255;
  --md-sys-color-tertiary-container-rgb-light: 255, 217, 221;
  --md-sys-color-on-tertiary-container-rgb-light: 50, 16, 23;
  --md-sys-color-error-rgb-light: 186, 26, 26;
  --md-sys-color-on-error-rgb-light: 255, 255, 255;
  --md-sys-color-error-container-rgb-light: 255, 218, 214;
  --md-sys-color-on-error-container-rgb-light: 65, 0, 2;
  --md-sys-color-background-rgb-light: 255, 251, 255;
  --md-sys-color-on-background-rgb-light: 29, 27, 30;
  --md-sys-color-surface-rgb-light: 255, 251, 255;
  --md-sys-color-on-surface-rgb-light: 29, 27, 30;
  --md-sys-color-surface-variant-rgb-light: 233, 223, 235;
  --md-sys-color-on-surface-variant-rgb-light: 74, 69, 78;
  --md-sys-color-outline-rgb-light: 124, 117, 126;
  --md-sys-color-shadow-rgb-light: 0, 0, 0;
  --md-sys-color-inverse-surface-rgb-light: 50, 47, 51;
  --md-sys-color-inverse-on-surface-rgb-light: 245, 239, 244;
  --md-sys-color-inverse-primary-rgb-light: 220, 184, 255;
  /* dark */
  --md-sys-color-primary-rgb-dark: 220, 184, 255;
  --md-sys-color-on-primary-rgb-dark: 71, 12, 122;
  --md-sys-color-primary-container-rgb-dark: 95, 43, 146;
  --md-sys-color-on-primary-container-rgb-dark: 240, 219, 255;
  --md-sys-color-secondary-rgb-dark: 208, 193, 218;
  --md-sys-color-on-secondary-rgb-dark: 54, 44, 63;
  --md-sys-color-secondary-container-rgb-dark: 77, 67, 87;
  --md-sys-color-on-secondary-container-rgb-dark: 237, 221, 246;
  --md-sys-color-tertiary-rgb-dark: 243, 183, 190;
  --md-sys-color-on-tertiary-rgb-dark: 75, 37, 43;
  --md-sys-color-tertiary-container-rgb-dark: 101, 58, 65;
  --md-sys-color-on-tertiary-container-rgb-dark: 255, 217, 221;
  --md-sys-color-error-rgb-dark: 255, 180, 171;
  --md-sys-color-on-error-rgb-dark: 105, 0, 5;
  --md-sys-color-error-container-rgb-dark: 147, 0, 10;
  --md-sys-color-on-error-container-rgb-dark: 255, 180, 171;
  --md-sys-color-background-rgb-dark: 29, 27, 30;
  --md-sys-color-on-background-rgb-dark: 231, 225, 229;
  --md-sys-color-surface-rgb-dark: 29, 27, 30;
  --md-sys-color-on-surface-rgb-dark: 231, 225, 229;
  --md-sys-color-surface-variant-rgb-dark: 74, 69, 78;
  --md-sys-color-on-surface-variant-rgb-dark: 204, 196, 206;
  --md-sys-color-outline-rgb-dark: 150, 142, 152;
  --md-sys-color-shadow-rgb-dark: 0, 0, 0;
  --md-sys-color-inverse-surface-rgb-dark: 231, 225, 229;
  --md-sys-color-inverse-on-surface-rgb-dark: 50, 47, 51;
  --md-sys-color-inverse-primary-rgb-dark: 120, 69, 172;
  /* primary */
  --md-ref-palette-primary0: #000000;
  --md-ref-palette-primary5: #1d0039;
  --md-ref-palette-primary10: #2c0051;
  --md-ref-palette-primary20: #470c7a;
  --md-ref-palette-primary25: #531d85;
  --md-ref-palette-primary30: #5f2b92;
  --md-ref-palette-primary35: #6b389e;
  --md-ref-palette-primary40: #7845ac;
  --md-ref-palette-primary50: #925fc7;
  --md-ref-palette-primary60: #ad79e3;
  --md-ref-palette-primary70: #c994ff;
  --md-ref-palette-primary80: #dcb8ff;
  --md-ref-palette-primary90: #f0dbff;
  --md-ref-palette-primary95: #f9ecff;
  --md-ref-palette-primary98: #fff7fe;
  --md-ref-palette-primary99: #fffbff;
  --md-ref-palette-primary100: #ffffff;
  /* secondary */
  --md-ref-palette-secondary0: #000000;
  --md-ref-palette-secondary5: #160d1e;
  --md-ref-palette-secondary10: #21182a;
  --md-ref-palette-secondary20: #362c3f;
  --md-ref-palette-secondary25: #42374b;
  --md-ref-palette-secondary30: #4d4357;
  --md-ref-palette-secondary35: #594e63;
  --md-ref-palette-secondary40: #665a6f;
  --md-ref-palette-secondary50: #7f7288;
  --md-ref-palette-secondary60: #998ca3;
  --md-ref-palette-secondary70: #b4a6be;
  --md-ref-palette-secondary80: #d0c1da;
  --md-ref-palette-secondary90: #edddf6;
  --md-ref-palette-secondary95: #f9ecff;
  --md-ref-palette-secondary98: #fff7fe;
  --md-ref-palette-secondary99: #fffbff;
  --md-ref-palette-secondary100: #ffffff;
  /* tertiary */
  --md-ref-palette-tertiary0: #000000;
  --md-ref-palette-tertiary5: #25060c;
  --md-ref-palette-tertiary10: #321017;
  --md-ref-palette-tertiary20: #4b252b;
  --md-ref-palette-tertiary25: #582f36;
  --md-ref-palette-tertiary30: #653a41;
  --md-ref-palette-tertiary35: #73464c;
  --md-ref-palette-tertiary40: #805158;
  --md-ref-palette-tertiary50: #9c6a70;
  --md-ref-palette-tertiary60: #b88389;
  --md-ref-palette-tertiary70: #d59ca3;
  --md-ref-palette-tertiary80: #f3b7be;
  --md-ref-palette-tertiary90: #ffd9dd;
  --md-ref-palette-tertiary95: #ffeced;
  --md-ref-palette-tertiary98: #fff8f7;
  --md-ref-palette-tertiary99: #fffbff;
  --md-ref-palette-tertiary100: #ffffff;
  /* neutral */
  --md-ref-palette-neutral0: #000000;
  --md-ref-palette-neutral5: #121013;
  --md-ref-palette-neutral10: #1d1b1e;
  --md-ref-palette-neutral20: #322f33;
  --md-ref-palette-neutral25: #3d3a3e;
  --md-ref-palette-neutral30: #49464a;
  --md-ref-palette-neutral35: #555155;
  --md-ref-palette-neutral40: #615d61;
  --md-ref-palette-neutral50: #7a767a;
  --md-ref-palette-neutral60: #948f94;
  --md-ref-palette-neutral70: #afaaae;
  --md-ref-palette-neutral80: #cbc5c9;
  --md-ref-palette-neutral90: #e7e1e5;
  --md-ref-palette-neutral95: #f5eff4;
  --md-ref-palette-neutral98: #fef7fc;
  --md-ref-palette-neutral99: #fffbff;
  --md-ref-palette-neutral100: #ffffff;
  /* neutralVariant */
  --md-ref-palette-neutralVariant0: #000000;
  --md-ref-palette-neutralVariant5: #130f17;
  --md-ref-palette-neutralVariant10: #1e1a22;
  --md-ref-palette-neutralVariant20: #332f37;
  --md-ref-palette-neutralVariant25: #3f3942;
  --md-ref-palette-neutralVariant30: #4a454e;
  --md-ref-palette-neutralVariant35: #565059;
  --md-ref-palette-neutralVariant40: #625c65;
  --md-ref-palette-neutralVariant50: #7c757e;
  --md-ref-palette-neutralVariant60: #968e98;
  --md-ref-palette-neutralVariant70: #b1a9b3;
  --md-ref-palette-neutralVariant80: #ccc4ce;
  --md-ref-palette-neutralVariant90: #e9dfeb;
  --md-ref-palette-neutralVariant95: #f7eef9;
  --md-ref-palette-neutralVariant98: #fff7fe;
  --md-ref-palette-neutralVariant99: #fffbff;
  --md-ref-palette-neutralVariant100: #ffffff;
  /* error */
  --md-ref-palette-error0: #000000;
  --md-ref-palette-error5: #2d0001;
  --md-ref-palette-error10: #410002;
  --md-ref-palette-error20: #690005;
  --md-ref-palette-error25: #7e0007;
  --md-ref-palette-error30: #93000a;
  --md-ref-palette-error35: #a80710;
  --md-ref-palette-error40: #ba1a1a;
  --md-ref-palette-error50: #de3730;
  --md-ref-palette-error60: #ff5449;
  --md-ref-palette-error70: #ff897d;
  --md-ref-palette-error80: #ffb4ab;
  --md-ref-palette-error90: #ffdad6;
  --md-ref-palette-error95: #ffedea;
  --md-ref-palette-error98: #fff8f7;
  --md-ref-palette-error99: #fffbff;
  --md-ref-palette-error100: #ffffff;
}