body, .tokens {
--md-source: #4169E1;
  /* light */
  --md-sys-color-primary-rgb-light: 40, 84, 204;
  --md-sys-color-on-primary-rgb-light: 255, 255, 255;
  --md-sys-color-primary-container-rgb-light: 220, 225, 255;
  --md-sys-color-on-primary-container-rgb-light: 0, 22, 78;
  --md-sys-color-secondary-rgb-light: 89, 94, 114;
  --md-sys-color-on-secondary-rgb-light: 255, 255, 255;
  --md-sys-color-secondary-container-rgb-light: 222, 225, 249;
  --md-sys-color-on-secondary-container-rgb-light: 22, 27, 44;
  --md-sys-color-tertiary-rgb-light: 117, 84, 112;
  --md-sys-color-on-tertiary-rgb-light: 255, 255, 255;
  --md-sys-color-tertiary-container-rgb-light: 255, 215, 246;
  --md-sys-color-on-tertiary-container-rgb-light: 44, 18, 42;
  --md-sys-color-error-rgb-light: 186, 26, 26;
  --md-sys-color-on-error-rgb-light: 255, 255, 255;
  --md-sys-color-error-container-rgb-light: 255, 218, 214;
  --md-sys-color-on-error-container-rgb-light: 65, 0, 2;
  --md-sys-color-background-rgb-light: 254, 251, 255;
  --md-sys-color-on-background-rgb-light: 27, 27, 31;
  --md-sys-color-surface-rgb-light: 254, 251, 255;
  --md-sys-color-on-surface-rgb-light: 27, 27, 31;
  --md-sys-color-surface-variant-rgb-light: 226, 225, 236;
  --md-sys-color-on-surface-variant-rgb-light: 69, 70, 79;
  --md-sys-color-outline-rgb-light: 118, 118, 128;
  --md-sys-color-shadow-rgb-light: 0, 0, 0;
  --md-sys-color-inverse-surface-rgb-light: 48, 48, 52;
  --md-sys-color-inverse-on-surface-rgb-light: 242, 240, 244;
  --md-sys-color-inverse-primary-rgb-light: 182, 196, 255;
  /* dark */
  --md-sys-color-primary-rgb-dark: 182, 196, 255;
  --md-sys-color-on-primary-rgb-dark: 0, 40, 125;
  --md-sys-color-primary-container-rgb-dark: 0, 59, 175;
  --md-sys-color-on-primary-container-rgb-dark: 220, 225, 255;
  --md-sys-color-secondary-rgb-dark: 194, 197, 221;
  --md-sys-color-on-secondary-rgb-dark: 43, 48, 66;
  --md-sys-color-secondary-container-rgb-dark: 65, 70, 89;
  --md-sys-color-on-secondary-container-rgb-dark: 222, 225, 249;
  --md-sys-color-tertiary-rgb-dark: 227, 186, 218;
  --md-sys-color-on-tertiary-rgb-dark: 67, 39, 64;
  --md-sys-color-tertiary-container-rgb-dark: 91, 61, 87;
  --md-sys-color-on-tertiary-container-rgb-dark: 255, 215, 246;
  --md-sys-color-error-rgb-dark: 255, 180, 171;
  --md-sys-color-on-error-rgb-dark: 105, 0, 5;
  --md-sys-color-error-container-rgb-dark: 147, 0, 10;
  --md-sys-color-on-error-container-rgb-dark: 255, 180, 171;
  --md-sys-color-background-rgb-dark: 27, 27, 31;
  --md-sys-color-on-background-rgb-dark: 228, 225, 230;
  --md-sys-color-surface-rgb-dark: 27, 27, 31;
  --md-sys-color-on-surface-rgb-dark: 228, 225, 230;
  --md-sys-color-surface-variant-rgb-dark: 69, 70, 79;
  --md-sys-color-on-surface-variant-rgb-dark: 198, 198, 208;
  --md-sys-color-outline-rgb-dark: 143, 144, 154;
  --md-sys-color-shadow-rgb-dark: 0, 0, 0;
  --md-sys-color-inverse-surface-rgb-dark: 228, 225, 230;
  --md-sys-color-inverse-on-surface-rgb-dark: 48, 48, 52;
  --md-sys-color-inverse-primary-rgb-dark: 40, 84, 204;
  /* primary */
  --md-ref-palette-primary0-rgb: 0, 0, 0;
  --md-ref-palette-primary5-rgb: 0, 13, 55;
  --md-ref-palette-primary10-rgb: 0, 22, 78;
  --md-ref-palette-primary20-rgb: 0, 40, 125;
  --md-ref-palette-primary25-rgb: 0, 49, 150;
  --md-ref-palette-primary30-rgb: 0, 59, 175;
  --md-ref-palette-primary35-rgb: 21, 71, 192;
  --md-ref-palette-primary40-rgb: 40, 84, 204;
  --md-ref-palette-primary50-rgb: 71, 111, 231;
  --md-ref-palette-primary60-rgb: 102, 138, 255;
  --md-ref-palette-primary70-rgb: 143, 167, 255;
  --md-ref-palette-primary80-rgb: 182, 196, 255;
  --md-ref-palette-primary90-rgb: 220, 225, 255;
  --md-ref-palette-primary95-rgb: 239, 240, 255;
  --md-ref-palette-primary98-rgb: 250, 248, 255;
  --md-ref-palette-primary99-rgb: 254, 251, 255;
  --md-ref-palette-primary100-rgb: 255, 255, 255;
  /* secondary */
  --md-ref-palette-secondary0-rgb: 0, 0, 0;
  --md-ref-palette-secondary5-rgb: 11, 16, 33;
  --md-ref-palette-secondary10-rgb: 22, 27, 44;
  --md-ref-palette-secondary20-rgb: 43, 48, 66;
  --md-ref-palette-secondary25-rgb: 54, 59, 77;
  --md-ref-palette-secondary30-rgb: 65, 70, 89;
  --md-ref-palette-secondary35-rgb: 77, 82, 101;
  --md-ref-palette-secondary40-rgb: 89, 94, 114;
  --md-ref-palette-secondary50-rgb: 114, 118, 139;
  --md-ref-palette-secondary60-rgb: 140, 144, 165;
  --md-ref-palette-secondary70-rgb: 166, 170, 193;
  --md-ref-palette-secondary80-rgb: 194, 197, 221;
  --md-ref-palette-secondary90-rgb: 222, 225, 249;
  --md-ref-palette-secondary95-rgb: 239, 240, 255;
  --md-ref-palette-secondary98-rgb: 250, 248, 255;
  --md-ref-palette-secondary99-rgb: 254, 251, 255;
  --md-ref-palette-secondary100-rgb: 255, 255, 255;
  /* tertiary */
  --md-ref-palette-tertiary0-rgb: 0, 0, 0;
  --md-ref-palette-tertiary5-rgb: 32, 7, 31;
  --md-ref-palette-tertiary10-rgb: 44, 18, 42;
  --md-ref-palette-tertiary20-rgb: 67, 39, 64;
  --md-ref-palette-tertiary25-rgb: 79, 50, 75;
  --md-ref-palette-tertiary30-rgb: 91, 61, 87;
  --md-ref-palette-tertiary35-rgb: 104, 72, 99;
  --md-ref-palette-tertiary40-rgb: 117, 84, 112;
  --md-ref-palette-tertiary50-rgb: 143, 108, 137;
  --md-ref-palette-tertiary60-rgb: 170, 133, 163;
  --md-ref-palette-tertiary70-rgb: 198, 160, 191;
  --md-ref-palette-tertiary80-rgb: 227, 186, 218;
  --md-ref-palette-tertiary90-rgb: 255, 215, 246;
  --md-ref-palette-tertiary95-rgb: 255, 235, 248;
  --md-ref-palette-tertiary98-rgb: 255, 247, 249;
  --md-ref-palette-tertiary99-rgb: 255, 251, 255;
  --md-ref-palette-tertiary100-rgb: 255, 255, 255;
  /* neutral */
  --md-ref-palette-neutral0-rgb: 0, 0, 0;
  --md-ref-palette-neutral5-rgb: 16, 17, 20;
  --md-ref-palette-neutral10-rgb: 27, 27, 31;
  --md-ref-palette-neutral20-rgb: 48, 48, 52;
  --md-ref-palette-neutral25-rgb: 59, 59, 63;
  --md-ref-palette-neutral30-rgb: 71, 70, 74;
  --md-ref-palette-neutral35-rgb: 82, 82, 86;
  --md-ref-palette-neutral40-rgb: 94, 94, 98;
  --md-ref-palette-neutral50-rgb: 119, 118, 122;
  --md-ref-palette-neutral60-rgb: 145, 144, 148;
  --md-ref-palette-neutral70-rgb: 172, 170, 175;
  --md-ref-palette-neutral80-rgb: 200, 198, 202;
  --md-ref-palette-neutral90-rgb: 228, 225, 230;
  --md-ref-palette-neutral95-rgb: 242, 240, 244;
  --md-ref-palette-neutral98-rgb: 251, 248, 253;
  --md-ref-palette-neutral99-rgb: 254, 251, 255;
  --md-ref-palette-neutral100-rgb: 255, 255, 255;
  /* neutralVariant */
  --md-ref-palette-neutral-variant0-rgb: 0, 0, 0;
  --md-ref-palette-neutral-variant5-rgb: 15, 17, 24;
  --md-ref-palette-neutral-variant10-rgb: 26, 27, 35;
  --md-ref-palette-neutral-variant20-rgb: 47, 48, 56;
  --md-ref-palette-neutral-variant25-rgb: 58, 59, 67;
  --md-ref-palette-neutral-variant30-rgb: 69, 70, 79;
  --md-ref-palette-neutral-variant35-rgb: 81, 82, 91;
  --md-ref-palette-neutral-variant40-rgb: 93, 94, 103;
  --md-ref-palette-neutral-variant50-rgb: 118, 118, 128;
  --md-ref-palette-neutral-variant60-rgb: 143, 144, 154;
  --md-ref-palette-neutral-variant70-rgb: 170, 170, 180;
  --md-ref-palette-neutral-variant80-rgb: 198, 198, 208;
  --md-ref-palette-neutral-variant90-rgb: 226, 225, 236;
  --md-ref-palette-neutral-variant95-rgb: 240, 240, 250;
  --md-ref-palette-neutral-variant98-rgb: 250, 248, 255;
  --md-ref-palette-neutral-variant99-rgb: 254, 251, 255;
  --md-ref-palette-neutral-variant100-rgb: 255, 255, 255;
  /* error */
  --md-ref-palette-error0-rgb: 0, 0, 0;
  --md-ref-palette-error5-rgb: 45, 0, 1;
  --md-ref-palette-error10-rgb: 65, 0, 2;
  --md-ref-palette-error20-rgb: 105, 0, 5;
  --md-ref-palette-error25-rgb: 126, 0, 7;
  --md-ref-palette-error30-rgb: 147, 0, 10;
  --md-ref-palette-error35-rgb: 168, 7, 16;
  --md-ref-palette-error40-rgb: 186, 26, 26;
  --md-ref-palette-error50-rgb: 222, 55, 48;
  --md-ref-palette-error60-rgb: 255, 84, 73;
  --md-ref-palette-error70-rgb: 255, 137, 125;
  --md-ref-palette-error80-rgb: 255, 180, 171;
  --md-ref-palette-error90-rgb: 255, 218, 214;
  --md-ref-palette-error95-rgb: 255, 237, 234;
  --md-ref-palette-error98-rgb: 255, 248, 247;
  --md-ref-palette-error99-rgb: 255, 251, 255;
  --md-ref-palette-error100-rgb: 255, 255, 255;
}