body, .tokens {
--md-source: #4169E1;
  /* light */
  --md-sys-color-primary-rgb-light: 40, 84, 204;
  --md-sys-color-on-primary-rgb-light: 255, 255, 255;
  --md-sys-color-primary-container-rgb-light: 220, 225, 255;
  --md-sys-color-on-primary-container-rgb-light: 0, 22, 78;
  --md-sys-color-secondary-rgb-light: 89, 94, 114;
  --md-sys-color-on-secondary-rgb-light: 255, 255, 255;
  --md-sys-color-secondary-container-rgb-light: 222, 225, 249;
  --md-sys-color-on-secondary-container-rgb-light: 22, 27, 44;
  --md-sys-color-tertiary-rgb-light: 117, 84, 112;
  --md-sys-color-on-tertiary-rgb-light: 255, 255, 255;
  --md-sys-color-tertiary-container-rgb-light: 255, 215, 246;
  --md-sys-color-on-tertiary-container-rgb-light: 44, 18, 42;
  --md-sys-color-error-rgb-light: 186, 26, 26;
  --md-sys-color-on-error-rgb-light: 255, 255, 255;
  --md-sys-color-error-container-rgb-light: 255, 218, 214;
  --md-sys-color-on-error-container-rgb-light: 65, 0, 2;
  --md-sys-color-background-rgb-light: 254, 251, 255;
  --md-sys-color-on-background-rgb-light: 27, 27, 31;
  --md-sys-color-surface-rgb-light: 254, 251, 255;
  --md-sys-color-on-surface-rgb-light: 27, 27, 31;
  --md-sys-color-surface-variant-rgb-light: 226, 225, 236;
  --md-sys-color-on-surface-variant-rgb-light: 69, 70, 79;
  --md-sys-color-outline-rgb-light: 118, 118, 128;
  --md-sys-color-shadow-rgb-light: 0, 0, 0;
  --md-sys-color-inverse-surface-rgb-light: 48, 48, 52;
  --md-sys-color-inverse-on-surface-rgb-light: 242, 240, 244;
  --md-sys-color-inverse-primary-rgb-light: 182, 196, 255;
  /* dark */
  --md-sys-color-primary-rgb-dark: 182, 196, 255;
  --md-sys-color-on-primary-rgb-dark: 0, 40, 125;
  --md-sys-color-primary-container-rgb-dark: 0, 59, 175;
  --md-sys-color-on-primary-container-rgb-dark: 220, 225, 255;
  --md-sys-color-secondary-rgb-dark: 194, 197, 221;
  --md-sys-color-on-secondary-rgb-dark: 43, 48, 66;
  --md-sys-color-secondary-container-rgb-dark: 65, 70, 89;
  --md-sys-color-on-secondary-container-rgb-dark: 222, 225, 249;
  --md-sys-color-tertiary-rgb-dark: 227, 186, 218;
  --md-sys-color-on-tertiary-rgb-dark: 67, 39, 64;
  --md-sys-color-tertiary-container-rgb-dark: 91, 61, 87;
  --md-sys-color-on-tertiary-container-rgb-dark: 255, 215, 246;
  --md-sys-color-error-rgb-dark: 255, 180, 171;
  --md-sys-color-on-error-rgb-dark: 105, 0, 5;
  --md-sys-color-error-container-rgb-dark: 147, 0, 10;
  --md-sys-color-on-error-container-rgb-dark: 255, 180, 171;
  --md-sys-color-background-rgb-dark: 27, 27, 31;
  --md-sys-color-on-background-rgb-dark: 228, 225, 230;
  --md-sys-color-surface-rgb-dark: 27, 27, 31;
  --md-sys-color-on-surface-rgb-dark: 228, 225, 230;
  --md-sys-color-surface-variant-rgb-dark: 69, 70, 79;
  --md-sys-color-on-surface-variant-rgb-dark: 198, 198, 208;
  --md-sys-color-outline-rgb-dark: 143, 144, 154;
  --md-sys-color-shadow-rgb-dark: 0, 0, 0;
  --md-sys-color-inverse-surface-rgb-dark: 228, 225, 230;
  --md-sys-color-inverse-on-surface-rgb-dark: 48, 48, 52;
  --md-sys-color-inverse-primary-rgb-dark: 40, 84, 204;
  /* primary */
  --md-ref-palette-primary0: #000000;
  --md-ref-palette-primary5: #000d37;
  --md-ref-palette-primary10: #00164e;
  --md-ref-palette-primary20: #00287d;
  --md-ref-palette-primary25: #003196;
  --md-ref-palette-primary30: #003baf;
  --md-ref-palette-primary35: #1547c0;
  --md-ref-palette-primary40: #2854cc;
  --md-ref-palette-primary50: #476fe7;
  --md-ref-palette-primary60: #668aff;
  --md-ref-palette-primary70: #8fa7ff;
  --md-ref-palette-primary80: #b6c4ff;
  --md-ref-palette-primary90: #dce1ff;
  --md-ref-palette-primary95: #eff0ff;
  --md-ref-palette-primary98: #faf8ff;
  --md-ref-palette-primary99: #fefbff;
  --md-ref-palette-primary100: #ffffff;
  /* secondary */
  --md-ref-palette-secondary0: #000000;
  --md-ref-palette-secondary5: #0b1021;
  --md-ref-palette-secondary10: #161b2c;
  --md-ref-palette-secondary20: #2b3042;
  --md-ref-palette-secondary25: #363b4d;
  --md-ref-palette-secondary30: #414659;
  --md-ref-palette-secondary35: #4d5265;
  --md-ref-palette-secondary40: #595e72;
  --md-ref-palette-secondary50: #72768b;
  --md-ref-palette-secondary60: #8c90a5;
  --md-ref-palette-secondary70: #a6aac1;
  --md-ref-palette-secondary80: #c2c5dd;
  --md-ref-palette-secondary90: #dee1f9;
  --md-ref-palette-secondary95: #eff0ff;
  --md-ref-palette-secondary98: #faf8ff;
  --md-ref-palette-secondary99: #fefbff;
  --md-ref-palette-secondary100: #ffffff;
  /* tertiary */
  --md-ref-palette-tertiary0: #000000;
  --md-ref-palette-tertiary5: #20071f;
  --md-ref-palette-tertiary10: #2c122a;
  --md-ref-palette-tertiary20: #432740;
  --md-ref-palette-tertiary25: #4f324b;
  --md-ref-palette-tertiary30: #5b3d57;
  --md-ref-palette-tertiary35: #684863;
  --md-ref-palette-tertiary40: #755470;
  --md-ref-palette-tertiary50: #8f6c89;
  --md-ref-palette-tertiary60: #aa85a3;
  --md-ref-palette-tertiary70: #c6a0bf;
  --md-ref-palette-tertiary80: #e3bada;
  --md-ref-palette-tertiary90: #ffd7f6;
  --md-ref-palette-tertiary95: #ffebf8;
  --md-ref-palette-tertiary98: #fff7f9;
  --md-ref-palette-tertiary99: #fffbff;
  --md-ref-palette-tertiary100: #ffffff;
  /* neutral */
  --md-ref-palette-neutral0: #000000;
  --md-ref-palette-neutral5: #101114;
  --md-ref-palette-neutral10: #1b1b1f;
  --md-ref-palette-neutral20: #303034;
  --md-ref-palette-neutral25: #3b3b3f;
  --md-ref-palette-neutral30: #47464a;
  --md-ref-palette-neutral35: #525256;
  --md-ref-palette-neutral40: #5e5e62;
  --md-ref-palette-neutral50: #77767a;
  --md-ref-palette-neutral60: #919094;
  --md-ref-palette-neutral70: #acaaaf;
  --md-ref-palette-neutral80: #c8c6ca;
  --md-ref-palette-neutral90: #e4e1e6;
  --md-ref-palette-neutral95: #f2f0f4;
  --md-ref-palette-neutral98: #fbf8fd;
  --md-ref-palette-neutral99: #fefbff;
  --md-ref-palette-neutral100: #ffffff;
  /* neutralVariant */
  --md-ref-palette-neutral-variant0: #000000;
  --md-ref-palette-neutral-variant5: #0f1118;
  --md-ref-palette-neutral-variant10: #1a1b23;
  --md-ref-palette-neutral-variant20: #2f3038;
  --md-ref-palette-neutral-variant25: #3a3b43;
  --md-ref-palette-neutral-variant30: #45464f;
  --md-ref-palette-neutral-variant35: #51525b;
  --md-ref-palette-neutral-variant40: #5d5e67;
  --md-ref-palette-neutral-variant50: #767680;
  --md-ref-palette-neutral-variant60: #8f909a;
  --md-ref-palette-neutral-variant70: #aaaab4;
  --md-ref-palette-neutral-variant80: #c6c6d0;
  --md-ref-palette-neutral-variant90: #e2e1ec;
  --md-ref-palette-neutral-variant95: #f0f0fa;
  --md-ref-palette-neutral-variant98: #faf8ff;
  --md-ref-palette-neutral-variant99: #fefbff;
  --md-ref-palette-neutral-variant100: #ffffff;
  /* error */
  --md-ref-palette-error0: #000000;
  --md-ref-palette-error5: #2d0001;
  --md-ref-palette-error10: #410002;
  --md-ref-palette-error20: #690005;
  --md-ref-palette-error25: #7e0007;
  --md-ref-palette-error30: #93000a;
  --md-ref-palette-error35: #a80710;
  --md-ref-palette-error40: #ba1a1a;
  --md-ref-palette-error50: #de3730;
  --md-ref-palette-error60: #ff5449;
  --md-ref-palette-error70: #ff897d;
  --md-ref-palette-error80: #ffb4ab;
  --md-ref-palette-error90: #ffdad6;
  --md-ref-palette-error95: #ffedea;
  --md-ref-palette-error98: #fff8f7;
  --md-ref-palette-error99: #fffbff;
  --md-ref-palette-error100: #ffffff;
}