:root, .tokens {
--md-source: #8B4513;
  /* light */
  --md-sys-color-primary-rgb-light: 150, 72, 14;
  --md-sys-color-on-primary-rgb-light: 255, 255, 255;
  --md-sys-color-primary-container-rgb-light: 255, 219, 201;
  --md-sys-color-on-primary-container-rgb-light: 50, 18, 0;
  --md-sys-color-secondary-rgb-light: 118, 88, 71;
  --md-sys-color-on-secondary-rgb-light: 255, 255, 255;
  --md-sys-color-secondary-container-rgb-light: 255, 219, 201;
  --md-sys-color-on-secondary-container-rgb-light: 43, 22, 9;
  --md-sys-color-tertiary-rgb-light: 98, 96, 51;
  --md-sys-color-on-tertiary-rgb-light: 255, 255, 255;
  --md-sys-color-tertiary-container-rgb-light: 233, 229, 172;
  --md-sys-color-on-tertiary-container-rgb-light: 30, 29, 0;
  --md-sys-color-error-rgb-light: 186, 26, 26;
  --md-sys-color-on-error-rgb-light: 255, 255, 255;
  --md-sys-color-error-container-rgb-light: 255, 218, 214;
  --md-sys-color-on-error-container-rgb-light: 65, 0, 2;
  --md-sys-color-background-rgb-light: 255, 251, 255;
  --md-sys-color-on-background-rgb-light: 32, 26, 23;
  --md-sys-color-surface-rgb-light: 255, 251, 255;
  --md-sys-color-on-surface-rgb-light: 32, 26, 23;
  --md-sys-color-surface-variant-rgb-light: 244, 222, 212;
  --md-sys-color-on-surface-variant-rgb-light: 82, 68, 60;
  --md-sys-color-outline-rgb-light: 133, 116, 107;
  --md-sys-color-shadow-rgb-light: 0, 0, 0;
  --md-sys-color-inverse-surface-rgb-light: 54, 47, 44;
  --md-sys-color-inverse-on-surface-rgb-light: 251, 238, 233;
  --md-sys-color-inverse-primary-rgb-light: 255, 182, 140;
  /* dark */
  --md-sys-color-primary-rgb-dark: 255, 182, 140;
  --md-sys-color-on-primary-rgb-dark: 83, 34, 0;
  --md-sys-color-primary-container-rgb-dark: 117, 52, 0;
  --md-sys-color-on-primary-container-rgb-dark: 255, 219, 201;
  --md-sys-color-secondary-rgb-dark: 229, 191, 170;
  --md-sys-color-on-secondary-rgb-dark: 67, 43, 28;
  --md-sys-color-secondary-container-rgb-dark: 92, 65, 49;
  --md-sys-color-on-secondary-container-rgb-dark: 255, 219, 201;
  --md-sys-color-tertiary-rgb-dark: 204, 201, 146;
  --md-sys-color-on-tertiary-rgb-dark: 51, 50, 9;
  --md-sys-color-tertiary-container-rgb-dark: 74, 72, 29;
  --md-sys-color-on-tertiary-container-rgb-dark: 233, 229, 172;
  --md-sys-color-error-rgb-dark: 255, 180, 171;
  --md-sys-color-on-error-rgb-dark: 105, 0, 5;
  --md-sys-color-error-container-rgb-dark: 147, 0, 10;
  --md-sys-color-on-error-container-rgb-dark: 255, 180, 171;
  --md-sys-color-background-rgb-dark: 32, 26, 23;
  --md-sys-color-on-background-rgb-dark: 236, 224, 219;
  --md-sys-color-surface-rgb-dark: 32, 26, 23;
  --md-sys-color-on-surface-rgb-dark: 236, 224, 219;
  --md-sys-color-surface-variant-rgb-dark: 82, 68, 60;
  --md-sys-color-on-surface-variant-rgb-dark: 215, 194, 184;
  --md-sys-color-outline-rgb-dark: 159, 141, 132;
  --md-sys-color-shadow-rgb-dark: 0, 0, 0;
  --md-sys-color-inverse-surface-rgb-dark: 236, 224, 219;
  --md-sys-color-inverse-on-surface-rgb-dark: 54, 47, 44;
  --md-sys-color-inverse-primary-rgb-dark: 150, 72, 14;
  /* primary */
  --md-ref-palette-primary0: #000000;
  --md-ref-palette-primary5: #220a00;
  --md-ref-palette-primary10: #321200;
  --md-ref-palette-primary20: #532200;
  --md-ref-palette-primary25: #642b00;
  --md-ref-palette-primary30: #753400;
  --md-ref-palette-primary35: #873d00;
  --md-ref-palette-primary40: #96480e;
  --md-ref-palette-primary50: #b66026;
  --md-ref-palette-primary60: #d5793d;
  --md-ref-palette-primary70: #f59254;
  --md-ref-palette-primary80: #ffb68c;
  --md-ref-palette-primary90: #ffdbc9;
  --md-ref-palette-primary95: #ffede5;
  --md-ref-palette-primary98: #fff8f5;
  --md-ref-palette-primary99: #fffbff;
  --md-ref-palette-primary100: #ffffff;
  /* secondary */
  --md-ref-palette-secondary0: #000000;
  --md-ref-palette-secondary5: #1f0c03;
  --md-ref-palette-secondary10: #2b1609;
  --md-ref-palette-secondary20: #432b1c;
  --md-ref-palette-secondary25: #4f3627;
  --md-ref-palette-secondary30: #5c4131;
  --md-ref-palette-secondary35: #694c3c;
  --md-ref-palette-secondary40: #765847;
  --md-ref-palette-secondary50: #90705e;
  --md-ref-palette-secondary60: #ac8977;
  --md-ref-palette-secondary70: #c8a490;
  --md-ref-palette-secondary80: #e5bfaa;
  --md-ref-palette-secondary90: #ffdbc9;
  --md-ref-palette-secondary95: #ffede5;
  --md-ref-palette-secondary98: #fff8f5;
  --md-ref-palette-secondary99: #fffbff;
  --md-ref-palette-secondary100: #ffffff;
  /* tertiary */
  --md-ref-palette-tertiary0: #000000;
  --md-ref-palette-tertiary5: #121200;
  --md-ref-palette-tertiary10: #1e1d00;
  --md-ref-palette-tertiary20: #333209;
  --md-ref-palette-tertiary25: #3e3d13;
  --md-ref-palette-tertiary30: #4a481d;
  --md-ref-palette-tertiary35: #565428;
  --md-ref-palette-tertiary40: #626033;
  --md-ref-palette-tertiary50: #7b7949;
  --md-ref-palette-tertiary60: #959360;
  --md-ref-palette-tertiary70: #b0ae79;
  --md-ref-palette-tertiary80: #ccc992;
  --md-ref-palette-tertiary90: #e9e5ac;
  --md-ref-palette-tertiary95: #f7f3b9;
  --md-ref-palette-tertiary98: #fffbd1;
  --md-ref-palette-tertiary99: #fffbff;
  --md-ref-palette-tertiary100: #ffffff;
  /* neutral */
  --md-ref-palette-neutral0: #000000;
  --md-ref-palette-neutral5: #15100d;
  --md-ref-palette-neutral10: #201a17;
  --md-ref-palette-neutral20: #362f2c;
  --md-ref-palette-neutral25: #413a36;
  --md-ref-palette-neutral30: #4d4541;
  --md-ref-palette-neutral35: #59514d;
  --md-ref-palette-neutral40: #655d59;
  --md-ref-palette-neutral50: #7e7571;
  --md-ref-palette-neutral60: #998f8a;
  --md-ref-palette-neutral70: #b4a9a4;
  --md-ref-palette-neutral80: #d0c4bf;
  --md-ref-palette-neutral90: #ece0db;
  --md-ref-palette-neutral95: #fbeee9;
  --md-ref-palette-neutral98: #fff8f5;
  --md-ref-palette-neutral99: #fffbff;
  --md-ref-palette-neutral100: #ffffff;
  /* neutralVariant */
  --md-ref-palette-neutralVariant0: #000000;
  --md-ref-palette-neutralVariant5: #190f09;
  --md-ref-palette-neutralVariant10: #241913;
  --md-ref-palette-neutralVariant20: #3a2e27;
  --md-ref-palette-neutralVariant25: #463931;
  --md-ref-palette-neutralVariant30: #52443c;
  --md-ref-palette-neutralVariant35: #5e4f47;
  --md-ref-palette-neutralVariant40: #6b5b53;
  --md-ref-palette-neutralVariant50: #85746b;
  --md-ref-palette-neutralVariant60: #9f8d84;
  --md-ref-palette-neutralVariant70: #bba79e;
  --md-ref-palette-neutralVariant80: #d7c2b8;
  --md-ref-palette-neutralVariant90: #f4ded4;
  --md-ref-palette-neutralVariant95: #ffede5;
  --md-ref-palette-neutralVariant98: #fff8f5;
  --md-ref-palette-neutralVariant99: #fffbff;
  --md-ref-palette-neutralVariant100: #ffffff;
  /* error */
  --md-ref-palette-error0: #000000;
  --md-ref-palette-error5: #2d0001;
  --md-ref-palette-error10: #410002;
  --md-ref-palette-error20: #690005;
  --md-ref-palette-error25: #7e0007;
  --md-ref-palette-error30: #93000a;
  --md-ref-palette-error35: #a80710;
  --md-ref-palette-error40: #ba1a1a;
  --md-ref-palette-error50: #de3730;
  --md-ref-palette-error60: #ff5449;
  --md-ref-palette-error70: #ff897d;
  --md-ref-palette-error80: #ffb4ab;
  --md-ref-palette-error90: #ffdad6;
  --md-ref-palette-error95: #ffedea;
  --md-ref-palette-error98: #fff8f7;
  --md-ref-palette-error99: #fffbff;
  --md-ref-palette-error100: #ffffff;
}