:root, .tokens {
--md-source: #F4A460;
  /* light */
  --md-sys-color-primary-rgb-light: 144, 77, 0;
  --md-sys-color-on-primary-rgb-light: 255, 255, 255;
  --md-sys-color-primary-container-rgb-light: 255, 220, 195;
  --md-sys-color-on-primary-container-rgb-light: 47, 21, 0;
  --md-sys-color-secondary-rgb-light: 116, 89, 68;
  --md-sys-color-on-secondary-rgb-light: 255, 255, 255;
  --md-sys-color-secondary-container-rgb-light: 255, 220, 195;
  --md-sys-color-on-secondary-container-rgb-light: 42, 23, 7;
  --md-sys-color-tertiary-rgb-light: 92, 98, 55;
  --md-sys-color-on-tertiary-rgb-light: 255, 255, 255;
  --md-sys-color-tertiary-container-rgb-light: 225, 231, 176;
  --md-sys-color-on-tertiary-container-rgb-light: 25, 30, 0;
  --md-sys-color-error-rgb-light: 186, 26, 26;
  --md-sys-color-on-error-rgb-light: 255, 255, 255;
  --md-sys-color-error-container-rgb-light: 255, 218, 214;
  --md-sys-color-on-error-container-rgb-light: 65, 0, 2;
  --md-sys-color-background-rgb-light: 255, 251, 255;
  --md-sys-color-on-background-rgb-light: 32, 27, 23;
  --md-sys-color-surface-rgb-light: 255, 251, 255;
  --md-sys-color-on-surface-rgb-light: 32, 27, 23;
  --md-sys-color-surface-variant-rgb-light: 243, 223, 210;
  --md-sys-color-on-surface-variant-rgb-light: 81, 68, 59;
  --md-sys-color-outline-rgb-light: 132, 116, 105;
  --md-sys-color-shadow-rgb-light: 0, 0, 0;
  --md-sys-color-inverse-surface-rgb-light: 53, 47, 43;
  --md-sys-color-inverse-on-surface-rgb-light: 250, 238, 232;
  --md-sys-color-inverse-primary-rgb-light: 255, 183, 125;
  /* dark */
  --md-sys-color-primary-rgb-dark: 255, 183, 125;
  --md-sys-color-on-primary-rgb-dark: 77, 38, 0;
  --md-sys-color-primary-container-rgb-dark: 110, 57, 0;
  --md-sys-color-on-primary-container-rgb-dark: 255, 220, 195;
  --md-sys-color-secondary-rgb-dark: 227, 192, 166;
  --md-sys-color-on-secondary-rgb-dark: 66, 44, 26;
  --md-sys-color-secondary-container-rgb-dark: 90, 66, 46;
  --md-sys-color-on-secondary-container-rgb-dark: 255, 220, 195;
  --md-sys-color-tertiary-rgb-dark: 197, 203, 150;
  --md-sys-color-on-tertiary-rgb-dark: 46, 51, 13;
  --md-sys-color-tertiary-container-rgb-dark: 68, 74, 33;
  --md-sys-color-on-tertiary-container-rgb-dark: 225, 231, 176;
  --md-sys-color-error-rgb-dark: 255, 180, 171;
  --md-sys-color-on-error-rgb-dark: 105, 0, 5;
  --md-sys-color-error-container-rgb-dark: 147, 0, 10;
  --md-sys-color-on-error-container-rgb-dark: 255, 180, 171;
  --md-sys-color-background-rgb-dark: 32, 27, 23;
  --md-sys-color-on-background-rgb-dark: 236, 224, 218;
  --md-sys-color-surface-rgb-dark: 32, 27, 23;
  --md-sys-color-on-surface-rgb-dark: 236, 224, 218;
  --md-sys-color-surface-variant-rgb-dark: 81, 68, 59;
  --md-sys-color-on-surface-variant-rgb-dark: 214, 195, 182;
  --md-sys-color-outline-rgb-dark: 158, 142, 130;
  --md-sys-color-shadow-rgb-dark: 0, 0, 0;
  --md-sys-color-inverse-surface-rgb-dark: 236, 224, 218;
  --md-sys-color-inverse-on-surface-rgb-dark: 53, 47, 43;
  --md-sys-color-inverse-primary-rgb-dark: 144, 77, 0;
  /* primary */
  --md-ref-palette-primary0: #000000;
  --md-ref-palette-primary5: #1f0c00;
  --md-ref-palette-primary10: #2f1500;
  --md-ref-palette-primary20: #4d2600;
  --md-ref-palette-primary25: #5d3000;
  --md-ref-palette-primary30: #6e3900;
  --md-ref-palette-primary35: #7f4300;
  --md-ref-palette-primary40: #904d00;
  --md-ref-palette-primary50: #b16415;
  --md-ref-palette-primary60: #d07c2e;
  --md-ref-palette-primary70: #ef9646;
  --md-ref-palette-primary80: #ffb77d;
  --md-ref-palette-primary90: #ffdcc3;
  --md-ref-palette-primary95: #ffede3;
  --md-ref-palette-primary98: #fff8f5;
  --md-ref-palette-primary99: #fffbff;
  --md-ref-palette-primary100: #ffffff;
  /* secondary */
  --md-ref-palette-secondary0: #000000;
  --md-ref-palette-secondary5: #1e0d01;
  --md-ref-palette-secondary10: #2a1707;
  --md-ref-palette-secondary20: #422c1a;
  --md-ref-palette-secondary25: #4e3624;
  --md-ref-palette-secondary30: #5a422e;
  --md-ref-palette-secondary35: #674d39;
  --md-ref-palette-secondary40: #745944;
  --md-ref-palette-secondary50: #8f715b;
  --md-ref-palette-secondary60: #aa8b73;
  --md-ref-palette-secondary70: #c6a58c;
  --md-ref-palette-secondary80: #e3c0a6;
  --md-ref-palette-secondary90: #ffdcc3;
  --md-ref-palette-secondary95: #ffede3;
  --md-ref-palette-secondary98: #fff8f5;
  --md-ref-palette-secondary99: #fffbff;
  --md-ref-palette-secondary100: #ffffff;
  /* tertiary */
  --md-ref-palette-tertiary0: #000000;
  --md-ref-palette-tertiary5: #0f1300;
  --md-ref-palette-tertiary10: #191e00;
  --md-ref-palette-tertiary20: #2e330d;
  --md-ref-palette-tertiary25: #393e17;
  --md-ref-palette-tertiary30: #444a21;
  --md-ref-palette-tertiary35: #50562c;
  --md-ref-palette-tertiary40: #5c6237;
  --md-ref-palette-tertiary50: #757b4d;
  --md-ref-palette-tertiary60: #8f9565;
  --md-ref-palette-tertiary70: #a9af7d;
  --md-ref-palette-tertiary80: #c5cb96;
  --md-ref-palette-tertiary90: #e1e7b0;
  --md-ref-palette-tertiary95: #eff5be;
  --md-ref-palette-tertiary98: #f8fec6;
  --md-ref-palette-tertiary99: #fdffdb;
  --md-ref-palette-tertiary100: #ffffff;
  /* neutral */
  --md-ref-palette-neutral0: #000000;
  --md-ref-palette-neutral5: #15100c;
  --md-ref-palette-neutral10: #201b17;
  --md-ref-palette-neutral20: #352f2b;
  --md-ref-palette-neutral25: #413a36;
  --md-ref-palette-neutral30: #4c4541;
  --md-ref-palette-neutral35: #58514c;
  --md-ref-palette-neutral40: #655d58;
  --md-ref-palette-neutral50: #7e7570;
  --md-ref-palette-neutral60: #988f89;
  --md-ref-palette-neutral70: #b3a9a3;
  --md-ref-palette-neutral80: #cfc4be;
  --md-ref-palette-neutral90: #ece0da;
  --md-ref-palette-neutral95: #faeee8;
  --md-ref-palette-neutral98: #fff8f5;
  --md-ref-palette-neutral99: #fffbff;
  --md-ref-palette-neutral100: #ffffff;
  /* neutralVariant */
  --md-ref-palette-neutralVariant0: #000000;
  --md-ref-palette-neutralVariant5: #180f08;
  --md-ref-palette-neutralVariant10: #241912;
  --md-ref-palette-neutralVariant20: #3a2e25;
  --md-ref-palette-neutralVariant25: #453930;
  --md-ref-palette-neutralVariant30: #51443b;
  --md-ref-palette-neutralVariant35: #5e5046;
  --md-ref-palette-neutralVariant40: #6a5c51;
  --md-ref-palette-neutralVariant50: #847469;
  --md-ref-palette-neutralVariant60: #9e8e82;
  --md-ref-palette-neutralVariant70: #baa89c;
  --md-ref-palette-neutralVariant80: #d6c3b6;
  --md-ref-palette-neutralVariant90: #f3dfd2;
  --md-ref-palette-neutralVariant95: #ffede3;
  --md-ref-palette-neutralVariant98: #fff8f5;
  --md-ref-palette-neutralVariant99: #fffbff;
  --md-ref-palette-neutralVariant100: #ffffff;
  /* error */
  --md-ref-palette-error0: #000000;
  --md-ref-palette-error5: #2d0001;
  --md-ref-palette-error10: #410002;
  --md-ref-palette-error20: #690005;
  --md-ref-palette-error25: #7e0007;
  --md-ref-palette-error30: #93000a;
  --md-ref-palette-error35: #a80710;
  --md-ref-palette-error40: #ba1a1a;
  --md-ref-palette-error50: #de3730;
  --md-ref-palette-error60: #ff5449;
  --md-ref-palette-error70: #ff897d;
  --md-ref-palette-error80: #ffb4ab;
  --md-ref-palette-error90: #ffdad6;
  --md-ref-palette-error95: #ffedea;
  --md-ref-palette-error98: #fff8f7;
  --md-ref-palette-error99: #fffbff;
  --md-ref-palette-error100: #ffffff;
}