:root, .tokens {
--md-source: #FFF5EE;
  /* light */
  --md-sys-color-primary-rgb-light: 135, 83, 0;
  --md-sys-color-on-primary-rgb-light: 255, 255, 255;
  --md-sys-color-primary-container-rgb-light: 255, 221, 186;
  --md-sys-color-on-primary-container-rgb-light: 43, 23, 0;
  --md-sys-color-secondary-rgb-light: 113, 90, 65;
  --md-sys-color-on-secondary-rgb-light: 255, 255, 255;
  --md-sys-color-secondary-container-rgb-light: 253, 221, 189;
  --md-sys-color-on-secondary-container-rgb-light: 40, 24, 5;
  --md-sys-color-tertiary-rgb-light: 85, 99, 60;
  --md-sys-color-on-tertiary-rgb-light: 255, 255, 255;
  --md-sys-color-tertiary-container-rgb-light: 216, 233, 183;
  --md-sys-color-on-tertiary-container-rgb-light: 19, 31, 2;
  --md-sys-color-error-rgb-light: 186, 26, 26;
  --md-sys-color-on-error-rgb-light: 255, 255, 255;
  --md-sys-color-error-container-rgb-light: 255, 218, 214;
  --md-sys-color-on-error-container-rgb-light: 65, 0, 2;
  --md-sys-color-background-rgb-light: 255, 251, 255;
  --md-sys-color-on-background-rgb-light: 31, 27, 22;
  --md-sys-color-surface-rgb-light: 255, 251, 255;
  --md-sys-color-on-surface-rgb-light: 31, 27, 22;
  --md-sys-color-surface-variant-rgb-light: 241, 224, 208;
  --md-sys-color-on-surface-variant-rgb-light: 80, 69, 58;
  --md-sys-color-outline-rgb-light: 130, 117, 104;
  --md-sys-color-shadow-rgb-light: 0, 0, 0;
  --md-sys-color-inverse-surface-rgb-light: 53, 47, 42;
  --md-sys-color-inverse-on-surface-rgb-light: 249, 239, 231;
  --md-sys-color-inverse-primary-rgb-light: 255, 185, 100;
  /* dark */
  --md-sys-color-primary-rgb-dark: 255, 185, 100;
  --md-sys-color-on-primary-rgb-dark: 72, 42, 0;
  --md-sys-color-primary-container-rgb-dark: 102, 62, 0;
  --md-sys-color-on-primary-container-rgb-dark: 255, 221, 186;
  --md-sys-color-secondary-rgb-dark: 224, 193, 162;
  --md-sys-color-on-secondary-rgb-dark: 63, 45, 23;
  --md-sys-color-secondary-container-rgb-dark: 88, 67, 43;
  --md-sys-color-on-secondary-container-rgb-dark: 253, 221, 189;
  --md-sys-color-tertiary-rgb-dark: 188, 205, 157;
  --md-sys-color-on-tertiary-rgb-dark: 40, 52, 18;
  --md-sys-color-tertiary-container-rgb-dark: 62, 75, 39;
  --md-sys-color-on-tertiary-container-rgb-dark: 216, 233, 183;
  --md-sys-color-error-rgb-dark: 255, 180, 171;
  --md-sys-color-on-error-rgb-dark: 105, 0, 5;
  --md-sys-color-error-container-rgb-dark: 147, 0, 10;
  --md-sys-color-on-error-container-rgb-dark: 255, 180, 171;
  --md-sys-color-background-rgb-dark: 31, 27, 22;
  --md-sys-color-on-background-rgb-dark: 235, 225, 217;
  --md-sys-color-surface-rgb-dark: 31, 27, 22;
  --md-sys-color-on-surface-rgb-dark: 235, 225, 217;
  --md-sys-color-surface-variant-rgb-dark: 80, 69, 58;
  --md-sys-color-on-surface-variant-rgb-dark: 212, 196, 181;
  --md-sys-color-outline-rgb-dark: 157, 142, 129;
  --md-sys-color-shadow-rgb-dark: 0, 0, 0;
  --md-sys-color-inverse-surface-rgb-dark: 235, 225, 217;
  --md-sys-color-inverse-on-surface-rgb-dark: 53, 47, 42;
  --md-sys-color-inverse-primary-rgb-dark: 135, 83, 0;
  /* primary */
  --md-ref-palette-primary0: #000000;
  --md-ref-palette-primary5: #1c0e00;
  --md-ref-palette-primary10: #2b1700;
  --md-ref-palette-primary20: #482a00;
  --md-ref-palette-primary25: #573300;
  --md-ref-palette-primary30: #663e00;
  --md-ref-palette-primary35: #764800;
  --md-ref-palette-primary40: #875300;
  --md-ref-palette-primary50: #a96900;
  --md-ref-palette-primary60: #c8811f;
  --md-ref-palette-primary70: #e79b39;
  --md-ref-palette-primary80: #ffb964;
  --md-ref-palette-primary90: #ffddba;
  --md-ref-palette-primary95: #ffeedf;
  --md-ref-palette-primary98: #fff8f4;
  --md-ref-palette-primary99: #fffbff;
  --md-ref-palette-primary100: #ffffff;
  /* secondary */
  --md-ref-palette-secondary0: #000000;
  --md-ref-palette-secondary5: #1c0e00;
  --md-ref-palette-secondary10: #281805;
  --md-ref-palette-secondary20: #3f2d17;
  --md-ref-palette-secondary25: #4b3821;
  --md-ref-palette-secondary30: #58432b;
  --md-ref-palette-secondary35: #644e36;
  --md-ref-palette-secondary40: #715a41;
  --md-ref-palette-secondary50: #8c7358;
  --md-ref-palette-secondary60: #a78c70;
  --md-ref-palette-secondary70: #c3a689;
  --md-ref-palette-secondary80: #e0c1a2;
  --md-ref-palette-secondary90: #fdddbd;
  --md-ref-palette-secondary95: #ffeedf;
  --md-ref-palette-secondary98: #fff8f4;
  --md-ref-palette-secondary99: #fffbff;
  --md-ref-palette-secondary100: #ffffff;
  /* tertiary */
  --md-ref-palette-tertiary0: #000000;
  --md-ref-palette-tertiary5: #0a1400;
  --md-ref-palette-tertiary10: #131f02;
  --md-ref-palette-tertiary20: #283412;
  --md-ref-palette-tertiary25: #33401c;
  --md-ref-palette-tertiary30: #3e4b27;
  --md-ref-palette-tertiary35: #495731;
  --md-ref-palette-tertiary40: #55633c;
  --md-ref-palette-tertiary50: #6d7c53;
  --md-ref-palette-tertiary60: #87966b;
  --md-ref-palette-tertiary70: #a1b183;
  --md-ref-palette-tertiary80: #bccd9d;
  --md-ref-palette-tertiary90: #d8e9b7;
  --md-ref-palette-tertiary95: #e6f7c5;
  --md-ref-palette-tertiary98: #f1ffd3;
  --md-ref-palette-tertiary99: #f9ffe6;
  --md-ref-palette-tertiary100: #ffffff;
  /* neutral */
  --md-ref-palette-neutral0: #000000;
  --md-ref-palette-neutral5: #14100c;
  --md-ref-palette-neutral10: #1f1b16;
  --md-ref-palette-neutral20: #352f2a;
  --md-ref-palette-neutral25: #403a35;
  --md-ref-palette-neutral30: #4c4640;
  --md-ref-palette-neutral35: #58514c;
  --md-ref-palette-neutral40: #645d57;
  --md-ref-palette-neutral50: #7d766f;
  --md-ref-palette-neutral60: #978f89;
  --md-ref-palette-neutral70: #b3aaa3;
  --md-ref-palette-neutral80: #cec5bd;
  --md-ref-palette-neutral90: #ebe1d9;
  --md-ref-palette-neutral95: #f9efe7;
  --md-ref-palette-neutral98: #fff8f4;
  --md-ref-palette-neutral99: #fffbff;
  --md-ref-palette-neutral100: #ffffff;
  /* neutralVariant */
  --md-ref-palette-neutralVariant0: #000000;
  --md-ref-palette-neutralVariant5: #170f07;
  --md-ref-palette-neutralVariant10: #231a11;
  --md-ref-palette-neutralVariant20: #392f24;
  --md-ref-palette-neutralVariant25: #443a2f;
  --md-ref-palette-neutralVariant30: #50453a;
  --md-ref-palette-neutralVariant35: #5c5045;
  --md-ref-palette-neutralVariant40: #695c50;
  --md-ref-palette-neutralVariant50: #827568;
  --md-ref-palette-neutralVariant60: #9d8e81;
  --md-ref-palette-neutralVariant70: #b8a99a;
  --md-ref-palette-neutralVariant80: #d4c4b5;
  --md-ref-palette-neutralVariant90: #f1e0d0;
  --md-ref-palette-neutralVariant95: #ffeedf;
  --md-ref-palette-neutralVariant98: #fff8f4;
  --md-ref-palette-neutralVariant99: #fffbff;
  --md-ref-palette-neutralVariant100: #ffffff;
  /* error */
  --md-ref-palette-error0: #000000;
  --md-ref-palette-error5: #2d0001;
  --md-ref-palette-error10: #410002;
  --md-ref-palette-error20: #690005;
  --md-ref-palette-error25: #7e0007;
  --md-ref-palette-error30: #93000a;
  --md-ref-palette-error35: #a80710;
  --md-ref-palette-error40: #ba1a1a;
  --md-ref-palette-error50: #de3730;
  --md-ref-palette-error60: #ff5449;
  --md-ref-palette-error70: #ff897d;
  --md-ref-palette-error80: #ffb4ab;
  --md-ref-palette-error90: #ffdad6;
  --md-ref-palette-error95: #ffedea;
  --md-ref-palette-error98: #fff8f7;
  --md-ref-palette-error99: #fffbff;
  --md-ref-palette-error100: #ffffff;
}