* {
--md-source: #A0522D;
  /* primary */
  --md-ref-palette-primary0-rgb: 0 0 0;
  --md-ref-palette-primary5-rgb: 36 8 0;
  --md-ref-palette-primary10-rgb: 54 15 0;
  --md-ref-palette-primary20-rgb: 88 30 0;
  --md-ref-palette-primary25-rgb: 106 38 0;
  --md-ref-palette-primary30-rgb: 122 47 5;
  --md-ref-palette-primary35-rgb: 138 59 17;
  --md-ref-palette-primary40-rgb: 153 70 28;
  --md-ref-palette-primary50-rgb: 184 94 50;
  --md-ref-palette-primary60-rgb: 216 118 73;
  --md-ref-palette-primary70-rgb: 248 144 96;
  --md-ref-palette-primary80-rgb: 255 181 150;
  --md-ref-palette-primary90-rgb: 255 219 205;
  --md-ref-palette-primary95-rgb: 255 237 231;
  --md-ref-palette-primary98-rgb: 255 248 246;
  --md-ref-palette-primary99-rgb: 255 251 255;
  --md-ref-palette-primary100-rgb: 255 255 255;
  /* secondary */
  --md-ref-palette-secondary0-rgb: 0 0 0;
  --md-ref-palette-secondary5-rgb: 31 12 4;
  --md-ref-palette-secondary10-rgb: 44 22 12;
  --md-ref-palette-secondary20-rgb: 68 42 31;
  --md-ref-palette-secondary25-rgb: 80 53 41;
  --md-ref-palette-secondary30-rgb: 93 64 52;
  --md-ref-palette-secondary35-rgb: 105 76 63;
  --md-ref-palette-secondary40-rgb: 119 87 74;
  --md-ref-palette-secondary50-rgb: 145 112 98;
  --md-ref-palette-secondary60-rgb: 173 137 122;
  --md-ref-palette-secondary70-rgb: 201 163 147;
  --md-ref-palette-secondary80-rgb: 230 190 173;
  --md-ref-palette-secondary90-rgb: 255 219 205;
  --md-ref-palette-secondary95-rgb: 255 237 231;
  --md-ref-palette-secondary98-rgb: 255 248 246;
  --md-ref-palette-secondary99-rgb: 255 251 255;
  --md-ref-palette-secondary100-rgb: 255 255 255;
  /* tertiary */
  --md-ref-palette-tertiary0-rgb: 0 0 0;
  --md-ref-palette-tertiary5-rgb: 20 17 0;
  --md-ref-palette-tertiary10-rgb: 32 28 0;
  --md-ref-palette-tertiary20-rgb: 55 49 6;
  --md-ref-palette-tertiary25-rgb: 66 60 17;
  --md-ref-palette-tertiary30-rgb: 78 71 27;
  --md-ref-palette-tertiary35-rgb: 90 83 38;
  --md-ref-palette-tertiary40-rgb: 103 95 48;
  --md-ref-palette-tertiary50-rgb: 128 120 70;
  --md-ref-palette-tertiary60-rgb: 155 145 94;
  --md-ref-palette-tertiary70-rgb: 182 172 118;
  --md-ref-palette-tertiary80-rgb: 210 199 143;
  --md-ref-palette-tertiary90-rgb: 239 227 169;
  --md-ref-palette-tertiary95-rgb: 254 242 182;
  --md-ref-palette-tertiary98-rgb: 255 249 234;
  --md-ref-palette-tertiary99-rgb: 255 251 255;
  --md-ref-palette-tertiary100-rgb: 255 255 255;
  /* neutral */
  --md-ref-palette-neutral0-rgb: 0 0 0;
  --md-ref-palette-neutral5-rgb: 21 16 13;
  --md-ref-palette-neutral10-rgb: 32 26 24;
  --md-ref-palette-neutral20-rgb: 54 47 44;
  --md-ref-palette-neutral25-rgb: 65 58 55;
  --md-ref-palette-neutral30-rgb: 77 69 66;
  --md-ref-palette-neutral35-rgb: 89 81 78;
  --md-ref-palette-neutral40-rgb: 101 92 89;
  --md-ref-palette-neutral50-rgb: 127 117 114;
  --md-ref-palette-neutral60-rgb: 153 143 139;
  --md-ref-palette-neutral70-rgb: 180 169 165;
  --md-ref-palette-neutral80-rgb: 208 196 192;
  --md-ref-palette-neutral90-rgb: 237 224 219;
  --md-ref-palette-neutral95-rgb: 251 238 234;
  --md-ref-palette-neutral98-rgb: 255 248 246;
  --md-ref-palette-neutral99-rgb: 255 251 255;
  --md-ref-palette-neutral100-rgb: 255 255 255;
  /* neutralVariant */
  --md-ref-palette-neutral-variant0-rgb: 0 0 0;
  --md-ref-palette-neutral-variant5-rgb: 25 14 10;
  --md-ref-palette-neutral-variant10-rgb: 37 25 20;
  --md-ref-palette-neutral-variant20-rgb: 59 45 40;
  --md-ref-palette-neutral-variant25-rgb: 71 56 51;
  --md-ref-palette-neutral-variant30-rgb: 83 68 62;
  --md-ref-palette-neutral-variant35-rgb: 95 79 73;
  --md-ref-palette-neutral-variant40-rgb: 107 91 84;
  --md-ref-palette-neutral-variant50-rgb: 133 115 108;
  --md-ref-palette-neutral-variant60-rgb: 160 141 133;
  --md-ref-palette-neutral-variant70-rgb: 187 167 159;
  --md-ref-palette-neutral-variant80-rgb: 216 194 186;
  --md-ref-palette-neutral-variant90-rgb: 245 222 213;
  --md-ref-palette-neutral-variant95-rgb: 255 237 231;
  --md-ref-palette-neutral-variant98-rgb: 255 248 246;
  --md-ref-palette-neutral-variant99-rgb: 255 251 255;
  --md-ref-palette-neutral-variant100-rgb: 255 255 255;
  /* error */
  --md-ref-palette-error0-rgb: 0 0 0;
  --md-ref-palette-error5-rgb: 45 0 1;
  --md-ref-palette-error10-rgb: 65 0 2;
  --md-ref-palette-error20-rgb: 105 0 5;
  --md-ref-palette-error25-rgb: 126 0 7;
  --md-ref-palette-error30-rgb: 147 0 10;
  --md-ref-palette-error35-rgb: 168 7 16;
  --md-ref-palette-error40-rgb: 186 26 26;
  --md-ref-palette-error50-rgb: 222 55 48;
  --md-ref-palette-error60-rgb: 255 84 73;
  --md-ref-palette-error70-rgb: 255 137 125;
  --md-ref-palette-error80-rgb: 255 180 171;
  --md-ref-palette-error90-rgb: 255 218 214;
  --md-ref-palette-error95-rgb: 255 237 234;
  --md-ref-palette-error98-rgb: 255 248 247;
  --md-ref-palette-error99-rgb: 255 251 255;
  --md-ref-palette-error100-rgb: 255 255 255;
}