:root, .tokens {
--md-source: #6A5ACD;
  /* light */
  --md-sys-color-primary-rgb-light: 93, 76, 191;
  --md-sys-color-on-primary-rgb-light: 255, 255, 255;
  --md-sys-color-primary-container-rgb-light: 229, 222, 255;
  --md-sys-color-on-primary-container-rgb-light: 25, 0, 100;
  --md-sys-color-secondary-rgb-light: 95, 92, 113;
  --md-sys-color-on-secondary-rgb-light: 255, 255, 255;
  --md-sys-color-secondary-container-rgb-light: 229, 223, 249;
  --md-sys-color-on-secondary-container-rgb-light: 28, 25, 43;
  --md-sys-color-tertiary-rgb-light: 123, 82, 101;
  --md-sys-color-on-tertiary-rgb-light: 255, 255, 255;
  --md-sys-color-tertiary-container-rgb-light: 255, 216, 231;
  --md-sys-color-on-tertiary-container-rgb-light: 48, 17, 33;
  --md-sys-color-error-rgb-light: 186, 26, 26;
  --md-sys-color-on-error-rgb-light: 255, 255, 255;
  --md-sys-color-error-container-rgb-light: 255, 218, 214;
  --md-sys-color-on-error-container-rgb-light: 65, 0, 2;
  --md-sys-color-background-rgb-light: 255, 251, 255;
  --md-sys-color-on-background-rgb-light: 28, 27, 31;
  --md-sys-color-surface-rgb-light: 255, 251, 255;
  --md-sys-color-on-surface-rgb-light: 28, 27, 31;
  --md-sys-color-surface-variant-rgb-light: 229, 224, 236;
  --md-sys-color-on-surface-variant-rgb-light: 72, 69, 79;
  --md-sys-color-outline-rgb-light: 120, 118, 127;
  --md-sys-color-shadow-rgb-light: 0, 0, 0;
  --md-sys-color-inverse-surface-rgb-light: 49, 48, 51;
  --md-sys-color-inverse-on-surface-rgb-light: 244, 239, 244;
  --md-sys-color-inverse-primary-rgb-light: 200, 191, 255;
  /* dark */
  --md-sys-color-primary-rgb-dark: 200, 191, 255;
  --md-sys-color-on-primary-rgb-dark: 45, 18, 143;
  --md-sys-color-primary-container-rgb-dark: 69, 50, 166;
  --md-sys-color-on-primary-container-rgb-dark: 229, 222, 255;
  --md-sys-color-secondary-rgb-dark: 201, 195, 220;
  --md-sys-color-on-secondary-rgb-dark: 49, 46, 65;
  --md-sys-color-secondary-container-rgb-dark: 71, 68, 89;
  --md-sys-color-on-secondary-container-rgb-dark: 229, 223, 249;
  --md-sys-color-tertiary-rgb-dark: 236, 184, 206;
  --md-sys-color-on-tertiary-rgb-dark: 72, 37, 54;
  --md-sys-color-tertiary-container-rgb-dark: 97, 59, 77;
  --md-sys-color-on-tertiary-container-rgb-dark: 255, 216, 231;
  --md-sys-color-error-rgb-dark: 255, 180, 171;
  --md-sys-color-on-error-rgb-dark: 105, 0, 5;
  --md-sys-color-error-container-rgb-dark: 147, 0, 10;
  --md-sys-color-on-error-container-rgb-dark: 255, 180, 171;
  --md-sys-color-background-rgb-dark: 28, 27, 31;
  --md-sys-color-on-background-rgb-dark: 229, 225, 230;
  --md-sys-color-surface-rgb-dark: 28, 27, 31;
  --md-sys-color-on-surface-rgb-dark: 229, 225, 230;
  --md-sys-color-surface-variant-rgb-dark: 72, 69, 79;
  --md-sys-color-on-surface-variant-rgb-dark: 201, 197, 208;
  --md-sys-color-outline-rgb-dark: 146, 143, 153;
  --md-sys-color-shadow-rgb-dark: 0, 0, 0;
  --md-sys-color-inverse-surface-rgb-dark: 229, 225, 230;
  --md-sys-color-inverse-on-surface-rgb-dark: 49, 48, 51;
  --md-sys-color-inverse-primary-rgb-dark: 93, 76, 191;
  /* primary */
  --md-ref-palette-primary0: #000000;
  --md-ref-palette-primary5: #0f0047;
  --md-ref-palette-primary10: #190064;
  --md-ref-palette-primary20: #2d128f;
  --md-ref-palette-primary25: #39239a;
  --md-ref-palette-primary30: #4532a6;
  --md-ref-palette-primary35: #513fb2;
  --md-ref-palette-primary40: #5d4cbf;
  --md-ref-palette-primary50: #7666da;
  --md-ref-palette-primary60: #9080f6;
  --md-ref-palette-primary70: #ab9fff;
  --md-ref-palette-primary80: #c8bfff;
  --md-ref-palette-primary90: #e5deff;
  --md-ref-palette-primary95: #f4eeff;
  --md-ref-palette-primary98: #fcf8ff;
  --md-ref-palette-primary99: #fffbff;
  --md-ref-palette-primary100: #ffffff;
  /* secondary */
  --md-ref-palette-secondary0: #000000;
  --md-ref-palette-secondary5: #110f20;
  --md-ref-palette-secondary10: #1c192b;
  --md-ref-palette-secondary20: #312e41;
  --md-ref-palette-secondary25: #3c394d;
  --md-ref-palette-secondary30: #474459;
  --md-ref-palette-secondary35: #535065;
  --md-ref-palette-secondary40: #5f5c71;
  --md-ref-palette-secondary50: #78748b;
  --md-ref-palette-secondary60: #928ea5;
  --md-ref-palette-secondary70: #ada8c0;
  --md-ref-palette-secondary80: #c9c3dc;
  --md-ref-palette-secondary90: #e5dff9;
  --md-ref-palette-secondary95: #f4eeff;
  --md-ref-palette-secondary98: #fcf8ff;
  --md-ref-palette-secondary99: #fffbff;
  --md-ref-palette-secondary100: #ffffff;
  /* tertiary */
  --md-ref-palette-tertiary0: #000000;
  --md-ref-palette-tertiary5: #230616;
  --md-ref-palette-tertiary10: #301121;
  --md-ref-palette-tertiary20: #482536;
  --md-ref-palette-tertiary25: #553041;
  --md-ref-palette-tertiary30: #613b4d;
  --md-ref-palette-tertiary35: #6e4759;
  --md-ref-palette-tertiary40: #7b5265;
  --md-ref-palette-tertiary50: #976a7e;
  --md-ref-palette-tertiary60: #b28398;
  --md-ref-palette-tertiary70: #cf9db2;
  --md-ref-palette-tertiary80: #ecb8ce;
  --md-ref-palette-tertiary90: #ffd8e7;
  --md-ref-palette-tertiary95: #ffecf2;
  --md-ref-palette-tertiary98: #fff8f8;
  --md-ref-palette-tertiary99: #fffbff;
  --md-ref-palette-tertiary100: #ffffff;
  /* neutral */
  --md-ref-palette-neutral0: #000000;
  --md-ref-palette-neutral5: #111014;
  --md-ref-palette-neutral10: #1c1b1f;
  --md-ref-palette-neutral20: #313033;
  --md-ref-palette-neutral25: #3c3b3f;
  --md-ref-palette-neutral30: #48464a;
  --md-ref-palette-neutral35: #535256;
  --md-ref-palette-neutral40: #605d62;
  --md-ref-palette-neutral50: #79767a;
  --md-ref-palette-neutral60: #939094;
  --md-ref-palette-neutral70: #adaaaf;
  --md-ref-palette-neutral80: #c9c5ca;
  --md-ref-palette-neutral90: #e5e1e6;
  --md-ref-palette-neutral95: #f4eff4;
  --md-ref-palette-neutral98: #fdf8fd;
  --md-ref-palette-neutral99: #fffbff;
  --md-ref-palette-neutral100: #ffffff;
  /* neutralVariant */
  --md-ref-palette-neutralVariant0: #000000;
  --md-ref-palette-neutralVariant5: #111018;
  --md-ref-palette-neutralVariant10: #1c1b22;
  --md-ref-palette-neutralVariant20: #312f38;
  --md-ref-palette-neutralVariant25: #3c3a43;
  --md-ref-palette-neutralVariant30: #48454f;
  --md-ref-palette-neutralVariant35: #53515a;
  --md-ref-palette-neutralVariant40: #5f5d66;
  --md-ref-palette-neutralVariant50: #78767f;
  --md-ref-palette-neutralVariant60: #928f99;
  --md-ref-palette-neutralVariant70: #ada9b4;
  --md-ref-palette-neutralVariant80: #c9c5d0;
  --md-ref-palette-neutralVariant90: #e5e0ec;
  --md-ref-palette-neutralVariant95: #f4effa;
  --md-ref-palette-neutralVariant98: #fcf8ff;
  --md-ref-palette-neutralVariant99: #fffbff;
  --md-ref-palette-neutralVariant100: #ffffff;
  /* error */
  --md-ref-palette-error0: #000000;
  --md-ref-palette-error5: #2d0001;
  --md-ref-palette-error10: #410002;
  --md-ref-palette-error20: #690005;
  --md-ref-palette-error25: #7e0007;
  --md-ref-palette-error30: #93000a;
  --md-ref-palette-error35: #a80710;
  --md-ref-palette-error40: #ba1a1a;
  --md-ref-palette-error50: #de3730;
  --md-ref-palette-error60: #ff5449;
  --md-ref-palette-error70: #ff897d;
  --md-ref-palette-error80: #ffb4ab;
  --md-ref-palette-error90: #ffdad6;
  --md-ref-palette-error95: #ffedea;
  --md-ref-palette-error98: #fff8f7;
  --md-ref-palette-error99: #fffbff;
  --md-ref-palette-error100: #ffffff;
}