body, .tokens {
--md-source: #00FF7F;
  /* light */
  --md-sys-color-primary-rgb-light: 0, 109, 51;
  --md-sys-color-on-primary-rgb-light: 255, 255, 255;
  --md-sys-color-primary-container-rgb-light: 99, 255, 147;
  --md-sys-color-on-primary-container-rgb-light: 0, 33, 11;
  --md-sys-color-secondary-rgb-light: 80, 99, 82;
  --md-sys-color-on-secondary-rgb-light: 255, 255, 255;
  --md-sys-color-secondary-container-rgb-light: 211, 232, 210;
  --md-sys-color-on-secondary-container-rgb-light: 14, 31, 18;
  --md-sys-color-tertiary-rgb-light: 57, 101, 109;
  --md-sys-color-on-tertiary-rgb-light: 255, 255, 255;
  --md-sys-color-tertiary-container-rgb-light: 189, 234, 244;
  --md-sys-color-on-tertiary-container-rgb-light: 0, 31, 37;
  --md-sys-color-error-rgb-light: 186, 26, 26;
  --md-sys-color-on-error-rgb-light: 255, 255, 255;
  --md-sys-color-error-container-rgb-light: 255, 218, 214;
  --md-sys-color-on-error-container-rgb-light: 65, 0, 2;
  --md-sys-color-background-rgb-light: 252, 253, 247;
  --md-sys-color-on-background-rgb-light: 26, 28, 25;
  --md-sys-color-surface-rgb-light: 252, 253, 247;
  --md-sys-color-on-surface-rgb-light: 26, 28, 25;
  --md-sys-color-surface-variant-rgb-light: 221, 229, 218;
  --md-sys-color-on-surface-variant-rgb-light: 65, 73, 65;
  --md-sys-color-outline-rgb-light: 113, 121, 112;
  --md-sys-color-shadow-rgb-light: 0, 0, 0;
  --md-sys-color-inverse-surface-rgb-light: 46, 49, 46;
  --md-sys-color-inverse-on-surface-rgb-light: 240, 241, 236;
  --md-sys-color-inverse-primary-rgb-light: 0, 228, 113;
  /* dark */
  --md-sys-color-primary-rgb-dark: 0, 228, 113;
  --md-sys-color-on-primary-rgb-dark: 0, 57, 23;
  --md-sys-color-primary-container-rgb-dark: 0, 82, 36;
  --md-sys-color-on-primary-container-rgb-dark: 99, 255, 147;
  --md-sys-color-secondary-rgb-dark: 183, 204, 183;
  --md-sys-color-on-secondary-rgb-dark: 35, 52, 37;
  --md-sys-color-secondary-container-rgb-dark: 57, 75, 59;
  --md-sys-color-on-secondary-container-rgb-dark: 211, 232, 210;
  --md-sys-color-tertiary-rgb-dark: 161, 206, 216;
  --md-sys-color-on-tertiary-rgb-dark: 0, 54, 62;
  --md-sys-color-tertiary-container-rgb-dark: 32, 77, 85;
  --md-sys-color-on-tertiary-container-rgb-dark: 189, 234, 244;
  --md-sys-color-error-rgb-dark: 255, 180, 171;
  --md-sys-color-on-error-rgb-dark: 105, 0, 5;
  --md-sys-color-error-container-rgb-dark: 147, 0, 10;
  --md-sys-color-on-error-container-rgb-dark: 255, 180, 171;
  --md-sys-color-background-rgb-dark: 26, 28, 25;
  --md-sys-color-on-background-rgb-dark: 226, 227, 222;
  --md-sys-color-surface-rgb-dark: 26, 28, 25;
  --md-sys-color-on-surface-rgb-dark: 226, 227, 222;
  --md-sys-color-surface-variant-rgb-dark: 65, 73, 65;
  --md-sys-color-on-surface-variant-rgb-dark: 193, 201, 190;
  --md-sys-color-outline-rgb-dark: 139, 147, 137;
  --md-sys-color-shadow-rgb-dark: 0, 0, 0;
  --md-sys-color-inverse-surface-rgb-dark: 226, 227, 222;
  --md-sys-color-inverse-on-surface-rgb-dark: 46, 49, 46;
  --md-sys-color-inverse-primary-rgb-dark: 0, 109, 51;
  /* primary */
  --md-ref-palette-primary0-rgb: 0, 0, 0;
  --md-ref-palette-primary5-rgb: 0, 21, 5;
  --md-ref-palette-primary10-rgb: 0, 33, 11;
  --md-ref-palette-primary20-rgb: 0, 57, 23;
  --md-ref-palette-primary25-rgb: 0, 70, 30;
  --md-ref-palette-primary30-rgb: 0, 82, 36;
  --md-ref-palette-primary35-rgb: 0, 96, 43;
  --md-ref-palette-primary40-rgb: 0, 109, 51;
  --md-ref-palette-primary50-rgb: 0, 138, 65;
  --md-ref-palette-primary60-rgb: 0, 167, 81;
  --md-ref-palette-primary70-rgb: 0, 197, 96;
  --md-ref-palette-primary80-rgb: 0, 228, 113;
  --md-ref-palette-primary90-rgb: 99, 255, 147;
  --md-ref-palette-primary95-rgb: 196, 255, 203;
  --md-ref-palette-primary98-rgb: 234, 255, 233;
  --md-ref-palette-primary99-rgb: 245, 255, 242;
  --md-ref-palette-primary100-rgb: 255, 255, 255;
  /* secondary */
  --md-ref-palette-secondary0-rgb: 0, 0, 0;
  --md-ref-palette-secondary5-rgb: 4, 20, 8;
  --md-ref-palette-secondary10-rgb: 14, 31, 18;
  --md-ref-palette-secondary20-rgb: 35, 52, 37;
  --md-ref-palette-secondary25-rgb: 46, 64, 48;
  --md-ref-palette-secondary30-rgb: 57, 75, 59;
  --md-ref-palette-secondary35-rgb: 69, 87, 70;
  --md-ref-palette-secondary40-rgb: 80, 99, 82;
  --md-ref-palette-secondary50-rgb: 105, 124, 105;
  --md-ref-palette-secondary60-rgb: 130, 150, 130;
  --md-ref-palette-secondary70-rgb: 156, 177, 156;
  --md-ref-palette-secondary80-rgb: 183, 204, 183;
  --md-ref-palette-secondary90-rgb: 211, 232, 210;
  --md-ref-palette-secondary95-rgb: 225, 246, 224;
  --md-ref-palette-secondary98-rgb: 234, 255, 233;
  --md-ref-palette-secondary99-rgb: 245, 255, 242;
  --md-ref-palette-secondary100-rgb: 255, 255, 255;
  /* tertiary */
  --md-ref-palette-tertiary0-rgb: 0, 0, 0;
  --md-ref-palette-tertiary5-rgb: 0, 20, 24;
  --md-ref-palette-tertiary10-rgb: 0, 31, 37;
  --md-ref-palette-tertiary20-rgb: 0, 54, 62;
  --md-ref-palette-tertiary25-rgb: 17, 65, 73;
  --md-ref-palette-tertiary30-rgb: 32, 77, 85;
  --md-ref-palette-tertiary35-rgb: 45, 89, 97;
  --md-ref-palette-tertiary40-rgb: 57, 101, 109;
  --md-ref-palette-tertiary50-rgb: 83, 126, 135;
  --md-ref-palette-tertiary60-rgb: 108, 152, 161;
  --md-ref-palette-tertiary70-rgb: 135, 178, 188;
  --md-ref-palette-tertiary80-rgb: 161, 206, 216;
  --md-ref-palette-tertiary90-rgb: 189, 234, 244;
  --md-ref-palette-tertiary95-rgb: 212, 247, 255;
  --md-ref-palette-tertiary98-rgb: 238, 252, 255;
  --md-ref-palette-tertiary99-rgb: 247, 253, 255;
  --md-ref-palette-tertiary100-rgb: 255, 255, 255;
  /* neutral */
  --md-ref-palette-neutral0-rgb: 0, 0, 0;
  --md-ref-palette-neutral5-rgb: 15, 18, 15;
  --md-ref-palette-neutral10-rgb: 26, 28, 25;
  --md-ref-palette-neutral20-rgb: 46, 49, 46;
  --md-ref-palette-neutral25-rgb: 57, 60, 56;
  --md-ref-palette-neutral30-rgb: 69, 71, 68;
  --md-ref-palette-neutral35-rgb: 81, 83, 79;
  --md-ref-palette-neutral40-rgb: 93, 95, 91;
  --md-ref-palette-neutral50-rgb: 117, 120, 115;
  --md-ref-palette-neutral60-rgb: 143, 145, 141;
  --md-ref-palette-neutral70-rgb: 170, 172, 167;
  --md-ref-palette-neutral80-rgb: 197, 199, 194;
  --md-ref-palette-neutral90-rgb: 226, 227, 222;
  --md-ref-palette-neutral95-rgb: 240, 241, 236;
  --md-ref-palette-neutral98-rgb: 249, 250, 244;
  --md-ref-palette-neutral99-rgb: 252, 253, 247;
  --md-ref-palette-neutral100-rgb: 255, 255, 255;
  /* neutralVariant */
  --md-ref-palette-neutral-variant0-rgb: 0, 0, 0;
  --md-ref-palette-neutral-variant5-rgb: 12, 19, 12;
  --md-ref-palette-neutral-variant10-rgb: 22, 29, 23;
  --md-ref-palette-neutral-variant20-rgb: 43, 50, 43;
  --md-ref-palette-neutral-variant25-rgb: 54, 61, 54;
  --md-ref-palette-neutral-variant30-rgb: 65, 73, 65;
  --md-ref-palette-neutral-variant35-rgb: 77, 84, 76;
  --md-ref-palette-neutral-variant40-rgb: 89, 96, 88;
  --md-ref-palette-neutral-variant50-rgb: 113, 121, 112;
  --md-ref-palette-neutral-variant60-rgb: 139, 147, 137;
  --md-ref-palette-neutral-variant70-rgb: 166, 173, 163;
  --md-ref-palette-neutral-variant80-rgb: 193, 201, 190;
  --md-ref-palette-neutral-variant90-rgb: 221, 229, 218;
  --md-ref-palette-neutral-variant95-rgb: 235, 243, 232;
  --md-ref-palette-neutral-variant98-rgb: 244, 252, 240;
  --md-ref-palette-neutral-variant99-rgb: 247, 254, 243;
  --md-ref-palette-neutral-variant100-rgb: 255, 255, 255;
  /* error */
  --md-ref-palette-error0-rgb: 0, 0, 0;
  --md-ref-palette-error5-rgb: 45, 0, 1;
  --md-ref-palette-error10-rgb: 65, 0, 2;
  --md-ref-palette-error20-rgb: 105, 0, 5;
  --md-ref-palette-error25-rgb: 126, 0, 7;
  --md-ref-palette-error30-rgb: 147, 0, 10;
  --md-ref-palette-error35-rgb: 168, 7, 16;
  --md-ref-palette-error40-rgb: 186, 26, 26;
  --md-ref-palette-error50-rgb: 222, 55, 48;
  --md-ref-palette-error60-rgb: 255, 84, 73;
  --md-ref-palette-error70-rgb: 255, 137, 125;
  --md-ref-palette-error80-rgb: 255, 180, 171;
  --md-ref-palette-error90-rgb: 255, 218, 214;
  --md-ref-palette-error95-rgb: 255, 237, 234;
  --md-ref-palette-error98-rgb: 255, 248, 247;
  --md-ref-palette-error99-rgb: 255, 251, 255;
  --md-ref-palette-error100-rgb: 255, 255, 255;
}