:root, .tokens {
--md-source: #00FF7F;
  /* light */
  --md-sys-color-primary-rgb-light: 0, 109, 51;
  --md-sys-color-on-primary-rgb-light: 255, 255, 255;
  --md-sys-color-primary-container-rgb-light: 99, 255, 147;
  --md-sys-color-on-primary-container-rgb-light: 0, 33, 11;
  --md-sys-color-secondary-rgb-light: 80, 99, 82;
  --md-sys-color-on-secondary-rgb-light: 255, 255, 255;
  --md-sys-color-secondary-container-rgb-light: 211, 232, 210;
  --md-sys-color-on-secondary-container-rgb-light: 14, 31, 18;
  --md-sys-color-tertiary-rgb-light: 57, 101, 109;
  --md-sys-color-on-tertiary-rgb-light: 255, 255, 255;
  --md-sys-color-tertiary-container-rgb-light: 189, 234, 244;
  --md-sys-color-on-tertiary-container-rgb-light: 0, 31, 37;
  --md-sys-color-error-rgb-light: 186, 26, 26;
  --md-sys-color-on-error-rgb-light: 255, 255, 255;
  --md-sys-color-error-container-rgb-light: 255, 218, 214;
  --md-sys-color-on-error-container-rgb-light: 65, 0, 2;
  --md-sys-color-background-rgb-light: 252, 253, 247;
  --md-sys-color-on-background-rgb-light: 26, 28, 25;
  --md-sys-color-surface-rgb-light: 252, 253, 247;
  --md-sys-color-on-surface-rgb-light: 26, 28, 25;
  --md-sys-color-surface-variant-rgb-light: 221, 229, 218;
  --md-sys-color-on-surface-variant-rgb-light: 65, 73, 65;
  --md-sys-color-outline-rgb-light: 113, 121, 112;
  --md-sys-color-shadow-rgb-light: 0, 0, 0;
  --md-sys-color-inverse-surface-rgb-light: 46, 49, 46;
  --md-sys-color-inverse-on-surface-rgb-light: 240, 241, 236;
  --md-sys-color-inverse-primary-rgb-light: 0, 228, 113;
  /* dark */
  --md-sys-color-primary-rgb-dark: 0, 228, 113;
  --md-sys-color-on-primary-rgb-dark: 0, 57, 23;
  --md-sys-color-primary-container-rgb-dark: 0, 82, 36;
  --md-sys-color-on-primary-container-rgb-dark: 99, 255, 147;
  --md-sys-color-secondary-rgb-dark: 183, 204, 183;
  --md-sys-color-on-secondary-rgb-dark: 35, 52, 37;
  --md-sys-color-secondary-container-rgb-dark: 57, 75, 59;
  --md-sys-color-on-secondary-container-rgb-dark: 211, 232, 210;
  --md-sys-color-tertiary-rgb-dark: 161, 206, 216;
  --md-sys-color-on-tertiary-rgb-dark: 0, 54, 62;
  --md-sys-color-tertiary-container-rgb-dark: 32, 77, 85;
  --md-sys-color-on-tertiary-container-rgb-dark: 189, 234, 244;
  --md-sys-color-error-rgb-dark: 255, 180, 171;
  --md-sys-color-on-error-rgb-dark: 105, 0, 5;
  --md-sys-color-error-container-rgb-dark: 147, 0, 10;
  --md-sys-color-on-error-container-rgb-dark: 255, 180, 171;
  --md-sys-color-background-rgb-dark: 26, 28, 25;
  --md-sys-color-on-background-rgb-dark: 226, 227, 222;
  --md-sys-color-surface-rgb-dark: 26, 28, 25;
  --md-sys-color-on-surface-rgb-dark: 226, 227, 222;
  --md-sys-color-surface-variant-rgb-dark: 65, 73, 65;
  --md-sys-color-on-surface-variant-rgb-dark: 193, 201, 190;
  --md-sys-color-outline-rgb-dark: 139, 147, 137;
  --md-sys-color-shadow-rgb-dark: 0, 0, 0;
  --md-sys-color-inverse-surface-rgb-dark: 226, 227, 222;
  --md-sys-color-inverse-on-surface-rgb-dark: 46, 49, 46;
  --md-sys-color-inverse-primary-rgb-dark: 0, 109, 51;
  /* primary */
  --md-ref-palette-primary0: #000000;
  --md-ref-palette-primary5: #001505;
  --md-ref-palette-primary10: #00210b;
  --md-ref-palette-primary20: #003917;
  --md-ref-palette-primary25: #00461e;
  --md-ref-palette-primary30: #005224;
  --md-ref-palette-primary35: #00602b;
  --md-ref-palette-primary40: #006d33;
  --md-ref-palette-primary50: #008a41;
  --md-ref-palette-primary60: #00a751;
  --md-ref-palette-primary70: #00c560;
  --md-ref-palette-primary80: #00e471;
  --md-ref-palette-primary90: #63ff93;
  --md-ref-palette-primary95: #c4ffcb;
  --md-ref-palette-primary98: #eaffe9;
  --md-ref-palette-primary99: #f5fff2;
  --md-ref-palette-primary100: #ffffff;
  /* secondary */
  --md-ref-palette-secondary0: #000000;
  --md-ref-palette-secondary5: #041408;
  --md-ref-palette-secondary10: #0e1f12;
  --md-ref-palette-secondary20: #233425;
  --md-ref-palette-secondary25: #2e4030;
  --md-ref-palette-secondary30: #394b3b;
  --md-ref-palette-secondary35: #455746;
  --md-ref-palette-secondary40: #506352;
  --md-ref-palette-secondary50: #697c69;
  --md-ref-palette-secondary60: #829682;
  --md-ref-palette-secondary70: #9cb19c;
  --md-ref-palette-secondary80: #b7ccb7;
  --md-ref-palette-secondary90: #d3e8d2;
  --md-ref-palette-secondary95: #e1f6e0;
  --md-ref-palette-secondary98: #eaffe9;
  --md-ref-palette-secondary99: #f5fff2;
  --md-ref-palette-secondary100: #ffffff;
  /* tertiary */
  --md-ref-palette-tertiary0: #000000;
  --md-ref-palette-tertiary5: #001418;
  --md-ref-palette-tertiary10: #001f25;
  --md-ref-palette-tertiary20: #00363e;
  --md-ref-palette-tertiary25: #114149;
  --md-ref-palette-tertiary30: #204d55;
  --md-ref-palette-tertiary35: #2d5961;
  --md-ref-palette-tertiary40: #39656d;
  --md-ref-palette-tertiary50: #537e87;
  --md-ref-palette-tertiary60: #6c98a1;
  --md-ref-palette-tertiary70: #87b2bc;
  --md-ref-palette-tertiary80: #a1ced8;
  --md-ref-palette-tertiary90: #bdeaf4;
  --md-ref-palette-tertiary95: #d4f7ff;
  --md-ref-palette-tertiary98: #eefcff;
  --md-ref-palette-tertiary99: #f7fdff;
  --md-ref-palette-tertiary100: #ffffff;
  /* neutral */
  --md-ref-palette-neutral0: #000000;
  --md-ref-palette-neutral5: #0f120f;
  --md-ref-palette-neutral10: #1a1c19;
  --md-ref-palette-neutral20: #2e312e;
  --md-ref-palette-neutral25: #393c38;
  --md-ref-palette-neutral30: #454744;
  --md-ref-palette-neutral35: #51534f;
  --md-ref-palette-neutral40: #5d5f5b;
  --md-ref-palette-neutral50: #757873;
  --md-ref-palette-neutral60: #8f918d;
  --md-ref-palette-neutral70: #aaaca7;
  --md-ref-palette-neutral80: #c5c7c2;
  --md-ref-palette-neutral90: #e2e3de;
  --md-ref-palette-neutral95: #f0f1ec;
  --md-ref-palette-neutral98: #f9faf4;
  --md-ref-palette-neutral99: #fcfdf7;
  --md-ref-palette-neutral100: #ffffff;
  /* neutralVariant */
  --md-ref-palette-neutralVariant0: #000000;
  --md-ref-palette-neutralVariant5: #0c130c;
  --md-ref-palette-neutralVariant10: #161d17;
  --md-ref-palette-neutralVariant20: #2b322b;
  --md-ref-palette-neutralVariant25: #363d36;
  --md-ref-palette-neutralVariant30: #414941;
  --md-ref-palette-neutralVariant35: #4d544c;
  --md-ref-palette-neutralVariant40: #596058;
  --md-ref-palette-neutralVariant50: #717970;
  --md-ref-palette-neutralVariant60: #8b9389;
  --md-ref-palette-neutralVariant70: #a6ada3;
  --md-ref-palette-neutralVariant80: #c1c9be;
  --md-ref-palette-neutralVariant90: #dde5da;
  --md-ref-palette-neutralVariant95: #ebf3e8;
  --md-ref-palette-neutralVariant98: #f4fcf0;
  --md-ref-palette-neutralVariant99: #f7fef3;
  --md-ref-palette-neutralVariant100: #ffffff;
  /* error */
  --md-ref-palette-error0: #000000;
  --md-ref-palette-error5: #2d0001;
  --md-ref-palette-error10: #410002;
  --md-ref-palette-error20: #690005;
  --md-ref-palette-error25: #7e0007;
  --md-ref-palette-error30: #93000a;
  --md-ref-palette-error35: #a80710;
  --md-ref-palette-error40: #ba1a1a;
  --md-ref-palette-error50: #de3730;
  --md-ref-palette-error60: #ff5449;
  --md-ref-palette-error70: #ff897d;
  --md-ref-palette-error80: #ffb4ab;
  --md-ref-palette-error90: #ffdad6;
  --md-ref-palette-error95: #ffedea;
  --md-ref-palette-error98: #fff8f7;
  --md-ref-palette-error99: #fffbff;
  --md-ref-palette-error100: #ffffff;
}