body, .tokens {
--md-source: #4682B4;
  /* primary */
  --md-ref-palette-primary0-rgb: 0, 0, 0;
  --md-ref-palette-primary5-rgb: 0, 18, 34;
  --md-ref-palette-primary10-rgb: 0, 29, 50;
  --md-ref-palette-primary20-rgb: 0, 51, 83;
  --md-ref-palette-primary25-rgb: 0, 63, 100;
  --md-ref-palette-primary30-rgb: 0, 74, 117;
  --md-ref-palette-primary35-rgb: 0, 87, 135;
  --md-ref-palette-primary40-rgb: 0, 99, 154;
  --md-ref-palette-primary50-rgb: 32, 124, 187;
  --md-ref-palette-primary60-rgb: 69, 151, 214;
  --md-ref-palette-primary70-rgb: 99, 177, 243;
  --md-ref-palette-primary80-rgb: 150, 204, 255;
  --md-ref-palette-primary90-rgb: 206, 229, 255;
  --md-ref-palette-primary95-rgb: 232, 242, 255;
  --md-ref-palette-primary98-rgb: 247, 249, 255;
  --md-ref-palette-primary99-rgb: 252, 252, 255;
  --md-ref-palette-primary100-rgb: 255, 255, 255;
  /* secondary */
  --md-ref-palette-secondary0-rgb: 0, 0, 0;
  --md-ref-palette-secondary5-rgb: 3, 18, 31;
  --md-ref-palette-secondary10-rgb: 14, 29, 42;
  --md-ref-palette-secondary20-rgb: 35, 50, 64;
  --md-ref-palette-secondary25-rgb: 46, 61, 75;
  --md-ref-palette-secondary30-rgb: 58, 72, 87;
  --md-ref-palette-secondary35-rgb: 69, 84, 99;
  --md-ref-palette-secondary40-rgb: 81, 96, 111;
  --md-ref-palette-secondary50-rgb: 106, 121, 137;
  --md-ref-palette-secondary60-rgb: 131, 146, 163;
  --md-ref-palette-secondary70-rgb: 158, 173, 190;
  --md-ref-palette-secondary80-rgb: 185, 200, 218;
  --md-ref-palette-secondary90-rgb: 213, 228, 247;
  --md-ref-palette-secondary95-rgb: 232, 242, 255;
  --md-ref-palette-secondary98-rgb: 247, 249, 255;
  --md-ref-palette-secondary99-rgb: 252, 252, 255;
  --md-ref-palette-secondary100-rgb: 255, 255, 255;
  /* tertiary */
  --md-ref-palette-tertiary0-rgb: 0, 0, 0;
  --md-ref-palette-tertiary5-rgb: 23, 10, 40;
  --md-ref-palette-tertiary10-rgb: 35, 21, 51;
  --md-ref-palette-tertiary20-rgb: 56, 42, 73;
  --md-ref-palette-tertiary25-rgb: 68, 53, 85;
  --md-ref-palette-tertiary30-rgb: 79, 64, 97;
  --md-ref-palette-tertiary35-rgb: 91, 76, 109;
  --md-ref-palette-tertiary40-rgb: 104, 88, 122;
  --md-ref-palette-tertiary50-rgb: 129, 112, 148;
  --md-ref-palette-tertiary60-rgb: 155, 137, 175;
  --md-ref-palette-tertiary70-rgb: 183, 164, 202;
  --md-ref-palette-tertiary80-rgb: 211, 191, 230;
  --md-ref-palette-tertiary90-rgb: 238, 219, 255;
  --md-ref-palette-tertiary95-rgb: 249, 237, 255;
  --md-ref-palette-tertiary98-rgb: 255, 247, 255;
  --md-ref-palette-tertiary99-rgb: 255, 251, 255;
  --md-ref-palette-tertiary100-rgb: 255, 255, 255;
  /* neutral */
  --md-ref-palette-neutral0-rgb: 0, 0, 0;
  --md-ref-palette-neutral5-rgb: 15, 17, 19;
  --md-ref-palette-neutral10-rgb: 26, 28, 30;
  --md-ref-palette-neutral20-rgb: 47, 48, 51;
  --md-ref-palette-neutral25-rgb: 58, 59, 62;
  --md-ref-palette-neutral30-rgb: 69, 71, 74;
  --md-ref-palette-neutral35-rgb: 81, 82, 85;
  --md-ref-palette-neutral40-rgb: 93, 94, 97;
  --md-ref-palette-neutral50-rgb: 118, 119, 122;
  --md-ref-palette-neutral60-rgb: 144, 145, 148;
  --md-ref-palette-neutral70-rgb: 170, 171, 174;
  --md-ref-palette-neutral80-rgb: 198, 198, 201;
  --md-ref-palette-neutral90-rgb: 226, 226, 229;
  --md-ref-palette-neutral95-rgb: 240, 240, 244;
  --md-ref-palette-neutral98-rgb: 249, 249, 252;
  --md-ref-palette-neutral99-rgb: 252, 252, 255;
  --md-ref-palette-neutral100-rgb: 255, 255, 255;
  /* neutralVariant */
  --md-ref-palette-neutral-variant0-rgb: 0, 0, 0;
  --md-ref-palette-neutral-variant5-rgb: 12, 17, 23;
  --md-ref-palette-neutral-variant10-rgb: 23, 28, 34;
  --md-ref-palette-neutral-variant20-rgb: 44, 49, 55;
  --md-ref-palette-neutral-variant25-rgb: 55, 60, 66;
  --md-ref-palette-neutral-variant30-rgb: 66, 71, 78;
  --md-ref-palette-neutral-variant35-rgb: 78, 83, 90;
  --md-ref-palette-neutral-variant40-rgb: 89, 95, 102;
  --md-ref-palette-neutral-variant50-rgb: 114, 119, 127;
  --md-ref-palette-neutral-variant60-rgb: 140, 145, 152;
  --md-ref-palette-neutral-variant70-rgb: 166, 172, 179;
  --md-ref-palette-neutral-variant80-rgb: 194, 199, 207;
  --md-ref-palette-neutral-variant90-rgb: 222, 227, 235;
  --md-ref-palette-neutral-variant95-rgb: 236, 241, 249;
  --md-ref-palette-neutral-variant98-rgb: 247, 249, 255;
  --md-ref-palette-neutral-variant99-rgb: 252, 252, 255;
  --md-ref-palette-neutral-variant100-rgb: 255, 255, 255;
  /* error */
  --md-ref-palette-error0-rgb: 0, 0, 0;
  --md-ref-palette-error5-rgb: 45, 0, 1;
  --md-ref-palette-error10-rgb: 65, 0, 2;
  --md-ref-palette-error20-rgb: 105, 0, 5;
  --md-ref-palette-error25-rgb: 126, 0, 7;
  --md-ref-palette-error30-rgb: 147, 0, 10;
  --md-ref-palette-error35-rgb: 168, 7, 16;
  --md-ref-palette-error40-rgb: 186, 26, 26;
  --md-ref-palette-error50-rgb: 222, 55, 48;
  --md-ref-palette-error60-rgb: 255, 84, 73;
  --md-ref-palette-error70-rgb: 255, 137, 125;
  --md-ref-palette-error80-rgb: 255, 180, 171;
  --md-ref-palette-error90-rgb: 255, 218, 214;
  --md-ref-palette-error95-rgb: 255, 237, 234;
  --md-ref-palette-error98-rgb: 255, 248, 247;
  --md-ref-palette-error99-rgb: 255, 251, 255;
  --md-ref-palette-error100-rgb: 255, 255, 255;
}