body, .tokens {
--md-source: #D8BFD8;
  /* light */
  --md-sys-color-primary-rgb-light: 130, 71, 144;
  --md-sys-color-on-primary-rgb-light: 255, 255, 255;
  --md-sys-color-primary-container-rgb-light: 253, 214, 255;
  --md-sys-color-on-primary-container-rgb-light: 52, 0, 66;
  --md-sys-color-secondary-rgb-light: 106, 89, 108;
  --md-sys-color-on-secondary-rgb-light: 255, 255, 255;
  --md-sys-color-secondary-container-rgb-light: 243, 219, 242;
  --md-sys-color-on-secondary-container-rgb-light: 36, 23, 39;
  --md-sys-color-tertiary-rgb-light: 130, 82, 76;
  --md-sys-color-on-tertiary-rgb-light: 255, 255, 255;
  --md-sys-color-tertiary-container-rgb-light: 255, 218, 214;
  --md-sys-color-on-tertiary-container-rgb-light: 51, 17, 14;
  --md-sys-color-error-rgb-light: 186, 26, 26;
  --md-sys-color-on-error-rgb-light: 255, 255, 255;
  --md-sys-color-error-container-rgb-light: 255, 218, 214;
  --md-sys-color-on-error-container-rgb-light: 65, 0, 2;
  --md-sys-color-background-rgb-light: 255, 251, 255;
  --md-sys-color-on-background-rgb-light: 30, 26, 30;
  --md-sys-color-surface-rgb-light: 255, 251, 255;
  --md-sys-color-on-surface-rgb-light: 30, 26, 30;
  --md-sys-color-surface-variant-rgb-light: 236, 223, 233;
  --md-sys-color-on-surface-variant-rgb-light: 77, 68, 76;
  --md-sys-color-outline-rgb-light: 126, 116, 125;
  --md-sys-color-shadow-rgb-light: 0, 0, 0;
  --md-sys-color-inverse-surface-rgb-light: 51, 47, 51;
  --md-sys-color-inverse-on-surface-rgb-light: 247, 238, 243;
  --md-sys-color-inverse-primary-rgb-light: 244, 174, 255;
  /* dark */
  --md-sys-color-primary-rgb-dark: 244, 174, 255;
  --md-sys-color-on-primary-rgb-dark: 79, 21, 93;
  --md-sys-color-primary-container-rgb-dark: 104, 46, 118;
  --md-sys-color-on-primary-container-rgb-dark: 253, 214, 255;
  --md-sys-color-secondary-rgb-dark: 214, 192, 214;
  --md-sys-color-on-secondary-rgb-dark: 58, 43, 60;
  --md-sys-color-secondary-container-rgb-dark: 82, 65, 83;
  --md-sys-color-on-secondary-container-rgb-dark: 243, 219, 242;
  --md-sys-color-tertiary-rgb-dark: 245, 183, 176;
  --md-sys-color-on-tertiary-rgb-dark: 76, 37, 33;
  --md-sys-color-tertiary-container-rgb-dark: 103, 59, 54;
  --md-sys-color-on-tertiary-container-rgb-dark: 255, 218, 214;
  --md-sys-color-error-rgb-dark: 255, 180, 171;
  --md-sys-color-on-error-rgb-dark: 105, 0, 5;
  --md-sys-color-error-container-rgb-dark: 147, 0, 10;
  --md-sys-color-on-error-container-rgb-dark: 255, 180, 171;
  --md-sys-color-background-rgb-dark: 30, 26, 30;
  --md-sys-color-on-background-rgb-dark: 232, 224, 229;
  --md-sys-color-surface-rgb-dark: 30, 26, 30;
  --md-sys-color-on-surface-rgb-dark: 232, 224, 229;
  --md-sys-color-surface-variant-rgb-dark: 77, 68, 76;
  --md-sys-color-on-surface-variant-rgb-dark: 207, 195, 205;
  --md-sys-color-outline-rgb-dark: 152, 142, 151;
  --md-sys-color-shadow-rgb-dark: 0, 0, 0;
  --md-sys-color-inverse-surface-rgb-dark: 232, 224, 229;
  --md-sys-color-inverse-on-surface-rgb-dark: 51, 47, 51;
  --md-sys-color-inverse-primary-rgb-dark: 130, 71, 144;
  /* primary */
  --md-ref-palette-primary0-rgb: 0, 0, 0;
  --md-ref-palette-primary5-rgb: 35, 0, 45;
  --md-ref-palette-primary10-rgb: 52, 0, 66;
  --md-ref-palette-primary20-rgb: 79, 21, 93;
  --md-ref-palette-primary25-rgb: 91, 34, 106;
  --md-ref-palette-primary30-rgb: 104, 46, 118;
  --md-ref-palette-primary35-rgb: 117, 58, 131;
  --md-ref-palette-primary40-rgb: 130, 71, 144;
  --md-ref-palette-primary50-rgb: 158, 95, 170;
  --md-ref-palette-primary60-rgb: 186, 121, 198;
  --md-ref-palette-primary70-rgb: 214, 147, 226;
  --md-ref-palette-primary80-rgb: 244, 174, 255;
  --md-ref-palette-primary90-rgb: 253, 214, 255;
  --md-ref-palette-primary95-rgb: 255, 235, 253;
  --md-ref-palette-primary98-rgb: 255, 247, 250;
  --md-ref-palette-primary99-rgb: 255, 251, 255;
  --md-ref-palette-primary100-rgb: 255, 255, 255;
  /* secondary */
  --md-ref-palette-secondary0-rgb: 0, 0, 0;
  --md-ref-palette-secondary5-rgb: 25, 12, 28;
  --md-ref-palette-secondary10-rgb: 36, 23, 39;
  --md-ref-palette-secondary20-rgb: 58, 43, 60;
  --md-ref-palette-secondary25-rgb: 70, 54, 72;
  --md-ref-palette-secondary30-rgb: 82, 65, 83;
  --md-ref-palette-secondary35-rgb: 94, 77, 95;
  --md-ref-palette-secondary40-rgb: 106, 89, 108;
  --md-ref-palette-secondary50-rgb: 132, 113, 133;
  --md-ref-palette-secondary60-rgb: 159, 138, 159;
  --md-ref-palette-secondary70-rgb: 186, 165, 186;
  --md-ref-palette-secondary80-rgb: 214, 192, 214;
  --md-ref-palette-secondary90-rgb: 243, 219, 242;
  --md-ref-palette-secondary95-rgb: 255, 235, 253;
  --md-ref-palette-secondary98-rgb: 255, 247, 250;
  --md-ref-palette-secondary99-rgb: 255, 251, 255;
  --md-ref-palette-secondary100-rgb: 255, 255, 255;
  /* tertiary */
  --md-ref-palette-tertiary0-rgb: 0, 0, 0;
  --md-ref-palette-tertiary5-rgb: 37, 7, 5;
  --md-ref-palette-tertiary10-rgb: 51, 17, 14;
  --md-ref-palette-tertiary20-rgb: 76, 37, 33;
  --md-ref-palette-tertiary25-rgb: 89, 48, 43;
  --md-ref-palette-tertiary30-rgb: 103, 59, 54;
  --md-ref-palette-tertiary35-rgb: 116, 70, 65;
  --md-ref-palette-tertiary40-rgb: 130, 82, 76;
  --md-ref-palette-tertiary50-rgb: 158, 106, 100;
  --md-ref-palette-tertiary60-rgb: 186, 131, 124;
  --md-ref-palette-tertiary70-rgb: 215, 157, 150;
  --md-ref-palette-tertiary80-rgb: 245, 183, 176;
  --md-ref-palette-tertiary90-rgb: 255, 218, 214;
  --md-ref-palette-tertiary95-rgb: 255, 237, 234;
  --md-ref-palette-tertiary98-rgb: 255, 248, 247;
  --md-ref-palette-tertiary99-rgb: 255, 251, 255;
  --md-ref-palette-tertiary100-rgb: 255, 255, 255;
  /* neutral */
  --md-ref-palette-neutral0-rgb: 0, 0, 0;
  --md-ref-palette-neutral5-rgb: 19, 16, 19;
  --md-ref-palette-neutral10-rgb: 30, 26, 30;
  --md-ref-palette-neutral20-rgb: 51, 47, 51;
  --md-ref-palette-neutral25-rgb: 62, 58, 62;
  --md-ref-palette-neutral30-rgb: 74, 69, 73;
  --md-ref-palette-neutral35-rgb: 86, 81, 85;
  --md-ref-palette-neutral40-rgb: 98, 93, 97;
  --md-ref-palette-neutral50-rgb: 123, 117, 121;
  --md-ref-palette-neutral60-rgb: 149, 143, 147;
  --md-ref-palette-neutral70-rgb: 176, 169, 173;
  --md-ref-palette-neutral80-rgb: 204, 196, 201;
  --md-ref-palette-neutral90-rgb: 232, 224, 229;
  --md-ref-palette-neutral95-rgb: 247, 238, 243;
  --md-ref-palette-neutral98-rgb: 255, 247, 250;
  --md-ref-palette-neutral99-rgb: 255, 251, 255;
  --md-ref-palette-neutral100-rgb: 255, 255, 255;
  /* neutralVariant */
  --md-ref-palette-neutral-variant0-rgb: 0, 0, 0;
  --md-ref-palette-neutral-variant5-rgb: 21, 15, 22;
  --md-ref-palette-neutral-variant10-rgb: 32, 25, 32;
  --md-ref-palette-neutral-variant20-rgb: 54, 46, 54;
  --md-ref-palette-neutral-variant25-rgb: 65, 57, 65;
  --md-ref-palette-neutral-variant30-rgb: 77, 68, 76;
  --md-ref-palette-neutral-variant35-rgb: 88, 80, 88;
  --md-ref-palette-neutral-variant40-rgb: 101, 92, 100;
  --md-ref-palette-neutral-variant50-rgb: 126, 116, 125;
  --md-ref-palette-neutral-variant60-rgb: 152, 142, 151;
  --md-ref-palette-neutral-variant70-rgb: 179, 168, 177;
  --md-ref-palette-neutral-variant80-rgb: 207, 195, 205;
  --md-ref-palette-neutral-variant90-rgb: 236, 223, 233;
  --md-ref-palette-neutral-variant95-rgb: 250, 237, 247;
  --md-ref-palette-neutral-variant98-rgb: 255, 247, 250;
  --md-ref-palette-neutral-variant99-rgb: 255, 251, 255;
  --md-ref-palette-neutral-variant100-rgb: 255, 255, 255;
  /* error */
  --md-ref-palette-error0-rgb: 0, 0, 0;
  --md-ref-palette-error5-rgb: 45, 0, 1;
  --md-ref-palette-error10-rgb: 65, 0, 2;
  --md-ref-palette-error20-rgb: 105, 0, 5;
  --md-ref-palette-error25-rgb: 126, 0, 7;
  --md-ref-palette-error30-rgb: 147, 0, 10;
  --md-ref-palette-error35-rgb: 168, 7, 16;
  --md-ref-palette-error40-rgb: 186, 26, 26;
  --md-ref-palette-error50-rgb: 222, 55, 48;
  --md-ref-palette-error60-rgb: 255, 84, 73;
  --md-ref-palette-error70-rgb: 255, 137, 125;
  --md-ref-palette-error80-rgb: 255, 180, 171;
  --md-ref-palette-error90-rgb: 255, 218, 214;
  --md-ref-palette-error95-rgb: 255, 237, 234;
  --md-ref-palette-error98-rgb: 255, 248, 247;
  --md-ref-palette-error99-rgb: 255, 251, 255;
  --md-ref-palette-error100-rgb: 255, 255, 255;
}