:root, .tokens {
--md-source: #40E0D0;
  /* light */
  --md-sys-color-primary-rgb-light: 0, 106, 98;
  --md-sys-color-on-primary-rgb-light: 255, 255, 255;
  --md-sys-color-primary-container-rgb-light: 97, 249, 233;
  --md-sys-color-on-primary-container-rgb-light: 0, 32, 29;
  --md-sys-color-secondary-rgb-light: 74, 99, 95;
  --md-sys-color-on-secondary-rgb-light: 255, 255, 255;
  --md-sys-color-secondary-container-rgb-light: 204, 232, 227;
  --md-sys-color-on-secondary-container-rgb-light: 5, 31, 29;
  --md-sys-color-tertiary-rgb-light: 70, 97, 122;
  --md-sys-color-on-tertiary-rgb-light: 255, 255, 255;
  --md-sys-color-tertiary-container-rgb-light: 205, 229, 255;
  --md-sys-color-on-tertiary-container-rgb-light: 0, 29, 50;
  --md-sys-color-error-rgb-light: 186, 26, 26;
  --md-sys-color-on-error-rgb-light: 255, 255, 255;
  --md-sys-color-error-container-rgb-light: 255, 218, 214;
  --md-sys-color-on-error-container-rgb-light: 65, 0, 2;
  --md-sys-color-background-rgb-light: 250, 253, 251;
  --md-sys-color-on-background-rgb-light: 25, 28, 28;
  --md-sys-color-surface-rgb-light: 250, 253, 251;
  --md-sys-color-on-surface-rgb-light: 25, 28, 28;
  --md-sys-color-surface-variant-rgb-light: 218, 229, 226;
  --md-sys-color-on-surface-variant-rgb-light: 63, 73, 71;
  --md-sys-color-outline-rgb-light: 111, 121, 119;
  --md-sys-color-shadow-rgb-light: 0, 0, 0;
  --md-sys-color-inverse-surface-rgb-light: 45, 49, 48;
  --md-sys-color-inverse-on-surface-rgb-light: 239, 241, 239;
  --md-sys-color-inverse-primary-rgb-light: 58, 220, 204;
  /* dark */
  --md-sys-color-primary-rgb-dark: 58, 220, 204;
  --md-sys-color-on-primary-rgb-dark: 0, 55, 50;
  --md-sys-color-primary-container-rgb-dark: 0, 80, 73;
  --md-sys-color-on-primary-container-rgb-dark: 97, 249, 233;
  --md-sys-color-secondary-rgb-dark: 177, 204, 199;
  --md-sys-color-on-secondary-rgb-dark: 28, 53, 49;
  --md-sys-color-secondary-container-rgb-dark: 50, 75, 72;
  --md-sys-color-on-secondary-container-rgb-dark: 204, 232, 227;
  --md-sys-color-tertiary-rgb-dark: 174, 201, 230;
  --md-sys-color-on-tertiary-rgb-dark: 22, 51, 73;
  --md-sys-color-tertiary-container-rgb-dark: 46, 73, 97;
  --md-sys-color-on-tertiary-container-rgb-dark: 205, 229, 255;
  --md-sys-color-error-rgb-dark: 255, 180, 171;
  --md-sys-color-on-error-rgb-dark: 105, 0, 5;
  --md-sys-color-error-container-rgb-dark: 147, 0, 10;
  --md-sys-color-on-error-container-rgb-dark: 255, 180, 171;
  --md-sys-color-background-rgb-dark: 25, 28, 28;
  --md-sys-color-on-background-rgb-dark: 224, 227, 225;
  --md-sys-color-surface-rgb-dark: 25, 28, 28;
  --md-sys-color-on-surface-rgb-dark: 224, 227, 225;
  --md-sys-color-surface-variant-rgb-dark: 63, 73, 71;
  --md-sys-color-on-surface-variant-rgb-dark: 190, 201, 198;
  --md-sys-color-outline-rgb-dark: 137, 147, 144;
  --md-sys-color-shadow-rgb-dark: 0, 0, 0;
  --md-sys-color-inverse-surface-rgb-dark: 224, 227, 225;
  --md-sys-color-inverse-on-surface-rgb-dark: 45, 49, 48;
  --md-sys-color-inverse-primary-rgb-dark: 0, 106, 98;
  /* primary */
  --md-ref-palette-primary0: #000000;
  --md-ref-palette-primary5: #001412;
  --md-ref-palette-primary10: #00201d;
  --md-ref-palette-primary20: #003732;
  --md-ref-palette-primary25: #00433e;
  --md-ref-palette-primary30: #005049;
  --md-ref-palette-primary35: #005d55;
  --md-ref-palette-primary40: #006a62;
  --md-ref-palette-primary50: #00867b;
  --md-ref-palette-primary60: #00a296;
  --md-ref-palette-primary70: #00c0b1;
  --md-ref-palette-primary80: #3adccc;
  --md-ref-palette-primary90: #61f9e9;
  --md-ref-palette-primary95: #b3fff4;
  --md-ref-palette-primary98: #e4fffa;
  --md-ref-palette-primary99: #f2fffc;
  --md-ref-palette-primary100: #ffffff;
  /* secondary */
  --md-ref-palette-secondary0: #000000;
  --md-ref-palette-secondary5: #001412;
  --md-ref-palette-secondary10: #051f1d;
  --md-ref-palette-secondary20: #1c3531;
  --md-ref-palette-secondary25: #27403c;
  --md-ref-palette-secondary30: #324b48;
  --md-ref-palette-secondary35: #3e5753;
  --md-ref-palette-secondary40: #4a635f;
  --md-ref-palette-secondary50: #627c78;
  --md-ref-palette-secondary60: #7c9691;
  --md-ref-palette-secondary70: #96b1ac;
  --md-ref-palette-secondary80: #b1ccc7;
  --md-ref-palette-secondary90: #cce8e3;
  --md-ref-palette-secondary95: #daf7f1;
  --md-ref-palette-secondary98: #e4fffa;
  --md-ref-palette-secondary99: #f2fffc;
  --md-ref-palette-secondary100: #ffffff;
  /* tertiary */
  --md-ref-palette-tertiary0: #000000;
  --md-ref-palette-tertiary5: #001222;
  --md-ref-palette-tertiary10: #001d32;
  --md-ref-palette-tertiary20: #163349;
  --md-ref-palette-tertiary25: #223e55;
  --md-ref-palette-tertiary30: #2e4961;
  --md-ref-palette-tertiary35: #3a556d;
  --md-ref-palette-tertiary40: #46617a;
  --md-ref-palette-tertiary50: #5f7a94;
  --md-ref-palette-tertiary60: #7894ae;
  --md-ref-palette-tertiary70: #93aeca;
  --md-ref-palette-tertiary80: #aec9e6;
  --md-ref-palette-tertiary90: #cde5ff;
  --md-ref-palette-tertiary95: #e8f2ff;
  --md-ref-palette-tertiary98: #f7f9ff;
  --md-ref-palette-tertiary99: #fcfcff;
  --md-ref-palette-tertiary100: #ffffff;
  /* neutral */
  --md-ref-palette-neutral0: #000000;
  --md-ref-palette-neutral5: #0e1211;
  --md-ref-palette-neutral10: #191c1c;
  --md-ref-palette-neutral20: #2d3130;
  --md-ref-palette-neutral25: #383c3b;
  --md-ref-palette-neutral30: #444746;
  --md-ref-palette-neutral35: #505352;
  --md-ref-palette-neutral40: #5c5f5e;
  --md-ref-palette-neutral50: #747876;
  --md-ref-palette-neutral60: #8e9190;
  --md-ref-palette-neutral70: #a9acaa;
  --md-ref-palette-neutral80: #c4c7c5;
  --md-ref-palette-neutral90: #e0e3e1;
  --md-ref-palette-neutral95: #eff1ef;
  --md-ref-palette-neutral98: #f7faf8;
  --md-ref-palette-neutral99: #fafdfb;
  --md-ref-palette-neutral100: #ffffff;
  /* neutralVariant */
  --md-ref-palette-neutralVariant0: #000000;
  --md-ref-palette-neutralVariant5: #091311;
  --md-ref-palette-neutralVariant10: #141d1c;
  --md-ref-palette-neutralVariant20: #293231;
  --md-ref-palette-neutralVariant25: #343d3c;
  --md-ref-palette-neutralVariant30: #3f4947;
  --md-ref-palette-neutralVariant35: #4b5452;
  --md-ref-palette-neutralVariant40: #56605e;
  --md-ref-palette-neutralVariant50: #6f7977;
  --md-ref-palette-neutralVariant60: #899390;
  --md-ref-palette-neutralVariant70: #a3adab;
  --md-ref-palette-neutralVariant80: #bec9c6;
  --md-ref-palette-neutralVariant90: #dae5e2;
  --md-ref-palette-neutralVariant95: #e9f3f0;
  --md-ref-palette-neutralVariant98: #f1fcf9;
  --md-ref-palette-neutralVariant99: #f4fefb;
  --md-ref-palette-neutralVariant100: #ffffff;
  /* error */
  --md-ref-palette-error0: #000000;
  --md-ref-palette-error5: #2d0001;
  --md-ref-palette-error10: #410002;
  --md-ref-palette-error20: #690005;
  --md-ref-palette-error25: #7e0007;
  --md-ref-palette-error30: #93000a;
  --md-ref-palette-error35: #a80710;
  --md-ref-palette-error40: #ba1a1a;
  --md-ref-palette-error50: #de3730;
  --md-ref-palette-error60: #ff5449;
  --md-ref-palette-error70: #ff897d;
  --md-ref-palette-error80: #ffb4ab;
  --md-ref-palette-error90: #ffdad6;
  --md-ref-palette-error95: #ffedea;
  --md-ref-palette-error98: #fff8f7;
  --md-ref-palette-error99: #fffbff;
  --md-ref-palette-error100: #ffffff;
}