body, .tokens {
--md-source: #EE82EE;
  /* light */
  --md-sys-color-primary-rgb-light: 150, 51, 155;
  --md-sys-color-on-primary-rgb-light: 255, 255, 255;
  --md-sys-color-primary-container-rgb-light: 255, 214, 249;
  --md-sys-color-on-primary-container-rgb-light: 55, 0, 59;
  --md-sys-color-secondary-rgb-light: 109, 88, 106;
  --md-sys-color-on-secondary-rgb-light: 255, 255, 255;
  --md-sys-color-secondary-container-rgb-light: 246, 219, 240;
  --md-sys-color-on-secondary-container-rgb-light: 38, 22, 37;
  --md-sys-color-tertiary-rgb-light: 130, 82, 71;
  --md-sys-color-on-tertiary-rgb-light: 255, 255, 255;
  --md-sys-color-tertiary-container-rgb-light: 255, 218, 210;
  --md-sys-color-on-tertiary-container-rgb-light: 51, 17, 10;
  --md-sys-color-error-rgb-light: 186, 26, 26;
  --md-sys-color-on-error-rgb-light: 255, 255, 255;
  --md-sys-color-error-container-rgb-light: 255, 218, 214;
  --md-sys-color-on-error-container-rgb-light: 65, 0, 2;
  --md-sys-color-background-rgb-light: 255, 251, 255;
  --md-sys-color-on-background-rgb-light: 30, 26, 29;
  --md-sys-color-surface-rgb-light: 255, 251, 255;
  --md-sys-color-on-surface-rgb-light: 30, 26, 29;
  --md-sys-color-surface-variant-rgb-light: 237, 222, 232;
  --md-sys-color-on-surface-variant-rgb-light: 77, 68, 75;
  --md-sys-color-outline-rgb-light: 127, 116, 124;
  --md-sys-color-shadow-rgb-light: 0, 0, 0;
  --md-sys-color-inverse-surface-rgb-light: 52, 47, 50;
  --md-sys-color-inverse-on-surface-rgb-light: 248, 238, 242;
  --md-sys-color-inverse-primary-rgb-light: 255, 169, 251;
  /* dark */
  --md-sys-color-primary-rgb-dark: 255, 169, 251;
  --md-sys-color-on-primary-rgb-dark: 89, 0, 96;
  --md-sys-color-primary-container-rgb-dark: 122, 20, 129;
  --md-sys-color-on-primary-container-rgb-dark: 255, 214, 249;
  --md-sys-color-secondary-rgb-dark: 217, 191, 212;
  --md-sys-color-on-secondary-rgb-dark: 60, 43, 59;
  --md-sys-color-secondary-container-rgb-dark: 84, 65, 82;
  --md-sys-color-on-secondary-container-rgb-dark: 246, 219, 240;
  --md-sys-color-tertiary-rgb-dark: 246, 184, 170;
  --md-sys-color-on-tertiary-rgb-dark: 76, 38, 29;
  --md-sys-color-tertiary-container-rgb-dark: 102, 59, 49;
  --md-sys-color-on-tertiary-container-rgb-dark: 255, 218, 210;
  --md-sys-color-error-rgb-dark: 255, 180, 171;
  --md-sys-color-on-error-rgb-dark: 105, 0, 5;
  --md-sys-color-error-container-rgb-dark: 147, 0, 10;
  --md-sys-color-on-error-container-rgb-dark: 255, 180, 171;
  --md-sys-color-background-rgb-dark: 30, 26, 29;
  --md-sys-color-on-background-rgb-dark: 233, 224, 228;
  --md-sys-color-surface-rgb-dark: 30, 26, 29;
  --md-sys-color-on-surface-rgb-dark: 233, 224, 228;
  --md-sys-color-surface-variant-rgb-dark: 77, 68, 75;
  --md-sys-color-on-surface-variant-rgb-dark: 209, 195, 204;
  --md-sys-color-outline-rgb-dark: 153, 141, 150;
  --md-sys-color-shadow-rgb-dark: 0, 0, 0;
  --md-sys-color-inverse-surface-rgb-dark: 233, 224, 228;
  --md-sys-color-inverse-on-surface-rgb-dark: 52, 47, 50;
  --md-sys-color-inverse-primary-rgb-dark: 150, 51, 155;
  /* primary */
  --md-ref-palette-primary0: #000000;
  --md-ref-palette-primary5: #250028;
  --md-ref-palette-primary10: #37003b;
  --md-ref-palette-primary20: #590060;
  --md-ref-palette-primary25: #6c0073;
  --md-ref-palette-primary30: #7a1481;
  --md-ref-palette-primary35: #88258e;
  --md-ref-palette-primary40: #96339b;
  --md-ref-palette-primary50: #b34eb6;
  --md-ref-palette-primary60: #d168d2;
  --md-ref-palette-primary70: #ef83ef;
  --md-ref-palette-primary80: #ffa9fb;
  --md-ref-palette-primary90: #ffd6f9;
  --md-ref-palette-primary95: #ffebf9;
  --md-ref-palette-primary98: #fff7fa;
  --md-ref-palette-primary99: #fffbff;
  --md-ref-palette-primary100: #ffffff;
  /* secondary */
  --md-ref-palette-secondary0: #000000;
  --md-ref-palette-secondary5: #1a0c1a;
  --md-ref-palette-secondary10: #261625;
  --md-ref-palette-secondary20: #3c2b3b;
  --md-ref-palette-secondary25: #483646;
  --md-ref-palette-secondary30: #544152;
  --md-ref-palette-secondary35: #604c5e;
  --md-ref-palette-secondary40: #6d586a;
  --md-ref-palette-secondary50: #867083;
  --md-ref-palette-secondary60: #a18a9d;
  --md-ref-palette-secondary70: #bda4b8;
  --md-ref-palette-secondary80: #d9bfd4;
  --md-ref-palette-secondary90: #f6dbf0;
  --md-ref-palette-secondary95: #ffebf9;
  --md-ref-palette-secondary98: #fff7fa;
  --md-ref-palette-secondary99: #fffbff;
  --md-ref-palette-secondary100: #ffffff;
  /* tertiary */
  --md-ref-palette-tertiary0: #000000;
  --md-ref-palette-tertiary5: #250703;
  --md-ref-palette-tertiary10: #33110a;
  --md-ref-palette-tertiary20: #4c261d;
  --md-ref-palette-tertiary25: #593027;
  --md-ref-palette-tertiary30: #663b31;
  --md-ref-palette-tertiary35: #74473c;
  --md-ref-palette-tertiary40: #825247;
  --md-ref-palette-tertiary50: #9e6a5e;
  --md-ref-palette-tertiary60: #ba8377;
  --md-ref-palette-tertiary70: #d89d90;
  --md-ref-palette-tertiary80: #f6b8aa;
  --md-ref-palette-tertiary90: #ffdad2;
  --md-ref-palette-tertiary95: #ffede9;
  --md-ref-palette-tertiary98: #fff8f6;
  --md-ref-palette-tertiary99: #fffbff;
  --md-ref-palette-tertiary100: #ffffff;
  /* neutral */
  --md-ref-palette-neutral0: #000000;
  --md-ref-palette-neutral5: #131013;
  --md-ref-palette-neutral10: #1e1a1d;
  --md-ref-palette-neutral20: #342f32;
  --md-ref-palette-neutral25: #3f3a3d;
  --md-ref-palette-neutral30: #4a4549;
  --md-ref-palette-neutral35: #565154;
  --md-ref-palette-neutral40: #635d60;
  --md-ref-palette-neutral50: #7c7579;
  --md-ref-palette-neutral60: #968f92;
  --md-ref-palette-neutral70: #b1a9ad;
  --md-ref-palette-neutral80: #cdc4c8;
  --md-ref-palette-neutral90: #e9e0e4;
  --md-ref-palette-neutral95: #f8eef2;
  --md-ref-palette-neutral98: #fff7fa;
  --md-ref-palette-neutral99: #fffbff;
  --md-ref-palette-neutral100: #ffffff;
  /* neutralVariant */
  --md-ref-palette-neutral-variant0: #000000;
  --md-ref-palette-neutral-variant5: #160f15;
  --md-ref-palette-neutral-variant10: #211920;
  --md-ref-palette-neutral-variant20: #362e35;
  --md-ref-palette-neutral-variant25: #423940;
  --md-ref-palette-neutral-variant30: #4d444b;
  --md-ref-palette-neutral-variant35: #594f57;
  --md-ref-palette-neutral-variant40: #665b63;
  --md-ref-palette-neutral-variant50: #7f747c;
  --md-ref-palette-neutral-variant60: #998d96;
  --md-ref-palette-neutral-variant70: #b5a8b0;
  --md-ref-palette-neutral-variant80: #d1c3cc;
  --md-ref-palette-neutral-variant90: #eddee8;
  --md-ref-palette-neutral-variant95: #fcedf6;
  --md-ref-palette-neutral-variant98: #fff7fa;
  --md-ref-palette-neutral-variant99: #fffbff;
  --md-ref-palette-neutral-variant100: #ffffff;
  /* error */
  --md-ref-palette-error0: #000000;
  --md-ref-palette-error5: #2d0001;
  --md-ref-palette-error10: #410002;
  --md-ref-palette-error20: #690005;
  --md-ref-palette-error25: #7e0007;
  --md-ref-palette-error30: #93000a;
  --md-ref-palette-error35: #a80710;
  --md-ref-palette-error40: #ba1a1a;
  --md-ref-palette-error50: #de3730;
  --md-ref-palette-error60: #ff5449;
  --md-ref-palette-error70: #ff897d;
  --md-ref-palette-error80: #ffb4ab;
  --md-ref-palette-error90: #ffdad6;
  --md-ref-palette-error95: #ffedea;
  --md-ref-palette-error98: #fff8f7;
  --md-ref-palette-error99: #fffbff;
  --md-ref-palette-error100: #ffffff;
}