body, .tokens {
--md-source: #9ACD32;
  /* light */
  --md-sys-color-primary-rgb-light: 73, 104, 0;
  --md-sys-color-on-primary-rgb-light: 255, 255, 255;
  --md-sys-color-primary-container-rgb-light: 190, 244, 86;
  --md-sys-color-on-primary-container-rgb-light: 19, 31, 0;
  --md-sys-color-secondary-rgb-light: 89, 98, 72;
  --md-sys-color-on-secondary-rgb-light: 255, 255, 255;
  --md-sys-color-secondary-container-rgb-light: 222, 230, 198;
  --md-sys-color-on-secondary-container-rgb-light: 23, 30, 10;
  --md-sys-color-tertiary-rgb-light: 57, 102, 97;
  --md-sys-color-on-tertiary-rgb-light: 255, 255, 255;
  --md-sys-color-tertiary-container-rgb-light: 188, 236, 229;
  --md-sys-color-on-tertiary-container-rgb-light: 0, 32, 29;
  --md-sys-color-error-rgb-light: 186, 26, 26;
  --md-sys-color-on-error-rgb-light: 255, 255, 255;
  --md-sys-color-error-container-rgb-light: 255, 218, 214;
  --md-sys-color-on-error-container-rgb-light: 65, 0, 2;
  --md-sys-color-background-rgb-light: 254, 252, 244;
  --md-sys-color-on-background-rgb-light: 27, 28, 23;
  --md-sys-color-surface-rgb-light: 254, 252, 244;
  --md-sys-color-on-surface-rgb-light: 27, 28, 23;
  --md-sys-color-surface-variant-rgb-light: 226, 228, 212;
  --md-sys-color-on-surface-variant-rgb-light: 69, 72, 61;
  --md-sys-color-outline-rgb-light: 118, 120, 107;
  --md-sys-color-shadow-rgb-light: 0, 0, 0;
  --md-sys-color-inverse-surface-rgb-light: 48, 49, 44;
  --md-sys-color-inverse-on-surface-rgb-light: 242, 241, 233;
  --md-sys-color-inverse-primary-rgb-light: 163, 215, 60;
  /* dark */
  --md-sys-color-primary-rgb-dark: 163, 215, 60;
  --md-sys-color-on-primary-rgb-dark: 36, 54, 0;
  --md-sys-color-primary-container-rgb-dark: 54, 78, 0;
  --md-sys-color-on-primary-container-rgb-dark: 190, 244, 86;
  --md-sys-color-secondary-rgb-dark: 193, 202, 171;
  --md-sys-color-on-secondary-rgb-dark: 44, 51, 29;
  --md-sys-color-secondary-container-rgb-dark: 66, 74, 50;
  --md-sys-color-on-secondary-container-rgb-dark: 222, 230, 198;
  --md-sys-color-tertiary-rgb-dark: 160, 208, 201;
  --md-sys-color-on-tertiary-rgb-dark: 1, 55, 51;
  --md-sys-color-tertiary-container-rgb-dark: 31, 78, 73;
  --md-sys-color-on-tertiary-container-rgb-dark: 188, 236, 229;
  --md-sys-color-error-rgb-dark: 255, 180, 171;
  --md-sys-color-on-error-rgb-dark: 105, 0, 5;
  --md-sys-color-error-container-rgb-dark: 147, 0, 10;
  --md-sys-color-on-error-container-rgb-dark: 255, 180, 171;
  --md-sys-color-background-rgb-dark: 27, 28, 23;
  --md-sys-color-on-background-rgb-dark: 228, 227, 219;
  --md-sys-color-surface-rgb-dark: 27, 28, 23;
  --md-sys-color-on-surface-rgb-dark: 228, 227, 219;
  --md-sys-color-surface-variant-rgb-dark: 69, 72, 61;
  --md-sys-color-on-surface-variant-rgb-dark: 198, 200, 185;
  --md-sys-color-outline-rgb-dark: 143, 146, 132;
  --md-sys-color-shadow-rgb-dark: 0, 0, 0;
  --md-sys-color-inverse-surface-rgb-dark: 228, 227, 219;
  --md-sys-color-inverse-on-surface-rgb-dark: 48, 49, 44;
  --md-sys-color-inverse-primary-rgb-dark: 73, 104, 0;
  /* primary */
  --md-ref-palette-primary0: #000000;
  --md-ref-palette-primary5: #0b1400;
  --md-ref-palette-primary10: #131f00;
  --md-ref-palette-primary20: #243600;
  --md-ref-palette-primary25: #2d4200;
  --md-ref-palette-primary30: #364e00;
  --md-ref-palette-primary35: #3f5b00;
  --md-ref-palette-primary40: #496800;
  --md-ref-palette-primary50: #5d8300;
  --md-ref-palette-primary60: #719e00;
  --md-ref-palette-primary70: #89bb1e;
  --md-ref-palette-primary80: #a3d73c;
  --md-ref-palette-primary90: #bef456;
  --md-ref-palette-primary95: #d6ff89;
  --md-ref-palette-primary98: #f1ffd1;
  --md-ref-palette-primary99: #f9ffe6;
  --md-ref-palette-primary100: #ffffff;
  /* secondary */
  --md-ref-palette-secondary0: #000000;
  --md-ref-palette-secondary5: #0c1303;
  --md-ref-palette-secondary10: #171e0a;
  --md-ref-palette-secondary20: #2c331d;
  --md-ref-palette-secondary25: #363e27;
  --md-ref-palette-secondary30: #424a32;
  --md-ref-palette-secondary35: #4d553d;
  --md-ref-palette-secondary40: #596248;
  --md-ref-palette-secondary50: #727a5f;
  --md-ref-palette-secondary60: #8c9478;
  --md-ref-palette-secondary70: #a6af91;
  --md-ref-palette-secondary80: #c1caab;
  --md-ref-palette-secondary90: #dee6c6;
  --md-ref-palette-secondary95: #ecf5d3;
  --md-ref-palette-secondary98: #f4fddc;
  --md-ref-palette-secondary99: #f9ffe6;
  --md-ref-palette-secondary100: #ffffff;
  /* tertiary */
  --md-ref-palette-tertiary0: #000000;
  --md-ref-palette-tertiary5: #001412;
  --md-ref-palette-tertiary10: #00201d;
  --md-ref-palette-tertiary20: #013733;
  --md-ref-palette-tertiary25: #11423e;
  --md-ref-palette-tertiary30: #1f4e49;
  --md-ref-palette-tertiary35: #2c5a55;
  --md-ref-palette-tertiary40: #396661;
  --md-ref-palette-tertiary50: #527f79;
  --md-ref-palette-tertiary60: #6b9993;
  --md-ref-palette-tertiary70: #85b4ad;
  --md-ref-palette-tertiary80: #a0d0c9;
  --md-ref-palette-tertiary90: #bcece5;
  --md-ref-palette-tertiary95: #cafaf3;
  --md-ref-palette-tertiary98: #e4fffa;
  --md-ref-palette-tertiary99: #f2fffc;
  --md-ref-palette-tertiary100: #ffffff;
  /* neutral */
  --md-ref-palette-neutral0: #000000;
  --md-ref-palette-neutral5: #10110d;
  --md-ref-palette-neutral10: #1b1c17;
  --md-ref-palette-neutral20: #30312c;
  --md-ref-palette-neutral25: #3b3c37;
  --md-ref-palette-neutral30: #464742;
  --md-ref-palette-neutral35: #52534d;
  --md-ref-palette-neutral40: #5e5f59;
  --md-ref-palette-neutral50: #777771;
  --md-ref-palette-neutral60: #91918a;
  --md-ref-palette-neutral70: #acaba4;
  --md-ref-palette-neutral80: #c7c7bf;
  --md-ref-palette-neutral90: #e4e3db;
  --md-ref-palette-neutral95: #f2f1e9;
  --md-ref-palette-neutral98: #fbf9f2;
  --md-ref-palette-neutral99: #fefcf4;
  --md-ref-palette-neutral100: #ffffff;
  /* neutralVariant */
  --md-ref-palette-neutralVariant0: #000000;
  --md-ref-palette-neutralVariant5: #0f1209;
  --md-ref-palette-neutralVariant10: #1a1d13;
  --md-ref-palette-neutralVariant20: #2f3227;
  --md-ref-palette-neutralVariant25: #3a3d32;
  --md-ref-palette-neutralVariant30: #45483d;
  --md-ref-palette-neutralVariant35: #515448;
  --md-ref-palette-neutralVariant40: #5d6053;
  --md-ref-palette-neutralVariant50: #76786b;
  --md-ref-palette-neutralVariant60: #8f9284;
  --md-ref-palette-neutralVariant70: #aaad9e;
  --md-ref-palette-neutralVariant80: #c6c8b9;
  --md-ref-palette-neutralVariant90: #e2e4d4;
  --md-ref-palette-neutralVariant95: #f0f2e2;
  --md-ref-palette-neutralVariant98: #f9fbeb;
  --md-ref-palette-neutralVariant99: #fcfeed;
  --md-ref-palette-neutralVariant100: #ffffff;
  /* error */
  --md-ref-palette-error0: #000000;
  --md-ref-palette-error5: #2d0001;
  --md-ref-palette-error10: #410002;
  --md-ref-palette-error20: #690005;
  --md-ref-palette-error25: #7e0007;
  --md-ref-palette-error30: #93000a;
  --md-ref-palette-error35: #a80710;
  --md-ref-palette-error40: #ba1a1a;
  --md-ref-palette-error50: #de3730;
  --md-ref-palette-error60: #ff5449;
  --md-ref-palette-error70: #ff897d;
  --md-ref-palette-error80: #ffb4ab;
  --md-ref-palette-error90: #ffdad6;
  --md-ref-palette-error95: #ffedea;
  --md-ref-palette-error98: #fff8f7;
  --md-ref-palette-error99: #fffbff;
  --md-ref-palette-error100: #ffffff;
}