.button {
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  height: 40px;
  position: relative;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  background-color: var(--md-sys-color-surface);
  color: var(--md-sys-color-primary);
  -webkit-text-decoration: var(--md-sys-typescale-label-large-text-decoration);
          text-decoration: var(--md-sys-typescale-label-large-text-decoration);
  text-transform: var(--md-sys-typescale-label-large-text-transform);
  line-height: var(--md-sys-typescale-label-large-height);
  letter-spacing: var(--md-sys-typescale-label-large-tracking);
  font-size: var(--md-sys-typescale-label-large-font-size);
  font-weight: var(--md-sys-typescale-label-large-font-weight);
  font-style: var(--md-sys-typescale-label-large-font-family-style);
  font-family: var(--md-sys-typescale-label-large-font-family-name);
  box-shadow: var(--md-sys-elevation-1);
  transition: box-shadow 0.2s ease-in-out;
  --tint-color: transparent;
}

  .button::after {
    content: " ";
    border-radius: inherit;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--tint-color);
  }

  .button[label] {
    content: attr(label);
    -webkit-text-decoration: var(--md-sys-typescale-label-large-text-decoration);
            text-decoration: var(--md-sys-typescale-label-large-text-decoration);
    text-transform: var(--md-sys-typescale-label-large-text-transform);
    line-height: var(--md-sys-typescale-label-large-height);
    letter-spacing: var(--md-sys-typescale-label-large-tracking);
    font-size: var(--md-sys-typescale-label-large-font-size);
    font-weight: var(--md-sys-typescale-label-large-font-weight);
    font-style: var(--md-sys-typescale-label-large-font-family-style);
    font-family: var(--md-sys-typescale-label-large-font-family-name);
  }

  .button i {
    margin-right: 4px;
    font-size: 18px;
  }

  .button i:only-child {
    margin-right: 0px;
  }

  .button a {
    text-decoration: none;
  }

  .button a:hover {
    text-decoration: none;
  }

  .button a:focus {
    text-decoration: none;
  }

  .button:hover,
  .button.hover {
    box-shadow: var(--md-sys-elevation-2);
  }

  .button:focus,
  .button.focus {
    box-shadow: var(--md-sys-elevation-2);
  }

  .button:active,
  .button.active {
    box-shadow: var(--md-sys-elevation-1);
  }

  .button[disabled] {
    cursor: default;
    background-color: rgba(var(--md-sys-color-on-surface-rgb), 0.12);
    color: rgba(var(--md-sys-color-on-surface-rgb), 0.38);
    box-shadow: var(--md-sys-elevation-0);
  }

  .button:focus-within::before {
    border-radius: 40px;
  }

:where(.button).text {
  background-color: transparent;
  color: var(--md-sys-color-primary);
  box-shadow: var(--md-sys-elevation-0);
}

:where(.button).text:hover,
  :where(.button).text .hover {
    box-shadow: var(--md-sys-elevation-1);
    --tint-color: rgba(var(--md-sys-color-primary-rgb), var(--md-sys-state-hover-state-layer-opacity));
  }

:where(.button).text:focus,
  :where(.button).text .focus {
    box-shadow: var(--md-sys-elevation-1);
    --tint-color: rgba(var(--md-sys-color-primary-rgb), var(--md-sys-state-focus-state-layer-opacity));
  }

:where(.button).text:active,
  :where(.button).text .active {
    box-shadow: var(--md-sys-elevation-0);
    --tint-color: rgba(var(--md-sys-color-primary-rgb), var(--md-sys-state-pressed-state-layer-opacity));
  }

:where(.button).text[disabled] {
    box-shadow: none;
    color: rgba(var(--md-sys-color-on-surface-rgb), 0.38);
  }

:where(.button).filled {
  background-color: var(--md-sys-color-primary);
  color: var(--md-sys-color-on-primary);
  box-shadow: var(--md-sys-elevation-0);
}

:where(.button).filled:hover,
  :where(.button).filled.hover {
    box-shadow: var(--md-sys-elevation-1);
    --tint-color: rgba(var(--md-sys-color-primary-rgb), var(--md-sys-state-hover-state-layer-opacity));
  }

:where(.button).filled:focus,
  :where(.button).filled.focus {
    box-shadow: var(--md-sys-elevation-1);
    --tint-color: rgba(var(--md-sys-color-primary-rgb), var(--md-sys-state-focus-state-layer-opacity));
  }

:where(.button).filled:active,
  :where(.button).filled.active {
    box-shadow: var(--md-sys-elevation-0);
    --tint-color: rgba(var(--md-sys-color-primary-rgb), var(--md-sys-state-pressed-state-layer-opacity));
  }

:where(.button).filled[disabled] {
    box-shadow: var(--md-sys-elevation-0);
    background-color: rgba(var(--md-sys-color-on-surface-rgb), 0.12);
    color: rgba(var(--md-sys-color-on-surface-rgb), 0.38);
  }

:where(.button).filled.ripple {
    --ripple-bg: rgba(var(--md-sys-color-primary-rgb), 0.4);
    --ripple-fg: rgba(var(--md-sys-color-on-primary-rgb), 0.6);
  }

:where(.button).filled-tonal {
  background-color: var(--md-sys-color-secondary-container);
  color: var(--md-sys-color-on-secondary-container);
  box-shadow: var(--md-sys-elevation-0);
}

:where(.button).filled-tonal:hover,
  :where(.button).filled-tonal.hover {
    box-shadow: var(--md-sys-elevation-1);
    --tint-color: rgba(var(--md-sys-color-on-secondary-container-rgb), var(--md-sys-state-hover-state-layer-opacity));
  }

:where(.button).filled-tonal:focus,
  :where(.button).filled-tonal.focus {
    box-shadow: var(--md-sys-elevation-1);
    --tint-color: rgba(var(--md-sys-color-on-secondary-container-rgb), var(--md-sys-state-focus-state-layer-opacity));
  }

:where(.button).filled-tonal:active,
  :where(.button).filled-tonal.active {
    box-shadow: var(--md-sys-elevation-0);
    --tint-color: rgba(var(--md-sys-color-on-secondary-container-rgb), var(--md-sys-state-pressed-state-layer-opacity));
  }

:where(.button).filled-tonal[disabled] {
    box-shadow: var(--md-sys-elevation-0);
    background-color: rgba(var(--md-sys-color-on-surface-rgb), 0.12);
    color: rgba(var(--md-sys-color-on-surface-rgb), 0.38);
  }

:where(.button).outlined {
  background-color: transparent;
  color: var(--md-sys-color-primary);
  border: 1px solid var(--md-sys-color-outline);
  box-shadow: var(--md-sys-elevation-0);
}

:where(.button).outlined:hover,
  :where(.button).outlined.hover {
    box-shadow: var(--md-sys-elevation-1);
    --tint-color: rgba(var(--md-sys-color-primary-rgb), var(--md-sys-state-hover-state-layer-opacity));
  }

:where(.button).outlined:focus,
  :where(.button).outlined.focus {
    box-shadow: var(--md-sys-elevation-1);
    --tint-color: rgba(var(--md-sys-color-primary-rgb), var(--md-sys-state-focus-state-layer-opacity));
  }

:where(.button).outlined:active,
  :where(.button).outlined.active {
    box-shadow: var(--md-sys-elevation-0);
    --tint-color: rgba(var(--md-sys-color-primary-rgb), var(--md-sys-state-pressed-state-layer-opacity));
  }

:where(.button).outlined[disabled] {
    box-shadow: var(--md-sys-elevation-0);
    border: 1px solid rgba(var(--md-sys-color-on-surface-rgb), 0.12);
    color: rgba(var(--md-sys-color-on-surface-rgb), 0.38);
  }

:where(.button).elevated {
  box-shadow: var(--md-sys-elevation-1);
  background-color: var(--md-sys-color-surface);
  color: var(--md-sys-color-primary);
}

:where(.button).elevated:hover,
  :where(.button).elevated .hover {
    box-shadow: var(--md-sys-elevation-2);
    --tint-color: rgba(var(--md-sys-color-primary-rgb), var(--md-sys-state-hover-state-layer-opacity));
  }

:where(.button).elevated:focus,
  :where(.button).elevated .focus {
    box-shadow: var(--md-sys-elevation-2);
    --tint-color: rgba(var(--md-sys-color-primary-rgb), var(--md-sys-state-focus-state-layer-opacity));
  }

:where(.button).elevated:active,
  :where(.button).elevated .active {
    box-shadow: var(--md-sys-elevation-1);
    --tint-color: rgba(var(--md-sys-color-primary-rgb), var(--md-sys-state-pressed-state-layer-opacity));
  }

:where(.button).elevated[disabled] {
    background-color: rgba(var(--md-sys-color-on-surface-rgb), 0.12);
    color: rgba(var(--md-sys-color-on-surface-rgb), 0.38);
  }
