:where(input[type="checkbox"], .checkbox):not(:where(.switch, .segmented-button, .toggle)) {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  --size: 24px;
  width: var(--size);
  height: var(--size);
  position: relative;
}

  :where(input[type="checkbox"], .checkbox):not(:where(.switch, .segmented-button, .toggle))::after {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    -webkit-font-smoothing: antialiased;
    font-feature-settings: "liga";
    direction: ltr;
    word-wrap: normal;
    white-space: nowrap;
    text-transform: none;
    letter-spacing: normal;
    line-height: 1;
    font-size: 24px;
    font-style: normal;
    font-weight: normal;
    font-family: "Material Icons";
    content: "check_box_outline_blank";
    color: var(--md-sys-color-outline);
  }

  :where(input[type="checkbox"], .checkbox):not(:where(.switch, .segmented-button, .toggle)):checked::after {
    content: "check_box";
    color: var(--md-sys-color-primary);
  }

  :where(input[type="checkbox"], .checkbox):not(:where(.switch, .segmented-button, .toggle)):indeterminate::after {
    content: "indeterminate_check_box";
    color: var(--md-sys-color-primary);
  }

  :where(input[type="checkbox"], .checkbox):not(:where(.switch, .segmented-button, .toggle)):disabled::after {
    cursor: default;
    color: rgba(var(--md-sys-color-on-surface-rgb), 0.12);
  }
