.chip {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 8px;
  outline: none;
  padding: 8px 16px;
  height: 32px;
  gap: 8px;
  cursor: pointer;
  -webkit-text-decoration: var(--md-sys-typescale-label-large-text-decoration);
          text-decoration: var(--md-sys-typescale-label-large-text-decoration);
  text-transform: var(--md-sys-typescale-label-large-text-transform);
  line-height: var(--md-sys-typescale-label-large-height);
  letter-spacing: var(--md-sys-typescale-label-large-tracking);
  font-size: var(--md-sys-typescale-label-large-font-size);
  font-weight: var(--md-sys-typescale-label-large-font-weight);
  font-style: var(--md-sys-typescale-label-large-font-family-style);
  font-family: var(--md-sys-typescale-label-large-font-family-name);
  --tint-color: transparent;
}

  .chip::after {
    content: " ";
    border-radius: inherit;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--tint-color);
  }

  .chip:hover,
  .chip .hover {
    box-shadow: var(--md-sys-elevation-1);
    --tint-color: rgba(var(--md-sys-color-primary-rgb), var(--md-sys-state-hover-state-layer-opacity));
  }

  .chip:focus,
  .chip .focus {
    box-shadow: var(--md-sys-elevation-1);
    --tint-color: rgba(var(--md-sys-color-primary-rgb), var(--md-sys-state-focus-state-layer-opacity));
  }

  .chip:active,
  .chip .active {
    box-shadow: var(--md-sys-elevation-0);
    --tint-color: rgba(var(--md-sys-color-primary-rgb), var(--md-sys-state-pressed-state-layer-opacity));
  }

  .chip > i {
    color: var(--md-sys-color-primary);
    font-size: 18px;
  }

  .chip > i:only-child {
    margin-right: 0;
    margin-left: 0;
  }

.chip.assist {
  background-color: var(--md-sys-color-surface);
  color: var(--md-sys-color-on-surface);
  border: 1px solid var(--md-sys-color-outline);
}

.chip.filter {
  background-color: var(--md-sys-color-surface-variant);
  color: var(--md-sys-color-on-surface-variant);
  border: 1px solid var(--md-sys-color-outline);
}

.chip.input {
  background-color: var(--md-sys-color-surface);
  color: var(--md-sys-color-on-surface-variant);
  border: 1px solid var(--md-sys-color-outline);
}

.chip.suggestion {
  background-color: var(--md-sys-color-surface);
  color: var(--md-sys-color-on-surface-variant);
  border: 1px solid var(--md-sys-color-outline);
}
