.navigation-bar {
  display: flex;
  flex-direction: row;
  width: 100%;
  box-shadow: var(--md-sys-elevation-1);
  background-color: var(--md-sys-color-surface-1);
  color: var(--md-sys-color-on-surface);
}

  .navigation-bar .option {
    flex: 1;
    padding-bottom: 16px;
    padding-top: 12px;
    align-items: center;
    justify-content: center;
  }

  .navigation-bar .option input {
      display: none;
      pointer-events: none;
    }

  .navigation-bar .option input:checked ~ label i {
        background-color: var(--md-sys-color-secondary-container);
        color: var(--md-sys-color-on-secondary-container);
      }

  .navigation-bar .option label {
      align-items: center;
      justify-content: center;
      display: flex;
      flex-direction: column;
      gap: 4px;
      -webkit-text-decoration: var(--md-sys-typescale-label-medium-text-decoration);
              text-decoration: var(--md-sys-typescale-label-medium-text-decoration);
      text-transform: var(--md-sys-typescale-label-medium-text-transform);
      line-height: var(--md-sys-typescale-label-medium-height);
      letter-spacing: var(--md-sys-typescale-label-medium-tracking);
      font-size: var(--md-sys-typescale-label-medium-font-size);
      font-weight: var(--md-sys-typescale-label-medium-font-weight);
      font-style: var(--md-sys-typescale-label-medium-font-family-style);
      font-family: var(--md-sys-typescale-label-medium-font-family-name);
      --tint-color: transparent;
    }

  .navigation-bar .option label::after {
        content: " ";
        border-radius: inherit;
        position: absolute;
        top: -12px;
        bottom: -16px;
        left: 0;
        right: 0;
        background-color: var(--tint-color);
      }

  .navigation-bar .option label:hover,
      .navigation-bar .option label .hover {
        --tint-color: rgba(var(--md-sys-color-primary-rgb), var(--md-sys-state-hover-state-layer-opacity));
      }

  .navigation-bar .option label:focus,
      .navigation-bar .option label .focus {
        --tint-color: rgba(var(--md-sys-color-primary-rgb), var(--md-sys-state-focus-state-layer-opacity));
      }

  .navigation-bar .option label:active,
      .navigation-bar .option label .active {
        --tint-color: rgba(var(--md-sys-color-primary-rgb), var(--md-sys-state-pressed-state-layer-opacity));
      }

  .navigation-bar .option i {
      font-size: 24px;
      width: 64px;
      height: 32px;
      border-radius: 16px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
