.navigation-bar {
  display: flex;
  flex-direction: row;
  width: 100%;
  box-shadow: var(--md-sys-elevation-1);
  background-color: var(--md-sys-color-surface);
  color: var(--md-sys-color-on-surface);
  box-sizing: border-box;
  position: relative;
}

  .navigation-bar::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: var(--md-sys-color-surface-1);
  }

  .navigation-bar input {
    opacity: 0;
    position: absolute;
  }

  .navigation-bar input:checked + label i {
      background-color: var(--md-sys-color-secondary-container);
      color: var(--md-sys-color-on-secondary-container);
    }

  .navigation-bar input {
    --tint-color: transparent;
}

  .navigation-bar input + label::after {
      content: " ";
      border-radius: inherit;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: var(--tint-color);
    }

  .navigation-bar input:hover + label {
      --tint-color: rgba(var(--md-sys-color-primary-rgb), var(--md-sys-state-hover-state-layer-opacity));
    }

  .navigation-bar input:focus + label {
      --tint-color: rgba(var(--md-sys-color-primary-rgb), var(--md-sys-state-focus-state-layer-opacity));
    }

  .navigation-bar input:active + label {
      --tint-color: rgba(var(--md-sys-color-primary-rgb), var(--md-sys-state-pressed-state-layer-opacity));
    }

  .navigation-bar label {
    flex: 1;
    padding-bottom: 16px;
    padding-top: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    visibility: visible;
    z-index: 1;
    gap: 4px;
    -webkit-text-decoration: var(--md-sys-typescale-label-medium-text-decoration);
            text-decoration: var(--md-sys-typescale-label-medium-text-decoration);
    text-transform: var(--md-sys-typescale-label-medium-text-transform);
    line-height: var(--md-sys-typescale-label-medium-height);
    letter-spacing: var(--md-sys-typescale-label-medium-tracking);
    font-size: var(--md-sys-typescale-label-medium-font-size);
    font-weight: var(--md-sys-typescale-label-medium-font-weight);
    font-style: var(--md-sys-typescale-label-medium-font-family-style);
    font-family: var(--md-sys-typescale-label-medium-font-family-name);
  }

  .navigation-bar i {
    font-size: 24px;
    width: 64px;
    height: 32px;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
