:where(.radio-button) {
  accent-color: var(--md-sys-color-primary);
  display: grid;
  place-content: center;
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  margin: 0;
  background-color: var(--md-sys-color-surface);
}

  :where(.radio-button)::before {
    -webkit-font-smoothing: antialiased;
    font-feature-settings: "liga";
    direction: ltr;
    word-wrap: normal;
    white-space: nowrap;
    text-transform: none;
    letter-spacing: normal;
    line-height: 1;
    font-size: 24px;
    font-style: normal;
    font-weight: normal;
    font-family: "Material Icons";
    font-size: 24px;
    content: "radio_button_unchecked";
    color: var(--md-sys-color-on-surface-variant);
  }

  :where(.radio-button):checked::before {
    content: "radio_button_checked";
    color: var(--md-sys-color-primary);
  }
