:where(.segmented-button) {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  border-radius: 20px;
  border: 1px solid var(--md-sys-color-outline);
  background-color: var(--md-sys-color-surface);
  color: var(--md-sys-color-on-surface);
  -webkit-text-decoration: var(--md-sys-typescale-label-large-text-decoration);
          text-decoration: var(--md-sys-typescale-label-large-text-decoration);
  text-transform: var(--md-sys-typescale-label-large-text-transform);
  line-height: var(--md-sys-typescale-label-large-height);
  letter-spacing: var(--md-sys-typescale-label-large-tracking);
  font-size: var(--md-sys-typescale-label-large-font-size);
  font-weight: var(--md-sys-typescale-label-large-font-weight);
  font-style: var(--md-sys-typescale-label-large-font-family-style);
  font-family: var(--md-sys-typescale-label-large-font-family-name);
}

  :where(.segmented-button) .option {
    width: 100%;
    height: 100%;
    flex: 1;
  }

  :where(.segmented-button) .option:first-of-type label {
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
    }

  :where(.segmented-button) .option:last-of-type label {
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;
    }

  :where(.segmented-button) label {
    border-radius: 0;
    width: 100%;
    height: 100%;
    flex: 1;
  }

  :where(.segmented-button) :where(.option):not(:last-child) {
    border-right: 1px solid var(--md-sys-color-outline);
  }

  :where(.segmented-button) input {
    display: none;
    pointer-events: none;
  }

  :where(.segmented-button) i {
    margin-right: 8px;
  }

  :where(.segmented-button) input:checked + label {
    background-color: var(--md-sys-color-secondary-container);
    color: var(--md-sys-color-on-secondary-container);
    -webkit-text-decoration: var(--md-sys-typescale-title-small-text-decoration);
            text-decoration: var(--md-sys-typescale-title-small-text-decoration);
    text-transform: var(--md-sys-typescale-title-small-text-transform);
    line-height: var(--md-sys-typescale-title-small-height);
    letter-spacing: var(--md-sys-typescale-title-small-tracking);
    font-size: var(--md-sys-typescale-title-small-font-size);
    font-weight: var(--md-sys-typescale-title-small-font-weight);
    font-style: var(--md-sys-typescale-title-small-font-family-style);
    font-family: var(--md-sys-typescale-title-small-font-family-name);
  }

  :where(.segmented-button) input:checked + label::before {
      content: "check";
      -webkit-font-smoothing: antialiased;
      font-feature-settings: "liga";
      direction: ltr;
      word-wrap: normal;
      white-space: nowrap;
      text-transform: none;
      letter-spacing: normal;
      line-height: 1;
      font-size: 24px;
      font-style: normal;
      font-weight: normal;
      font-family: "Material Icons";
      padding-right: 8px;
    }

  :where(.segmented-button) input:checked + label i {
      display: none;
    }

  :where(.segmented-button):not(.multi) input + label {
      min-width: 40px;
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      padding: 0 20px;
      margin: 0;
      cursor: pointer;
      -webkit-user-select: none;
         -moz-user-select: none;
              user-select: none;
      position: relative;
      z-index: 1;
    }

:where(.segmented-button).multi .option {
    flex: 1;
    text-align: center;
    display: flex;
    width: 100%;
    height: 100%;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

:where(.segmented-button).multi .option input {
      display: none;
      pointer-events: none;
      opacity: 0;
      cursor: pointer;
      padding: 0;
      margin: 0;
      height: 0;
      width: 0;
    }

:where(.segmented-button).multi .option label {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      border-radius: 0;
    }

:where(.segmented-button).multi .option input:checked ~ label {
        background-color: var(--md-sys-color-secondary-container);
        color: var(--md-sys-color-on-secondary-container);
      }

:where(.segmented-button).multi .option:last-of-type input:checked ~ label {
          border-top-right-radius: 20px;
          border-bottom-right-radius: 20px;
        }

:where(.segmented-button).multi .option:first-of-type input:checked ~ label {
          border-top-left-radius: 20px;
          border-bottom-left-radius: 20px;
        }

:where(.segmented-button).multi {
}
