:where(.segmented-button) {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  border-radius: 20px;
  border: 1px solid var(--md-sys-color-outline);
  color: var(--md-sys-color-on-surface);
  background-color: var(--md-sys-color-surface);
  -webkit-text-decoration: var(--md-sys-typescale-label-large-text-decoration);
          text-decoration: var(--md-sys-typescale-label-large-text-decoration);
  text-transform: var(--md-sys-typescale-label-large-text-transform);
  line-height: var(--md-sys-typescale-label-large-height);
  letter-spacing: var(--md-sys-typescale-label-large-tracking);
  font-size: var(--md-sys-typescale-label-large-font-size);
  font-weight: var(--md-sys-typescale-label-large-font-weight);
  font-style: var(--md-sys-typescale-label-large-font-family-style);
  font-family: var(--md-sys-typescale-label-large-font-family-name);
}

  :where(.segmented-button) input {
    display: none;
    pointer-events: none;
  }

  :where(.segmented-button) input + label {
      min-width: 40px;
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      padding: 0 40px;
      margin: 0;
      cursor: pointer;
      -webkit-user-select: none;
         -moz-user-select: none;
              user-select: none;
      position: relative;
      z-index: 1;
    }

  :where(.segmented-button) input + label i {
        margin-right: 8px;
      }

  :where(.segmented-button) label:last-of-type {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }

  :where(.segmented-button) label:first-of-type {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }

  :where(.segmented-button) label:not(:last-child) {
    border-right: 1px solid var(--md-sys-color-outline);
  }

  :where(.segmented-button) input:checked + label {
    background-color: var(--md-sys-color-secondary-container);
    color: var(--md-sys-color-on-secondary-container);
  }

  :where(.segmented-button) input:checked + label:before {
      content: "check";

      /* Material Icons */
      font-family: "Material Icons";
      font-weight: normal;
      font-style: normal;
      font-size: 24px;
      line-height: 1;
      letter-spacing: normal;
      text-transform: none;
      white-space: nowrap;
      word-wrap: normal;
      direction: ltr;
      font-feature-settings: "liga";
      -webkit-font-feature-settings: "liga";
      -webkit-font-smoothing: antialiased;
      padding-right: 8px;
    }

  :where(.segmented-button) input:checked + label i {
      display: none;
    }
