.tooltip {
  text-decoration: none;
}

  .tooltip[aria-label] {
    position: relative;
  }

  .tooltip[aria-label]:before {
    content: attr(aria-label);
    position: absolute;
    bottom: -80px;
    left: 50%;
    padding: 8px;
    transform: translateX(-50%) scale(0);
    transition: transform 0.3s ease-in-out;
    transform-origin: top;
    -webkit-text-decoration: var(--md-sys-typescale-label-small-text-decoration);
            text-decoration: var(--md-sys-typescale-label-small-text-decoration);
    text-transform: var(--md-sys-typescale-label-small-text-transform);
    line-height: var(--md-sys-typescale-label-small-height);
    letter-spacing: var(--md-sys-typescale-label-small-tracking);
    font-size: var(--md-sys-typescale-label-small-font-size);
    font-weight: var(--md-sys-typescale-label-small-font-weight);
    font-style: var(--md-sys-typescale-label-small-font-family-style);
    font-family: var(--md-sys-typescale-label-small-font-family-name);
    border-radius: var(--md-sys-shape-small);
    --tint-opacity: 0.09;
    --tint-color-rgb: var(--md-sys-color-primary-rgb);
    --tint-color: rgba(var(--md-sys-color-primary-rgb), var(--tint-opacity));
    z-index: 1000;
    box-shadow: var(--md-sys-elevation-2);
    background: linear-gradient(var(--tint-color), var(--tint-color)) no-repeat, linear-gradient(var(--md-sys-color-surface), var(--md-sys-color-surface)) no-repeat;
  }

  .tooltip[aria-label]:hover:before {
    transform: translateX(-50%) scale(1);
  }
