:where(.top-app-bar) {
  --top-app-bar-padding: 16px;
  padding: var(--top-app-bar-padding);
  /* width: calc(100% - var(--top-app-bar-padding) * 2); */
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto;
  grid-template-areas: "leading title actions";
  background-color: var(--md-sys-color-surface);
  color: var(--md-sys-color-on-surface);
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto;
  grid-template-areas: "leading title actions";
  z-index: 1;
}

  :where(.top-app-bar) .actions {
    grid-area: actions;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 8px;
  }

  :where(.top-app-bar) .icon {
    background-color: unset;
    color: unset;
    padding: unset;
  }

  :where(.top-app-bar) .title {
    grid-area: title;
    flex: 1;
    -webkit-text-decoration: var(--md-sys-typescale-title-large-text-decoration);
            text-decoration: var(--md-sys-typescale-title-large-text-decoration);
    text-transform: var(--md-sys-typescale-title-large-text-transform);
    line-height: var(--md-sys-typescale-title-large-height);
    letter-spacing: var(--md-sys-typescale-title-large-tracking);
    font-size: var(--md-sys-typescale-title-large-font-size);
    font-weight: var(--md-sys-typescale-title-large-font-weight);
    font-style: var(--md-sys-typescale-title-large-font-family-style);
    font-family: var(--md-sys-typescale-title-large-font-family-name);
  }

  :where(.top-app-bar) .leading {
    grid-area: leading;
    padding: unset;
  }

  :where(.top-app-bar).fixed {
    transition: background 0.8s;
    z-index: 1000;
  }

  :where(.top-app-bar).scrolled {
    --tint-opacity: 0.09;
    --tint-color-rgb: var(--md-sys-color-primary-rgb);
    --tint-color: rgba(var(--md-sys-color-primary-rgb), var(--tint-opacity));
    box-shadow: var(--md-sys-elevation-2);
    background: linear-gradient(var(--tint-color), var(--tint-color)) no-repeat, linear-gradient(var(--md-sys-color-surface), var(--md-sys-color-surface)) no-repeat;
  }

:where(.top-app-bar.small) {
  display: flex;
  align-items: center;
}

:where(.top-app-bar.small) .title {
    text-align: start;
    padding-left: 16px;
  }

:where(.top-app-bar.medium) {
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto;
  grid-template-areas: "leading actions" "title title";
}

:where(.top-app-bar.medium) .title {
    padding-top: 16px;
    margin-left: 8px;
    -webkit-text-decoration: var(--md-sys-typescale-headline-small-text-decoration);
            text-decoration: var(--md-sys-typescale-headline-small-text-decoration);
    text-transform: var(--md-sys-typescale-headline-small-text-transform);
    line-height: var(--md-sys-typescale-headline-small-height);
    letter-spacing: var(--md-sys-typescale-headline-small-tracking);
    font-size: var(--md-sys-typescale-headline-small-font-size);
    font-weight: var(--md-sys-typescale-headline-small-font-weight);
    font-style: var(--md-sys-typescale-headline-small-font-family-style);
    font-family: var(--md-sys-typescale-headline-small-font-family-name);
  }

:where(.top-app-bar.large) {
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto;
  grid-template-areas: "leading actions" "title title";
}

:where(.top-app-bar.large) .title {
    padding-top: 20px;
    margin-left: 8px;
    -webkit-text-decoration: var(--md-sys-typescale-headline-medium-text-decoration);
            text-decoration: var(--md-sys-typescale-headline-medium-text-decoration);
    text-transform: var(--md-sys-typescale-headline-medium-text-transform);
    line-height: var(--md-sys-typescale-headline-medium-height);
    letter-spacing: var(--md-sys-typescale-headline-medium-tracking);
    font-size: var(--md-sys-typescale-headline-medium-font-size);
    font-weight: var(--md-sys-typescale-headline-medium-font-weight);
    font-style: var(--md-sys-typescale-headline-medium-font-family-style);
    font-family: var(--md-sys-typescale-headline-medium-font-family-name);
  }

:where(.top-app-bar.center-aligned) .title {
    text-align: center;
  }
